<aside class="sidenav sidenav-api" id="navbar-example2">
    <div class="row sticky">
        <div class="col">

            <a href="{{ "" | absLangURL  }}">
                <p class="h4">{{ i18n "datadog_docs" }} &nbsp;&nbsp;<span class="font-semibold">API</span></p>
            </a>

            {{ $ContentBaseName := "" }}
            {{ with .File }}
              {{ $ContentBaseName = .ContentBaseName }}
            {{ end }}

            {{ if ne $ContentBaseName "search" }}
                {{ partial "search.html" . }}
            {{ else }}
                <div id="async-searchbar-mount"></div>
            {{ end}}

            <div class="sidenav-nav">
                {{ partial "nav/left-nav-api.html" . }}
            </div>
        </div>
    </div>
</aside>
