---
core_product:
- 신서틱 모니터링
- ci-cd
title: 테스트 실행
---
Datadog 신서틱(Synthetic) 모니터링 및 CI 테스트 가시성에서 테스트 실행은 소프트웨어의 기능을 확인하기 위해 실행되는 일련의 테스트입니다. 브라우저 테스트 실행은 최대 25단계의 웹 트랜잭션 시뮬레이션을 의미합니다. 자세한 내용은 <a href="/continuous_testing/explorer/search_runs/">설명서를 참조하세요</a>.