$ddpurple: #632ca6;

.announcement_banner.open ~ header {
    margin-top: 30px !important;
    background: #fff;
}

body > header {
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.07);
    background: #fff;
    z-index: 99;
    position: fixed;
    width: 100%;
    top: 0;

    @include media-breakpoint-between(md, lg) {
        height: unset !important;
    }

    & > .container {
        padding: 0;
    }

    &.scrolled {
        .mainnav {
            .logo-img {
                margin-top: 0;
            }

            .logo-text {
                display: none;
            }

            .nav-button {
                .btn {
                    border: 1px solid $ddpurple;
                    background: #c024b6;
                    background: linear-gradient(45deg, #c024b6, #3023ae);
                    filter: progid:dximagetransform.microsoft.gradient(startColorstr="#7749a3", endColorstr="#c900d2", GradientType=1);
                    color: #fff;

                    &:hover {
                        background: #fff;
                        color: $ddpurple;
                    }
                }
            }
        }
    }

    .mainnav {
        height: 129px;

        #logo {
            display: block;
        }

        .logo-img {
            display: block;
            margin: 1px auto 0;
        }

        .navbar-right li:last-child a.nav-link {
            padding-right: 0;
        }

        .nav-item {
            .nav-link {
                color: #555;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 0.3px;
                border-radius: 5px;
                padding: 8.5px 8px 9.5px;
                @include media-breakpoint-up(lg) {
                    padding: 8.5px 8px 9.5px 8px;
                }

                &:hover,
                &.active {
                    color: #333;
                    background-color: transparent;
                }

                &:lang(ja) {
                    font-size: 16px;
                }
            }

            &:hover {
                a {
                    color: #333;
                    background-color: #fff;
                    border-color: #c8c8c8;
                }
            }
        }

        .nav-button {
            margin-left: 7px;
            margin-top: 0;

            .nav-link {
                padding: 0;
                margin: 0;
            }

            .btn {
                min-width: 200px;
                font-size: 18px;
                letter-spacing: 0.4px;
                line-height: 31px;

                &:lang(ja) {
                    font-size: 16px;
                }

                &:hover {
                    border: 1px solid $ddpurple;
                    background: #c024b6;
                    background: linear-gradient(45deg, #c024b6, #3023ae);
                    filter: progid:dximagetransform.microsoft.gradient(startColorstr="#7749a3", endColorstr="#c900d2", GradientType=1);
                    color: #fff;
                }
            }
        }

        // dropdowns
        .dropdown {
            // make dropdowns show on hover not just click
            &:hover > .dropdown-menu {
                display: block;
            }

            .dropdown-toggle {
                z-index: 2;
                position: relative;
                border-bottom-color: transparent !important;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                &::after {
                    display: none;
                }
            }

            .dropdown-menu {
                z-index: 1;
                font-size: 22px;
                margin: 0;
                min-width: 160px;
                padding: 0;
                background-color: #fff;
                top: 45px;
                box-shadow: 0 4px 6px hsla(0, 0%, 78.4%, 0.5);
                border: none;
                border-top: 3px solid #632ca6;
                border-radius: 0;

                li {
                    white-space: nowrap;
                }

                &:lang(ja) {
                    top: 43px;
                }
                // product menu
                &.product-menu {
                    column-count: 2;
                    height: 330px;
                    column-fill: auto;

                    img.menu-icon {
                        width: 18px;
                        margin-right: 12px;
                    }
                }
                // solutions menu
                &.solutions-menu {
                    width: 480px;

                    @include media-breakpoint-up(lg) {
                        width: 720px;
                        &:lang(ja) {
                            width: 800px;
                        }
                    }

                    p {
                        padding: 8px 11px 8px;
                    }
                }

                a {
                    color: #000;
                    padding: 8px 11px;
                    font-size: 18px;
                    letter-spacing: 0.4px;
                    border-radius: 4px;
                    padding: 7px 11px;

                    &:lang(ja) {
                        font-size: 16px;
                    }

                    &:last-child {
                        border-bottom-right-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }

                    &:first-child {
                        border-top-right-radius: 5px;
                    }

                    &:hover {
                        background-color: #f5f5f5;
                    }
                }
            }
        }
    }

    .mainnav li.dropdown:nth-child(4) .dropdown-menu {
        min-width: 210px;
    }

    // mobile
    .navbar {
        padding: 0.6rem 0;

        .container {
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 7px;
        }

        .navbar-brand {
            text-transform: capitalize;
            font-size: 28px;
            display: inline-flex;
            align-items: center;

            img {
                height: 39px;
            }

            picture.logo-text {
                @include media-breakpoint-down(lg) {
                    display: block;
                    height: auto;
                    margin-left: 5px;
                    margin-top: -2px;

                    .logo-text {
                        height: 16px;
                    }
                }
            }
        }
    }

    #navbar-sidenav {
        background: #f8f8f8;
        position: relative;
        -webkit-overflow-scrolling: touch;

        &::before {
            content: '';
            top: 0;
            left: 0;
            right: 0;
            height: 50px;
            position: absolute;

            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efefef+0,ffffff+100 */
            background: #efefef; /* Old browsers */
            background: -moz-linear-gradient(top, #efefef 0%, #f8f8f8 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #efefef 0%, #f8f8f8 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(
                to bottom,
                #efefef 0%,
                #f8f8f8 100%
            ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:dximagetransform.microsoft.gradient(startColorstr='#efefef', endColorstr='#F8F8F8', GradientType=0); /* IE6-9 */
        }

        .container {
            padding: 0;
        }
    }

    .sidenav {
        padding-left: 15px;
        padding-right: 15px;
        background: transparent;
        min-height: 0;

        &::before,
        &::after {
            background: transparent;
        }

        &::after {
            background: transparent;
        }

        & > .row {
            &::before,
            &::after {
                background: transparent;
            }

            &::after {
                background: transparent;
            }
        }

        h4 {
            display: none;
        }

        .sidenav-search {
            margin-top: 10px;
            margin-right: 0;
        }
    }

    .mobilequicknav {
        display: flex;
        border-bottom: 1px solid #d6d6d6;

        & > .col {
            &:first-child {
                border-left: 1px solid #d6d6d6;
            }

            border-right: 1px solid #d6d6d6;
            padding: 20px;
        }

        a {
            color: #969696;
        }
    }
}

//@include media-breakpoint-down(lg)
@media (max-width: 1199px) {
    body > header {
        .mainnav {
            picture.logo-text {
                //margin-left:-7px;
                left: -7px;
                position: relative;
            }
        }
    }
}

@media (max-width: 1199px) {
    body.fr > header .mainnav .nav-button .btn {
        font-size: 15px;
        min-width: 0;
        white-space: normal;
        width: 120px;
        line-height: 19px;
        transform: translateY(-5px);
    }
}
