$ddpurple:    #632CA6;
$labelcolors: (
        agent: $ddpurple,
        statsd: #ACDEDE,
        crawler: #FE6638,
        library: #0095FF
);

.integration-labels {
  display: inline-block;
  span {
    font-size:18px;
    line-height: 18px;
    font-weight:600;
    display:inline;
    padding-left:7px;
  }
  /* assign each label its color from map above */
  @each $label, $color in $labelcolors {
    .#{$label} {
      span {
        color: $color;
      }
    }
  }
}

.integration-os{
  display: inline-block;
  padding-top: 16px;
  margin-left: 10px;
  border-left: 1px solid gray;

  @media screen and (max-width: 767px){
    .supported-os-text{
      display:none;
    }
  }
  a:hover{
    opacity: .7;
  }
}
