.integrations-breadcrumbs {
  line-height:24px;
  color:#B6B6B6;
  text-transform:uppercase;
  height:50px;
  font-weight: bold;
  font-size:22px;
  a {
    color:#B6B6B6;
    padding:0 7px;
    font-size:16px;
    &:hover {
      color: #7847A6;
    }
    &:first-child {
      padding-left:0
    }
    &:last-child {
      color: #7847A6;
    }
  }
}
