$ddpurple:    #632CA6;

.support {
  h2 {
    line-height:12px;
    padding-top:20px;
  }
  h3 {
    font-size: 32px;
    font-weight: 200;
    line-height: 42px;
    letter-spacing: 0;
    padding:0;
  }
  p {
    line-height:24px;
    font-size:18px;
  }
  .support-item {
    height:60px;
    border-bottom:1px solid #c7c7c7;
    margin-bottom:15px
  }
  a {
    color: #4a4a4a;
    border-bottom: 1px solid #6c757d;
    &:hover {
      color: $ddpurple;
      border-bottom: 1px solid $ddpurple;
    }
  }
  .foot {
    a {
      font-weight:600;
      border-bottom:none;
      &:hover {
        color:#555555;
        opacity:.8;
      }
      span {
        display:block;
      }
    }
  }
}

@media (max-width: 575px) {
  .support {
    h3 {
      font-size: 23px;
      line-height: 30px;
    }
    .tile-nav .card {
      height: 165px;
    }
  }
}
