$ddpurple:    #632CA6;

$tilecolors: (
    agent: #7758D3,
    integrations: #00D3D2,
    graphing: #19D678,
    alerting: #FFAA00,
    tracing: #FF635A,
    developers: #3D95FF
);

.tile-nav {
  margin-top:30px;
  padding-right: 0px;
  padding-left: 0px;
  p {
    font-size:18px;
    line-height:22px;
    color:#4A4A4A;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .desc {
    padding:0 6.5px;
  }
  div:nth-child(n+4) .card {
    margin-bottom:0px;
  }

  .card {
    margin-bottom: 30px;
    .card-body {
      padding:0;
      img {
        margin: 20px auto 0 auto;
        width: 80px;
        display:block;
      }
      .title {
        font-weight: 600;
        margin-bottom: 6px;
        margin-top: 7px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
      }
      .desc{
        margin-bottom:26px;
      }
    }
  }
  /* assign each tile its color from map above */
  @each $tile, $color in $tilecolors {
    .#{$tile} {
      &:hover {
        /*border-color: $color;*/
        border-color: transparent;
      }
      .title {
        color: $color;
      }
    }
  }
}

//@include media-breakpoint-down(xs) {
@media (max-width: 575px) {
  .tile-nav {
    .card {
      height: 90px;
      margin-bottom:15px;
      .card-body {
        img {
          margin: 13px auto 0 auto;
          width: 47px;
        }
        .title {
          font-size: 16px;
          margin-top: 3px;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .tile-nav {
    .desc {
      font-size:16px;
      padding: 0 16px;
    }
  }
}