<div class="row tile-nav">
    <div class="col-sm-12 col-md-4">
        <div class="tile">
            <p class="title">Agent</p>
            <p>Install it, Configure it, <br/>Learn how it works</p>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="tile">
            <p class="title">Integrations</p>
            <p>Install it, Configure it, <br/>Learn how it works</p>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="tile">
            <p class="title">Graphing</p>
            <p>Install it, Configure it, <br/>Learn how it works</p>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="tile">
            <p class="title">Alerting</p>
            <p>Install it, Configure it, <br/>Learn how it works</p>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="tile">
            <p class="title">Tracing / APM</p>
            <p>Install it, Configure it, <br/>Learn how it works</p>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="tile">
            <p class="title">Developers</p>
            <p>Install it, Configure it, <br/>Learn how it works</p>
        </div>
    </div>
</div>