<div class="row tile-nav mt-40 mb-40">
    <div class="col-6 col-md-4">
        <a class="card agent" href="{{ .Site.BaseURL }}agent/">
            <div class="card-body text-center">
                <img width="80" src="{{ partial "img.html" (dict "root" . "src" "icons/agent.png") }}" />
                <p class="title">Agent</p>
                <p class="desc d-none d-sm-inline-block">Install it, Configure it, <br/>Learn how it works</p>
            </div>
        </a>
    </div>
    <div class="col-6 col-md-4">
        <a class="card integrations" href="{{ .Site.BaseURL }}integrations/">
            <div class="card-body text-center">
                <img width="80" src="{{ partial "img.html" (dict "root" . "src" "icons/integrations.png") }}" />
                <p class="title">Integrations</p>
                <p class="desc d-none d-sm-inline-block">Install it, Configure it, <br/>Learn how it works</p>
            </div>
        </a>
    </div>
    <div class="col-6 col-md-4">
        <a class="card graphing" href="{{ .Site.BaseURL }}graphing/">
            <div class="card-body text-center">
                <img width="80" src="{{ partial "img.html" (dict "root" . "src" "icons/graphing.png") }}" />
                <p class="title">Graphing</p>
                <p class="desc d-none d-sm-inline-block">Install it, Configure it, <br/>Learn how it works</p>
            </div>
        </a>
    </div>
    <div class="col-6 col-md-4">
        <a class="card alerting" href="{{ .Site.BaseURL }}monitoring/">
            <div class="card-body text-center">
                <img width="80" src="{{ partial "img.html" (dict "root" . "src" "icons/alerting.png") }}" />
                <p class="title">Alerting</p>
                <p class="desc d-none d-sm-inline-block">Install it, Configure it, <br/>Learn how it works</p>
            </div>
        </a>
    </div>
    <div class="col-6 col-md-4">
        <a class="card tracing" href="{{ .Site.BaseURL }}tracing/">
            <div class="card-body text-center">
                <img width="80" src="{{ partial "img.html" (dict "root" . "src" "icons/tracing_apm.png") }}" />
                <p class="title">Tracing / APM</p>
                <p class="desc d-none d-sm-inline-block">Install it, Configure it, <br/>Learn how it works</p>
            </div>
        </a>
    </div>
    <div class="col-6 col-md-4">
        <a class="card developers" href="{{ .Site.BaseURL }}api/">
            <div class="card-body text-center">
                <img width="80" src="{{ partial "img.html" (dict "root" . "src" "icons/developers.png") }}" />
                <p class="title">Developers</p>
                <p class="desc d-none d-sm-inline-block">Install it, Configure it, <br/>Learn how it works</p>
            </div>
        </a>
    </div>
</div>