<div class="row tile-nav mt-40 mb-40">
    <div class="col-6 col-md-4">
        <a class="tile tile-agent" href="{{ .Site.BaseURL }}guides/basic_agent_usage/">
            <img width="80" src="{{ partial "img.html" (dict "root" . "src" "icons/agent.png") }}" />
            <p class="title">Agent</p>
            <p class="d-none d-sm-inline">Install it, Configure it, <br/>Learn how it works</p>
        </a>
    </div>
    <div class="col-6 col-md-4">
        <a class="tile tile-integrations" href="{{ .Site.BaseURL }}integrations/">
            <img width="80" src="{{ partial "img.html" (dict "root" . "src" "icons/integrations.png") }}" />
            <p class="title">Integrations</p>
            <p class="d-none d-sm-inline">Install it, Configure it, <br/>Learn how it works</p>
        </a>
    </div>
    <div class="col-6 col-md-4">
        <a class="tile tile-graphing" href="{{ .Site.BaseURL }}graphing/">
            <img width="80" src="{{ partial "img.html" (dict "root" . "src" "icons/graphing.png") }}" />
            <p class="title">Graphing</p>
            <p class="d-none d-sm-inline">Install it, Configure it, <br/>Learn how it works</p>
        </a>
    </div>
    <div class="col-6 col-md-4">
        <a class="tile tile-alerting" href="{{ .Site.BaseURL }}monitoring/">
            <img width="80" src="{{ partial "img.html" (dict "root" . "src" "icons/alerting.png") }}" />
            <p class="title">Alerting</p>
            <p class="d-none d-sm-inline">Install it, Configure it, <br/>Learn how it works</p>
        </a>
    </div>
    <div class="col-6 col-md-4">
        <a class="tile tile-tracing" href="{{ .Site.BaseURL }}tracing/">
            <img width="80" src="{{ partial "img.html" (dict "root" . "src" "icons/tracing_apm.png") }}" />
            <p class="title">Tracing / APM</p>
            <p class="d-none d-sm-inline">Install it, Configure it, <br/>Learn how it works</p>
        </a>
    </div>
    <div class="col-6 col-md-4">
        <a class="tile tile-developers" href="{{ .Site.BaseURL }}api/">
            <img width="80" src="{{ partial "img.html" (dict "root" . "src" "icons/developers.png") }}" />
            <p class="title">Developers</p>
            <p class="d-none d-sm-inline">Install it, Configure it, <br/>Learn how it works</p>
        </a>
    </div>
</div>