$ddpurple:    #774DA2;

.tile-nav {
  .tile {
    height: 194px;
    text-align:center;
    border:1px solid #D6D6D6;
    margin-bottom:30px;
    .title {
      color:$ddpurple;
      font-weight:600;
      margin-bottom:0;
    }
  }
}