{{ $dot := . }}
<div class="rum-platforms">
  <div class="container cards-dd">
    <div class="row row-cols-2 row-cols-sm-4 g-2 g-xl-3 justify-content-sm-center">
      <div class="col">
        <a class="card h-100" href="/real_user_monitoring/browser/setup_server_side?tab=nginx">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/nginx_large.svg" "class" "img-fluid" "alt" "nginx" "width" "200") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/real_user_monitoring/browser/setup_server_side?tab=windowsiis">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/windows_iis_large.svg" "class" "img-fluid" "alt" "windows_iis" "width" "200") }}
          </div>
        </a>
      </div>
      <div class="col">
       <a class="card h-100" href="/real_user_monitoring/browser/setup_client_side">
         <div class="card-body text-center py-2 px-1">
           {{ partial "img.html" (dict "root" . "src" "integrations_logos/rum-javascript_large.svg" "class" "img-fluid" "alt" "rum-javascript" "width" "200") }}
         </div>
       </a>
    </div>
  </div>
</div>
