{{ $dot := . }}
<div class="rum-platforms">
  <div class="container cards-dd">
    <div class="row row-cols-2 row-cols-sm-4 g-2 g-xl-3 justify-content-sm-center">
     <div class="col">
      <a class="card h-100" href="/real_user_monitoring/application_monitoring/browser/setup/server/java">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/java_servlet_large.svg" "class" "img-fluid" "alt" "java_servlet" "width" "200") }}
        </div>
      </a>
    </div>
    <div class="col">
     <a class="card h-100" href="/real_user_monitoring/application_monitoring/browser/setup/server/nginx">
       <div class="card-body text-center py-2 px-1">
         {{ partial "img.html" (dict "root" . "src" "integrations_logos/nginx_large.svg" "class" "img-fluid" "alt" "nginx" "width" "200") }}
       </div>
     </a>
   </div>
   <div class="col">
    <a class="card h-100" href="/real_user_monitoring/application_monitoring/browser/setup/server/windows_iis">
      <div class="card-body text-center py-2 px-1">
        {{ partial "img.html" (dict "root" . "src" "integrations_logos/windows_iis_large.svg" "class" "img-fluid" "alt" "windowsiis" "width" "200") }}
      </div>
    </a>
  </div>
      <div class="col">
        <a class="card h-100" href="/real_user_monitoring/application_monitoring/browser/setup/server/apache">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/apache_large.svg" "class" "img-fluid" "alt" "apache" "width" "200") }}
          </div>
        </a>
      {{/*  <br>  */}}
     </div>
     <div class="col">
      <a class="card h-100" href="/real_user_monitoring/application_monitoring/browser/setup/server/ibm">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/ibm_http_large.svg" "class" "img-fluid" "alt" "ibm" "width" "200") }}
        </div>
      </a>
    </div>
    </div>
  </div>
</div>
