{{ $dot := . }}
<div class="rum-platforms">
  <div class="container cards-dd">
    <div class="row row-cols-2 row-cols-sm-4 g-2 g-xl-3 justify-content-sm-center">
      <div class="col">
        <a class="card h-100" href="/real_user_monitoring/guide/setup-feature-flag-data-collection/?tab=npm#launchdarkly-integration">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/launchdarkly_large.svg" "class" "img-fluid" "alt" "launchdarkly" "width" "200") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/real_user_monitoring/guide/setup-feature-flag-data-collection/?tab=npm#split-integration">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/split_large.svg" "class" "img-fluid" "alt" "split" "width" "200") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/real_user_monitoring/guide/setup-feature-flag-data-collection/?tab=npm#flagsmith-integration">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/flagsmith_large.svg" "class" "img-fluid" "alt" "flagsmith" "width" "200") }}
          </div>
        </a>
      </div>
        </a>
      </div>
    </div>
  </div>
</div>
