{{ $dot := . }}
<div class="rum-platforms">
  <div class="container cards-dd">
    <div class="row row-cols-2 row-cols-sm-4 g-2 g-xl-3 justify-content-sm-center">
      <div class="col">
        <a class="card h-100" href="/real_user_monitoring/mobile_and_tv_monitoring/supported_versions/ios/">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/ios_large.svg" "class" "img-fluid" "alt" "ios" "width" "200") }}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
