<div class="row integration-labels mb-40">
    <div class="agent col-12 col-sm-4 col-md-3">
        <img class="static" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/check_agent.png") }}" /><span>Agent Check</span>
    </div>
    <div class="statsd col-12 col-sm-4 col-md-3">
        <img class="static" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/check_statsd.png") }}" /><span>StatsD Check</span>
    </div>
    <div class="crawler col-12 col-sm-4 col-md-3">
        <img class="static" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/check_crawler.png") }}" /><span>Crawler</span>
    </div>
</div>