// Shadow
.shadow {
    box-shadow: $shadow-nav;
    margin: 10px 0;
    position: relative;
    width: 100%;
    display: block;
    height: 24px;
}
.shadow-section-inset {
    box-shadow: inset 0px 6px 11px -2px rgba(0, 0, 0, 0.3);
}
.shadow-section-inset-light {
    box-shadow: inset 0px 6px 11px -2px rgba(0, 0, 0, 0.1);
}
.shadow-bottom {
    &:after {
        content: '';
        width: 100%;
        height: 0px;
        display: block;
        position: absolute;
        z-index: -1;
        -webkit-box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.07);
        -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.07);
        box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.07);
    }
}
.shadow-card {
    border: none !important;
    @include shadow-tile(
        $shadow-tile-default,
        $shadow-tile-hover,
        $tile-radius-default
    );
}
.shadow-card-nohover {
    border: none !important;
    @include shadow-tile(
        $shadow-tile-default,
        $shadow-tile-default,
        $tile-radius-default
    );
}

// Border
.border {
    border-width: 1px !important;
    border-style: solid !important;
}
.border-0,
.border-none {
    border: 0 !important;
}
.border-bottom {
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
}
.border-left {
    border-left-width: 1px !important;
    border-left-style: solid !important;
}
.border-right {
    border-right-width: 1px !important;
    border-right-style: solid !important;
}
.border-top {
    border-top-width: 1px !important;
    border-top-style: solid !important;
}

// Font
.font-18 {
    font-size: 18px;
    line-height: 27px;
}

.font-22 {
    font-size: 22px;
    line-height: 30px;
}

.text-underline {
    text-decoration: underline;
}

table {
    width: 100%;
    overflow-x: auto;
}

// Etc
.no-event{
  pointer-events: none;
}

.cursor-pointer {
    cursor: pointer;
}
