// SEARCHBOX
$searchbox-config: (
  input-width: 100%,
	input-height: 32px,
	border-width: 1px,
	border-radius: 16px,
	input-border-color: #CCCCCC,
	input-focus-border-color: #AAAAAA,
	input-background: transparent,
	input-focus-background: #FFFFFF,
	font-size: 12px,
	placeholder-color: #AAAAAA,
	icon-size: 14px,
	icon-position: left,
	icon-color: #6D7E96,
	icon-background: #458EE1,
	icon-background-opacity: 0,
	icon-clear-size: 8px
) !default;

// DROPDOWN
$dropdown-config: (
  main-color: #458EE1,
  layout-type: normal,
  layout-width: datadog,
  layout-alignment: align,
  background-color: #fff,
  border-radius: 4,
  border-width: 1,
  border-color: #d9d9d9,
  box-shadow: datadog,
  branding-position: bottom,
  spacing: compact,
  include-desc: yes,
  background-category-header:  #ffffff,
  font-size: normal,
  header-color: #33363D,
  title-color: #02060C,
  subtitle-color: #A4A7AE,
  text-color: #63676D,
  highlight-color: #3881FF,
  highlight-opacity: .1,
  highlight-type: underline
) !default;

$builder-height: 230px;

//== Tiles

$tile-radius-default: 3px;

//== Shadow

$shadow-nav: 0px 8px 10px 0 rgba(0,0,0,.07);
$shadow-tile-none: 0px 5px 25px rgba(0,0,0,0);
$shadow-tile-default: 0px 4px 10px rgba(0,0,0,0.2);
$shadow-tile-hover: 0px 8px 20px rgba(0,0,0,0.25);
$shadow-card-large: 0 2px 30px 0 rgba(0,0,0,.3);
