{{ $dot := . }}
<div class="csm-agent-install">
    <div class="container cards-dd col-num-3">
        <div class="row row-cols-2 row-cols-sm-3 g-2 g-xl-3 justify-content-sm-center">
            <div class="col">
                <a class="card h-100" href="/security/workload_protection/getting_started/fargate/">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/amazon_fargate.png" "class" "img-fluid" "alt" "Amazon Fargate" "width" "400") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/security/workload_protection/getting_started/linux_ebpfless/">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/linux.png" "class" "img-fluid" "alt" "Linux eBPF-less" "width" "200") }}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<br>