environment: default
# do not delete repo_name, used by websites-modules as context
repo_name: "documentation"
integrations_img_url: "https://static.datadoghq.com/static/images/logos/"
imgix:
  header_jpg: "?ch=Width&fit=max&fm=jpg&auto=format&lossless=true"
  header_png: "?ch=Width&fit=max&fm=png&auto=format&lossless=1"
  header_gif: "?ch=Width,Save-Data&fm=gif"
  jpg: "?fm=jpg&auto=format&lossless=true"
  png: "?fm=png&auto=format&lossless=1"
  gif: ""
code_languages:
  'py':
    extension: py
    name: python-legacy
    syntax: python
    command: python
    example_file: example.py
  'pybeta':
    extension: py
    name: python
    syntax: python
    command: python3
    example_file: example.py
  'rb':
    extension: rb
    name: ruby-legacy
    syntax: ruby
    command: rb
    example_file: example.rb
  'rbbeta':
    extension: rbbeta
    name: ruby
    syntax: ruby
    command: rb
    example_file: example.rb
  'sh':
    extension: sh
    name: curl
    syntax: curl
  'go':
    extension: go
    name: go
    syntax: go
    command: go run
    example_file: main.go
  'java':
    extension: java
    name: java
    syntax: java
    command: java
    example_file: Example.java
  'cs':
    extension: cs
    name: csharp
    syntax: csharp
  'php':
    extension: php
    name: php
    syntax: php
  'ts':
    extension: ts
    name: typescript
    syntax: typescript
    command: tsc
    example_file: example.ts
  'rs':
    extension: rs
    name: rust
    syntax: rust
    command: rustc
    example_file: example.rs

code_language_ids:
    android: Android
    ios: iOS
    expo: Expo
    flutter: Flutter
    otel: OTel
    reactnative: React Native
    codepush: CodePush
    roku: Roku
    unity: Unity
    swiftui: Swift UI
    java: Java
    cpp: 'C++'
    php: PHP
    nodejs: "Node.js"
    NodeJS: "Node.js"
    "Node.js": "Node.js"
    python-legacy: Python [legacy]
    python: Python
    ruby-legacy: Ruby [legacy]
    ruby: Ruby
    go: Go
    typescript: Typescript
    ".NET": ".NET"
    dotnet: ".NET"
    dotnet-core: ".NET Core"
    dotnet-framework: ".NET Framework"
    curl: Curl
    nginx: Nginx
    native: Native
    other: Other
    linux: Linux
    windows: Windows
    opentelemetry: OpenTelemetry
    ddprof: "Rust/C/C++"
    serverless: "Serverless"
    javascript: "JavaScript"
    swift: "Swift"
    junit_xml: "JUnit XML"
    kubernetes: "Kubernetes"
    docker: "Docker"
    hosts: "Hosts"
    ecs_ec2: "ECS EC2"
    elixir: "Elixir"
    rust: "Rust"
    dd-api: "Datadog API"
    otel: "OpenTelemetry API"
branch: ""

signupclass: sign-up-trigger

header_scripts:
  - hotjar: false
  - google-tag-manager: false
  - google-site-tag: false
  - marketo: false

footer_scripts:

# Docs allowed regions for redirecting
allowedRegions:
  - name: US1
    value: us
    weight: 10
    domain: datadoghq.com
  - name: US3
    value: us3
    weight: 13
    domain: us3.datadoghq.com
  - name: US5
    value: us5
    weight: 15
    domain: us5.datadoghq.com
  - name: EU
    value: eu
    weight: 20
    domain: datadoghq.eu
  - name: AP1
    value: ap1
    weight: 25
    domain: ap1.datadoghq.com
  - name: US1-FED
    value: gov
    weight: 30
    domain: ddog-gov.com


core_product:
  value_required: false
  possible_values:
    - name: alerts
    - name: apm
    - name: appsec
      requires_all_keyvals:
        - 'core_product:security'
    - name: ci-cd
    - name: cloud siem
      requires_all_keyvals:
        - 'core_product:security'
    - name: continuous profiler
    - name: continuous testing
      requires_all_keyvals:
        - 'core_product:synthetic monitoring'
        - 'core_product:digital experience monitoring'
        - 'specific_interest:testing'
    - name: csm
      requires_all_keyvals:
        - 'core_product:security'
    - name: cspm
      requires_all_keyvals:
        - 'specific_interest:compliance'
        - 'core_product:security'
    - name: cwpp
      requires_all_keyvals:
        - 'core_product:security'
    - name: dashboards
    - name: database monitoring
    - name: datadog agent
    - name: datadog api
    - name: datadog marketplace
    - name: datadog mobile app
    - name: digital experience monitoring
      requires_one_keyval:
        - 'core_product:real user monitoring'
        - 'core_product:synthetic monitoring'
    - name: real user monitoring
      requires_all_keyvals:
        - 'core_product:digital experience monitoring'
    - name: synthetic monitoring
      requires_all_keyvals:
        - 'core_product:digital experience monitoring'
    - name: error tracking
    - name: incident management
    - name: infrastructure monitoring
    - name: log management
    - name: metrics
    - name: network device monitoring
    - name: network performance monitoring
    - name: observability pipelines
    - name: security
    - name: serverless monitoring
    - name: service catalog
    - name: slos
    - name: watchdog
