environment: default
imgix:
  header_jpg: "?ch=Width&fit=max&fm=jpg&auto=format&lossless=true"
  header_png: "?ch=Width&fit=max&fm=png&auto=format&lossless=1"
  header_gif: "?ch=Width,Save-Data&fm=gif"
  jpg: "?fm=jpg&auto=format&lossless=true"
  png: "?fm=png&auto=format&lossless=1"
  gif: ""
code_languages:
  - display_name: Python
    key: python
  - display_name: Ruby
    key: ruby
  - display_name: Curl
    key: bash
header_scripts:
  - google-tag-manager: true
  - marketo: true
footer_scripts:
  - marketo: false

algolia:
  appId: EOIG7V0A2O
  apiKey: c7ec32b3838892b10610af30d06a4e42
  indexName: docsearch_docs_prod

datadog:
  clientToken: pube66a8c26c2159b101d6c36b5317fa7f9
  forwardErrorsToLogs: true
  logging_handler: console
