environment: default
imgix:
  header_jpg: "?ch=Width&fit=max&fm=jpg&auto=format&lossless=true"
  header_png: "?ch=Width&fit=max&fm=png&auto=format&lossless=1"
  header_gif: "?ch=Width,Save-Data&fm=gif"
  jpg: "?fm=jpg&auto=format&lossless=true"
  png: "?fm=png&auto=format&lossless=1"
  gif: ""
code_languages:
  - display_name: Curl
    key: bash
  - display_name: Python
    key: python
  - display_name: Ruby
    key: ruby

header_scripts:
  - hotjar: false
  - google-tag-manager: false
  - google-site-tag: false
  - marketo: false
  - quora-pixel: false

footer_scripts:
  - snowplow: false
  - adroll: false

# Docs allowed regions for redirecting
allowedRegions: 
  - name: US
    value: us
  - name: EU
    value: eu