{{ $dot := . }}
<hr class="mt-40"/>
<div class="support">
    <div class="text-start mb-4">
        <h2>{{ i18n "contact_us" }}</h2>
        <p class="mt-3"><i>{{ i18n "help_sentence" }}</i></p>
    </div>

    <div class="container cards-dd tile-nav">
        <div class="row row-cols-1 row-cols-sm-3 g-3 g-sm-4 mb-2 mb-sm-3">
            <div class="col">
                <a class="card h-100" href="http://help.datadoghq.com">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "icon-support.png" "class" "" "alt" "Support platform" "width" "42.5") }}
                        <p class="title">{{ i18n "platform" | safeHTML }}</p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="http://app.datadoghq.com/">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "icon-team.png" "class" "" "alt" "Chat" "width" "42.5") }}
                        <p class="title">{{ i18n "live_chat" | safeHTML }}</p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="http://chat.datadoghq.com/">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "icon-chat.png" "class" "" "alt" "Slack" "width" "42.5") }}
                        <p class="title">{{ i18n "event_stream_messaging" | safeHTML }}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4 mb-4">
            <p>{{ i18n "email_support_sentence" | safeHTML }}</p>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <p>{{ i18n "live_chat_support_sentence" | safeHTML}}</p>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <p>{{ i18n "event_stream_support_sentence" | safeHTML }}</p>
        </div>
    </div>

    <div class="row">
        <p>See support plan terms at <a href='https://www.datadoghq.com/legal/support' target="_blank" rel="noopener">https://www.datadoghq.com/legal/support</a>.</p>
    </div>

    <hr/>
    <div class="learning">
        <div class="text-start mb-4">
            <h2>{{ i18n "learning_resources" }}</h2>
            <p class="mt-3"><i>{{ i18n "learning_sentence" }}</i></p>
        </div>

        <div class="container cards-dd tile-nav">
            <div class="row row-cols-1 row-cols-sm-3 g-3 g-sm-4 mb-2 mb-sm-3">
                <div class="col">
                    <a class="card h-100" href="https://dtdg.co/fe_sessions">
                        <div class="card-body text-center py-2 px-1">
                            {{ partial "img.html" (dict "root" . "src" "icon_fe.png" "class" "" "alt" "Foundation Enablement" "width" "42.5") }}
                            <p class="title">{{ i18n "foundation_enablement" | safeHTML }}</p>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a class="card h-100" href="https://dtdg.co/47QnE99">
                        <div class="card-body text-center py-2 px-1">
                            {{ partial "img.html" (dict "root" . "src" "icon_lc.png" "class" "" "alt" "Learning Center" "width" "42.5") }}
                            <p class="title">{{ i18n "learning_center" | safeHTML }}</p>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a class="card h-100" href="https://dtdg.co/3PeuldT">
                        <div class="card-body text-center py-2 px-1">
                            {{ partial "img.html" (dict "root" . "src" "icon_webinar.png" "class" "" "alt" "Datadog Webinars" "width" "42.5") }}
                            <p class="title">{{ i18n "webinars" | safeHTML }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <p>{{ i18n "foundation_enablement_sentence" | safeHTML }}</p>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <p>{{ i18n "learning_center_sentence" | safeHTML}}</p>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <p>{{ i18n "webinars_sentence" | safeHTML}}</p>
            </div>
        </div>

        <hr/>
        <div class="row foot">
            <div class="col"></div>
            <div class="col-8 col-md-6 col-lg-4">
                <div class="row">
                    <div class="col text-center">
                        <a href="http://status.datadoghq.com/" target="_blank" rel="noopener">
                            {{ partial "img.html" (dict "root" . "src" "icon_status.png" "class" "" "alt" "status" "height" "50") }}
                            <span>{{ i18n "status_page" }}</span>
                        </a>
                    </div>
                    <div class="col text-center">
                        <a href="https://twitter.com/DatadogOps" target="_blank" rel="noopener">
                            {{ partial "img.html" (dict "root" . "src" "icon_twitter.png" "class" "" "alt" "twitter" "height" "50") }}
                            <span>{{ i18n "ops_twitter" }}</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>