{{ $dot := . }}
<hr class="mt-40"/>
<div class="support">
    <div class="text-left mb-4">
        <h2>{{ i18n "contact_us" }}</h2>
        <p class="mt-3"><i>{{ i18n "help_sentence" }}</i></p>
    </div>

    <div class="container cards-dd tile-nav">
        <div class="card-deck">
            <a class="card" href="mailto:support@datadoghq.com">
                <div class="card-body text-center py-2 px-1">
                    {{ partial "img.html" (dict "root" . "src" "icon-mail.png" "class" "" "alt" "Email" "width" "42.5") }}
                    <p class="title">email our<br>support team</p>
                </div>
            </a>
            <a class="card" href="http://chat.datadoghq.com/">
                <div class="card-body text-center py-2 px-1">
                    {{ partial "img.html" (dict "root" . "src" "icon-team.png" "class" "" "alt" "Email" "width" "42.5") }}
                    <p class="title">live chat with<br>our support team</p>
                </div>
            </a>
            <a class="card" href="https://app.datadoghq.com/event/stream">
                <div class="card-body text-center py-2 px-1">
                    {{ partial "img.html" (dict "root" . "src" "icon-chat.png" "class" "" "alt" "Email" "width" "42.5") }}
                    <p class="title">in-app event<br>stream messaging</p>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4 mb-4">
            <p>{{ i18n "email_support_sentence" | safeHTML }}.</p>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <p>{{ i18n "live_chat_support_sentence" | safeHTML}}.</p>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <p>{{ i18n "event_stream_support_sentence" | safeHTML }}</p>
        </div>
    </div>

    <hr/>
    <div class="row foot">
        <div class="col"></div>
        <div class="col-8 col-md-6 col-lg-4">
            <div class="row">
                <div class="col text-center">
                    <a href="http://status.datadoghq.com/" target="_blank" rel="noopener">
                        {{ partial "img.html" (dict "root" . "src" "icon_status.png" "class" "" "alt" "status" "height" "50") }}
                        <span>{{ i18n "status_page" }}</span>
                    </a>
                </div>
                <div class="col text-center">
                    <a href="https://twitter.com/DatadogOps" target="_blank" rel="noopener">
                        {{ partial "img.html" (dict "root" . "src" "icon_twitter.png" "class" "" "alt" "twitter" "height" "50") }}
                        <span>{{ i18n "ops_twitter" }}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>