*           @DataDog/baklava

# Websites
data/*      @DataDog/corpweb @DataDog/baklava
local/*     @DataDog/corpweb
layouts/*   @DataDog/corpweb
src/*       @DataDog/corpweb
static/*    @DataDog/corpweb
