.kind-home {
    .home-hero {
        background: linear-gradient(127.95deg, #b025b5 0%, #3923ae 100%);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 300px;
        h1 {
            font-size: 32px;
            @media (min-width: 768px) {
                font-size: 36px;
            }
        }
        @media (min-width: 768px) {
            height: 346px;
            background-image: url('#{$baseImgURL}images/home-hero.png');
        }

        & .container.position-relative {
            z-index: 1;
        }
    }

    .guides {
        margin: -60px auto 30px auto;
        background-color: white;
        border-radius: 3px;
        box-shadow: 0px 1px 1px rgba(30, 5, 36, 0.16), 0px 1px 4px rgba(30, 5, 36, 0.24);
        position: relative;
        @media (min-width: 768px) {
            margin: -60px auto 50px auto;
        }
        @media (min-width: 1200px) {
            max-width: 1000px;
        }

        .guide-col {
            padding: 16px 41px;
            flex: 1 1 auto;
            width: 25%;

            .inner-content {
                position: relative;
                .guide-no {
                    line-height: 1.2;
                    font-weight: 600;
                    top: 0;
                    position: absolute;
                    left: -16px;

                    &:lang(ja) {
                        font-size: 14px;
                    }
                }
            }

            @media (min-width: 768px) {
                border-bottom: none !important;
            }
        }

        .right-arrow-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            .right-arrow {
                width: 100%;
                height: 100%;
                path {
                    fill: none;
                    stroke: $gray-lighter;
                    stroke-width: 2;
                    stroke-linejoin: round;
                }
            }
        }

        .down-arrow {
            width: 100%;
            height: 40px;
            path {
                fill: none;
                stroke: $gray-lighter;
                stroke-width: 2;
                stroke-linejoin: round;
            }
        }
    }

    .nav-tiles {
        h3 {
            font-size: 32px;
            line-height: 36px;
            font-weight: 200;

            &:lang(ja) {
                font-size: 28px;
            }
        }
        .nav-tile {
            a {
                padding: 10px 27px;
                box-shadow: 0px 1px 1px rgba(30, 5, 36, 0.16), 0px 1px 4px rgba(30, 5, 36, 0.24);
                transition: box-shadow ease-in-out 0.16s;
                &:hover {
                    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16), 0px 4px 12px rgba(0, 0, 0, 0.24);
                    color: $brand-primary;
                }
            }

            i[class*='icon-'] {
                background: linear-gradient(45deg, #ae25b4, #632ca6);
                background-clip: text;
                -webkit-background-clip: text;
                --webkit-text-fill-color: transparent;
            }

            span {
                padding-top: 5px;
            }
        }
    }

    .popular-search {
        a {
            color: white;
            text-decoration: underline;
        }
    }
}
