# Ignore all js directories, delete each as eslint errors are fixed
assets/js/datadog-docs.js
assets/js/helpers/moveToAnchor.js
assets/js/components/global-modals.js
assets/js/components/header.js
assets/js/components/platforms.js
assets/js/components/sidenav.js
