# Ignore all js directories, delete each as eslint errors are fixed
assets/scripts/datadog-docs.js
assets/scripts/helpers/moveToAnchor.js
assets/scripts/components/global-modals.js
assets/scripts/components/header.js
assets/scripts/components/platforms.js
assets/scripts/components/sidenav.js
