# Makefile.config
# Create a new file called Makefile.config using this file as a template for your local config

CREATE_I18N_PLACEHOLDERS := false
FETCH_INTEGRATIONS := true
GITHUB_TOKEN := ${github_personal_token}
RUN_SERVER := true
RUN_GULP := true
#DOGWEB := "LOCAL_PATH_TO_DOGWEB"
#INTEGRATIONS_CORE := "LOCAL_PATH_TO_INTEGRATIONS_CORE"
#INTEGRATIONS_EXTRAS := "LOCAL_PATH_TO_INTEGRATIONS_EXTRAS"

LOCALBIN := local/bin
LOCALETC := local/etc
EXEDIR := /usr/local/bin
EXE_LIST := `find local/bin -type f -exec sh -c "echo ${EXEDIR}/{} | sed s@${LOCALBIN}/@@" \;`
VIRENV=hugpython
