# Makefile.config
# Create a new file called Makefile.config using this file as a template for your local config

GITHUB_TOKEN := ${github_personal_token}
CREATE_I18N_PLACEHOLDERS:= false
PULL_RBAC_PERMISSIONS := true
DD_API_KEY := ${datadog_api_key}
DD_APP_KEY := ${datadog_application_key}
RUN_SERVER := true
CONFIGURATION_FILE := "./local/bin/py/build/configurations/pull_config_preview.yaml"

LOCAL := True
LOCALBIN := local/bin
LOCALETC := local/etc

EXEDIR := /usr/local/bin
EXE_LIST := `find local/bin -type f -exec sh -c "echo ${EXEDIR}/{} | sed s@${LOCALBIN}/@@" \;`
VIRENV=hugpython
