# Makefile.config
# Create a new file called Makefile.config using this file as a template for your local config

GITHUB_TOKEN := $(shell ddtool auth github token)
FULL_BUILD := false
CONFIGURATION_FILE := "./local/bin/py/build/configurations/pull_config_preview.yaml"

#build-script env vars
BUILD_SCRIPT_BRANCH := main
BUILD_SCRIPT_REPO_URL :=
BUILD_SCRIPT_SOURCE_DIR :=
