#!/usr/bin/env ruby
# -*- coding: utf-8 -*-

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

require './lib/rule_helper'

preprocess do
  create_tag_pages(@items.select { |i| i[:kind] == "example" }, {:identifier => "/examples/%%tag%%/"})
end

compile 'sitemap' do
  filter :erb
end

compile '/tipuesearch/tipuesearch_content/' do
  filter :erb
end

compile '/tipuesearch/*/' do

end

compile '/static/*' do

end

compile '/partials/*' do
  filter :erb
end

compile '*' do
  unless item.binary?
    filter :erb
    filter :kramdown
    filter :colorize_syntax, colorizers: {
      javascript: :rouge,
      console: :rouge,
      python: :rouge,
      ruby: :rouge,
      pycon: :rouge,
      json: :rouge
    }

    id = @item.identifier
    case
    when id == '/ja/api/'
      layout 'shell-ja'
    when id == '/api/'
      layout 'shell'
    when id.match('/ja/guides/basic_agent_usage/')
      layout 'basic_agent_usage-ja'
    when id.match('/guides/basic_agent_usage/')
      layout 'basic_agent_usage'
    when id.match('/ja/')
      layout 'default-ja'
    when id.match('/examples/') && @item[:kind] == 'example'
      layout 'examplelayout'
    else
      layout 'default'
    end
  end
end

route 'sitemap' do
  item.identifier.chop + '.xml'
end

route '/partials/*' do
  nil
end

route '/tipuesearch/*' do
  unless item.identifier.include?('#')
    "/tipuesearch/#{basename(item.attributes[:filename])}.js"
  end
end

route '/static/favicon/' do
  '/favicon.ico'
end

route '/static/CNAME/' do
  '/CNAME'
end

route '/static/*' do
  item.identifier.chop + '.' + item[:extension]
end

route '*' do
  # Write item with identifier /foo/ to /foo/index.html
  item.identifier + 'index.html'
end

layout '*', :erb
