<div class="keepreading">
    <h2>Keep Reading</h2>
    <p>Additional helpful documentation, links, and articles.</p>
    <ul class="list-group">
        <li class="list-group-item">Post Time Series Points <span class="badge badge-primary badge-pill">API</span></li>
        <li class="list-group-item">3 scenarios where machine learning makes for smarter alerts <span class="badge badge-primary badge-pill">BLOG</span></li>
        <li class="list-group-item">Is the agent necessary to use Datadog? <span class="badge badge-primary badge-pill">FAQ</span></li>
        <li class="list-group-item">Graphing with the graphical editor interface <span class="badge badge-primary badge-pill">DOCS</span></li>
    </ul>
</div>