{{ define "main" }}
  {{ $ctx := . }}
  <div class="row">
    <div class="col-12 order-1">
        <h1 id="pagetitle" class="newnew">{{ .Title }}</h1>
        <p>{{ .Params.content | safeHTML }}</p>

    </div>
    <div class="col-12">
        {{ partial "breadcrumbs.html" . }}
    </div>
  </div>
  {{ partial "translate_status_banner/translate_status_banner.html" . }} 

  {{ $products := slice }}
  <div 
  class="standard-attributes-main row w-100"
  x-data="{
    filterValue: '',
    searchValue: '',
    pushState (filtering=true) {
      const url = new URL(window.location.href)

      if(filtering){
        url.searchParams.set('product', this.filterValue)
      }else if(!filtering){
        url.searchParams.set('search', this.searchValue)
      }

      if(!this.searchValue) {
        url.searchParams.delete('search')
      }
      if(!this.filterValue) {
        url.searchParams.delete('product')
      }

      window.history.replaceState(null,'', url.toString())
      window.scroll(0, 0)
    },
    shouldShowAttribute (dataset) {
      const searchValues = this.searchValue.split(' ')
      return searchValues.some(word => dataset.includes(word.toLowerCase())) && dataset.includes(this.filterValue)
    },
    updateWithURLParams () {
      const url = new URL(window.location.href)
      this.filterValue = url.searchParams.get('product')
      this.searchValue = url.searchParams.get('search')
    }
  }"
  x-init="updateWithURLParams()">
    <div 
    class="table-wrapper order-md-1">
      <table>
        <thead class="table-header">
          <tr>
            <th>Source</th>
            <th>Attribute Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Domain</th>
          </tr>
        </thead>
        <tbody class="table-body">
          {{ range .Params.attributes }}

          {{/*  concatenating the attr info  */}}
          {{ $pad := newScratch }}
          {{/*  {{ $pad.Set "attribute_info" (slice (delimit .product_source ";") .name .domain (replace .description ";" "")) }}  */}}
          {{ $pad.Set "attribute_info" (slice (delimit .product_source ";") .name .domain .type (replaceRE "(`|')" "" .description )) }}
          {{ $attribute_info := (delimit ($pad.Get "attribute_info") ";") | lower }}

          <tr 
          class="table-row"
          x-cloak x-show="shouldShowAttribute('{{ $attribute_info }}')" 
          x-transition.opacity.duration.250ms
          >
            <td class="d-flex">
              {{$ctx_product_source := .product_source}}
              {{ range $idx, $el := .product_source }}
                {{ if in . "icon-"}}
                  <i class="{{ . }} {{ if $idx }}ms-1{{ end }}" title="{{ substr . 5 }}" style="font-size:18px;color:#7c3eb9;vertical-align:middle"></i> 
                {{ else if or (eq . "android") (eq . "ios") (eq . "flutter") (eq . "roku")}}
                  {{/*  Verify platorm sources (i.e. android, ios, roku etc. ) are accompanied by RUM source in  product_source list */}}
                  {{ if not (in $ctx_product_source "icon-rum") }}
                    {{ errorf "Sources 'android', 'flutter', 'roku', and 'ios' must be accompanied by 'icon-rum' source. fix source %q" . }}
                    {{ errorf "in %q" $ctx.File.Path }}
                  {{ end }}
                  {{ $int_logo := partial "integrations-logo.html" (dict "context" $ctx "basename" . "variant" "avatar") }}
                  {{ if $int_logo }}
                  <img src="{{ $int_logo }}" class="{{ if $idx }}ms-1{{ end }}" height="18" alt="{{$int_logo}}"/>
                  {{ end }}
                {{ else if eq . "*"}}
                  *
                {{ end }}
              {{ end }}
            </td>
            <td>{{ .name }}</td>
            <td>{{ .type }}</td>
            <td>{{ .description | markdownify }}</td>
            <td>{{ .domain }}</td>
          </tr>
            <!-- Build $products slice for filtering section (.filters-standard-attributes) -->
          {{ $products = $products | append .product_source }}
          {{ end }}
        </tbody>
      </table>
    </div>

    <nav id="standard-attributes-nav" class="mb-3">
      {{/*  FILTER BTNS - Keep here. $products slice needs to form */}}
      <div class="filters-standard-attributes">
        {{ if  $products }}
            <button 
            @click="filterValue = ''; pushState()"
            :class="(filterValue === 'all' || !filterValue) && 'active'"
            class="filter-btn mb-1 me-1 btn btn-sm-tag btn-outline-secondary"
            data-filter="{{ .Params.filter_all | lower }}">{{ .Params.filter_all }}</button> 
        {{ end }}
        {{ range $products | uniq | sort }}
            <button 
            @click="filterValue = '{{ . }}'; pushState()"
            :class="($el.dataset.filter === filterValue) && 'active'"
            class="filter-btn mb-1 me-1 btn btn-sm-tag btn-outline-secondary"
            data-filter="{{ . }}">{{ if (eq . "*")}} * {{else if (in . "icon-") }}{{((substr . 5) | upper)}} {{ else }}RUM {{. | upper}}{{end}}</button>
        {{ end }}
      </div>
      {{/*  SEARCH  */}}
      <form 
      class="search-standard-attributes mt-2">
        <input type="text" placeholder="Search here" class="w-100" x-model="searchValue" @input.debounce="pushState(false)">
      </form>
    </nav>

  </div>


  {{ .Content }}
{{ end }}