---
import styles from './ApiHeader.module.css';
---

<header class={`api-header ${styles.header}`}>
  <a href="/">
    <img
      src="/img/dd_logo_n_70x75.png"
      alt="Datadog"
      class={`api-header__logo ${styles.logo}`}
    />
  </a>
</header>
