{{ $root := . }}
{{ $providers := slice
    (dict "href" "/reference_tables/?tab=amazons3#create-a-reference-table" "src" "integrations_logos/amazon-s3_large.svg" "alt" "amazon s3")
    (dict "href" "/reference_tables/?tab=azurestorage#create-a-reference-table" "src" "integrations_logos/azure-storage_large.svg" "alt" "azure storage")
    (dict "href" "/reference_tables/?tab=manualupload#create-a-reference-table" "src" "reference_tables/csv-uploads-placeholder.png" "alt" "csv uploads")
    (dict "href" "/integrations/databricks/#reference-table-configuration" "src" "integrations_logos/databricks_large.svg" "alt" "databricks")
    (dict "href" "/reference_tables/?tab=googlecloudstorage#create-a-reference-table" "src" "integrations_logos/google-cloud-storage_large.svg" "alt" "google cloud storage")
    (dict "href" "/integrations/salesforce/#enabling-ingestion-of-reference-tables" "src" "integrations_logos/salesforce_large.svg" "alt" "salesforce")
    (dict "href" "/integrations/servicenow/#reference-tables" "src" "integrations_logos/servicenow_large.svg" "alt" "servicenow")
    (dict "href" "/integrations/snowflake_web/#reference-tables" "src" "integrations_logos/snowflake_large.svg" "alt" "snowflake")
}}

<div class="cd-and-ci-visibility-providers">
  <div class="container cards-dd">
    <!-- First row with 3 tiles -->
    <div class="row g-2 g-xl-3 justify-content-center">
      {{ range $index, $provider := $providers }}
        {{ if lt $index 3 }}
          <div class="col-md-4">
            <a class="card h-100" href="{{ $provider.href }}">
              <div class="card-body text-center py-2 px-1 d-flex align-items-center justify-content-center">
                {{ partial "img.html" (dict "root" $root "src" $provider.src "class" "img-fluid" "alt" $provider.alt "width" "150") }}
              </div>
            </a>
          </div>
        {{ end }}
      {{ end }}
    </div>
    <br>
    <div class="row g-2 g-xl-3 justify-content-center">
      {{ range $index, $provider := $providers }}
        {{ if and (ge $index 3) (lt $index 6) }}
          <div class="col-md-4">
            <a class="card h-100" href="{{ $provider.href }}">
              <div class="card-body text-center py-2 px-1 d-flex align-items-center justify-content-center">
                {{ partial "img.html" (dict "root" $root "src" $provider.src "class" "img-fluid" "alt" $provider.alt "width" "150") }}
              </div>
            </a>
          </div>
        {{ end }}
      {{ end }}
    </div>
    <br>
    <div class="row g-2 g-xl-3 justify-content-center">
      {{ range $index, $provider := $providers }}
        {{ if ge $index 6 }}
          <div class="col-md-4">
            <a class="card h-100" href="{{ $provider.href }}">
              <div class="card-body text-center py-2 px-1 d-flex align-items-center justify-content-center">
                {{ partial "img.html" (dict "root" $root "src" $provider.src "class" "img-fluid" "alt" $provider.alt "width" "150") }}
              </div>
            </a>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
