{{ $dot := . }}
<div class="ref-tables-integrations">
    <div class="container cards-dd">
        <div class="row row-cols-2 row-cols-sm-4 g-2 g-xl-3 justify-content-sm-center">
            <div class="col">
                <a
                    class="card h-100"
                    href="/reference_tables/?tab=amazons3#create-a-reference-table"
                >
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/amazon-s3_large.svg" "class"
                        "img-fluid" "alt" "amazon s3" "width" "200") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a
                    class="card h-100"
                    href="/reference_tables/?tab=azurestorage#create-a-reference-table"
                >
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/azure-storage_large.svg" "class"
                        "img-fluid" "alt" "azure" "width" "200") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a
                    class="card h-100"
                    href="/reference_tables/?tab=cloudobjectstorage#manual-upload"
                >
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src"
                        "reference_tables/csv-uploads-placeholder.png" "class" "img-fluid" "alt"
                        "custom" "width" "200") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a
                    class="card h-100"
                    href="/reference_tables/?tab=cloudobjectstorage#google-cloud-storage"
                >
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/google-cloud-storage_large.svg" "class"
                        "img-fluid" "alt" "google cloud" "width" "200") }}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<br>