---
title: "JMX Checks"
integration_title: JMX Checks
kind: integration
git_integration_title: java
---
<div> <h3 id="subtitle">Java, Cassandra, Tomcat, ActiveMQ, Solr</h3> <h2
id="introduction">Introduction</h2> JMX Checks are agents checks that collect
metrics from applications that expose them using <a
href='http://www.oracle.com/technetwork/java/javase/tech/javamanagement-140525.html'>
JMX</a>.

<p>
  In order to collect these metrics, a lightweight Java plugin named JMXFetch is
  called by the Datadog Agent to connect to the MBean Server and to collect these
  metrics. This plugin sends metrics to the Datadog Agent using
  the Dogstatsd server running with the Agent.
</p>
<p>
  JMXFetch also sends service checks that report on the status of your monitored instances.
</p>
<p>
  JMX Checks have a limit of 350 metrics per instance which should be enough to
  satisfy your needs as it's really easy to customize which metrics you want to
  collect.  We are going to see how to do so.
</p>

<h3>Enabling JMX checks</h3>
<p>The instructions to set up these integrations from within the Datadog Agent can be found here:</p>
<ul><li><a href='https://app.datadoghq.com/account/settings#integrations/activemq' target='_blank'>Active MQ</a></li>
<li><a href='https://app.datadoghq.com/account/settings#integrations/cassandra' target='_blank'>Cassandra</a></li>
<li><a href='https://app.datadoghq.com/account/settings#integrations/java' target='_blank'>Java</a></li>
<li><a href='https://app.datadoghq.com/account/settings#integrations/solr' target='_blank'>Solr</a></li>
<li><a href='https://app.datadoghq.com/account/settings#integrations/tomcat' target='_blank'>Tomcat</a></li>
</ul>


<h2>Customization</h2>
<p>
  JMX Checks have a default configuration that will collect 13 metrics from your
  JMX application. A few of these metrics are: <code>jvm.heap_memory</code>, <code>jvm.non_heap_memory</code>,
  <code>jvm.gc.cms.count</code>... So seeing these metrics is a sign that JMXFetch is properly running.
</p>
<p>
  The yaml configuration files allow you to specify which
  metrics JMXFetch should send back to the Agent.
</p>

<h4 id="commands">Commands to view the metrics that are available:</h4>

<div class="alert alert-info">
    The <code>datadog-agent jmx</code> command was added in version 4.1.0.
</div>

<ul>
<li>
List attributes that match at least one of your instances configuration: <br><code>sudo /etc/init.d/datadog-agent jmx list_matching_attributes</code>
</li>
<li>
List attributes that do match one of your instances configuration but that are not
being collected because it would exceed the number of metrics that can be
collected:<br> <code>sudo /etc/init.d/datadog-agent jmx list_limited_attributes</code>
</li>
<li>
List attributes that will actually be collected by your current instances configuration:<br> <code>sudo /etc/init.d/datadog-agent jmx list_collected_attributes</code>
</li>
<li>
List attributes that don't match any of your instances configuration:<br> <code>sudo /etc/init.d/datadog-agent jmx list_not_matching_attributes</code>
</li>
<li>List every attributes available that has a type supported by JMXFetch:<br> <code>sudo /etc/init.d/datadog-agent jmx list_everything</code> </li>
<li>
Start the collection of metrics based on your current configuration and display them in the console:<br> <code>sudo /etc/init.d/datadog-agent jmx collect</code>
</li>
</ul>

<h4>How to customize which metrics to collect:</h4>
Like every other Agent Check, JMX Checks have 2 main sections:
<ul>
<li><code>init_config</code>: Settings that will be applied to every instances</li>
<li><code>instances</code>: Settings used to configure instances</li>
</ul> See <a href='http://docs.datadoghq.com/guides/agent_checks/#config'>this page for more information</a>.<br><br>

JMX checks require a <code>conf</code> section that has to be placed within either the <code>init_config</code> section or the <code>instances</code> section.<br><br>

The <code>conf</code> section will be used to determine what JMX attributes should be collected and sent as metrics to Datadog.

<br /><br /> The configuration section looks like this: <%=snippet_code_block "jmx-basic-conf.yaml" %>

The <code>conf</code> parameter is a list of dictionaries. Only 2 keys are
allowed in this dictionary: <br /> <ul> <li><code>include</code>
(<b>mandatory</b>): Dictionary of filters, any attribute that matches these
filters will be collected unless it also matches the "exclude" filters (see
below)</li> <li><code>exclude</code> (<b>optional</b>): Another dictionary of
filters. Attributes that match these filters won't be collected</li> </ul>

<p>
For a given bean, metrics get tagged in the following manner:
<pre><code>mydomain:attr0=val0,attr1=val1</code></pre>

Your metric will be mydomain (or some variation depending on the attribute
inside the bean) and have the tags <code>attr0:val0, attr1:val1, domain:mydomain</code>.
</p>


<h3>Description of the filters</h3>
Each <code>include</code> or <code>exclude</code> dictionary supports the following keys:
<ul>
  <li>
    <code>domain</code>: a <a href="#update-note">list</a> of domain names (e.g. <code>java.lang</code>)
  </li>
  <li>
    <code>domain_regex</code>: a <a href="#update-note">list</a> of regexes on the domain name (e.g. <code>java\.lang.*</code>)
  </li>
  <li>
    <code>bean</code> or <code>bean_name</code>: A <a href="#update-note">list</a> of full bean names (e.g. <code>java.lang:type=Compilation</code>)
  </li>
  <li>
    <code>bean_regex</code>: A <a href="#update-note">list</a> of regexes on the full bean names (e.g. <code>java\.lang.*[,:]type=Compilation.*</code>)
  </li>
  <li>
    <code>attribute</code>: A <a href="#update-note">list</a> or a dictionary of attribute names (see below for more details)
  </li>
</ul>


<p>
  The regexes defined in <code>domain_regex</code> and <code>bean_regex</code> must conform to <a href="http://docs.oracle.com/javase/6/docs/api/java/util/regex/Pattern.html">Java's regular expression format</a>.
</p>

<div class="alert alert-info">
    The <code>domain_regex</code> and <code>bean_regex</code> filters were added in version 5.5.0.
</div>

<p>
  On top of these parameters, the filters support "custom" keys which means that you
  can filter by bean parameters. For example, if you want to collect metrics regarding the Cassandra
  cache, you could use the <code>type:</code> <code>  - Caches</code> filter: <%=snippet_code_block "jmx-cassandra-cache.yaml" %>
</p>

<h4>The <code>attribute</code> filter</h4>

<p>The <code>attribute</code> filter can accept two types of values:</p>
<ul>
  <li>
    A dictionary whose keys are attributes names:
  </li>
</ul>
<%=snippet_code_block "jmx-attribute-dict.yaml" %>
<p>In that case you can specify an alias for the metric that will become the metric name in Datadog.
You can also specify the metric type either a gauge or a counter. If you choose
counter, a rate per second will be computed for this metric.</p>
<ul>
  <li>
    A list of attributes names:
  </li>
</ul>
<%= snippet_code_block "jmx-attribute-list.yaml" %>
In that case:
<ul>
    <li>The metric type will be a gauge</li>
    <li>The metric name will be jmx.[DOMAIN_NAME].[ATTRIBUTE_NAME]</li>
</ul>

<p>
Here is another filtering example:

<pre><code>instances:
  - host: 127.0.0.1
    name: jmx_instance
    port: 9999

init_config:
  conf:
    - include:
        bean: org.apache.cassandra.metrics:type=ClientRequest,scope=Write,name=Latency
        attribute:
          - OneMinuteRate
          - 75thPercentile
          - 95thPercentile
          - 99thPercentile
</code></pre>


</p>

</div>
<h4 id="update-note">Note</h4>
List of filters is only supported in Datadog Agent > 5.3.0. If you are using an older version, please use singletons and multiple `include` statements instead.
<pre><code># Datadog Agent > 5.3.0
  conf:
    - include:
       domain: domain_name
       bean:
         - first_bean_name
         - second_bean_name
...
</code></pre>
<pre><code># Older Datadog Agent versions
  conf:
    - include:
        domain: domain_name
        bean: first_bean_name
    - include:
        domain: domain_name
        bean: second_bean_name
...
</code></pre>

<h2>Metrics</h2>

<%= get_metrics_from_git()%>

<h2>Troubleshooting</h2>
<h4>The 350 metric limit</h4>
<p>
  Due to the nature of
  these integrations, it is possible to submit an extremely high number of
  metrics directly to Datadog. What we've found in speaking with many customers
  is that some of these metrics are not needed; thus, we've set the limit at 350 metrics.
</p>
<p>To see what you're collecting and get below the limit, begin by using the commands seen <a href='#commands'>above</a> to investigate what metrics are available.
We then recommend creating filters to refine what metrics are collected.
If you believe you need more than 350 metrics, please reach out to <a href="mailto:support@datadoghq.com">support@datadoghq.com</a>.</p>
<h4>Java Path</h4>
<p>The agent does not come with a bundled JVM, but will use the one installed on your system. Therefore you must make sure that the Java home directory is present in the path of the user running the agent.</p>
<p>Alternatively, you can specify the JVM path in the integration's configuration file:</p>

<pre><code>java_bin_path: /path/to/java
</code></pre>

<h4>Monitoring JBoss/WildFly applications</h4>
<p>
<div class="alert alert-info">
    The following instructions will work on version 5.6.0 (and higher) of the Agent
</div>
JBoss/WildFly applications expose JMX over a specific protocol (Remoting JMX) that is not bundled by default with JMXFetch.
To allow JMXFetch to connect to these applications, configure it as follows:
<ol>
  <li>Locate the <code>jboss-cli-client.jar</code> file on your JBoss/WildFly server (by default, its path should be <code>$JBOSS_HOME/bin/client/jboss-cli-client.jar</code>).</li>
  <li>If JMXFetch is running on a different host than the JBoss/WildFly application, copy <code>jboss-cli-client.jar</code> to a location on the host JMXFetch is running on.</li>
  <li>Add the path of the jar to the <code>init_config</code> section of your configuration:
<pre><code># Datadog Agent >= 5.6.0

init_config:
  custom_jar_paths:
    - /path/to/jboss-cli-client.jar
</code></pre>
  </li>
  <li>Specify a custom URL that JMXFetch will connect to, in the <code>instances</code> section of your configuration:
<pre><code># Datadog Agent >= 5.6.0

# The jmx_url may be different depending on the version of JBoss/WildFly you're using
# and the way you've set up JMX on your server
# Please refer to the relevant documentation of JBoss/WildFly for more information
instances:
  - jmx_url: "service:jmx:remoting-jmx://localhost:9999"
    name: jboss-application  # Mandatory, but can be set to any value,
                             # will be used to tag the metrics pulled from that instance
</code></pre>
  </li>
  <li>Restart the agent: <code>sudo /etc/init.d/datadog-agent</code></li>
</ol>
</p>

<h4>Monitoring Tomcat with JMX Remote Lifecycle Listener enabled</h4>
<div class="alert alert-info">
    The following instructions will work on version 5.6.0 (and higher) of the Agent
</div>
If you're using Tomcat with JMX Remote Lifecycle Listener enabled (see the <a href="https://tomcat.apache.org/tomcat-7.0-doc/config/listeners.html#JMX_Remote_Lifecycle_Listener_-_org.apache.catalina.mbeans.JmxRemoteLifecycleListener">Tomcat documentation</a> for more information), JMXFetch will need some extra setup to be able to connect to your Tomcat application.
<ol>
  <li>Locate the <code>catalina-jmx-remote.jar</code> file on your Tomcat server (by default, its path should be <code>$CATALINA_HOME/lib</code>).</li>
  <li>If JMXFetch is running on a different host than the Tomcat application, copy <code>catalina-jmx-remote.jar</code> to a location on the host JMXFetch is running on.</li>
  <li>Add the path of the jar to the <code>init_config</code> section of your configuration:
<pre><code># Datadog Agent >= 5.6.0

init_config:
  custom_jar_paths:
    - /path/to/catalina-jmx-remote.jar
</code></pre>
  </li>
  <li>Specify a custom URL that JMXFetch will connect to, in the <code>instances</code> section of your configuration:
<pre><code># Datadog Agent >= 5.6.0

# The jmx_url may be different depending on the way you've set up JMX on your Tomcat server
instances:
  - jmx_url: "service:jmx:rmi://<hostname>:10002/jndi/rmi://<hostname>:10001/jmxrmi"
    name: tomcat-application  # Mandatory, but can be set to any arbitrary value,
                              # will be used to tag the metrics pulled from that instance
</code></pre>
  </li>
  <li>Restart the agent: <code>sudo /etc/init.d/datadog-agent</code></li>
</ol>
