---
core_product:
- monitorización Synthetic
- ci-cd
title: ejecución de test
---
En la monitorización Synthetic y CI Test Visibility de Datadog, una ejecución de test es un conjunto de tests ejecutados en el software para garantizar su funcionalidad. Una ejecución de test del navegador es una simulación de una transacción web, de hasta 25 pasos. Para obtener más información, <a href="/continuous_testing/explorer/search_runs/">consulta la documentación</a>.