{{ $dot := . }}
<div class="mcp-server-agents-containers">
    <div class="container cards-dd">
        <div class="row row-cols-7 g-1 g-xl-2 justify-content-sm-center">
            <div class="col">
                <a class="card h-100" href="/bits_ai/mcp_server/setup?tab=cursor" title="Cursor" data-bs-toggle="tooltip" data-bs-placement="top">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/cursor_avatar.svg" "class" "img-fluid" "alt" "Cursor" "width" "150") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/bits_ai/mcp_server/setup?tab=claudecode" title="Claude Code" data-bs-toggle="tooltip" data-bs-placement="top">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/claude-code_avatar.svg" "class" "img-fluid" "alt" "Claude Code" "width" "150") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/bits_ai/mcp_server/setup?tab=other" title="Gemini CLI" data-bs-toggle="tooltip" data-bs-placement="top">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/google-gemini_avatar.svg" "class" "img-fluid" "alt" "Gemini CLI" "width" "150") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/bits_ai/mcp_server/setup?tab=vscode" title="VS Code" data-bs-toggle="tooltip" data-bs-placement="top">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/vscode_avatar.svg" "class" "img-fluid" "alt" "VS Code" "width" "150") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/bits_ai/mcp_server/setup?tab=other" title="Warp" data-bs-toggle="tooltip" data-bs-placement="top">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/warp_avatar.png" "class" "img-fluid" "alt" "Warp" "width" "150") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/bits_ai/mcp_server/setup?tab=other" title="Devin" data-bs-toggle="tooltip" data-bs-placement="top">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/devin.png" "class" "img-fluid" "alt" "Devin" "width" "150") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/bits_ai/mcp_server/setup?tab=jetbrainsides" title="JetBrains" data-bs-toggle="tooltip" data-bs-placement="top">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/jetbrains-ides_avatar.svg" "class" "img-fluid" "alt" "JetBrains" "width" "150") }}
                    </div>
                </a>
            </div>
        </div>
        <div class="row row-cols-7 g-1 g-xl-2 justify-content-sm-center mt-1">
            <div class="col">
                <a class="card h-100" href="/bits_ai/mcp_server/setup?tab=codex" title="Codex CLI" data-bs-toggle="tooltip" data-bs-placement="top">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/codex_avatar.svg" "class" "img-fluid" "alt" "Codex CLI" "width" "150") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/bits_ai/mcp_server/setup?tab=claude" title="Claude Desktop" data-bs-toggle="tooltip" data-bs-placement="top">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/claude_app.png" "class" "img-fluid" "alt" "Claude Desktop" "width" "150") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/bits_ai/mcp_server/setup?tab=other" title="Goose" data-bs-toggle="tooltip" data-bs-placement="top">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/goose.svg" "class" "img-fluid" "alt" "Goose" "width" "150") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/bits_ai/mcp_server/setup?tab=other" title="OpenCode" data-bs-toggle="tooltip" data-bs-placement="top">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/opencode.svg" "class" "img-fluid" "alt" "OpenCode" "width" "150") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/bits_ai/mcp_server/setup?tab=other" title="GitHub Copilot" data-bs-toggle="tooltip" data-bs-placement="top">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/github-copilot_avatar.svg" "class" "img-fluid" "alt" "GitHub Copilot" "width" "150") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/bits_ai/mcp_server/setup?tab=kiro" title="Kiro" data-bs-toggle="tooltip" data-bs-placement="top">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/kiro.svg" "class" "img-fluid" "alt" "Kiro" "width" "150") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/bits_ai/mcp_server/setup?tab=other" title="Custom Agent" data-bs-toggle="tooltip" data-bs-placement="top">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "icons/developers.png" "class" "img-fluid" "alt" "Custom Agent" "width" "150") }}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<br>
