{{ $dot := . }}
<div class="logs-languages">
    <div class="container cards-dd">
        <div class="card-deck">
            <a class="card" href="/logs/log_collection/java">
                <div class="card-body text-center py-2 px-1">
                    {{ partial "img.html" (dict "root" . "src" "integrations_logos/java.png" "class" "img-fluid" "alt" "Java" "width" "400") }}
                </div>
            </a>
            <a class="card" href="/logs/log_collection/python">
                <div class="card-body text-center py-2 px-1">
                    {{ partial "img.html" (dict "root" . "src" "integrations_logos/python.png" "class" "img-fluid" "alt" "Python" "width" "400") }}
                </div>
            </a>
            <a class="card" href="/logs/log_collection/go">
                <div class="card-body text-center py-2 px-1">
                    {{ partial "img.html" (dict "root" . "src" "integrations_logos/golang.png" "class" "img-fluid" "alt" "Go" "width" "400") }}
                </div>
            </a>
            <a class="card" href="/logs/log_collection/ruby">
                <div class="card-body text-center py-2 px-1">
                    {{ partial "img.html" (dict "root" . "src" "integrations_logos/ruby.png" "class" "img-fluid" "alt" "Ruby" "width" "400") }}
                </div>
            </a>
            <a class="card" href="/logs/log_collection/csharp">
                <div class="card-body text-center py-2 px-1">
                    {{ partial "img.html" (dict "root" . "src" "integrations_logos/dotnet.png" "class" "img-fluid" "alt" ".Net" "width" "400") }}
                </div>
            </a>
        </div>
        <br />
        <div class="card-deck">
            <a class="card" href="/logs/log_collection/php">
                <div class="card-body text-center py-2 px-1">
                    {{ partial "img.html" (dict "root" . "src" "integrations_logos/php.png" "class" "img-fluid" "alt" "PHP" "width" "400") }}
                </div>
            </a>
            <a class="card" href="/logs/log_collection/nodejs">
                <div class="card-body text-center py-2 px-1">
                    {{ partial "img.html" (dict "root" . "src" "integrations_logos/nodejs.png" "class" "img-fluid" "alt" "Node.js" "width" "400") }}
                </div>
            </a>
            <a class="card" href="/logs/log_collection/javascript">
                <div class="card-body text-center py-2 px-1">
                    {{ partial "img.html" (dict "root" . "src" "integrations_logos/javascript.png" "class" "img-fluid" "alt" "PHP" "width" "400") }}
                </div>
            </a>
            <a class="card" href="/logs/log_collection/android">
                <div class="card-body text-center py-2 px-1">
                    {{ partial "img.html" (dict "root" . "src" "integrations_logos/android.png" "class" "img-fluid" "alt" "PHP" "width" "400") }}
                </div>
            </a>
        </div>
    </div>
</div>
