{{ $dot := . }}
<div class="logs-languages">
<div class="container cards-dd">
<div class="row row-cols-2 row-cols-sm-5 g-2 g-xl-3 justify-content-sm-center">
<div class="col">
<a class="card h-100" href="/logs/log_collection/java">
<div class="card-body text-center py-2 px-1">
{{ partial "img.html" (dict "root" . "src" "integrations_logos/java.png" "class" "img-fluid" "alt" "Java" "width" "400") }}
</div>
</a>
</div>
<div class="col">
<a class="card h-100" href="/logs/log_collection/python">
<div class="card-body text-center py-2 px-1">
{{ partial "img.html" (dict "root" . "src" "integrations_logos/python.png" "class" "img-fluid" "alt" "Python" "width" "400") }}
</div>
</a>
</div>
<div class="col">
<a class="card h-100" href="/logs/log_collection/go">
<div class="card-body text-center py-2 px-1">
{{ partial "img.html" (dict "root" . "src" "integrations_logos/go-metro.png" "class" "img-fluid" "alt" "go" "width" "400") }}
</div>
</a>
</div>
<div class="col">
<a class="card h-100" href="/logs/log_collection/ruby">
<div class="card-body text-center py-2 px-1">
{{ partial "img.html" (dict "root" . "src" "integrations_logos/ruby.png" "class" "img-fluid" "alt" "Ruby" "width" "400") }}
</div>
</a>
</div>
<div class="col">
<a class="card h-100" href="/logs/log_collection/csharp">
<div class="card-body text-center py-2 px-1">
{{ partial "img.html" (dict "root" . "src" "integrations_logos/dotnet_text.png" "class" "img-fluid" "alt" ".Net" "width" "400") }}
</div>
</a>
</div>
<div class="col">
<a class="card h-100" href="/logs/log_collection/php">
<div class="card-body text-center py-2 px-1">
{{ partial "img.html" (dict "root" . "src" "integrations_logos/php.png" "class" "img-fluid" "alt" "PHP" "width" "400") }}
</div>
</a>
</div>
<div class="col">
<a class="card h-100" href="/logs/log_collection/nodejs">
<div class="card-body text-center py-2 px-1">
{{ partial "img.html" (dict "root" . "src" "integrations_logos/nodejs.png" "class" "img-fluid" "alt" "Node.js" "width" "400") }}
</div>
</a>
</div>
<div class="col">
<a class="card h-100" href="/logs/log_collection/javascript">
<div class="card-body text-center py-2 px-1">
{{ partial "img.html" (dict "root" . "src" "integrations_logos/javascript.png" "class" "img-fluid" "alt" "Javascript" "width" "400") }}
</div>
</a>
</div>
<div class="col">
<a class="card h-100" href="/logs/log_collection/reactnative">
<div class="card-body text-center py-2 px-1">
{{ partial "img.html" (dict "root" . "src" "integrations_logos/react_native.png" "class" "img-fluid" "alt" "React Native" "width" "400") }}
</div>
</a>
</div>
<div class="col">
<a class="card h-100" href="/logs/log_collection/android">
<div class="card-body text-center py-2 px-1">
{{ partial "img.html" (dict "root" . "src" "integrations_logos/android.png" "class" "img-fluid" "alt" "Android" "width" "400") }}
</div>
</a>
</div>
<div class="col">
<a class="card h-100" href="/logs/log_collection/ios">
<div class="card-body text-center py-2 px-1">
{{ partial "img.html" (dict "root" . "src" "integrations_logos/ios_large.svg" "class" "img-fluid" "alt" "ios" "width" "400") }}
</div>
</a>
</div>
<div class="col">
<a class="card h-100" href="/logs/log_collection/flutter">
<div class="card-body text-center py-2 px-1">
{{ partial "img.html" (dict "root" . "src" "integrations_logos/flutter_large.svg" "class" "img-fluid" "alt" "Flutter" "width" "400") }}
</div>
</a>
</div>
<div class="col">
<a class="card h-100" href="/logs/log_collection/roku">
<div class="card-body text-center py-2 px-1">
{{ partial "img.html" (dict "root" . "src" "integrations_logos/roku_large.svg" "class" "img-fluid" "alt" "Roku" "width" "400") }}
</div>
</a>
</div>
</div>
</div>
</div>
