{{ $dot := . }}
<div class="dsm-containers">
  <div class="container cards-dd">
    <div class="row row-cols-4 row-cols-sm-8 g-2 g-xl-3 justify-content-sm-center">
      <div class="col">
        <a class="card h-100" href="/data_streams/setup/technologies/kafka/">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/kafka.png" "class" "img-fluid" "alt" "Kafka"
            "width" "200") }}
          </div>
        </a>
      </div>

      <div class="col">
        <a class="card h-100" href="/data_streams/setup/technologies/sqs/">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/sqs.png" "class" "img-fluid" "alt" "Amazon
            SQS" "width" "200") }}
          </div>
        </a>
      </div>

      <div class="col">
        <a class="card h-100" href="/data_streams/setup/technologies/rabbitmq/">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/rabbitmq.png" "class" "img-fluid" "alt"
            "RabbitMQ" "width" "200") }}
          </div>
        </a>
      </div>

      <div class="col">
        <a class="card h-100" href="/data_streams/setup/technologies/sns/">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/amazon_sns.png" "class" "img-fluid" "alt"
            "Amazon SNS" "width" "200") }}
          </div>
        </a>
      </div>

      <div class="col">
        <a class="card h-100" href="/data_streams/setup/technologies/kinesis/">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/amazon_kinesis.png" "class" "img-fluid" "alt"
            "Kinesis" "width" "200") }}
          </div>
        </a>
      </div>

      <div class="col">
        <a class="card h-100" href="/data_streams/setup/technologies/google_pubsub/">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/google_cloud_pubsub.png" "class" "img-fluid"
            "alt" "Google Cloud Pub/Sub" "width" "200") }}
          </div>
        </a>
      </div>

      <div class="col">
        <a class="card h-100" href="/data_streams/setup/technologies/ibm_mq/">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/ibm_mq.png" "class" "img-fluid" "alt" "IBM
            MQ" "width" "200") }}
          </div>
        </a>
      </div>

      <div class="col">
        <a class="card h-100" href="/data_streams/setup/technologies/azure_service_bus/">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/azure_service_bus.png" "class" "img-fluid"
            "alt" "Azure Service Bus" "width" "200") }}
          </div>
        </a>
      </div>

      <div class="col">
        <a class="card h-100" href="/data_streams/setup/technologies/bullmq/">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/bullmq.png" "class" "img-fluid" "alt"
            "BullMQ" "width" "200") }}
          </div>
        </a>
      </div>

    </div>
  </div>
</div>