{{/*  "Inserts a banner at the top of the page if a site is not supported"  */}}
{{ $dot := . }}

{{/*  "Translation support"  */}}
{{$text := .Site.Params.site_support_banner | default "" | safeHTML }}

{{ $unsupported_product := partial "site_support_banner/get_unsupported_regions.html" . }}

{{ if $unsupported_product }}
    {{/*  "Concatenate the unsupported regions into a comma separated list"  */}}
    {{ $unsupported_regions := "" }}
    {{ range $unsupported_product }}
        {{ $unsupported_regions = printf "%s%s," $unsupported_regions . }}
    {{ end }}

    {{/*  "Remove the trailing comma"  */}}
    {{ $unsupported_regions = substr $unsupported_regions 0 -1 }}

    <div class="d-none site-region-container" data-region="{{ $unsupported_regions }}">
        <div class="alert alert-danger">{{ $text }} ({{ partial "region-param" (dict "key" "dd_site_name") }}).</div>
    </div>
{{ end }}


