

{{ define "main" }}
<div class="row">
  <div class="col-12 order-1">
      <h1 id="pagetitle">{{ .Title }}</h1>
  </div>
  <div class="col-12">
      {{ partial "breadcrumbs.html" . }}
  </div>
</div>
{{ partial "translate_status_banner/translate_status_banner.html" . }}

{{ $wrappedTable := printf "<div class=table-wrapper> ${1} </div>" }} 
{{ .Content | replaceRE "(<table>(?:.|\n)+?</table>)" $wrappedTable | safeHTML }}

{{ $pad := newScratch }}

{{/*  
Resource category

Cloud provider

Resource type  */}}

{{/*  
I need to get unique values for rc, cp and rt for the filtere section
*/}}
<div 
class="static-analysis-main w-100 min-vh-100 d-flex flex-column"
x-data="{
  filterTypes: {
    'resource-category': [],
    'cloud-provider': [],
    'resource-type': []
  },
  searchValue: '',
  openedFilterForm: null,
  filteredRulesets: new Set(),
  showEmptyResultsMsg: false,
  toggleFilterForm (selectedFilterFormEl) {
    // manage filter form accordian

    const filterTypeID = selectedFilterFormEl.dataset.id
    this.openedFilterForm = (this.openedFilterForm === filterTypeID) ? null : filterTypeID
  },
  shouldShowRule (ruleEl) {
      // Determines rule display
      // Compares search values and filter values against ruleInfo
      const ruleInfo = ruleEl.dataset.info.split(';') //seperate filter values from search vals
      const ruleFilterInfo = ruleInfo[0].toLowerCase().split(',')
      const ruleSearchInfo = ruleInfo.slice(1).join(' ').toLowerCase()

      const filterValues = Object.values(this.filterTypes)
      const searchValues = this.searchValue.split(' ')

      /**
      *   FILTER LOGIC (containsFilteredValue) e.g.:
      *   filterTypes: {
      *     'resource-category': [],
      *     'cloud-provider': [],
      *     'resource-type': []
      *   }
      */

      const containsFilteredValue = filterValues.every((t, idx) => t.length ? t.some(f => ruleFilterInfo[idx] === f.toLowerCase()) : true ) // checks filter attrs match at least one filter value. allows for multiple selection of a filter type. scrict. filter value must match correct filter type
      const containsSearchValues = searchValues.every(word => ruleSearchInfo.includes(word.toLowerCase())) // checks search attrs match a typed query

      
      if(containsSearchValues && containsFilteredValue){
        ruleEl.classList.add('show')
        this.filteredRulesets.add(ruleEl.dataset.id)
      }else{
          ruleEl.classList.remove('show')    
      }

      return containsSearchValues && containsFilteredValue
  },
  resetFilteredRulesets () {
    // Empty filtered rulesets
    this.filteredRulesets = new Set()
  },
  deleteOneSelection (filterType, filterOption) {
    // delete one filterOption from selections in filter toggler
    
    this.filterTypes[filterType] = this.filterTypes[filterType].filter(s => s !== filterOption)
    this.pushState(filterType, filterOption)
  },
  deleteAllSelections (filterType) {
    // delete all selections of a filter type from filter toggler and url params

    this.filterTypes[filterType] = []
    this.openedFilterForm = null
    const url = new URL(window.location.href)

    url.searchParams.delete(filterType)
    window.history.pushState(null,'', url.toString())
  },
  updateWithURLParams () {
      // Updates x-data properties with url param values
      
      const url = new URL(window.location.href)
      Array.from(url.searchParams.entries()).forEach(([key, value]) => {
          if (key === 'search'){
              this.searchValue = value
          } else {
              this.filterTypes[key]?.push(value)
          }
      })
  },
  pushState (filterType=undefined, filterOption=undefined) {
      // Updates url with new query params for filter type and search without refreshing the page

      const url = new URL(window.location.href)
      let newURL = ''
      if(filterType){
          if(!url.searchParams.getAll(filterType).includes(filterOption)){
              // add one key:value param
              url.searchParams.append(filterType, filterOption)
            }else{
              // remove one key:value param

              function encode (match) {
                // helper function to encode some special characters. 
                // accounting for how the url toString method encodes characters
                return match === ' ' ? '\\+': '%'+ match.charCodeAt(0).toString(16).toUpperCase()
              }
              const regex = new RegExp(`([\\&\\?])${filterType}=${filterOption.replace(/[\s()!*\[\]%,]/g, encode)}(?=\&|$)`, 'g');
              newURL = url.toString().replaceAll(regex, '').replace('/&', '/?')
          }
          if(!this.filterTypes[filterType].length) {
             url.searchParams.delete(filterType)
          }
      }else {
          url.searchParams.set('search', this.searchValue)
          if(!this.searchValue) {
              url.searchParams.delete('search')
          }
      }

      window.history.pushState(null,'', newURL || url.toString())
  },
  emptyResultsMsg () {
      // Determine and return the appropriate empty results message

      const filterValues = Object.values(this.filterTypes).flat().map(item => item.split(',')[0]).join(', ')
      if(filterValues.length && this.searchValue){
          return `No results found for query on search: '${this.searchValue}' and filter: '${filterValues}'`
      }else{
          return `No results found for query '${this.searchValue || filterValues}'`
      }
  }

}"
x-init="updateWithURLParams()">
  <div class="col-12 order-1">
    <div class="table-wrapper pb-3">
      <table>
        <thead class="table-header">
          <tr>
            <th>Recommendation Category</th>
            <th>Cloud Provider</th>
            <th>Resource Type</th>
            <th>Recommendation Type</th>
            <th>Recommendation Description</th>
            <th>Recommendation Prerequisites</th>
          </tr>
        </thead>
      <tbody>
      {{ $int := 0 }}
      {{ range .Params.recommendations }}
        {{/*  
            build a string with rule's lookup info for filtering and searching against. must maintain filter_info order to align with filterTypes prop.
        */}}
        {{ $filter_info := (printf "%s,%s,%s" .category .cloud_provider .resource_type) }}
        {{ $all_info := (delimit (slice $filter_info (.recommendation_type|lower) (.recommendation_description|lower) (.recommendation_prerequisites|lower) ) ";") }}
        <tr 
        data-id="{{$int}}"
        data-info="{{ $all_info }}"
        x-cloak x-show.important="shouldShowRule($el)">
          <td>{{.category}}</td>
          <td>{{.cloud_provider}}</td>
          <td>{{.resource_type}}</td>
          <td>{{.recommendation_type | markdownify}}</td>
          <td>{{.recommendation_description | markdownify}}</td>
          <td>{{.recommendation_prerequisites | markdownify}}</td>
        </tr>
        {{/*  
            build object with unique values for filter dropdowns (.filter-selection-container)
            e.g:
            filters: {
                Resource Category: [],
                Cloud Provider: [],
                Resource Type: []
            }
        */}}
        {{ $pad.SetInMap "filters" "Resource Category" (union (index ($pad.Get "filters") "Resource Category") (slice .category)) }}
        {{ $pad.SetInMap "filters" "Cloud Provider" (union (index ($pad.Get "filters") "Cloud Provider") (slice .cloud_provider)) }}
        {{ $pad.SetInMap "filters" "Resource Type" (union (index ($pad.Get "filters") "Resource Type") (slice .resource_type)) }}
        {{ $int = add $int 1 }}
      {{ end }}
      </tbody>
      </table>
      {{/*  hook into the app lifecycle. $watch for 'filteredRulesets' to change and update the 'showEmptyResultsMsg' property  */}}
      <div x-init="
        showEmptyResultsMsg = !filteredRulesets.size; 
        $watch('filteredRulesets', value => showEmptyResultsMsg = !value.size)
        ">
        {{/*  $watch('filteredRulesets', value => showEmptyResultsMsg = !value.size)  */}}
        <template x-if="showEmptyResultsMsg">
            <span class="fw-semibold" x-text="emptyResultsMsg"></span>
        </template>
      </div>
    </div>
  </div>
  {{/*  NAV - Keep here. scratch pad for filters need to form first */}}
  <nav id="static-analysis-nav" class="container px-0">
    {{ $filter_types := (slice "Resource Category" "Cloud Provider" "Resource Type") }}
    <div class="filters-static-analysis row">
        {{ range $k, $v := $filter_types }}
        {{ $filter_type := $v | anchorize }}
        <div class='filter-type flex-column col-12 col-md-{{cond (eq $filter_type "resource-category") "12" "6" }}' data-id="{{$filter_type}}" >
            <p class="filter-type-name fw-semibold">{{ $v }}</p>
            <div class="filter-component position-relative">
                {{/*  FILTER TOGGLER  */}}
                <button 
                data-id="{{$filter_type}}"
                class="toggler w-100 rounded position-relative"
                @click.stop="toggleFilterForm($el)">
                    <div class="selections d-flex">
                        {{/*  All  */}}
                        <template x-if="!filterTypes['{{$filter_type}}'].length">
                            <span class="all fw-semibold">All</span>
                        </template>
                        {{/*  Show filter selections from `filterTypes` data in button as they are selected */}}
                        <template x-for="(filter, idx) in filterTypes['{{$filter_type}}']" :key="idx">
                            <div 
                            :data-id="filter.toLowerCase().replaceAll(' ', '-')" 
                            class="selection-container rounded d-flex align-items-center">
                                <span class="selection-name" x-text="filter"></span>
                                {{/*  Delete one selection (x) */}}
                                <div 
                                :data-id="filter.toLowerCase().replaceAll(' ', '-')" 
                                class="close-light-wrapper" @click.stop="resetFilteredRulesets; deleteOneSelection('{{ $filter_type }}', filter )">
                                    {{ partial "icon" (dict "name" "close-light_x" "title" "delete" "size" "14px") }}
                                </div>
                            </div>
                        </template>
                    </div>
                    {{/*  Delete all selections for a filter type  */}}
                    <div class="overflow-gradient h-100 position-absolute top-0 end-0 rounded-end">
                        <template x-if="filterTypes['{{$filter_type}}'].length">
                            <span class="cancel-circle-wrapper" @click.stop="resetFilteredRulesets; deleteAllSelections('{{ $filter_type }}')">
                                {{ partial "icon" (dict "name" "x-circle-solid" "title" "delete all" ) }}
                            </span>
                        </template>
                        <span class="chevron-wrapper d-flex align-items-center justify-content-center position-relative h-100">
                            <div class="chevron chevron-down"></div>
                        </span>
                    </div>
                </button>
                {{/*  FILTER FORM  */}}
                <form 
                data-id="{{$filter_type}}"
                class="d-flex flex-column bg-white rounded position-absolute w-100"
                x-cloak x-show.important="openedFilterForm === '{{$filter_type}}'"
                @click.outside="openedFilterForm = null"
                >
                    <div class="filter-selection-container">
                        <span>All</span>
                    </div>

                    {{ range (index ($pad.Get "filters") $v) | sort  }}
                    {{ $id := (printf "%s-%s" . $filter_type) | anchorize }}
                    <div class="filter-selection-container">
                        <input 
                        id='{{ $id }}' 
                        type="checkbox" 
                        value='{{ . }}' 
                        x-model="filterTypes['{{$filter_type}}']"
                        @change="resetFilteredRulesets"
                        @change.debounce="pushState('{{ $filter_type }}', '{{ . }}')"
                        >  
                        
                        <label for="{{ $id }}" class="d-flex align-items-center">
                            {{.}}
                        </label>
                    </div>
                    {{ end }}
                </form>
            </div>                      
          
        </div>
        {{ end }}
    </div>
    {{/*  SEARCH FORM */}}
    <form class="search-static-analysis" @submit.prevent="">
        <input type="text" placeholder="Search here" class="w-100 px-1" x-model="searchValue" @input="resetFilteredRulesets" @input.debounce="pushState()">
    </form>
  </nav>
</div>
{{ end }}
