{{ $dot := . }}
{{ $ctx := .context }}

<!-- From data file -->
{{ $integration_list := (where $ctx.Site.Data.product.integrations.integrations "public" true) }}

<!-- build filters -->
{{ $ctx.Scratch.Set "filters" (slice)}}
{{ range $index, $element := $integration_list }}
    {{ range $e := $element.categories }}
        {{ if not (in ($ctx.Scratch.Get "filters") $e) }}
            {{ $ctx.Scratch.Add "filters" $e }}
        {{ end }}
    {{ end }}
{{ end }}
{{ $filters := ($ctx.Scratch.Get "filters") }}

<ul class="list-unstyled">
    <li><a data-ref="filter" data-filter="all" href="#all" class="">ALL</a></li>
    {{ if $filters }}
        {{ range $i, $e := (sort $filters) }}
            <li><a data-ref="filter" data-filter=".cat-{{ replace $e "/" "" | urlize }}" href="#cat-{{ replace $e "/" "" | urlize }}" class="">{{ $e }}</a></li>
        {{ end }}
    {{ end }}
</ul>