{{ $dot := . }}
{{ $ctx := .context }}
<ul class="list-unstyled">
    {{ range $index, $element := .data }}
        {{ $split_urls := split $ctx.RelPermalink "/" }}
        {{ $url_first := print "/" (index $split_urls 1) "/" }}
        {{ $url_first_second := print $url_first (index $split_urls 2) "/" }}
        {{ $el_url_first := print "/" (index (split $element.URL "/") 1) "/" }}
        <!-- if url matches then active link or if second part in url and no children --->
        {{ $active_page := (or (eq $ctx.RelPermalink $element.URL) (and (eq $url_first_second $element.URL) (not $element.Children)) (and (eq $url_first "/integrations/") (eq $element.URL "/integrations/") ) ) }}
        {{ $open_parent := (or (and (eq $url_first $element.URL) (ne $element.URL "/")) (eq $url_first_second $element.URL) $active_page) }}
        <li class="{{if $open_parent }}open{{ end }}">
            <a href="{{ $dot.Site.BaseURL }}{{ $element.URL }}" {{if $active_page }}class="active"{{ end }}>
                {{ if $element.Pre }}{{- partial "img.html" (dict "root" $ctx "src" (print "icons/" ($element.Pre) ".png") "class" "static" "alt" "icon" "width" "21" "img_param" "?ch=Width,DPR&fit=max&auto=format&w=21") -}}{{- partial "img.html" (dict "root" $ctx "src" (print "icons/" ($element.Pre) "_p.png") "class" "hover" "alt" "icon" "width" "21" "img_param" "?ch=Width,DPR&fit=max&auto=format&w=21" "disable_lazy" "true") -}}{{ end }} <span>{{ $element.Name }}</span>
            </a>
            {{ if eq $element.Name "Integrations" }}
                {{/* partial "sidenav/integrations-nav.html" (dict "context" $ctx) */}}
                {{ if $element.Children }}
                    {{ partial "sidenav/recursive-nav.html" (dict "context" $ctx "data" $element.Children) }}
                {{ end }}
            {{ else }}
                {{ if $element.Children }}
                    {{ partial "sidenav/recursive-nav.html" (dict "context" $ctx "data" $element.Children) }}
                {{ end }}
            {{ end }}
        </li>
    {{ end }}
</ul>