{{ $dot := . }}

<div class="mobilequicknav row align-items-center no-gutters">
    <a href="https://www.datadoghq.com" class="col text-center">
        {{ partial "img.html" (dict "root" $dot "src" "icons/nav_home.png" "class" "static" "alt" "home" "width" "21") }}
        {{ i18n "home" }}
    </a>
    <a href="{{ "" | absLangURL }}" class="col text-center">
        {{ partial "img.html" (dict "root" $dot "src" "icons/nav_docs.png" "class" "static" "alt" "docs" "width" "21") }}
        {{ i18n "docs" }}
    </a>
    <a href="{{ "api/" | absLangURL }}" class="col text-center">
        {{ partial "img.html" (dict "root" $dot "src" "icons/nav_mobile_api.png" "class" "static" "alt" "api" "width" "21") }}
        {{ i18n "api" }}
    </a>
</div>

<aside class="sidenav">
    <div class="row sticky">
        <div class="col">
            <a href="{{ "" | absLangURL }}"><h4>{{ i18n "datadog_docs" }}</h4></a>
            <form class="sidenav-search" action="{{ absLangURL "search/" }}">
                <div class="input-group">
                    <input type="text" class="form-control" name="s" placeholder="{{ i18n "search" }}" aria-label="Search"/>
                    <span class="input-group-addon">{{ partial "img.html" (dict "root" . "src" "icons/nav_search.png" "alt" "search" "width" "21") }}</span>
                </div>
            </form>
            <div class="sidenav-nav">
                <ul class="list-unstyled">
                    {{ range $index, $element := .Site.Menus.main }}
                        <li class="open">
                            <a href="{{ $element.URL | absLangURL }}">
                                {{ if $element.Pre }}{{- partial "img.html" (dict "root" $dot "src" (print "icons/" ($element.Pre) ".png") "class" "static" "alt" "icon" "width" "21" "img_param" "?ch=Width,DPR&fit=max&auto=format&w=21") -}}{{- partial "img.html" (dict "root" $dot "src" (print "icons/" ($element.Pre) "_p.png") "class" "hover" "alt" "icon" "width" "21" "img_param" "?ch=Width,DPR&fit=max&auto=format&w=21" "disable_lazy" "true") -}}{{ end }} <span>{{ $element.Name }}</span>
                            </a>
                            <!-- level 2 -->
                            {{ if $element.Children }}
                                <ul class="list-unstyled">
                                    {{ range $index2, $element2 := $element.Children }}
                                        <li class="open">
                                            <a href="{{ $element2.URL | absLangURL }}">
                                                <span>{{ $element2.Name }}</span>
                                            </a>
                                            <!-- level 3 -->
                                            {{ if $element2.Children }}
                                                <ul class="list-unstyled">
                                                    {{ range $index3, $element3 := $element2.Children }}
                                                        <li class="open">
                                                            <a href="{{ $element3.URL | absLangURL }}">
                                                                <span>{{ $element3.Name }}</span>
                                                            </a>
                                                        </li>
                                                    {{ end }}
                                                </ul>
                                            {{ end }}
                                        </li>
                                    {{ end }}
                                </ul>
                            {{ end }}
                        </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</aside>


