$ddpurple:    #774DA2;

body > header.scrolled ~ .container aside.sidenav .sticky {
  top:66px;
}

.mobilequicknav {
  display:none;
}

.side {
  &:before,
  &:after {
    content:"";
    position:absolute;
    margin-left:-2000px;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:#F8F8F8;
    z-index:-1;
    height:100%;
  }
  &:after {
    background:#F2F2F2;
    height:50px;
  }
}

aside.sidenav {
  background:#F8F8F8;
  width:100%;
  //height:100%;
  //min-height:1000px;
  position:relative;
  z-index:2;
  padding-right:15px;
  padding-bottom: 50px;

  .sticky {
    .col {
      padding-right:0;
    }
  }

  &> .row {
    &:before,
    &:after {
      content:"";
      position:absolute;
      margin-left:-2000px;
      left:0;
      top:0;
      right: -15px;
      bottom:0;
      background:#F8F8F8;
      z-index:-1;
    }
    &:after {
      background:#F2F2F2;
      height:50px;
    }
  }

  h4 {
    padding:10px 0 10px 6px;
    color:$ddpurple;
    font-size:24px;
    font-weight:200;
  }

  .sidenav-search {
    padding-right: 15px;
    //margin-right: 30px;
    .input-group-addon {
      background:none;
      border:none;
      padding:6px 0 0 3px;
      border-radius:0;
      position:absolute;
      left:0;
    }
    .form-control:focus {
      border-color:$ddpurple;
      padding-left:5px;
      & ~ .input-group-addon {
        display:none;
      }
    }
    input {
      border-top:none;
      border-left:none;
      border-right:none;
      background:transparent;
      border-radius:0;
      font-size:18px;
      padding-bottom:3px;
      padding-left: 30px;
      transition: all .1s ease-in;
    }
  }

  .sidenav-nav {
    overflow-x: hidden;
    overflow-y: auto;
    ul li > ul {
      display: none;
    }
    ul li.open > ul {
      display:block;
    }
    ul li.open > ul,
    ul li.active > ul {
      li {
        padding-left:27px;
        a {
          padding:0;
        }
      }
    }
    ul {
      li {
        a {
          color:#000;
          font-size:18px;
          font-weight: 600;
          padding:6px 0 0 2px;
          display:block;
          &.active {
            color: $ddpurple;
            font-weight:600;
          }
          .hover {
            display:none;
          }
          span {
            padding-left: 5px;
          }
          span,
          img {
            vertical-align:top;
          }
          img {
            margin-top:4px;
          }
        }

        // 2nd level
        ul li {
          a {
            font-weight:200;
          }

          // 3rd level
          ul li a {
            font-size:15px;
          }
        }
      }
    }
  }
}

aside.sidenav-api {
  .sidenav-nav {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .sticky {
    top:65px;
  }
  ul li a {
    line-height: 22px;
    font-size:18px;
    font-weight:600;
    color: #000;
    padding: 6px 0 0 2px;
    display: block;
  }
  ul:first-of-type {
    margin-left:10px;
  }
  h4 {
    padding-left: 10px;
  }
  .toc_scrolled {
    color: $ddpurple !important;
    font-weight:600 !important;
  }
}

//@include media-breakpoint-up(xs) { ... }
@media (min-width: 576px) {

  aside.sidenav {
    ul {
      li {
        a {
          &:hover,
          &.active {
            color:$ddpurple;
            & .hover {
              display:inline-block;
            }
            & .static {
              display:none;
            }
          }
          .hover {
            display:none;
          }
        }
      }
    }
  }

}

@media (max-width: 1199px) {
  aside.sidenav {
    ul {
      li {
        a {
          font-size: 17px;
        }
      }
    }
  }
}