<aside class="sidenav">
    <h4>Datadog Docs</h4>
    <form class="sidenav-search">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><img width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/nav_search.png") }}" /></span>
            <input type="text" class="form-control" placeholder="Search" aria-label="Search"/>
        </div>
    </form>
    <ul class="list-unstyled">
        <li>
            <a href="{{ .Site.BaseURL }}">
                <img class="static" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/nav_start.png") }}" />
                <img class="hover" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/nav_start_p.png") }}" />
                Getting Started
            </a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}guides/basic_agent_usage/">
                <img class="static" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/nav_agent.png") }}" />
                <img class="hover" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/nav_agent_p.png") }}" />
                Agent
            </a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}integrations/">
                <img class="static" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/nav_integrations.png") }}" />
                <img class="hover" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/nav_integrations_p.png") }}" />
                Integrations
            </a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}graphing/">
                <img class="static" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/nav_graphing.png") }}" />
                <img class="hover" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/nav_graphing_p.png") }}" />
                Graphing/Visualization
            </a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}monitoring/">
                <img class="static" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/nav_alerting.png") }}" />
                <img class="hover" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/nav_alerting_p.png") }}" />
                Alerting
            </a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}tracing/">
                <img class="static" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/nav_tracing.png") }}" />
                <img class="hover" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/nav_tracing_p.png") }}" />
                Tracing/APM
            </a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}api/">
                <img class="static" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/nav_developers.png") }}" />
                <img class="hover" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/nav_developers_p.png") }}" />
                Developers
            </a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}guides/multiaccountorg/">
                <img class="static" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/nav_account.png") }}" />
                <img class="hover" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/nav_account_p.png") }}" />
                Account Management
            </a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}glossary/">
                <img class="static" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/nav_glossary.png") }}" />
                <img class="hover" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/nav_glossary_p.png") }}" />
                Glossary
            </a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}faq/">
                <img class="static" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/nav_faq.png") }}" />
                <img class="hover" width="21" src="{{ partial "img.html" (dict "root" . "src" "icons/nav_faq_p.png") }}" />
                FAQ
            </a>
        </li>
    </ul>
</aside>
