<aside class="sidenav">
    <h4>Datadog Docs</h4>
    <form class="sidenav-search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search"/>
        </div>
    </form>
    <ul class="list-unstyled">
        <li><a href="{{ .Site.BaseURL }}">Getting Started</a></li>
        <li><a href="{{ .Site.BaseURL }}guides/basic_agent_usage/">Agent</a></li>
        <li><a href="{{ .Site.BaseURL }}integrations/">Integrations</a></li>
        <li><a href="{{ .Site.BaseURL }}graphing/">Graphing/Visualization</a></li>
        <li><a href="{{ .Site.BaseURL }}monitoring/">Alerting</a></li>
        <li><a href="{{ .Site.BaseURL }}tracing/">Tracing/APM</a></li>
        <li><a href="{{ .Site.BaseURL }}api/">Developers</a></li>
        <li><a href="{{ .Site.BaseURL }}guides/multiaccountorg/">Account Management</a></li>
        <li><a href="{{ .Site.BaseURL }}glossary/">Glossary</a></li>
        <li><a href="{{ .Site.BaseURL }}faq/">FAQ</a></li>
    </ul>
</aside>
