body {
  margin-top: 5px;
  padding-top: 0px;
  line-height: 1.5;
}

h1#title {
  line-height: 1;
  margin-top: 0;
  margin-bottom: -2px;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  color: black;
  padding: 0.8em;
  border-bottom: 1px solid #ccc;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

/* first p after a header */
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: -5px;
}
