{{ $dot := . }}
<div class="dsm-containers">
  <div class="container cards-dd">
    <div class="row row-cols-2 row-cols-sm-3 g-2 g-xl-3 justify-content-sm-center">
      
        <div class="col">
            <a class="card h-100" href="/data_jobs/emr">
              <div class="card-body text-center py-2 px-1">
                {{ partial "img.html" (dict "root" . "src" "integrations_logos/amazon_emr.png" "class" "img-fluid" "alt" "Amazon EMR" "width" "200") }}
              </div>
            </a>
          </div>
          
        <div class="col">
        <a class="card h-100" href="/data_jobs/databricks/">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/databricks.png" "class" "img-fluid" "alt" "Databricks" "width" "200") }}
          </div>
        </a>
      </div>

      
      
      <div class="col">
        <a class="card h-100" href="/data_jobs/kubernetes/">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/kubernetes.png" "class" "img-fluid" "alt" "Kubernetes" "width" "200") }}
          </div>
        </a>
      </div>
      
    </div>
  </div>
</div>
