{{ $dot := . }}

<!-- get lang specific data file -->
{{ $.Scratch.Set "data" "" }}
{{ if ne $dot.Page.Lang "en"}}
    {{ if (fileExists (print "data/partials/questions." $dot.Page.Lang ".yaml")) }}
      {{ $.Scratch.Set "data" (index $dot.Page.Site.Data.partials (print "questions." $dot.Page.Lang)) }}
    {{ else }}
      {{ $.Scratch.Set "data" $dot.Page.Site.Data.partials.questions }}
    {{ end }}
{{ else }}
    {{ $.Scratch.Set "data" $dot.Page.Site.Data.partials.questions }}
{{ end }}
{{ $datafile := ($.Scratch.Get "data") }}

<hr class="mt-40"/>
<h2>{{ i18n "questions" }}</h2>
<div class="row questions">
    {{ range $datafile.questions }}
    <div class="col-6 col-md-4 mb-4">
        <a class="card" href="{{ .link | absLangURL }}">
            <div class="card-body text-center">
                {{ partial "img.html" (dict "root" $dot "src" (print "icons/" .image) "class" "static" "alt" "question" "width" "70" "height" "70") }}
                {{ partial "img.html" (dict "root" $dot "src" (print "icons/" .image_hover) "class" "hover" "alt" "question" "width" "70" "height" "70" "disable_lazy" "true") }}
                <h4 class="card-title">{{ .title }}</h4>
                <p class="d-none d-sm-block card-text">{{ .text }}</p>
            </div>
        </a>
    </div>
    {{ end }}
</div>