---
title: About the API
---

We provide a programmatic API for exploring and interacting with Datadog. This
API can be used for simple submission of events and metric series, but can also
be used to build more interesting and complex tools and integrations (see, for
example, the [Datadog CLI](/clients/#cli) or the [Datadog Chef
handler](https://github.com/DataDog/chef-handler-datadog)).

## HTTP

At its core, the Datadog API is a low-level HTTP interface that deals in JSON.
For example, to post a comment to the stream, you'd send a request that looks
something like this:

<%= request 'POST', '/api/v1/comments' %>
<%= request_headers 'Content-Type' => 'application/json' %>
<%= http_body <<eos
{
  "handle": "matt",
  "message": "Hello, Datadog!"
}
eos
%>

And you'd get a response back that looks something like this:

<%= response_headers 201, 'Content-Type' => 'application/json' %>
<%= http_body <<eos
{
  "id": 1234,
  "handle": "matt",
  "message": "Hello, Datadog!",
  "url": "http://app.datadoghq.com/event/jump_to=1234",
  "resource": "/api/v1/comments/1234"
}
eos
%>

## Client

On top of that HTTP interface we've built client libraries in Python and Ruby.
These libraries give you a higher-level programmatic interface so you can jump
right in and start instrumenting your existing apps. In Python, posting the same
comment as above is as simple as:

<%= pycon <<eos
>>> from dogapi import dog
>>> dog.api_key = 'your_orgs_api_key'
>>> dog.application_key = 'your_application_key'
>>> dog.comment('matt', 'Hello, Datadog!')
1234
eos
%>

## CLI

Finally, on top of the Python library we've built command line interface, the
`dog` command. Once dog is installed, you can post the same comment as above
comfortabbly from your terminal:

<%= console <<eos
$ dog comment post --handle="matt" "Hello, Datadog!"
eos
%>
