---
title: API Reference
---

<%
  # Some shortcuts for the columns.
  left_side_div  = '<div class="span5 api-left">'
  right_side_div = '<div class="span6 api-right">'

  no_args = '<em>This end point takes no JSON arguments.</em>'
%>


<div class="container-fluid api-page">

  <h1><%= @item[:title] %> </h1>
  <div class="row-fluid api-header-row">
    <%= left_side_div %>
      <div class="navbar">
        <div class="navbar-inner">
          <ul class="nav">
            <li class="active"><a href="#overview">Overview</a></li>
            <li><a href="#authentication">Authentication</a></li>
            <li><a href="#metrics">Metrics</a></li>
            <li><a href="#dashboards">Dashboards</a></li>
            <li><a href="#comments">Comments</a></li>
          </ul>
        </div>
      </div>
    </div>
    <%= right_side_div%>
      <div class="btn-group affix">
        <div lang="console" class="lang-btn btn">Shell</div>
        <div lang="python" class="active lang-btn btn">Python</div>
        <div lang="ruby" class="lang-btn btn">Ruby</div>
      </div>
    </div>
  </div>

  <!--
 =====================================================================
    OVERVIEW
  ====================================================================
  -->

  <h3 id="overview">Overview</h3>
  <div class="row-fluid">
    <%= left_side_div %>
      This section details Datadog's HTTP API. It makes it easy to get data in and
      out of Datadog.

      The Datadog API uses resource-oriented URLs, uses status codes to indicate the
      success or failure of requests and returns JSON from all requests. Let's dive
      in and see how it works.
    </div>
    <%= right_side_div %>
      <h5>Libraries</h5>
      There are many client libraries that wrap the Datadog API. <a href="/libraries/">Check them out.</a>

      <h5>API Endpoint</h5>
      <code>https://app.datadoghq.com/api/</code>
    </div>
  </div>

  <!--
 =====================================================================
    AUTHENTICATION
  ====================================================================
  -->
  <h3 id="authentication">Authentication</h3>
  <div class="row-fluid">
    <%= left_side_div %>
      <p>
        All requests to Datadog's API must be authenticated. Requests that write data require
        <em>reporting access</em> and require an <code>API key</code>. Requests that read data
        require <em>full access</em> and also require an <code>application key</code>.
      </p>

      <p>You can manage your account's API and application keys <a href="https://app.datadoghq.com/account/settings#api">here</a>.</p>
    </div>
    <%= right_side_div %>
      <h5>Example</h5>
      <%= lang_code_snippet "api-auth.sh" %>
      <%= lang_code_snippet "api-auth.py" %>
      <%= lang_code_snippet "api-auth.rb" %>
    </div>
  </div>

  <!--
 =====================================================================
    Success & Errors
  ====================================================================
  -->

  <h3>Success and Errors</h3>
  <div class="row-fluid">
    <%= left_side_div %>
      <p>
      The Datadog API uses HTTP status codes to indicate the success or failure
      of a request.
      </p>

      <p>
      An error indicates that the service did not successfully handle your request. In addition to the status code, the response may contain a JSON object with an errors array containing more detailed error messages.
      </p>

      <p>
If the service is able to handle your request, but some issues are present (e.g. using a deprecated API or API version), the HTTP status code will indicate success and the response body will contain the expected result with the addition of a warnings array containing detailed warning messages.
      </p>



    </div>
    <%= right_side_div %>
      <h5>Status Codes</h5>
      <ul>
      <% STATUS_CODES.each do |code, value| %>
        <li> <code><%= value %> </code></li>
      <% end %>
      </ul>
      <h5>Example Error Response</h5>
      <%= code_snippet "api-error.json" %>
      <h5>Example Warning Response</h5>
      <%= code_snippet "api-warning.json" %>
    </div>
  </div>

  <!--
 =====================================================================
  Metrics
  ====================================================================
  -->

  <h3 id="metrics">Metrics</h3>
  <div class="row-fluid">
    <%= left_side_div %>
      <p>
        The metrics end-point allows you to post metrics data so it can
        be graphed on Datadog's dashboards.
      </p>
    </div>
  </div>
  <h4 id="metrics-post">Post time series points</h4>
  <div class="row-fluid">
    <%= left_side_div %>
      <p>
        The metrics end-point allows you to post time-series data that can be
        graphed on Datadog's dashboards.
      </p>
      <h5>Arguments</h5>
      <ul class="arguments">
        <li>
          <strong>series [required]</strong>
          <div> A JSON array of metrics of the form. Each metric is of the form:</div>
          <ul>
            <li>
              <strong>metric [required]</strong>
              <div>The name of the time series</div>
            </li>
            <li>
              <strong>points [required]</strong>
              <div>A JSON array of points. Each point is of the form:
                  <div>
                  <code>[[POSIX_timestamp, numeric_value], ...]</code>
                  </div>
              </div>
            </li>
            <li>
              <strong>host [optional]</strong> <em>Default is null</em>
              <div>The name of the host that produced the metric.</div>
            </li>
            <li>
              <strong>tags [optional]</strong> <em>Default is null</em>
              <div>A list of tags to associated with the metric.</div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <%= right_side_div %>
      <h5>Signature</h5>
      <code>POST https://app.datadoghq.com/api/v1/series</code>
      <h5>Example Request</h5>
      <% %w{py sh rb}.each do |f| %>
        <%= lang_code_snippet "api-metrics-post.#{f}" %>
      <% end %>
    </div>
  </div>

  <!--
 =====================================================================
  Events
  ====================================================================
  -->

  <h3 id="events">Events</h3>
  <div class="row-fluid">
    <%= left_side_div %>
      <p>
        The events service allows you to programatically post events to the
        stream and fetch events from the stream.
      </p>
    </div>
  </div>
  <h4 id="events-post">Post an Event</h4>
  <div class="row-fluid">
    <%= left_side_div %>
      <p>
        This end point allows you to post events to the stream. You can tag them, set priority and event aggregate them with other events.
      </p>
      <h5>Arguments</h5>
      <% valid_sources = "nagios, hudson, jenkins, user, my apps, feed, chef, puppet, git, bitbucket, fabric, capistrano"  %>
      <ul class="arguments">
        <%= argument("title", 'The event title.') %>
        <%= argument("text", "The body of the event.") %>
        <%= argument("date_happened", "POSIX timestamp of the event.", {:default => 'now'}) %>
        <%= argument("priority", "The priority of the event ('normal' or 'low').", {:default => "'normal'"}) %>
        <%= argument("related_event_id", "The id of the aggregate event.", {:default => 'None'}) %>
        <%= argument("tags", "A list of tags to apply to the event.", {:default => 'None'}) %>
        <%= argument("alert_type", '"error", "warning", "info" or "success"', {:default => "'info'"}) %>
        <%= argument("aggregation_key", 'An arbitrary string to use for aggregation.', {:default => 'None'}) %>
        <%= argument("source_type_name", 'The type of event being posted. <div>Options: ' + valid_sources + '</div>', {:default => 'None'}) %>
      </ul>
    </div>
    <%= right_side_div %>
      <h5>Signature</h5>
      <code>POST /api/v1/events</code>
      <h5>Example Request</h5>
      <%= lang_code_snippet "api-events-post.py" %>
      <h5>Example Response</h5>
      <%= lang_code_snippet "api-events-post-response.py" %>
    </div>
  </div>
  <h4 id="events-get">Get an Event</h4>
  <div class="row-fluid">
    <%= left_side_div %>
      <p>
        This end point allows you to query for event details.
      </p>
      <h5>Arguments</h5>
      <em>This endpoint takes no JSON arguments.</em>
    </div>
    <%= right_side_div %>
      <h5>Signature</h5>
      <code>GET /api/v1/events/:event_id</code>
      <h5>Example Request</h5>
      <%= lang_code_snippet "api-events-get.py" %>
      <h5>Example Response</h5>
      <%= lang_code_snippet "api-events-get-response.py" %>
    </div>
  </div>

  <h4 id="events-get">Query the Event Stream</h4>
  <div class="row-fluid">
    <%= left_side_div %>
      <p>
        The event stream can be queried and filterd by time, priority, sources and tags.
      </p>
      <h5>Arguments</h5>
      <em>This endpoint takes no JSON arguments.</em>
    </div>
    <%= right_side_div %>
      <h5>Signature</h5>
      <code>GET /api/v1/events</code>
      <h5>Example Request</h5>
      <%= lang_code_snippet "api-events-stream.py" %>
      <h5>Example Response</h5>
      <%= lang_code_snippet "api-events-stream-response.py" %>
    </div>
  </div>




  <!--
 =====================================================================
  Dashboards
  ====================================================================
  -->

  <h3 id="dashboards">Dashboards</h3>
  <div class="row-fluid">
    <%= left_side_div %>
      <p>
        The Dashboards end point allow you to programmatically create, update
        delete and query dashboards.
      </p>
      <p class="alert alert-warning">
        Check out our <a href="/guides/graphs">Guide to Graphs</a> to learn
        more about our Graph Query Language.
      </p>
    </div>
  </div>
  <h4 id="dashboards-post">Create a Dashboard</h4>
  <div class="row-fluid">
    <%= left_side_div %>
      <h5>Arguments</h5>
      <ul class="arguments">
        <%= argument("title", 'The name of the dashboard.') %>
        <%= argument("description", "A description of the dashboard\'s content.") %>
        <%= argument("graphs", "A list of graph definitions. Graph definitions follow this form:") %>
        <ul class="arguments">
          <li>
            <strong>title [required]</strong>
            <div>The name of the graph.</div>
          </li>
          <li>
            <strong>definition [required]</strong>
            <div>
              The graph definition. Example:
              <div>
                <code>
                  {"requests": [{"q": "system.cpu.idle{*} by {host}"}
                </code>
              </div>
            </div>
          </li>
        </ul>
      </ul>
    </div>
    <%= right_side_div %>
      <h5>Signature</h5>
      <code>POST /api/v1/dash</code>
      <h5>Example Request</h5>
      <%= lang_code_snippet "api-dashboard-create.py" %>
      <%= lang_code_snippet "api-dashboard-create.rb" %>
      <%= lang_code_snippet "api-dashboard-create.sh" %>
      <h5>Example Response</h5>
      <%= lang_code_snippet "api-dashboard-create-response.py" %>
      <%= lang_code_snippet "api-dashboard-create.rb" %>
      <%= lang_code_snippet "api-dashboard-create.sh" %>
    </div>
  </div>

  <!-- update a dashboard -->
  <h4 id="dashboards-update">Update a Dashboard</h4>
  <div class="row-fluid">
    <%= left_side_div %>
      <h5>Arguments</h5>
      <ul class="arguments">
        <li>
          <strong>title [required]</strong>
          <div>The name of the dashboard.</div>
        </li>
        <li>
          <strong>description [required]</strong>
          <div>A description of the dashboard's contents.</div>
        </li>
        <li>
          <strong>graphs [required]</strong>
          <div>A list of graph definitions. Graph definitions follow this form:</div>
        </li>
        <ul class="arguments">
          <li>
            <strong>title [required]</strong>
            <div>The name of the graph.</div>
          </li>
          <li>
            <strong>definition [required]</strong>
            <div>
              The graph definition. Read the <a href="/guides/graphs/">Graph
              Guide</a> for more on graphs. Example:
              <div>
                <code>
                  {"requests": [{"q": "system.cpu.idle{*} by {host}"}
                </code>
              </div>
            </div>
          </li>
        </ul>
      </ul>
    </div>
    <%= right_side_div %>
      <h5>Signature</h5>
      <code>PUT /api/v1/dash/:dash_id</code>
      <h5>Example Request</h5>
      <%= lang_code_snippet "api-dashboard-update.py" %>
      <%= lang_code_snippet "api-dashboard-update.rb" %>
      <%= lang_code_snippet "api-dashboard-update.sh" %>
      <h5>Example Response</h5>
      <%= lang_code_snippet "api-dashboard-update-response.py" %>
      <%= lang_code_snippet "api-dashboard-update-response.rb" %>
      <%= lang_code_snippet "api-dashboard-update-response.sh" %>
    </div>
  </div>

  <!-- delete a dashboard -->
  <h4 id="dashboards-delete">Delete a Dashboard</h4>
  <div class="row-fluid">
    <%= left_side_div %>
      <p>Delete an existing dashboard.</p>
      <em>This endpoint takes no JSON arguments.</em>
    </div>
    <%= right_side_div %>
      <h5>Signature</h5>
      <code>DELETE /api/v1/dash/:dash_id</code>
      <h5>Example Request</h5>
      <%= lang_code_snippet "api-dashboard-delete.py" %>
      <%= lang_code_snippet "api-dashboard-delete.rb" %>
      <%= lang_code_snippet "api-dashboard-delete.sh" %>
      <h5>Example Response</h5>
      <%= lang_code_snippet "api-dashboard-delete-response.py" %>
      <%= lang_code_snippet "api-dashboard-update-response.rb" %>
      <%= lang_code_snippet "api-dashboard-update-response.sh" %>
    </div>
  </div>

  <!-- get a dashboard -->
  <h4 id="dashboards-get">Get a Dashboard</h4>
  <div class="row-fluid">
    <%= left_side_div %>
      <p>Fetch an existing dashboard's definition.</p>
      <em>This endpoint takes no JSON arguments.</em>
    </div>
    <%= right_side_div %>
      <h5>Signature</h5>
      <code>GET /api/v1/dash/:dash_id</code>
      <h5>Example Request</h5>
      <%= lang_code_snippet "api-dashboard-get.py" %>
      <%= lang_code_snippet "api-dashboard-get.rb" %>
      <%= lang_code_snippet "api-dashboard-get.sh" %>
      <h5>Example Response</h5>
      <%= lang_code_snippet "api-dashboard-get-response.py" %>
      <%= lang_code_snippet "api-dashboard-get-response.rb" %>
      <%= lang_code_snippet "api-dashboard-get-response.sh" %>
    </div>
  </div>

  <!--
 =====================================================================
  Tags
  ====================================================================
  -->

  <h3 id="tags">Tags</h3>
  <div class="row-fluid">
    <%= left_side_div %>
      <p>
        The tag end point allows you to tag hosts with keywords meaningful to you - like <code>role:database</code>.
        All metrics sent from a host will have its tags applied.
      </p>
    </div>
  </div>

  <h4 id="tags-get">Get Tags</h4>
  <div class="row-fluid">
    <%= left_side_div %>
      <p>
        Return a mapping of tags to hosts for your whole infrastructure.
      </p>
      <h5>Arguments</h5>
      <%= no_args %>
    </div>
    <%= right_side_div %>
      <h5>Signature</h5>
      <code>GET /api/v1/tags/hosts</code>
      <h5>Example Request</h5>
      <%= lang_code_snippet "api-tags-get.py" %>
      <h5>Example Response</h5>
      <%= lang_code_snippet "api-tags-get-response.py" %>
    </div>
  </div>

  <h4 id="tags-get-host">Get Host Tags</h4>
  <div class="row-fluid">
    <%= left_side_div %>
      <p>
        Return the list of tags that apply to a given host.
      </p>
      <h5>Arguments</h5>
      <%= no_args %>
    </div>
    <%= right_side_div %>
      <h5>Signature</h5>
      <code>GET /api/v1/tags/hosts/:host_id</code>
      <h5>Example Request</h5>
      <%= lang_code_snippet "api-tags-get-host.py" %>
      <h5>Example Response</h5>
      <%= lang_code_snippet "api-tags-get-host-response.py" %>
    </div>
  </div>

  <h4 id="tags-add">Add Tags to a Host</h4>
  <div class="row-fluid">
    <%= left_side_div %>
      <p>
        This end point allows you to add tags to a host.
      </p>
       <h5>Arguments</h5>
        <ul class="arguments">
        <%= argument("tags", "A list of tags to apply to the host") %>
        </ul>
    </div>
    <%= right_side_div %>
      <h5>Signature</h5>
      <code>POST /api/v1/tags/hosts/:host_id</code>
      <h5>Example Request</h5>
      <%= lang_code_snippet "api-tags-add.py" %>
      <h5>Example Response</h5>
      <%= lang_code_snippet "api-tags-add-response.py" %>
    </div>
  </div>

  <h4 id="tags-update">Update Host Tags</h4>
  <div class="row-fluid">
    <%= left_side_div %>
      <p>
        This end point allows you to update all tags for a given host.
      </p>
       <h5>Arguments</h5>
        <ul class="arguments">
        <%= argument("tags", "A list of tags") %>
        </ul>
    </div>
    <%= right_side_div %>
      <h5>Signature</h5>
      <code>PUT /api/v1/tags/hosts/:host_id</code>
      <h5>Example Request</h5>
      <%= lang_code_snippet "api-tags-update.py" %>
      <h5>Example Response</h5>
      <%= lang_code_snippet "api-tags-update-response.py" %>
    </div>
  </div>

  <h4 id="tags-remove">Remove Host Tags</h4>
  <div class="row-fluid">
    <%= left_side_div %>
      <p>
        This end point allows you to update all tags for a given host.
      </p>
       <h5>Arguments</h5>
        <%= no_args %>
    </div>
    <%= right_side_div %>
      <h5>Signature</h5>
      <code>DELETE /api/v1/tags/hosts/:host_id</code>
      <h5>Example Request</h5>
      <%= lang_code_snippet "api-tags-remove.py" %>
    </div>
  </div>


  <!--
 =====================================================================
  Comments
  ====================================================================
  -->

  <h3 id="comments">Comments</h3>
  <div class="row-fluid">
    <%= left_side_div %>
      <p>
      Comments are how discussion happens on Datadog. You can create, edit, delete
      and reply to comments.

      Comments require <em>full access</em>.
      </p>
    </div>
  </div>

  <!-- Create comments -->
  <h4 id="comments-create">Create a comment</h4>
  <div class="row-fluid">
    <%= left_side_div %>
      <h5>Arguments</h5>
    </div>
    <%= right_side_div %>
      <h5>Signature</h5>
      <code>POST https://app.datadoghq.com/api/v1/comment</code>
      <h5>Example Request</h5>
      <%= lang_code_snippet "api-comment-create.sh" %>
      <%= lang_code_snippet "api-comment-create.py" %>
      <h5>Example Warning Response</h5>
      <%= code_snippet "api-warning.json" %>


    </div>
  </div>


</div>


