---
title: Dashboards
---

## Get an existing dashboard's definition

### URL Parameters

* `dash_id`: the unique numeric id of the dashboard

### Request

<%= request 'GET', '/api/v1/dash/:dash_id' %>

### Response

<%= response_headers 200, 'Content-Type' => 'application/json' %>
<%= http_body <<eos
{
  'dash': DASHBOARD_OBJECT,
  'url': 'https://...',
  'resource': '/api/v1/dash/:dash_id'
}
eos
%>

## Create a new dashboard

### Request

<%= request 'POST', '/api/v1/dash' %>

<%= request_headers 'Content-Type' => 'application/json' %>
<%= http_body <<eos
{
  'dash': DASHBOARD_OBJECT
}
eos
%>

### Response

<%= response_headers 201, 'Content-Type' => 'application/json' %>
<%= http_body <<eos
{
  'dash': DASHBOARD_OBJECT,
  'url': 'https://...',
  'resource': '/api/v1/dash/:dash_id'
}
eos
%>

## Update an existing dash

### URL Parameters

* `dash_id`: the unique numeric id of the dashboard

### Request

<%= request 'PUT', '/api/v1/dash/:dash_id' %>

<%= request_headers 'Content-Type' => 'application/json' %>
<%= http_body <<eos
{
  'dash': DASHBOARD_OBJECT
}
eos
%>

### Response

<%= response_headers 200, 'Content-Type' => 'application/json' %>
<%= http_body <<eos
{
  'dash': DASHBOARD_OBJECT,
  'url': 'https://...',
  'resource': '/api/v1/dash/:dash_id'
}
eos
%>

## Delete an existing dash

### URL Parameters

* `dash_id`: the unique numeric id of the dashboard

### Request

<%= request 'DELETE', '/api/v1/dash/:dash_id' %>

### Response

<%= response_headers 204 %>

## The dashboard object

The dashboard object contains some descriptive metadata and a list of graphs. A Graph contains some descriptive metadata and a graph definition, which is identical to the definition language used in the app. It just so turns out that the definition language is valid JSON (lucky us!).

<pre><code class="language-javascript">
{
  'title': 'Cassandra Overview',
  'description': "A high-level view of the Cassandra cluster's health.",
  'graphs': [
    {
      'title': 'Cassandra load',
      'definition': {'requests': [{'q': 'system.cpu.idle{cassandra.host}by{host}'}
    }, ... ]
}
</code></pre>
