---
title: Errors and Warnings
---

## Errors

We use HTTP status codes to communicate API errors. An error indicates that the
service did not successfully handle your request. In addition to the status
code, the response may contain a JSON object with an `errors` array containing
more detailed error messages.

<%= json <<eos
{ 'errors': [
    'Something bad happened to the server.',
    'Your query made the server very sad.'
  ]
}
eos
%>

## Warnings

If the service is able to handle your request, but some issues are present
(e.g. using a deprecated API or API version), the HTTP status code will
indicate success and the response body will contain the expected result with
the addition of a `warnings` array containing detailed warning messages.

<%= json <<eos
{ 'some_thing': ...,
  'some_other_thing': ...,
  'warnings': [
    'This is a deprecated API.'
  ]
}
eos
%>
