---
title: Events
---

Post events and view the event stream.

### Authentication

Reporting access for POST. Full access otherwise. (see [Authentication](/authentication/))

## Post a new event

### Request

<%= request 'POST', '/api/v1/events' %>

<%= request_headers 'Content-Type' => 'application/json' %>
<%= http_body <<eos
{
  "title": (String) event heading in the event stream
  "text": (String) event body in the event stream

  "date_happened": POSIX timestamp (default, now)
  "priority": (String) "normal", "low" (default, normal)
  "related_event_id": (String) id of the related (aggregate) event (default, none)
  "tags": [String] a list of tags (default, none)
}
eos
%>

Only "title" and "text" are required. The rest, if omitted, use their default value.

### Response

<%= response_headers 201, 'Content-Type' => 'application/json' %>
<%= http_body <<eos
{
  "id": (Integer) uid
  "title": (String) event heading in the event stream
  "text": (String) event body in the event stream
  "date_happened": POSIX timestamp
  "handle": (String) user name
  "priority": (String) "normal", "low"
  "related_event_id": (String) id of the related event
  "tags": [String] a list of tags
}
eos
%>

## Get a filtered comment stream

### Request

<%= request 'GET', '/api/v1/events' %>

#### Parameters

An event stream must be filtered by the start and end time. Further filtering is possible by priority, sources, or tags.

* `start`: POSIX timestamp
* `end`: POSIX timestamp
* `priority` (optional): "low" or "normal"
* `sources` (optional): comma separated list of sources
* `tags` (optional): comma separated list of tags

### Response

<%= response_headers 200, 'Content-Type' => 'application/json' %>
<%= http_body <<eos
{ "events": [
    {
      id: "event-1",
      title: "my first event",
      priority: "normal",
      handle: "alq@datadoghq.com",
      date_happened: 1313769783,
      source: "nagios",
      alert_type: "ok",
      is_aggregate: true,
      children: [
        {
          id: "event-100",
          date_happened: 123459833,
          alert_type: "error"
        }, ...
      ]
    }, ...
  ]
}
eos
%>

## Get an event's details

### Request

<%= request 'GET', '/api/v1/events/:event_id' %>

### Response

<%= response_headers 200, 'Content-Type' => 'application/json' %>
<%= http_body <<eos
{
  id: (String) event id,
  title: (String) event title,
  text: (String),
  url: (String) permalink to the event
  priority: (String) "normal", "low"
  date_happened: (timestamp) when the event happened
  source: (String) "Nagios", etc.
  payload: (any valid JSON type)
  is_aggregate: (boolean) aggregates lower-level events,
  children: [Event] sorted list of events that belong to this aggregate
}
eos
%>

## Sources

* `User`
* `API`
* `Cloudwatch`
* `Nagios`
* `Pingdom`
* `Pivotal`
* `GitHub`
* `Upstart`
* `Hudson`
* `System`
