---
title: Metrics
---

Post time series data.

### Authentication

Reporting access. (see [Authentication](/authentication/))

## Post a time series

### Request

<%= request 'POST', '/api/v1/series' %>

<%= request_headers 'Content-Type' => 'application/json' %>
<%= http_body <<eos
{
  "series": [
    {
      "metric": "metric.name",
      "points": [
         [ 
           POSIX timestamp,
           numeric value
         ], ...
      ],
      "type": "metric_type",
      "host": "myhost.mydomain",
      "device": "eth0",
      "tags": ["tag1", "tag2"]
    }, ... ]
}
eos
%>

`host`, `device` and tags are optional.

`metric_type` must be one of `gauge` or `counter`.

### Response

<%= response_headers 202 %>

### Metric types & Numeric Values

Datadog supports two types of metrics: **gauges** and **counters**.

#### Counters

Use a **counter** when you are measuring a _positive integer_ that keeps increasing,
for instance the number of unique page views since the beginning of the month.

Usually the interesting measure is the rate of change of that counter and
Datadog can compute that rate for you. The rate will always be a positive number.

The numeric values will be cast as unsigned 64-bit integers.

#### Gauges

Use a **gauge** for values that can be measured independently of each other,
for instance wind speed, temperature, cpu utilization and free memory.

Most metric are gauges.

The numeric values will be cast as a signed, 64-bit floating point numbers.

