---
title: Search
---

Search for entities in Datadog by string. Currently, the searchable entities are `hosts` and `metrics`.

### Authentication

Full access. (see [Authentication](/authentication/))

### Parameters

* `q`: the search query string (see <a href="#query_language">Query Language</a> below)

## Find all entities matching a string

### Request

<%= request 'GET', '/api/v1/search?q=cassandra' %>

### Response

<%= response_headers 200, 'Content-Type' => 'application/json' %>
<%= http_body <<eos
{ 'results': {
    'hosts': ['cassandraHostA', 'cassandraHostB', ...],
    'metrics': ['cassandra.load', 'cassandra.requests', ...]
  }
}
eos
%>

## Find hosts matching a string

Use faceting to filter the request by type (see Query Language below for more details).

<%= request 'GET', '/api/v1/search?q=hosts:cassandra' %>

<%= response_headers 200, 'Content-Type' => 'application/json' %>
<%= http_body <<eos
{ 'results': {
    'hosts': ['cassandraHostA', 'cassandraHostB', ...]
  }
}
eos
%>

## Find metrics matching a string

Use faceting to filter the request by type (see Query Language below for more details).

<%= request 'GET', '/api/v1/search?q=metrics:cassandra' %>

<%= response_headers 200, 'Content-Type' => 'application/json' %>
<%= http_body <<eos
{ 'results': {
    'metrics': ['cassandra.load', 'cassandra.requests', ...]
  }
}
eos
%>

## <a name="query_language">Query language</a>

Search queries allow for limited faceting. Available facets are:

* `hosts`
* `metrics`

Faceting your search limits your results to only matches of the specified type. Un-faceted queries return results for all possible types.

Un-faceted queries are of the form:

`query_string`

Faceted queries are of the form:

`facet:query_string`
