---
title: Tags
---

Manage host tags.

### Authentication

Full access. (see [Authentication](/authentication/))

## Get all the tags and the hosts they are assigned to

### Request

<%= request 'GET', '/api/v1/tags/hosts' %>

### Response

<%= response_headers 200, 'Content-Type' => 'application/json' %>
<%= http_body <<eos
{ "tags": [
    { "tag1": [ "host1", "host2" ] },
    { "tag2": [ "host1", "host3" ] }
  ]
}
eos
%>

## Get tags on a specific host

### Request

<%= request 'GET', '/api/v1/tags/hosts/:host_id' %>

### Response

<%= response_headers 200, 'Content-Type' => 'application/json' %>
<%= http_body <<eos
{
  "tags": ["tag1", "tag2"]
}
eos
%>

## Tag a host

### Request

<%= request 'POST', '/api/v1/tags/hosts/:host_id' %>

<%= request_headers 'Content-Type' => 'application/json' %>
<%= http_body <<eos
{
  "tags": ["new_tag1", "new_tag2"]
}
eos
%>

### Response

<%= response_headers 200, 'Content-Type' => 'application/json' %>
<%= http_body <<eos
{
  "tags": ["old_tag", "new_tag1", "new_tag2"]
}
eos
%>

## Update tags for a host

### Request

<%= request 'PUT', '/api/v1/tags/hosts/:host_id' %>

<%= request_headers 'Content-Type' => 'application/json' %>
<%= http_body <<eos
{
  "tags": ["new_tag1", "new_tag2"]
}
eos
%>

### Response

<%= response_headers 200, 'Content-Type' => 'application/json' %>
<%= http_body <<eos
{
  "tags": ["new_tag1", "new_tag2"]
}
eos
%>

## Detach a host from all tags

### Request

<%= request 'DELETE', '/api/v1/tags/hosts/:host_id' %>

### Response

<%= response_headers 204 %>
