---
import styles from './ApiMethodBadge.module.css';
import { classListFactory } from '@utils/classListFactory';

interface Props {
  method: string;
}

const { method } = Astro.props;
const cl = classListFactory(styles);
---

<span class={cl('api-method-badge', `api-method-badge--${method.toLowerCase()}`)}>
  {method.toUpperCase()}
</span>
