{{ define "main" }}

<!-- Main Content -->
<section class="page404">
  <div class="container">
    <div class="row">
      <div class="d-none d-sm-block col-sm-4 text-end bits-img">
        {{ partial "img.html" (dict "root" . "src" "sad_bits.png" "class" "img-fluid ms-auto" "alt" "sad") }}
      </div>
      <div class="col-xs-12 col-sm-8">
        <h1 class="text-primary">Arf.</h1>
        <h4 class="mt-0">It seems we can't find what you're looking for.</h4>
        <h5 class="my-4 text-primary">Error 404</h5>
        <p class="mt-2 font-semibold">Here are some helpful pages instead:</p>
        <div class="helpful-pages-container m-b-4">
          <ul class="ul-strip">
            <li class="small"><a href="https://docs.datadoghq.com/">Home</a></li>
            <li class="small"><a href="https://docs.datadoghq.com/help/">Contact Us</a></li>
            <li class="small"><a href="https://www.datadoghq.com/resources/">Resources</a></li>
            <li class="small"><a href="https://www.datadoghq.com/blog/">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

