<!-- Datadog Monitoring -->
<script type="text/javascript" src="https://www.datadoghq-browser-agent.com/datadog-rum-us.js"></script>
<script type="text/javascript" src="https://www.datadoghq-browser-agent.com/datadog-logs-us.js"></script>
<script>

  // RUM init
  DD_RUM.init({
    clientToken: '{{ $.Site.Params.datadog.clientToken }}',
    applicationId: '{{ $.Site.Params.datadog.applicationId }}',
  });

  // Broser Log to Datadog init
  DD_LOGS.init({
    clientToken: '{{ $.Site.Params.datadog.clientToken }}',
    forwardErrorsToLogs: {{ $.Site.Params.datadog.forwardErrorsToLogs }}});

  // Configuration of Browser Logs to Datadog for default error logs collection.
  DD_LOGS.logger.setHandler('{{ $.Site.Params.datadog.logging_handler }}');

  DD_LOGS.addLoggerGlobalContext('env', '{{ $.Site.Params.environment }}');
  DD_LOGS.addLoggerGlobalContext('service', 'docs');
  DD_LOGS.addLoggerGlobalContext('host', window.location.host);

  // Creation of a custom global logger to be used in all part of the site.
  window.datadog_logger = DD_LOGS.createLogger('datadog_logger', {
    handler: '{{ $.Site.Params.datadog.logging_handler }}',
    context: {
      "env": "{{ $.Site.Params.environment }}",
      "service": "docs",
      "host": window.location.host
    }
  });
</script>
<!-- END Datadog Monitoring -->
