.ma-block {
    tr {
        background: white !important;
    }
    td {
        border-left: none !important;
    }
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: pre;
}

.fm-math,
fmath {
    font-family: 'NationalWeb', Helvetica, Arial, sans-serif !important;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    font-weight: 200;
    overflow-x: auto;
    padding: 8px;
    mtext {
        font-size: 16px;
        @include media-breakpoint-down(sm) {
            font-size: 14px;
        }
    }
}