{{ $announce := .Site.Params.announcement_banner }}
{{ if not (in (slice "dg" "landing-page" "tshirt" "apm" "legal" "event" "webinar" "summit") .Type) }}
<div class="announcement_banner open text-center">
<!-- default announcement banner -->
    <a class="font-weight-semibold text-nowrap" href="{{$announce.link}}">
        <span class="d-none d-md-block banner-title-desktop">
            {{ $announce.desktop_message | safeHTML }}
        </span>
        <span class="d-block d-md-none banner-title-mobile">
            {{ if $announce.mobile_message }}
                {{ $announce.mobile_message | safeHTML }}
            {{ else }}
                {{ $announce.desktop_message | safeHTML }}
            {{ end}}
        </span>
    </a>
 </div>
{{ end }}
