{{ $announce := .Site.Params.announcement_banner }}
{{ if not (in (slice "dg" "landing-page" "tshirt" "apm" "legal" "event" "webinar" "summit") .Type) }}
<div class="announcement_banner text-center">
    <a href="{{$announce.link}}">
        <span class="d-none d-md-block">
            {{ $announce.desktop_message | safeHTML }}
        </span>
        <span class="d-block d-md-none">
            {{ if $announce.mobile_message }}
                {{ $announce.mobile_message | safeHTML }}
            {{ else }}
                {{ $announce.desktop_message | safeHTML }}
            {{ end}}
        </span>
    </a>
    <i class="icon icon-small-x pull-right"></i>
</div>
<script>
    var announcement_banner;
    announcement_banner = sessionStorage.getItem('announcement_banner');
    if (announcement_banner !== 'closed') {
        document.getElementsByClassName('announcement_banner')[0].classList.add('open');
    } else {
        document.querySelector('html').classList.remove('banner');
    }
</script>
{{ end }}
