baseURL: https://docs-staging.datadoghq.com/$CI_COMMIT_REF_NAME/
buildfuture: true
builddrafts: true
enableGitInfo: true

deployment:

    targets:
    - name: "preview"
      URL: "s3://datadog-docs-preview?region=us-east-1&prefix=$CI_COMMIT_REF_NAME/"
      exclude: "**.{go,java,py,rb,pybeta,rbbeta,ts,jpg,jpeg,png,gif,mp4,mov,svg}"
      cloudFrontDistributionID: E3EYIYXXL26MK1
    - name: "previewAssets"
      URL: "s3://dd-staging-static-assets?region=us-east-1&prefix=documentation/"
      include: "**.{jpg,jpeg,png,gif,mp4,mov,svg,json}"
