.page404 {
  margin-top:40px;
  h1 {
      margin:0;
      padding: 60px 0 0;
      line-height: 1em;
      font-family: Gesta,OpenSans,Lucida Grande,Lucida Sans Unicode,sans-serif;
      font-weight: 700;
      font-size: 96px;
      color: #333;
  }
  h2 {
      line-height: 1em;
      font-size: 50px;
      color: #6c38ac;
      font-weight: 700;
      margin: 0 0 16px;
  }
  .blurb h2 {
      color: #6c38ac;
      text-align: center;
      margin-top: 60px;
      font-size: 24px;
  }
}