// API

// gross change this..
.col-sm-9 > div:nth-child(1) > div:nth-child(1) {
  padding-top:70px;
}
.col-sm-9 > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
  padding-top:0;
}
.api-nav {
  margin-right: -15px;
  margin-left: -15px;
  height:50px;
  z-index:9;
  top:65px;
}
.api-content {
  padding-top:40px;
  border-bottom: 1px solid #D6D6D6;
}
.api-code {
  background:#1D1D1D;
  padding-left:0;
  padding-right:0;
  color:#FFFFFF;
  border-bottom: 1px solid #323232;
  h3 {
    color:#787878;
    font-size:18px;
    font-weight:200;
  }
  p {
    color:#fff;
  }
  a {
    color:#fff;
  }
  &> div {
    padding:80px 30px 40px 30px;
  }
}


// Breakpoint styles go here...

@media (max-width: 991px) {
  .api-content {
    padding-top: 24px;
    padding-bottom:24px;
  }
  .api-code {
    &> div {
      padding:24px 15px;
    }
  }
  .codenav {
    padding-left:0;
  }
}