// search
.tipue_search_content_title,
.tipue_search_content_title a {
  margin-top: 23px;
  font-size: 27px;
  color:#000;
  font-weight: 600;
}
.tipue_search_content_url,
.tipue_search_content_url a {
  color:#06c;
}


// Breakpoint styles go here...