.rule-search {
  &:focus {
    box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
    border: 1px solid transparent;
  }
}

.js-group-header {
  transition: box-shadow 0.125s;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25); 
  margin-bottom: 9px; 
  border-radius: 4px; 
  cursor: pointer; 
  overflow: hidden; 
  height: 28px;

  &:hover {
    box-shadow: 0 2px 3px rgba(0,0,0,0.3); 
  }
  &.active + div {
    display: block !important;
  }
  &.active {
    .js-group-header__arrow {
      right: 12px !important;
      transform: rotate(-90deg) !important;
    }
  }
}
.js-group-header__icon {
  background: rgba(0,0,0,0.05); 
}
.js-group-header__arrow {
  transition: transform 0.125s;
  top: 0px;
  right: 7px;
  position: absolute;
  font-weight: 700;
  font-size: 18px;
  transform: rotate(90deg);
  // Point arrow inwards when collapsed
  .js-group-header:not(.active) & {
    transform: rotate(180deg);
  }
}

.rule-specification {
  p {
    margin-bottom: 4px;
  }
}

.md-1 img {
  padding-right: 40px;
}