<h4 id="knowledgebase">ZenDeskの知識共有サイト</h4>
<a href="//datadog.zendesk.com">ZenDeskの知識共有サイト</a>から、Datadogの使い方をしらべることができます。

<h4 id="support">Datadogのイベントストリーム上からのサポート</h4>
Datadogのダッシュボード上にある<a href="http://app.datadoghq.com/event/stream">イベントストリーム</a>から、<strong>@support-datadog</strong>で、サポートチームに連絡を取ることができます。この方法は、グラフのスナップショットを撮って質問したり、特定のイベントに関して質問する際に便利な方法です。更に米国東海岸時間の通常営業時間帯には、ライブチャット機能をDatadogの全てのページに設けています。

<h4 id="email">Emailによるサポート</h4>
<a href="mailto:support@datadoghq.com">support@datadoghq.com</a>へEmailを送信することで、Datadogのサポートチームと連絡を取ることができます。

<h4 id="irc">IRCによるサポート</h4>
<a href="irc://irc.freenode.net/datadog">freenodeの#datadog</a>部屋で、Datadongのサポートチームや他のDatadogユーザに聞くこともできます。(このリンクから、<a href="http://webchat.freenode.net/?randomnick=1&channels=datadog&prompt=1"> web チャットクライアント</a>を利用することもできます。)

<h4 id="status">ステータスページとtwitterによるサービス状況の確認</h4>
Datadogの<a href="http://status.datadoghq.com/">ステータスページ</a>とオペーレーションチームの<a href="http://www.twitter.com/datadogops">twitterアカウント</a>では、パフォーマンス障害の最新情報を公開しています。
