---
import styles from "./WhatsNext.module.css";
import { classListFactory } from "@lib/cssUtils/classListFactory";

interface Props {
  href: string;
  tag?: string;
}

const { href, tag } = Astro.props;
const cl = classListFactory(styles);
---

<li class={cl("whatsnext__item")}>
  <a class={cl("whatsnext__link")} href={href}>
    <span class={cl("whatsnext__content")}>
      <slot />
    </span>
    {tag && <span class={cl("whatsnext__tag")}>{tag.toUpperCase()}</span>}
    <span class={cl("whatsnext__arrow")} aria-hidden="true"></span>
  </a>
</li>
