_:-ms-fullscreen, :root
{
	.main > a,
	.main > p > a,
	.main > ol li a,
	.main > ul li a {
		display:inline-block;
		line-height:15px;
	}
	.cards-dd .card {
		display:block;
	}
	.sidenav .sidenav-search .input-group-addon {
		padding-top:5px
	}
	.sidenav h4 {
		padding-top:15px;
	}	
}