  <table>
    <thead>
      <tr>
        <th>Release</th>
        <th>Support level</th>
        <th>Minimum Datadog Agent</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code>>=4.0,<5</code>
        </td>
        <td>General Availability</td>
        <td>7.28</td>
      </tr>
      <tr>
        <td>
          <code>>=3.0,<4</code>
        </td>
        <td>Maintenence (until May 31, 2026)</td>
        <td>7.28</td>
      </tr>
      <tr>
        <td>
          <code>>=2.0,<3</code>
        </td>
        <td>End of Life</td>
        <td>7.28</td>
      </tr>
      <tr>
        <td>
          <code><2</code>
        </td>
        <td>End of Life</td>
        <td></td>
      </tr>
    </tbody>
  </table>
