---
import styles from './ApiHeader.module.css';
---

<header class={styles.header}>
  <a href="/">
    <img
      src="/img/dd_logo_n_70x75.png"
      alt="Datadog"
      class={styles.logo}
    />
  </a>
</header>
