{{- $language := .Get "language" -}}
{{- $limitations_anchor := .Get "limitations_anchor" -}}
<div class="card callout-card mb-4">
    <div class="card-body d-flex flex-column">
        <h5 class="card-title text-black mt-0 mb-1">Limited Availability</h5>
        <p class="card-text">
            Dynamic Instrumentation for {{ $language }} is in Limited Availability and may not be available for your organization.
            Request access to join the waiting list.<br>
            <b>Note</b>: <a href="#{{ $limitations_anchor }}">Some limitations</a> apply.
        </p>
        <a href="https://www.datadoghq.com/product-preview/live-debugger/"
            target="_blank"
            class="btn btn-outline-primary pb-1 align-self-end d-flex flex-column justify-content-center">
            Request Access
        </a>
    </div>
</div>
