    <script type="text/javascript">
      (function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalSnowplowNamespace=p.GlobalSnowplowNamespace||[];
        p.GlobalSnowplowNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments)
        };p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[0];n.async=1;
        n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,"script","https://d88f3ym7dkyv7.cloudfront.net/2.10.0/gj4gjh4gyu42.js","snowplow"));
      window.snowplow('newTracker', 'co', 'streaming-docs-collector.datadoghq.com', {
        appId: 'datadog',
        platform: 'web',
        cookieDomain: '.datadoghq.com',
        contexts: {
          webPage: true
        },
        post: true,
// This needs to be changed to prevent us from getting blocked by ad blockers.
        postPath: '/customdd/tp2',
// localStorage triggers a bug when the user has an adblocker.
// the list of event buffered grows forever, gets to max local storage and may block other features using localStorage
// the only difference is that we won't track offline users
        stateStorageStrategy: 'cookie'
      });
      window.snowplow('enableActivityTracking', 5, 5);
      window.snowplow('enableLinkClickTracking');
      window.snowplow('trackPageView');
    </script>
