
{{ define "main" }}
{{ $dot := . }}
{{ $scratch := .Scratch }}

<h1 id="pagetitle">{{ .Title }}</h1>

{{ .Content }}
<form id="rules">
    <div class="form-group clearfix">
        <input type="input" class="form-control rule-search mb-3" id="keywords" placeholder="Search here" aria-label="keywords" />
    </div>
    <div class="list-group">
        {{ range $i, $v := .Pages.GroupByParam "source" }}
            <div class="js-group js-group-{{ $i }}">
                <div class="rule-list mb-1 active">
                    <div class="rule-list__icon d-inline font-semibold h-100 text-uppercase px-2 py-1">
                        {{ range first 1 $v.Pages }}
                            {{ $int_logo := partial "integrations-logo.html" (dict "context" $dot "basename" (.Params.source | default .Params.scope) "variant" "avatar") }}
                            {{ if $int_logo }}
                                <img srcset="{{ $int_logo }}?w=80&auto-enhance 2x" src="{{ $int_logo }}?w=40&auto-enhance" width="40" alt="{{ htmlEscape .Params.Source }}" />
                            {{ else }}
                                <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" width="40" alt="missing"/>
                            {{ end }}
                        {{ end }}
                    </div>
                    <div class="d-inline font-semibold ml-1">
                        {{ if eq (len $v.Key) 3 }}
                            {{ title $v.Key | humanize | title | upper }}
                        {{ else }}
                            {{ title $v.Key | humanize | title }}
                        {{ end }}
                    </div>
                    <div class="rule-list__arrow">></div>
                </div>
                <div class="group-{{ .Key }} mb-2 ml-5 d-none">
                    {{ range $v.Pages }}
                        <a class="mb-1 font-semibold js-page" href="{{.Permalink}}" data-name="{{ lower .Title }} {{ .File.TranslationBaseName }}">
                            {{ $int_logo := partial "integrations-logo.html" (dict "context" $dot "basename" (.Params.source | default .Params.scope) "variant" "avatar") }}
                            {{ if $int_logo }}
                                <img srcset="{{ $this_img.image }}?w=80&auto-enhance 2x" src="{{ $int_logo }}?w=40&auto-enhance" width="40" alt="{{ htmlEscape .Params.Source }}" />
                            {{ else }}
                                <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" width="40" alt="missing"/>
                            {{ end }}
                            {{ .Title }}<br />
                        </a>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </div>
</form>

<script type="text/javascript">
    const group = Array.prototype.slice.call(document.getElementsByClassName('js-group'));
    const urlParams = new URLSearchParams(window.location.search);
    const keyword = urlParams.get('q');

    document.getElementById("rules").addEventListener("submit", function (event) {
        event.preventDefault();
    });

    filterRules = () => {
        const input = document.getElementById('keywords').value.toLowerCase();
        window.history.replaceState({}, '', `?q=${input}`);

        for (let i = 0; i < group.length; i++) {
            // Filtering individual rules
            const rules = Array.prototype.slice.call(document.querySelectorAll(`.js-group-${i} .js-page`));
            let count = 0;
            rules.forEach(elm => {
                elm.classList.remove('d-none');
                if (!elm.dataset.name.includes(input)) {
                    elm.classList.add('d-none');
                } else {
                    elm.classList.remove('d-none');
                    count += 1;
                }
            });

            // Hiding group when there is no matching entry
            if (count === 0) {
                document.querySelector(`.js-group-${i}`).classList.add('d-none');
            } else {
                document.querySelector(`.js-group-${i}`).classList.remove('d-none');
                document.querySelector(`.js-group-${i} > .rule-list`).classList.add('active');
            }
        }
    };

    document.getElementById("keywords").addEventListener('keyup', filterRules, false);

    if (keyword) {
        document.getElementById("keywords").value = keyword;
        filterRules();
    };

    // Accordion js
    const ruleList = Array.prototype.slice.call(document.getElementsByClassName('rule-list'));

    ruleList.forEach(elm => {
        elm.addEventListener("click", e => {
            e.currentTarget.classList.toggle('active');
        });
    });
</script>
{{ end }}
