{{ define "main" }}
	<a class="text-uppercase font-weight-bold text-gray mb-1 d-block" href="/compliance_monitoring/default_rules/">&lt;&nbsp; Back to rules search</a>

	<h1 id="pagetitle">{{ .Title }}</h1>
	{{ partial "translate_status_banner/translate_status_banner.html" . }}

	<div class="rule-specification row align-items-center mb-3">
		{{ $int_logo := partial "integrations-logo.html" (dict "context" $dot "basename" (.Params.source | default .Params.scope) "variant" "avatar") }}

		{{ if and $int_logo .Params.scope }}
			<div class="col-3 col-lg-2 d-flex justify-content-center">
				<img src="{{ $int_logo }}?auto=format&width=120" width="120px" max-height="100px" alt="{{ htmlEscape .Params.Source }}" />
			</div>
		{{ end }}
		<div class="col-9 col-lg-10">
			<div class="row">
				{{ if isset .Params "security" }}
					<div class="col-4 col-md-4 col-lg-3"><p class="font-weight-bold small">Classification: </p></div>
					<div class="col-8 col-md-8 col-lg-7"><p class="small">{{ .Params.security }}</p></div>
				{{ end }}
				{{ if isset .Params "tactic" }}
					<div class="col-4 col-md-4 col-lg-3"><p class="font-weight-bold small">Tactic: </p></div>
					<div class="col-8 col-md-8 col-lg-7"><p class="small">
						{{ $tactic := first 1 (split .Params.tactic "-") }}
						<a href="https://attack.mitre.org/tactics/{{ index $tactic 0 }}">{{ .Params.tactic }}</a>
					</p></div>
				{{ end }}
				{{ if isset .Params "technique" }}
					<div class="col-4 col-md-4 col-lg-3"><p class="font-weight-bold small">Technique: </p></div>
					<div class="col-8 col-md-8 col-lg-7"><p class="small">
						{{ $technique := first 1 (split .Params.technique "-") }}
						<a href="https://attack.mitre.org/techniques/{{ index $technique 0 }}">{{ .Params.technique }}</a>
					</p></div>
				{{ end }}
				{{ if isset .Params "framework" }}
					<div class="col-4 col-md-4 col-lg-3"><p class="font-weight-bold small">Framework: </p></div>
					<div class="col-8 col-md-8 col-lg-7"><p class="small">{{ .Params.framework }}</p></div>
				{{ end }}
				{{ if isset .Params "control" }}
					<div class="col-4 col-md-4 col-lg-3"><p class="font-weight-bold small">Control: </p></div>
					<div class="col-8 col-md-8 col-lg-7"><p class="small">{{ .Params.control }}</p></div>
				{{ end }}
			</div>
		</div>
	</div>

	{{ if isset .Params "source" }}
		<p>Set up the <a href="{{ $meta_image.link }}">{{ .Params.source }}</a> integration.</p>
	{{ end }}

  {{ .Content }}

{{ end }}
