// Custom styles for the 3rd party package 'choices.js'

@use 'choices.js/public/assets/styles/choices.min.css';

// Overrides

body:not(.api) {
    .region-selector-container {
        padding: 10px 15px 0 15px;
        @media (min-width: 992px) {
            padding: 0;
        }
    }

    .mainContent-wrapper.col-lg-9 + .region-selector-container {
        .choices {
            @media (min-width: 992px) {
                top: 10px;
            }
        }
    }

    .choices {
        width: 100px;
        margin: 0;
        position: relative;
        right: 0;
        z-index: 2;
        top: 0;
        @media (min-width: 992px) {
            position: absolute;
            right: 28px;
            top: 40px;
        }
        @media (min-width: 1200px) {
            right: 63px;
            top: 40px;
        }
    }
    .choices__inner {
        font-size: 18px;
        font-weight: 600;
    }


    .choices__list--dropdown {
        .choices__item {
            font-size: 18px;
        }
    }
}

.choices__list--single {
    padding: 4px 7px 4px 4px;
    white-space:nowrap;
}

.choices__inner {
    background-color: white;
    color: $ddpurple;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
}

// arrow icon
.choices[data-type*='select-one'] {
    &.is-open {
        &:after {
            transform: rotate(180deg);
            transform-origin: 25% 90%;
            border-color: transparent transparent $ddpurple;
        }
    }

    &:after {
        border-width: 5px;
        border-color: $ddpurple transparent transparent;
        left: 0;
        transform: rotate(270deg);
        transform-origin: 40% 50%;
    }
}

.choices__list {
    .choices__item {
        display: flex;
        align-items: center;
        img {
            width: 15px;
            margin-left: 10px;
            position: relative;
            top: 1px;
        }
    }
}

// dropdown
.choices__list--dropdown {
    box-shadow: 0px 1px 1px rgba(30, 5, 36, 0.16),
        0px 8px 32px rgba(0, 0, 0, 0.24);
    border: none;
    word-break: normal;
    .choices__item {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
    }
    .choices__item--selectable {
        padding: 5px 12px 5px;
        &.is-highlighted {
            background-color: #f9f9f9;
        }
    }
}
