<!DOCTYPE html>
<html lang="en" data-type="{{.Type}}" data-relpermalink="{{.RelPermalink}}">
<head>
    <meta charset="utf-8">
    {{ partial "prefetch.html" . }}
    {{ partial "preload.html" . }}
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if .Params.external_redirect }} {{ partial "meta-http-equiv.html" . }} {{ end }}
    {{ if eq .Params.beta true }} <meta name="robots" content="noindex"> {{ end }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/png" href="https://docs.datadoghq.com/favicon.ico">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/{{ (index .Site.Data.manifests.css "main-dd.css" ) }}">

    {{- if ne $.Params.disable_opengraph_meta_tags true -}}
    {{- partial "meta.html" . -}}
    {{- end -}}
</head>
{{- $bodyClass := $.Scratch.Get "bodyClass" -}}
<body class="{{ if .Kind }}kind-{{.Kind}}{{ end }} {{ if .IsPage }} {{ replace $.Type "/" "-" }} {{ else }} {{ .Section }} {{ end }} {{ $bodyClass }}">

    <div class="greyside">
        <div class="container h-100">
            <div class="row h-100">
                <div class="d-none d-lg-flex col-12 col-sm-3 h-100 grey" style="background:#f8f8f8">
                </div>
            </div>
        </div>
    </div>
    {{ partial "header/header.html" . }}

    <div class="container h-100">
        <div class="row h-100">
            <div class="d-none d-lg-flex col-12 col-sm-3 side">
                {{ partial "sidenav/sidenav.html" . }}
            </div>
            <div class="col-12 col-lg-9 main">
                {{ block "main" . }}{{ end }}
            </div>
        </div>
    </div>

    {{ partial "footer/footer.html" . }}

    <script src="{{ .Site.BaseURL }}js/{{ (index .Site.Data.manifests.js "main-dd.js") }}"></script>

    {{ partial "footer-scripts.html" . }}
    {{ partial "footer-js-dd-docs-methods" . }}
    {{ partial "preview_banner/preview_banner" . }}
</body>
</html>