<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" data-type="{{.Type}}" data-relpermalink="{{.RelPermalink}}"
  data-env="{{.Site.Params.environment}}" data-commit-ref="{{ .Site.Params.branch }}" style="opacity:0"
  class="{{ if or $.Site.Params.announcement_banner.link $.Site.Params.announcement_banner.desktop_message }}banner{{ end }}">

{{- partial "head.html" . -}}
{{- $bodyClass := $.Scratch.Get "bodyClass" -}}

<body
  class="{{ .Site.Language.Lang }} {{ if .Kind }}kind-{{.Kind}}{{ end }} {{ if .IsPage }} {{ replace $.Type "/" "-" }} {{ else }} {{ .Section }} {{ end }} {{ $bodyClass }} {{ if .Site.Params.announcement_banner }}announcement{{ end }}">

  <div class="greyside">
    <div class="container h-100">
      <div class="row h-100">
        <div class="d-none d-lg-flex col-12 col-sm-3 h-100 grey" style="background:#f8f8f8; z-index: -1;">
        </div>
      </div>
    </div>
  </div>
  {{ partial "header/header.html" . }}

  <div class="container h-100">
    <div class="row h-100">
      <div class="d-none d-lg-flex col-12 col-sm-3 side">
        {{ partial "sidenav/main-sidenav.html" . }}
      </div>
      <div class="col-12 col-lg-9 main">
        {{ block "main" . }}{{ end }}
      </div>
    </div>
  </div>

  {{ partial "footer/footer.html" . }}
  {{ partial "footer-scripts.html" . }}
  {{ partial "footer-js-dd-docs-methods" . }}
  {{ partial "preview_banner/preview_banner" . }}
  {{ partial "javascript.html" . }}
</body>
</html>
