<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" data-type="{{.Type}}" data-relpermalink="{{.RelPermalink}}" data-env="{{.Site.Params.environment}}" style="opacity:0">
        {{ partial "head.html" . }}
{{- $bodyClass := $.Scratch.Get "bodyClass" -}}
<body class="{{ .Site.Language.Lang }} {{ if .IsPage }} {{ replace $.Type "/" "-" }} {{ else }} {{ .Section }} {{ end }} {{ $bodyClass }}">

    {{ partial "header/header.html" . }}

    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="d-none d-lg-flex col-sm-3 side">
                {{ partial "sidenav/sidenav-api.html" . }}
            </div>
            <div class="col-12 col-lg-9 main-api">
                {{ block "main" . }}{{ end }}
            </div>
        </div>
    </div>

    {{ partial "footer/footer.html" . }}

    <script src="{{ (index $.Site.Data.manifest "vendor.js") | relURL}}"></script>
    <script src="{{ (index $.Site.Data.manifest "main-dd-js.js") | relURL}}"></script>

    {{ partial "footer-scripts.html" . }}
    {{ partial "footer-js-dd-docs-methods" . }}
    {{ partial "preview_banner/preview_banner" . }}
</body>
</html>
