<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" data-type="{{.Type}}" data-relpermalink="{{.RelPermalink}}" style="opacity:0">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-21102638-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-21102638-5');
    </script>
    
    <meta charset="utf-8">
    {{ partial "prefetch.html" . }}
    {{ partial "preload.html" . }}
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if .Params.external_redirect }} {{ partial "meta-http-equiv.html" . }} {{ end }}
    {{- partial "noindex.html" . -}}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/png" href="https://docs.datadoghq.com/favicon.ico">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/{{ (index .Site.Data.manifests.css "main-dd.css" ) }}">

    {{- if ne $.Params.disable_opengraph_meta_tags true -}}
    {{- partial "meta.html" . -}}
    {{- end -}}
    <!-- Hotjar Tracking Code-->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1021060,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
</head>
{{- $bodyClass := $.Scratch.Get "bodyClass" -}}
<body class="{{ .Site.Language.Lang }} {{ if .IsPage }} {{ replace $.Type "/" "-" }} {{ else }} {{ .Section }} {{ end }} {{ $bodyClass }}">

    {{ partial "header/header.html" . }}

    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="d-none d-lg-flex col-sm-3 side">
                {{ partial "sidenav/sidenav-api.html" . }}
            </div>
            <div class="col-12 col-lg-9 main-api">
                {{ block "main" . }}{{ end }}
            </div>
        </div>
    </div>

    {{ partial "footer/footer.html" . }}

    <script src="{{ .Site.BaseURL }}js/{{ (index .Site.Data.manifests.js "main-dd.js") }}"></script>

    {{ partial "footer-scripts.html" . }}
    {{ partial "footer-js-dd-docs-methods" . }}
    {{ partial "preview_banner/preview_banner" . }}
</body>
</html>
