<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" data-base-url="{{ .Site.BaseURL }}" data-type="{{.Type}}" data-page-code-lang="{{ .Params.code_lang }}" data-current-section="{{ strings.TrimLeft "/" .CurrentSection.RelPermalink}}" data-relpermalink="{{.RelPermalink}}"
  data-env="{{.Site.Params.environment}}" data-commit-ref="{{ .Site.Params.branch }}" style="opacity:0"
  class="{{ if or $.Site.Params.announcement_banner.link $.Site.Params.announcement_banner.desktop_message }}banner{{ end }}">

{{- partial "head.html" . -}}
{{- $bodyClass := $.Scratch.Get "bodyClass" -}}
{{- $customClass := $.Params.customclass -}}
{{ $ctx := . }}

<body
  class="{{ .Site.Language.Lang }} {{ if .Kind }}kind-{{.Kind}}{{ end }} {{ if .IsPage }} {{ replace $.Type "/" "-" }} {{ else }} {{ .Section }} {{ end }} {{ $bodyClass }} {{ $customClass }} {{ if .Site.Params.announcement_banner }}announcement{{ end }}">

  <div class="greyside">
    <div class="container h-100">
      <div class="row h-100">
        <div class="d-none d-lg-flex col-12 col-sm-3 h-100 grey" style="background:#f8f8f8; z-index: -1;">
        </div>
      </div>
    </div>
  </div>
  {{ partialCached "header/header.html" . }}

  <div class="container h-100 pt-1">
    <div class="row h-100 position-relative js-content-container">
      <div class="d-none d-lg-flex col-12 col-sm-3 side">
        {{ partial "sidenav/main-sidenav.html" . }}
      </div>

      <div class="mainContent-wrapper order-2 order-lg-0 col-12 {{ if eq .Params.disable_sidebar true }}col-lg-9{{ else }}col-lg-7{{ end }} main">
        <div class="{{ if and (eq $.Section "integrations") (eq $.Kind "page") }}integrations-single{{ end }}"
          id="mainContent">
          {{ block "main" . }}{{ end }}
          {{ partial "page-edit.html" (dict "ctx" $ctx "type" "contribute") }}
        </div>
      </div>

      {{ if ne .Params.disable_sidebar true }}
        <aside class="sidebar col-lg-2">
          {{ partial "language-region-select.html" . }}

          {{ if ne .Params.disable_toc true }}
            {{ partial "table-of-contents/table-of-contents.html" . }}
          {{ end }}
        </aside>
      {{ end }}
    </div>
  </div>

  {{ partialCached "footer/footer.html" . }}
  {{ partial "footer-scripts.html" . }}
  {{ partial "footer-js-dd-docs-methods" . }}
  {{ partial "preview_banner/preview_banner" . }}
  {{ partial "javascript.html" . }}
</body>
</html>
