{{ define "main" }}
  <div class="row">
    <div class="col-12 order-1">
        <h1 id="pagetitle">{{ .Title }}</h1>
    </div>
    <div class="col-12">
      {{ if .File }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}
    </div>
  </div>
  {{ partial "translate_status_banner/translate_status_banner.html" . }}
  {{ partial "site_support_banner/site_support_banner.html" . }}

  {{ $wrappedTable := printf "<div class=table-wrapper> ${1} </div>" }}
  {{- $mdURL := printf "https://docs.datadoghq.com%s.md" (strings.TrimSuffix "/" .RelPermalink) -}}
  {{- $pages := partialCached "pages-json-cache.html" "pages.json" -}}

  {{- if index $pages $mdURL -}}
    <button data-md-url="{{$mdURL}}" id="copy-plaintext-button">Copy page text</button>
  {{- end -}}
  {{ .Content | replaceRE "(<table>(?:.|\n)+?</table>)" $wrappedTable | safeHTML }}
{{ end }}
