{{ $dot := . }}
<div class="itr-languages">
  <div class="container cards-dd">
    <div class="row row-cols-6 g-2 g-xl-3 justify-content-sm-center">
      <div class="col">
        <a class="card h-100" href="/intelligent_test_runner/setup/dotnet/">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/dotnet_avatar.svg" "class" "img-fluid" "alt" ".net" "width" "200") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/intelligent_test_runner/setup/java/">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/java_avatar.svg" "class" "img-fluid" "alt" "java" "width" "200") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/intelligent_test_runner/setup/javascript/">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/javascript.png" "class" "img-fluid" "alt" "javascript" "width" "200") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/intelligent_test_runner/setup/python/">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/python_avatar.svg" "class" "img-fluid" "alt" "python" "width" "200") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/intelligent_test_runner/setup/swift/">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/swift_avatar.svg" "class" "img-fluid" "alt" "swift" "width" "200") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/intelligent_test_runner/setup/ruby/">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/ruby_avatar.svg" "class" "img-fluid" "alt" "ruby" "width" "200") }}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>