{{ define "main" }}

    {{ $codeLangs := slice }}
    {{ range sort .CurrentSection.Pages ".Params.code_lang_weight" }}
        {{ with .Params.code_lang }}
            {{ $codeLangs = $codeLangs | append .  }}
        {{ end }}
    {{ end }}

    <div class="mt-7">{{ partial "code-lang-tabs" (dict "context" . "codeLangs" $codeLangs) }}</div>

    <h1 id="pagetitle">{{ .Title }}</h1>
    {{ partial "breadcrumbs.html" . }}
    {{ partial "translate_status_banner/translate_status_banner.html" . }}

    <div>{{ .Content }}</div>

{{ end }}
