---
core_product:
- synthetic monitoring
- ci-cd
title: test run
---
In Datadog Synthetic Monitoring and CI Test Visibility, a test run is an executed set of tests on software to ensure its functionality. A browser test run is a simulation of a web transaction, up to 25 steps. For more information, <a href="/continuous_testing/explorer/search_runs/">see the documentation</a>.