---
core_product:
- synthetic monitoring
- ci-cd
title: テスト実行
---
Datadog Synthetic モニタリングおよび CI Test Visibility において、テスト実行とは、ソフトウェアの機能を確保するために実行される一連のテストのことです。ブラウザテスト実行は、最大 25 ステップの Web トランザクションをシミュレーションします。詳細は<a href="/continuous_testing/explorer/search_runs/">ドキュメントを参照してください。</a>