{{- $dot := . -}}
<div class="whatsnext">
  <p>{{- i18n "additional_sentence" -}}:</p>
  <div class="list-group">
    {{- range $dot.Page.Params.further_reading -}}
      {{- if eq (substr .link 0 4) "http" -}}
          {{- $.Scratch.Set "link" .link -}}
      {{- else -}}
          {{- if eq (substr .link 0 1) "/" -}}
              {{- if in .link "#" -}}
                  {{- $.Scratch.Set "link" ((substr .link 1) | relLangURL) -}}
              {{- else -}}
                  {{- $.Scratch.Set "link" ((substr .link 1) | absLangURL) -}}
              {{- end -}}
          {{- else -}}
              {{- $.Scratch.Set "link" (.link | absLangURL) -}}
              {{- if in .link "#" -}}
                  {{- $.Scratch.Set "link" (.link | relLangURL) -}}
              {{- else -}}
                  {{- $.Scratch.Set "link" (.link | absLangURL) -}}
              {{- end -}}
          {{- end -}}
      {{- end -}}
      {{- $link := $.Scratch.Get "link" -}}
      <a class="list-group-item list-group-item-action list-group-item-white  d-flex justify-content-between align-items-center" href="{{- $link -}}">
        <span class="w-100 d-flex justify-content-between">
            <span class="text">{{- .text -}}</span>
            {{- if .tag -}}
                <span class="badge badge-white pr-2">{{- .tag | upper -}}</span>
            {{- end -}}
        </span>
        {{- partial "img.html" (dict "root" $dot "src" "icons/list-group-whats-next-arrow-1.png" "class" "img-fluid static" "alt" "more") -}}
        {{- partial "img.html" (dict "root" $dot "src" "icons/list-group-whats-next-arrow-2.png" "class" "img-fluid hover" "alt" "more") -}}
      </a>
    {{- end -}}
    </div>
</div>
