{{ $ctx := . }}

<div class="col-4 toc-container-mobile {{ if .Params.disable_toc }} d-none js-disable-toc {{ else }} {{ end }}">
    <div class="toc">
    {{ partial "page-edit.html" (dict "ctx" $ctx "type" "edit") }}
        {{ .TableOfContents }}
    </div>
</div>
<div class="d-lg-none mobile-toc-toggle js-mobile-toc-toggle {{ if .Params.disable_toc }} d-none js-disable-toc {{ else }}  {{ end }}">
    <i class="icon-small-bookmark"></i>
    <i class="icon-small-x d-none"></i>
</div>
<!-- toc backdrop -->
<div class="js-mobile-toc-bg mobile-toc-bg"></div>