$ddpurple:    #774DA2;

.toc {
  top:100px;
  padding-bottom:50px;
  #TableOfContents > ul {
    padding:0;
    margin:0;
    list-style-type:none;
  }
  #TableOfContents ul {
    list-style-type: none;
  }
  #TableOfContents ul > li > ul {
    padding-left:10px;
  }

  #TableOfContents ul ul ul {
    display: none;
    li {
      border-bottom:1px solid #e9e9e9;
      a {
        font-weight: 200;
        font-size: 15px;
        &.toc_scrolled {
          //font-weight:600;
        }
      }
    }
  }

  #TableOfContents {
    ul {
      li {
        .toc_scrolled {
          color: $ddpurple;
        }
        a {
          color:#000;
          font-size:15px;
          font-weight:600;
          &:hover {
            color: $ddpurple;
          }
          &.toc_scrolled {
            color:$ddpurple;
          }
        }
      }
      .toc_open ~ ul {
        display:block !important;
      }
    }
  }
}
