$ddpurple:    #774DA2;
$highlightcolor: rgba(50,152,204,.2);

.mobile-toc-toggle {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 43px;
  height: 43px;
  z-index: 99999;
  cursor: pointer;
  i {
    border: 1px solid $ddpurple;
    border-radius: 30px;
    padding: 8px;
    font-size: 25px;
    color: $ddpurple;
  }
}


.toc {
  top:100px;
  padding-bottom:50px;
  h5 {
    font-size:18px;
    font-weight:200;
  }
  #TableOfContents {

    // all ul's
    ul {
      padding:0;
      margin:0;
      list-style-type:none;
      li {
        a {
          display: block;
        }
      }
    }

    // open adjacent ul to open link
    .toc_open ~ ul {
      display:block !important;
    }

    // all scrolled link styles
    .toc_scrolled {
      color: #555;
      background:$highlightcolor;
    }

    // level 1 list
    &> ul {
      &> li {

        // level 2 list
        &> ul {
          &> li {
            margin-top: 10px;
            &.toc_scrolled {
              background:none;
              &> a {
                position: relative;
                &:before {
                  content: "";
                  position: absolute;
                  background: $highlightcolor;
                  top: 0;
                  bottom: 0;
                  right: 0;
                  left: 0;
                }
              }
            }
            a {
              color: #555;
              font-size: 16px;
              line-height: 21px;
              font-weight:600;
            }

            // level 3 list
            &> ul {
              display: none;
              & > li {
                a {
                  font-weight: 200;
                  font-size: 15px;
                }
              }
            }

          }

        }

      }

    }
  }
}
