{{ $ctx := . }}


<div class="col-4 col-lg-2 js-toc-container toc-container ">

    
    <div class="sticky toc">
        <div class="js-toc {{ if .Params.disable_toc }} d-none {{ else }} {{ end }}">
            {{ partial "page-edit.html" (dict "ctx" $ctx "type" "edit") }}
            <p class="text-uppercase text-gray-darkish font-semibold mb-2 toc-title js-toc-title {{ if .Params.disable_toc }} d-none {{ else }} {{ end }}">On this page</p>
        {{ .TableOfContents }}
        </div>
        
    </div>
</div>

<div class=" mobile-toc-toggle js-mobile-toc-toggle {{ if .Params.disable_toc }} d-none {{ else }} d-lg-none  {{ end }}">
    <i class="icon-small-bookmark"></i>
    <i class="icon-small-x-2 d-none"></i>
</div>

<div class="js-mobile-toc-bg mobile-toc-bg"></div>