{{ $ctx := . }}

<div class="js-toc-container toc-container">
    <div class="toc">
        <div class="js-toc {{ if .Params.disable_toc }} d-none {{ else }} {{ end }}">
            {{ if ne .Params.disable_edit true }}
                {{ partialCached "page-edit.html" (dict "ctx" $ctx "type" "edit") }}
            {{ end }}
            <p class="text-uppercase text-gray-darkish font-semibold mb-2 toc-title js-toc-title {{ if .Params.disable_toc }} d-none {{ else }} {{ end }}">{{ i18n "table_of_contents_heading"}}</p>
            {{ if ne .Params.disable_toc true }}{{ .TableOfContents }}{{ end }}
        </div>
    </div>
</div>

<div class="mobile-toc-toggle js-mobile-toc-toggle {{if eq .Params.disable_toc true }}d-none{{ else }}d-lg-none{{ end }}">
    <i class="icon-small-bookmark"></i>
    <i class="icon-small-x-2 d-none"></i>
</div>

<div class="js-mobile-toc-bg mobile-toc-bg"></div>
