{{ $dot := . }}
<div class="apm-languages">
    <div class="container cards-dd">
        <div class="card-deck">
            <a class="card" href="tracing/setup/java">
                <div class="card-body text-center pb-4 pt-4">
                    {{ partial "img.html" (dict "root" . "src" "agent/apm/java.png" "class" "img-fluid" "alt" "Java" "width" "400") }}
                </div>
            </a>
            <a class="card" href="tracing/setup/cpp">
                <div class="card-body text-center pb-4 pt-4">
                    {{ partial "img.html" (dict "root" . "src" "agent/apm/cpp.png" "class" "img-fluid" "alt" "C++" "width" "400") }}
                </div>
            </a>
            <a class="card" href="tracing/setup/python">
                <div class="card-body text-center pb-4 pt-4">
                    {{ partial "img.html" (dict "root" . "src" "agent/apm/python.png" "class" "img-fluid" "alt" "Python" "width" "400") }}
                </div>
            </a>
            <a class="card" href="tracing/setup/ruby">
                <div class="card-body text-center pb-4 pt-4">
                    {{ partial "img.html" (dict "root" . "src" "agent/apm/ruby.png" "class" "img-fluid" "alt" "Ruby" "width" "400") }}
                </div>
            </a>
        </div>
        <div class="card-deck">    
            <a class="card" href="tracing/setup/go">
                <div class="card-body text-center pb-4 pt-4">
                    {{ partial "img.html" (dict "root" . "src" "agent/apm/golang.png" "class" "img-fluid" "alt" "Go" "width" "400") }}
                </div>
            </a>
            <a class="card" href="tracing/setup/nodejs">
                <div class="card-body text-center pb-4 pt-4">
                    {{ partial "img.html" (dict "root" . "src" "agent/apm/nodejs.png" "class" "img-fluid" "alt" "Node.js" "width" "400") }}
                </div>
            </a>
            <a class="card" href="tracing/setup/dotnet">
                <div class="card-body text-center pb-4 pt-4">
                    {{ partial "img.html" (dict "root" . "src" "agent/apm/net.png" "class" "img-fluid" "alt" ".Net" "width" "400") }}
                </div>
            </a>
            <a class="card" href="tracing/setup/php">
                <div class="card-body text-center pb-4 pt-4">
                    {{ partial "img.html" (dict "root" . "src" "agent/apm/php.png" "class" "img-fluid" "alt" "PHP" "width" "400") }}
                </div>
            </a>
        </div>
        <div class="card-deck">    
            <a class="card" href="/tracing/setup/envoy/">
                <div class="card-body text-center pb-4 pt-4">
                    {{ partial "img.html" (dict "root" . "src" "agent/apm/envoy.png" "class" "img-fluid" "alt" "envoy" "width" "400") }}
                </div>
            </a>
            <a class="card" href="/tracing/setup/nginx/">
                <div class="card-body text-center pb-4 pt-4">
                    {{ partial "img.html" (dict "root" . "src" "agent/apm/nginx.png" "class" "img-fluid" "alt" "nginx" "width" "400") }}
                </div>
            </a>
            <a class="card" href="/tracing/setup/istio/">
                <div class="card-body text-center pb-4 pt-4">
                    {{ partial "img.html" (dict "root" . "src" "agent/apm/istio.png" "class" "img-fluid" "alt" "istio" "width" "400") }}
                </div>
            </a>
        </div>
    </div>
</div>