{{ $dot := . }}
<div class="apm-languages">
  <div class="container cards-dd">
    <div class="card-deck">
      <a class="card" href="java">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/java.png" "class" "img-fluid" "alt" "Java" "width" "400") }}
        </div>
      </a>
      <a class="card" href="python">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/python.png" "class" "img-fluid" "alt" "Python" "width" "400") }}
        </div>
      </a>
      <a class="card" href="ruby">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/ruby.png" "class" "img-fluid" "alt" "Ruby" "width" "400") }}
        </div>
      </a>
      <a class="card" href="nodejs">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/nodejs.png" "class" "img-fluid" "alt" "Node.js" "width" "400") }}
        </div>
      </a>
      <a class="card" href="dotnet">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/net.png" "class" "img-fluid" "alt" ".NET" "width" "400") }}
        </div>
      </a>
    </div>
  </div>
</div>
