{{ $dot := . }}
<div class="apm-containers">
    <div class="container cards-dd tile-nav">
        <div class="card-deck">
            <a class="card" href="/agent/docker/apm/?tab=java">
                <div class="card-body text-center pb-4 pt-4">
                    {{ partial "img.html" (dict "root" . "src" "agent/apm/platform_docker.png" "class" "" "alt" "Docker" "width" "400") }}
                </div>
            </a>
            <a class="card" href="/agent/kubernetes/daemonset_setup/#trace-collection">
                <div class="card-body text-center pb-4 pt-4">
                    {{ partial "img.html" (dict "root" . "src" "agent/apm/platform_kubernetes.png" "class" "" "alt" "Kubernetes" "width" "400") }}
                </div>
            </a>
            <a class="card" href="/integrations/amazon_ecs/?tab=python#create-an-ecs-task">
                <div class="card-body text-center pb-4 pt-4">
                    {{ partial "img.html" (dict "root" . "src" "agent/apm/amazon_ecs.png" "class" "" "alt" "Amazon ECS" "width" "400") }}
                </div>
            </a>
        </div>
    </div>
</div>