{{ $dot := . }}
<div class="apm-languages">
  <div class="container cards-dd">
    <div class="row row-cols-2 row-cols-sm-3 g-2 g-xl-3 justify-content-sm-center">
      <div class="col">
        <a class="card h-100" href="dd_libraries/java">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/java.png" "class" "img-fluid" "alt" "Java" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="dd_libraries/python">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/python.png" "class" "img-fluid" "alt" "Python" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="dd_libraries/ruby">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/ruby.png" "class" "img-fluid" "alt" "Ruby" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="dd_libraries/go">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/go-metro.png" "class" "img-fluid" "alt" "go" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="dd_libraries/nodejs">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/nodejs.png" "class" "img-fluid" "alt" "Node.js" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="dd_libraries/php">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/php.png" "class" "img-fluid" "alt" "PHP" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="dd_libraries/cpp">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/cpp.png" "class" "img-fluid" "alt" "C++" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="dd_libraries/dotnet-core">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/dotnet-core.png" "class" "img-fluid" "alt" ".Net" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="dd_libraries/dotnet-framework">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/dotnet-framework.png" "class" "img-fluid" "alt" ".Net" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="dd_libraries/android">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/android.png" "class" "img-fluid" "alt" "Android" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="dd_libraries/ios">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/ios_large.svg" "class" "img-fluid" "alt" "iOS" "width" "400") }}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
