{{ $dot := . }}
<div class="apm-languages">
  <div class="container cards-dd">
    <div class="row row-cols-2 row-cols-sm-4 g-2 g-xl-3 justify-content-sm-center">
      <div class="col">
        <a class="card h-100" href="otel_instrumentation/java">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/java.png" "class" "img-fluid" "alt" "Java" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="otel_instrumentation/python">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/python.png" "class" "img-fluid" "alt" "Python" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="otel_instrumentation/ruby">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/ruby.png" "class" "img-fluid" "alt" "Ruby" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="otel_instrumentation/go">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/go-metro.png" "class" "img-fluid" "alt" "go" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="otel_instrumentation/nodejs">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/nodejs.png" "class" "img-fluid" "alt" "Node.js" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="otel_instrumentation/php">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/php.png" "class" "img-fluid" "alt" "PHP" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="otel_instrumentation/dotnet">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/dotnet_text.png" "class" "img-fluid" "alt" ".Net" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="otel_instrumentation/ios">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/ios_large.svg" "class" "img-fluid" "alt" "iOS" "width" "400") }}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
