{{/*
  Registry Config Entry partial
  Renders a single configuration entry as a <dt>/<dd> pair with an anchor ID and copy-link button.
  Expects a config object with: name, type, default_value, from_version, aliases, description.
*/}}
{{- $anchor := .name | lower | replaceRE "[^a-z0-9]+" "-" -}}
<dt id="{{ $anchor }}"><code>{{ .name }}</code><a class="registry-copy-link" href="#{{ $anchor }}" title="Copy link" aria-label="Copy link to {{ .name }}">{{ partial "icon" (dict "name" "click") }}</a></dt>
<dd>
  {{- with .type -}}<strong>Type</strong>: <code>{{ . }}</code><br>{{- end -}}
  {{- with .default_value -}}<strong>Default</strong>: <code>{{ . }}</code><br>{{- end -}}
  {{- with .from_version -}}<strong>Since</strong>: <code>{{ . }}</code><br>{{- end -}}
  {{- with .aliases -}}
    {{- if gt (len .) 0 -}}
      <strong>Key Aliases</strong>:
      {{- range $i, $a := . -}}
        {{- if $i -}}, {{ end -}}
        <code>{{ $a }}</code>
      {{- end -}}<br>
    {{- end -}}
  {{- end -}}
  {{- $desc := .description | default "" -}}
  {{- if or (eq $desc "null") (lt (len $desc) 5) -}}
    <em class="text-warning">No description provided.</em>
  {{- else -}}
    {{ $desc | markdownify }}
  {{- end -}}
</dd>
