{{ $dot := . }}
{{ $base := "" | absLangURL }}
{{ $announce := .Site.Params.announcement_banner }}
{{ $btnClass := "btn btn-gradient knockout-around js-cta-topRight" }}
{{ $SignUpClass := .Site.Params.SignUpClass }}
{{ if $announce }}
  {{ partial "announcement_banner" . }} {{/* imported from websites-modules */}}
{{ end }}

<div class="main-nav-wrapper">
  {{/* Keyed the same as the header/header.html cache wrapping this call -- see baseof.html --
       since nav/mobile-documentation.html (a local override) scopes by current top-level section. */}}
  {{ $currentTopSection := partial "nav/current-top-section.html" . }}
  {{ partialCached "nav/main-nav" . $currentTopSection .Site.Language.Lang }} {{/* imported from websites-modules */}}
</div>
