{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3 hidden-xs hidden-print" id="sidebarcolumn">
            {{ partial "sidebar.html" . }}
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 main">
            <h1>Uh oh, Something Went Wrong</h1>

            <img src="{{ partial "img.html" (dict "root" . "src" "sad_bits.png") }}" />
            <p class="alert alert-error pull-left">
                Head back <a href="https://docs.datadoghq.com/">home</a> and start again.
            </p>
        </div>
    </div>
</div>
{{ partial "container-footer.html" . }}
{{ partial "footer.html" . }}

