{{ define "main" }}
    {{ $dot := . }}
    {{ $scratch := .Scratch }}

    <!-- From imported files -->
    {{ $list := sort .Pages }}


    <div class="row">
        <div class="col-12 order-1">
            <h1 id="pagetitle">{{ .Title }}</h1>
        </div>
        <div class="col-12">
            {{ partial "breadcrumbs.html" . }}
        </div>
    </div>
     
    {{ partial "translate_status_banner/translate_status_banner.html" . }}
    {{ .Content }}

    {{ $products := slice }}
    {{ $rulset_params := .Params }}
    <div 
    class="static-analysis-main w-100 d-flex flex-column"
    x-data="{
        filterValue: {
            language: '',
            category: '',
            severity: ''
        },
        searchValue: '',
        filteredRulesets: new Set(),
        updateFilterValue (filter, value) {
            // Setter on filter
            this.filterValue[filter] = value
        },
        resetFilteredRulesets () {
            // Setter on filter
            this.filteredRulesets = new Set()
        },
        shouldShowRuleSet (ruleset, shouldShowRule) {
            // Manage visibility of ruleset group

            const rulesetID = ruleset.dataset.groupId
            if(shouldShowRule){
                this.filteredRulesets.add(rulesetID)
                ruleset.classList.remove('d-none')
            }else if (!this.filteredRulesets.has(rulesetID)){
                ruleset.classList.add('d-none')
            }
        },
        shouldShowRule (ruleEl, dataSet) {
            // Determines ruleset display
            // Compares search values and filter values against ruleset info (dataSet)

            const datasetArr = dataSet.split(';')
            const filterValues = Object.values(this.filterValue)
            const searchValues = this.searchValue.split(' ')

            const containsFilteredValue = filterValues.every(value => datasetArr[0].toLowerCase().includes(value)) // checks every filter attrs matches selected filters
            const containsSearchValues = searchValues.some(word => datasetArr.slice(1).join(' ').includes(word.toLowerCase())) // checks search attrs match a typed search word

            this.shouldShowRuleSet(ruleEl.closest('.ruleset'), containsSearchValues && containsFilteredValue)
            
            return containsSearchValues && containsFilteredValue
        },
        pushState (filtering=true, filter=undefined) {
            // Updates url with new query params for filter and search without refreshing the page

            const url = new URL(window.location.href)
      
            if(filtering){
                url.searchParams.set(filter, this.filterValue[filter])
            }else if(!filtering){
                url.searchParams.set('search', this.searchValue)
            }
      
            if(!this.searchValue) {
                url.searchParams.delete('search')
            }
            if(!this.filterValue[filter]) {
                url.searchParams.delete(filter)
            }
      
            window.history.pushState(null,'', url.toString())
            window.scroll(0, 0)
        },
        updateWithURLParams () {
            // Updates x-data properties with url param values
            
            const url = new URL(window.location.href)
            Array.from(url.searchParams.entries()).forEach(([key, value]) => {
                if(key === 'search'){
                    this.searchValue = value
                }else{
                    this.filterValue[key] = value
                }
            })
        },
        toggleRuleSet (selectedRulesetEl) {
            // Manage ruleset accordians

            selectedRulesetEl.classList.toggle('active')
            selectedRulesetEl.previousElementSibling.classList.toggle('d-none')
        },
        copyHref (selectedRuleEl) {
            // Copy href

            const clickableIconWrapper = selectedRuleEl
            const copyConfirmedIconWrapper = clickableIconWrapper.nextElementSibling
            const anchor = clickableIconWrapper.dataset.anchor
            const {pathname, origin} = window.location
            const path = new URL(`${origin}${pathname}${anchor}`)

            const Clipboard = navigator.clipboard
            // write href to clipboard
            Clipboard.writeText(path.href).then(() => {
                clickableIconWrapper.classList.add('d-none');
                copyConfirmedIconWrapper.classList.remove('d-none')
                setTimeout(function() {
                    clickableIconWrapper.classList.remove('d-none');
                    copyConfirmedIconWrapper.classList.add('d-none')
                }, 1000)
            })
        }
    }"
    x-init="updateWithURLParams()">
        {{ $pad := newScratch }}
        <div class="col-12 order-1">
            <div class="ps-0">
                {{ range $list.GroupByParam "group_id" }}
                {{ $group_id := .Key }}
                {{ $ruleset_title := index (index $rulset_params.rulesets .Key) "title"}}
                {{ $ruleset_description := index (index $rulset_params.rulesets .Key) "description"}}
                <div
                data-group-id="{{ $group_id }}" 
                class="ruleset d-flex flex-column"
                id="{{ $group_id }}"
                >
                    <div class="mb-3 order-1">
                        <div class="d-flex flex-column">
                            <span class="m-0">{{printf "Ruleset ID: %s" .Key}}</span>
                            <span class="m-0">{{$ruleset_description}}</span>
                        </div>
                        <div class="ps-0 mt-1">
                            {{ range .Pages }}
                            {{/*  
                                build a string with rule's lookup info for filtering and searching against
                            */}}
                            {{ $ruleset_id := index (split .Params.meta.id "/") 1}}
                            {{ $filter_info := printf "%s,%s,%s" .Params.meta.language .Params.meta.category .Params.meta.severity }}
                            {{ $ruleset_info := (replaceRE "(`|')" "" (delimit (slice $filter_info ($ruleset_id|lower) ($ruleset_description|lower) $ruleset_title .Params.group_id .Title ) ";")) }}
                            <div 
                            class="rule d-flex justify-content-between border p-1 position-relative"
                            x-cloak x-show.important="shouldShowRule($el,'{{ $ruleset_info }}')"
                            >
                                <div class="rule-name-container d-flex align-items-center">
                                    {{ $int_logo := partial "integrations-logo.html" (dict "context" $dot "basename" .Params.meta.language "variant" "avatar") }}
                                    {{ if $int_logo }}
                                    <img src="{{ $int_logo }}" height="18" alt="{{$int_logo}}"/>
                                    {{ end }}
                                    <a href="{{.Permalink}}" class="stretched-link">{{.Title}}</a>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <span class="d-none d-md-block">{{ $ruleset_id }}</span>
                                    <div class="group-header__arrow fw-semibold ms-1">></div>
                                </div>
                            </div>
                            
                            {{/*  
                                build an object of arrays with unique values for filter btns
                                e.g:
                                filters: {
                                    Language: [],
                                    Category: [],
                                    Severity: []
                                }
                            */}}
                            {{ $pad.SetInMap "filters" "Language" (union (index ($pad.Get "filters") "Language") (slice .Params.meta.language)) }}
                            {{ $pad.SetInMap "filters" "Category" (union (index ($pad.Get "filters") "Category") (slice .Params.meta.category)) }}
                            {{ $pad.SetInMap "filters" "Severity" (union (index ($pad.Get "filters") "Severity") (slice .Params.meta.severity)) }}
                            {{/*  
                                build object of arrays with unique languages for each group-header (ruleset header)
                                languagesByRuleset: {
                                    rulesetID: [<languages>],
                                    ...
                                }    
                            */}}
                            {{ $pad.SetInMap "languageByRuleSet" $group_id (union (index ($pad.Get "languageByRuleSet") $group_id) (slice .Params.meta.language)) }}
                            {{ end }}
                        </div>
                    </div>

                    {{/* group header - Keep here. need to build header language logo   */}}
                    <button
                    data-header-id="{{ $group_id }}" 
                    class="group-header w-100 border mb-1 d-flex align-items-center justify-content-between"
                    @click="toggleRuleSet($el)"
                    >
                        <div class="d-flex align-items-center h-100">
                            {{$ruleset_languages := index ($pad.Get "languageByRuleSet") $group_id}}
                            <div class="d-flex align-items-center h-100">
                                {{ $int_logo := partial "integrations-logo.html" (dict "context" $dot "basename" (index $ruleset_languages 0) "variant" "avatar") }}
                                {{ if $int_logo }}
                                <img class="group-header__logo" src="{{ $int_logo }}" height="18" alt="{{$int_logo}}"/>
                                {{ if gt (len $ruleset_languages) 1 }}
                                <span class="group-header__plus fw-semibold">+{{len $ruleset_languages}}</span>
                                {{ end }}
                                {{ end }}
                            </div>
                            <span class="group-header__text fw-semibold">{{$ruleset_title}}</span>
                            <span data-anchor="#{{$group_id}}" @click.stop="copyHref($el)">{{ partial "icon" (dict "name" "click" "title" (printf "copy anchor for %s" $ruleset_title) ) }}</span>
                            <span class="d-none">{{ partial "icon" (dict "name" "check-bold" "color" "#7c3eb9" ) }}</span>
                        </div>
                        <div class="group-header__arrow fw-semibold">></div>
                    </button>
                </div>
                {{ end }}
            </div>
        </div>

        <nav id="static-analysis-nav" class="d-none d-md-block w-100">
            {{/*  FILTER BTNS - Keep here. filters scratch pad  needs to form */}}
            {{ $filterKeys := slice "Language" "Category" "Severity" }}
            <div class="filters-static-analysis d-flex flex-column border border-primary">
                {{ range $filterKeys }}
                {{ $filter := . | lower }}
                <div class="d-flex flex-column mb-2">
                    <span class="mb-1 fw-semibold">{{.}}</span>
                    {{/*  <div class="d-flex gap-1 flex-wrap">
                        <button 
                        @click="resetFilteredRulesets; updateFilterValue('{{ $filter }}', ''); pushState(true, '{{ $filter }}')"
                        class="btn btn-sm-tag btn-outline-secondary"
                        :class="(!filterValue['{{ $filter }}']) && 'active'"
                        data-filter="all"
                        >All</button>
                        {{ range index ($pad.Get "filters") .  }}
                        <button 
                        @click="resetFilteredRulesets; updateFilterValue('{{ $filter }}', '{{ . | lower }}'); pushState(true, '{{ $filter }}')"
                        class="btn btn-sm-tag btn-outline-secondary"
                        :class="($el.dataset.filter === filterValue['{{ $filter }}']) && 'active'"
                        data-filter="{{ . | lower }}"
                        >{{.}}</button>
                        {{ end }}
                    </div>  */}}
                    <div class="dropdown">
                        <div>{Selection here. default: "All"}</div>
                        <form class="d-flex flex-column">
                            <div>
                                <input id="all" type="checkbox">
                                <label for="all">All</label>
                            </div>
                            {{ range index ($pad.Get "filters") . }}
                            <div>
                                <input id="{{ . }}" type="checkbox">
                                <label for="{{ . }}">{{.}}</label>
                            </div>
                            {{ end }}
                        </form>
                    </div>                      
                   
                </div>
                {{ end }}
            </div>
            {{/*  SEARCH  */}}
            <form class="search-static-analysis">
                <input type="text" placeholder="Search here" class="w-100 px-1" x-model="searchValue" @input="resetFilteredRulesets" @input.debounce="pushState(false)">
            </form>
          </nav>
    </div>

    <h2>Further Reading</h2>
    {{ partial "whats-next/whats-next.html" .}}
{{ end }}
