---
last_modified: 2015/04/02
translation_status: complete
language: ja
title: DogStatsD を使った、メトリクスの送信
kind: guide
listorder: 4
sidebar:
  nav:
    - header: メトリクスのガイド
    - text: 概要
      href: "#overview"
    - text: セットアップ
      href: "#setup"
    - header: メトリクスタイプ
    - text: カウンタ
      href: "#counters"
    - text: ゲージ
      href: "#gauges"
    - text: ヒストグラム
      href: "#histograms"
    - text: セット
      href: "#sets"
    - header: オプション
    - text: タグ
      href: "#tags"
    - text: サンプルレート
      href: "#sample-rates"
    - header: その他
    - text: 他の送信方法
      href: "#methods"
    - text: カスタムメトリクスの確認方法
      href: "#custom"

---

<% tab_languages = %w{Python Ruby} %>

<!--
======================================================
OVERVIEW
======================================================
-->

<!-- <h3 id="overview">Overview</h3>

This guide explains how to send your application's custom metrics to Datadog.
Sending your application's custom metrics to Datadog will let you correlate
what's happening with your application, your users and your system.

Metrics are collected by sending them to StatsD, a small metrics aggregation
server that is bundled with the Datadog Agent. You can read about how it works <a
href="/guides/dogstatsd/">here</a>. If you want to dive into code right away,
read on.

In this tutorial, we'll cover some common instrumentation use cases, like:

- How to count web page views
- How to time database queries
- How to measure the amount of free memory -->

<h3 id="overview">概要</h3>

このページでは、アプリケーションのメトリクスをDatadogに送信する方法について説明します。

Datadogにアプリケーションのメトリクスを送信することで、アプリケーションの状態、ユーザの行動、システムの状態などを関連付けて把握できるようになります。

メトリクスは、Datadog Agent にバンドルされているDogStatsD という負荷の少ないメトリクス集約サーバを介しDatadogに転送されています。DogStatsDの動作の詳細に関しては、["DogStatsDの解説"](/ja/guides/dogstatsd/)で理解を深めることができます。今すぐメトリクスを送信するためのコードを開発する必要のある場合は、このまま読み進めてください。

以下のチュートリアルでは、次のようなユースケースを取り上げます:

- Webページのページビューを測定する方法
- データベースのクエリ時間を測定する方法
- 空きメモリの量を測定する方法

<!--
======================================================
SETUP
======================================================
-->

<!-- <h3 id="setup">Setup</h3>

First off, <a href="https://app.datadoghq.com/account/settings#agent">install</a>
the Datadog Agent (version 3 or greater), which
contains our StatsD server, and make sure it's running.

Next, let's set up a client library for your language.

<%= code_tabs("setup", tab_languages) %>

<div class="tab-content">

  <div class="tab-pane active fade in" id="setup-python">
First, install the module:
<%= console <<EOF
$ pip install datadog
EOF
%>
And import it, so it's ready to use:
<%= python <<EOF
from datadog import statsd
EOF
%>
  </div>

  <div class="tab-pane fade in" id="setup-ruby">
First, install the module:
<%= console <<EOF
$ gem install dogstatsd-ruby
EOF
%>
And add it to your code:
<%= ruby <<EOF
# Import the library
require 'statsd'

# Create a statsd client instance.
statsd = Statsd.new
EOF
%>
  </div>
  <p>Now we're ready to roll.</p>
  <div class="alert info-block">
    This tutorial has examples for Python and Ruby, but check out the
    <a href="/libraries/">libraries page</a> if you use another language.
  </div>

</div>

<h4>Metric names</h4>
There are a few rules to stick to when naming metrics:
<ul>
<li>Metric names must start with a letter</li>
<li>Can only contain ascii alphanumerics, underscore and periods (other characters will get converted to underscores)</li>
<li>Should not exceed 200 characters (though less than 100 is genearlly preferred from a UI perspective)</li>
<li>Unicode is not supported</li>
<li>We recommend avoiding spaces</li>
</ul>
Metrics reported by the Agent are in a
pseudo-hierarchical dotted format (e.g. http.nginx.response_time). We say
pseudo-hierarchical because we're not actually enforcing a hierarchy or doing
anything with it, but we have aspirations to use it to infer things about
servers (e.g. "hey, I see hostA and hostB are reporting 'http.nginx.*', those
must be web frontends"). -->

<h3 id="setup">セットアップ</h3>

まず、ホストにDogStatsDがバンドルされているDatadog Agent(Ver. 3以降) を<a href="https://app.datadoghq.com/account/settings#agent">インストール</a>し、動作していることを確認します。

次に、開発に使用するプログラミング言語に向けたクライアントライブラリーをインストール&セットアップします。

<%= code_tabs("setup", tab_languages) %>

<div class="tab-content">

  <div class="tab-pane active fade in" id="setup-python">

プログラム言語へモジュールをインストールします:
<%= console <<EOF
$ pip install datadog
EOF
%>

アプリケーションへモジュールをインポートします:
<%= python <<EOF
from datadog import statsd
EOF
%>
  </div>

  <div class="tab-pane fade in" id="setup-ruby">
プログラム言語へモジュールをインストールします:
<%= console <<EOF
$ gem install dogstatsd-ruby
EOF
%>
アプリケーションへモジュールをインポートするためにrequire行を追記します:
<%= ruby <<EOF
# Import the library
require 'statsd'

# Create a statsd client instance.
statsd = Statsd.new
EOF
%>
  </div>
  <p>これで、ライブラリーが使えるように成りました。</p>
  <div class="alert info-block">
    このチュートリアルでは、PythonとRubyの例を掲載しています。他のプログラミング言語を利用する場合は、<a href="/ja/libraries/">Libraries</a>のページを参照してくだい。
  </div>

</div>

#### メトリクスの命名規則
メトリクスを命名する際には、次のルールを守ってください:

- 文字で始まる必要があります。
- 半角英数字、アンダースコア、ピリオドを、使うことができができます。（他の文字はアンダースコアに変換されます)
- 200文字を、超えることができません。 (ユーザインターフェースの観点からは、100文字以下が一般的です)
- Unicode （全角文字）は、サポートしていません。
- 空白(スペース)は、使用できません。

Datadog Agent によって転送されるメトリクスは、擬似階層ドット形式 (e.g. http.nginx.response_time)を使用しています。
ここで"疑似階層"と言っている理由は、階層的表記のメリットを生かし、メトリクスを検索する仕組みとして使ってはいるが、監視対象のシステムは階層構造である必要がないということです。
(例えば: "ねえ、ホストAとホストBが、'http.nginx.*'というメトリクスを送信している。これらは、Webのフロントエンドのメトリクスだよね〜")


<!--
======================================================
COUNTERS
======================================================
-->


<!-- <h3 id="counters">Counters</h3>

Counters are used to (ahem) count things. Let's walk through a common example -
counting web page views. To achieve this, we'll increment a metric called
`web.page_views` each time our `render_page` function is called.

<%= code_tabs("counters-page-views", tab_languages) %>

<div class="tab-content">
  <div class="tab-pane active fade in" id="counters-page-views-python">
<%= python <<EOF
def render_page():
    """ Render a web page. """
    statsd.increment('web.page_views')
    return 'Hello World!'
EOF
%>
  </div>
  <div class="tab-pane fade in" id="counters-page-views-ruby">
<%= ruby <<EOF
def render_page()
  # Render a web page.
  statsd.increment('web.page_views')
  return 'Hello World!'
end
EOF
%>
  </div>
</div>

That's it. With this one line of code we can start graphing the data.
Here's an example:

<img src="/static/images/graph-guides-metrics-page-views.png" style="width:100%">

Note that StatsD counters are normalized over the flush interval to report
per-second units. In the graph above, the marker is reporting
35.33 web page views per second at ~15:24. In contrast, if one person visited
the webpage each second, the graph would be a flat line at y = 1. To increment or
measure values over time, please see <a href='#gauges'>gauges</a>.

We can also count by arbitrary numbers. Suppose we wanted to count the number
of bytes processed by a file uploading service. We'll increment a metric
called `file_service.bytes_uploaded` by the size of the file each time our
`upload_file` function is called:

<%= code_tabs("counters-uploaded", tab_languages) %>

<div class="tab-content">
  <div class="tab-pane active fade in" id="counters-uploaded-python">
<%= python <<EOF
def upload_file(file):
    statsd.increment('file_service.bytes_uploaded', file.size())
    save_file(file)
    return 'File uploaded!'
EOF
%>
  </div>
  <div class="tab-pane fade in" id="counters-uploaded-ruby">
<%= ruby <<EOF
def upload_file(file)
  statsd.count('file_service.bytes_uploaded', file.size())
  save_file(file)
  return 'File uploaded!'
end
EOF
%>
  </div>
</div>
<br>

Note that for counters coming from another source that are ever-increasing and never
reset -- for example, the number of queries from MySQL over time -- we track the
rate between flushed values. While there currently isn't an elegant solution to
get raw counts within Datadog, you may want to apply a function to
your series like cumulative sum or integral. There is more information on those
<a href="http://docs.datadoghq.com/graphing/#functions">here</a>. -->

<h3 id="counters">カウンタ (Counters)</h3>

カウンタは、出来事の回数を数えるのに使用します。

例えば、Webページのビュー数をカウントしたい場合、Webアプリケーションの`render_page`関数が実行された際に、`web.page_views`メトリクスが、増加するよう関数内に`statsd.increment()`行を追記しカウント値を蓄積しています。

<%= code_tabs("counters-page-views", tab_languages) %>

<div class="tab-content">
  <div class="tab-pane active fade in" id="counters-page-views-python">
<%= python <<EOF
def render_page():
    """ Render a web page. """
    statsd.increment('web.page_views')
    return 'Hello World!'
EOF
%>
  </div>
  <div class="tab-pane fade in" id="counters-page-views-ruby">
<%= ruby <<EOF
def render_page()
  # Render a web page.
  statsd.increment('web.page_views')
  return 'Hello World!'
end
EOF
%>
  </div>
</div>

この1行のコードを追記するのみで、データのグラフ化を開始することができます。

次のグラフは、先の方法で収集したメトリクスをグラフ表示した例です:

<img src="/static/images/graph-guides-metrics-page-views.png" style="width:100%">

- 注) DogStatsDのデフォルト設定では10秒間隔でメトリクスをDatadogへ送信しています。カウンタは、この送信間隔の間の総カウント値を1秒間の数値に換算し、情報を送信しています。
従って、上のグラフのマーカでは、15:34分に35.33 view/秒という実際には考えられない数値を表示しています。

**一定時間内の数値の増加や測定を目的とする場合は、<a href='#gauges'>ゲージ</a>を参照してください。**

任意の数値でカウント値を増すこともできます。
例えばファイルのアップロードサービスで、処理されたバイト数をカウントしたいとします。
このようなケースでは、`upload_file`関数が実行される度に、`file_service.bytes_uploaded`というメトリクスを、ファイルサイズの値を使って増加させることができます:

<%= code_tabs("counters-uploaded", tab_languages) %>

<div class="tab-content">
  <div class="tab-pane active fade in" id="counters-uploaded-python">
<%= python <<EOF
def upload_file(file):
    statsd.increment('file_service.bytes_uploaded', file.size())
    save_file(file)
    return 'File uploaded!'
EOF
%>
  </div>
  <div class="tab-pane fade in" id="counters-uploaded-ruby">
<%= ruby <<EOF
def upload_file(file)
  statsd.count('file_service.bytes_uploaded', file.size())
  save_file(file)
  return 'File uploaded!'
end
EOF
%>
  </div>
</div>
<br>

<!-- - 注）DogStatsDが他のアプリケーションから受け取った、リセットが発生せずに増加し続けるカウンタ値(例えば、MySQLのクエリ数/時間)は、flush interval間のレートを記録していきます。
現状のDatadogでは、大本のカウント値を取得するための洗練された解決策を持ち合わせいませんが、必要に応じ送信されたシリーズ(時系列データ)に対し数値計算functionを使って累積合計や積分をとることも検討してみると良いかもしれません。
これらのfunctionに関する詳細は、Graphingページの<a href="http://docs.datadoghq.com/graphing/#functions">"Arithmetic and Functions"</a>を参照してください。 -->


<!--
======================================================
GAUGES
======================================================
-->


<!-- <h3 id="gauges">Gauges</h3>

Gauges measure the value of a particular thing over time. Suppose a developer
wanted to track the amount of free memory on a machine, we can periodically
sample that value as the metric `system.mem.free`:

<%= code_tabs("gauges", tab_languages) %>

<div class="tab-content">
  <div class="tab-pane active fade in" id="gauges-python">
<%= python <<EOF
# Record the amount of free memory every ten seconds.
while True:
    statsd.gauge('system.mem.free', get_free_memory())
    time.sleep(10)
EOF
%>
  </div>
  <div class="tab-pane fade in" id="gauges-ruby">
<%= ruby <<EOF
# Record the amount of free memory every ten seconds.
while true do
    statsd.gauge('system.mem.free', get_free_memory())
    sleep(10)
end
EOF
%>
  </div>
</div> -->

<h3 id="gauges">ゲージ (Gauges)</h3>

ゲージは、一定時間内の特定の値を測定します。

例えば、マシンの空きメモリの量を追跡した場合、空きメモリ量を調べる関数`get_free_memory()`を定期的に呼び出し、`statsd.gauge()`で、メトリクス`system.mem.free`の測定値`get_free_memory()`として処理します:

<%= code_tabs("gauges", tab_languages) %>

<div class="tab-content">
  <div class="tab-pane active fade in" id="gauges-python">
<%= python <<EOF
# Record the amount of free memory every ten seconds.
while True:
    statsd.gauge('system.mem.free', get_free_memory())
    time.sleep(10)
EOF
%>
  </div>
  <div class="tab-pane fade in" id="gauges-ruby">
<%= ruby <<EOF
# Record the amount of free memory every ten seconds.
while true do
    statsd.gauge('system.mem.free', get_free_memory())
    sleep(10)
end
EOF
%>
  </div>
</div>


<!--
======================================================
HISTOGRAMS
======================================================
-->


<!-- <h3 id="histograms">Histograms</h3>

Histograms measure the statistical distribution of a set of values.
Suppose we wanted to measure the duration of a database query,
we can sample each query time with the metric `database.query.time`.

<%= code_tabs("histograms", tab_languages) %>

<div class="tab-content">
  <div class="tab-pane active fade in" id="histograms-python">
<%= python <<EOF
# Track the run time of the database query.
start_time = time.time()
results = db.query()
duration = time.time() - start_time
statsd.histogram('database.query.time', duration)

# We can also use the `timed` decorator as a short-hand for timing functions.
@statsd.timed('database.query.time')
def get_data():
    return db.query()
EOF
%>
  </div>
  <div class="tab-pane fade in" id="histograms-ruby">
<%= ruby <<EOF
start_time = Time.now
results = db.query()
duration = Time.now - start_time
statsd.histogram('database.query.time', duration)

# We can also use the `time` helper as a short-hand for timing blocks
# of code.
statsd.time('database.query.time') do
  return db.query()
end
EOF
%>
  </div>
</div>

The above instrumentation will produce the following metrics:

- `database.query.time.count` - the number of times this metric was sampled
- `database.query.time.avg` - the average time of the sampled values
- `database.query.time.median` - the median sampled value
- `database.query.time.max` - the maximum sampled value
- `database.query.time.95percentile` - the 95th percentile sampled value

These metrics give insight into how different each query time is. We can see
how long the query usually takes by graphing the `median`. We can see how long
most queries take by graphing the `95percentile`.

<img src="/static/images/graph-guides-metrics-query-times.png" style="width:100%">

For this toy example, let's say a query time of 1 second is acceptable.
Our median query time (graphed in purple) is usually less than 100
milliseconds, which is great. But unfortunately, our 95th percentile (graphed in
blue) has large spikes sometimes nearing three seconds, which is unacceptable.
This means most of our queries are running just fine, but our worst ones are
very bad. If the 95th percentile was close to the median, than we would know
that almost all of our queries are performing just fine.

<p class="alert alert-warning">
Histograms aren't just for measuring times. They can be used to measure the
distribution of any type of value, like the size of uploaded files or classroom
test scores.
</p> -->

<h3 id="histograms">ヒストグラム (Histograms)</h3>

ヒストグラムは、データの統計的分布を測定します。

例えば、データベースへのクエリ時間待ち時間を計測したい場合、クエリの実行に掛かった時間を計測し、`statsd.histogram()`で、メトリクス`database.query.time`のヒストグラム値`duration`として処理します:

<%= code_tabs("histograms", tab_languages) %>

<div class="tab-content">
  <div class="tab-pane active fade in" id="histograms-python">
<%= python <<EOF
# Track the run time of the database query.
start_time = time.time()
results = db.query()
duration = time.time() - start_time
statsd.histogram('database.query.time', duration)

# We can also use the `timed` decorator as a short-hand for timing functions.
@statsd.timed('database.query.time')
def get_data():
    return db.query()
EOF
%>
  </div>
  <div class="tab-pane fade in" id="histograms-ruby">
<%= ruby <<EOF
start_time = Time.now
results = db.query()
duration = Time.now - start_time
statsd.histogram('database.query.time', duration)

# We can also use the `time` helper as a short-hand for timing blocks
# of code.
statsd.time('database.query.time') do
  return db.query()
end
EOF
%>
  </div>
</div>

ヒストグラム(Histogram)やタイマー(Timer)では、次のメトリクスを同時に生成されます:

- `database.query.time.count` - 計測された回数
- `database.query.time.avg` - 計測された値の平均時間
- `database.query.time.median` - 計測された値の中央値
- `database.query.time.max` - 計測された値の最大値
- `database.query.time.95percentile` - 計測された値の95パーセンタイル値

これらのメトリクスにより、クエリが処理されるまでの時間のばらつきを把握すことができます。
`median`をグラフ化することにより、クエリが処理されるまでの一般的な時間(中央値)を把握することができます。
又、`95percentile`をグラフ化することにより、異常値を取り除いた最大クエリ処理時間を把握することができます。

<img src="/static/images/graph-guides-metrics-query-times.png" style="width:100%">

この例では、「クエリ処理時間の容認範囲は、１秒以内」と仮定し話を進めます。クエリ処理時間の中央値(紫色線)は、概ね100ミリ秒以下を示し、容認範囲を推移しています。
しかし残念ながら、95パーセンタイル値(青色線)では、放置することのできない長時間クエリがスパイク状に発生しているのが確認でき、長い時には3秒という値になっています。

この2本の線から、ほとんどのクエリは順調に処理されているが、時折発生する長処理時間のクエリは深刻であることが推測できます。
なんだかの対策を施し、95パーセンタイル値が中央値と近接して推移するようにできたら、クエリは期待通りに処理されるように改善されたことになり、グラフの変化からその対策は有効であったことが確認することができます。

<p class="alert alert-warning">
ヒストグラムは、任意の型の値の分布を測定するために用いることもできます。
(例えば、"アップロード操作で受け付けたファイルのサイズ"や"試験の点数"のような値です。)
</p>


<!--
======================================================
SETS
======================================================
-->


<!-- <h3 id="sets">Sets</h3>

Sets are used to count the number of unique elements in a group. If you want to
track the number of unique visitor to your site, sets are a great way to do
that.

<%= code_tabs("sets", tab_languages) %>

<div class="tab-content">
  <div class="tab-pane active fade in" id="sets-python">
<%= python <<EOF
def login(self, user_id):
    # Log the user in ...
    statsd.set('users.uniques', user_id)
EOF
%>
  </div>
  <div class="tab-pane fade in" id="sets-ruby">
<%= ruby <<EOF
def login(self, user_id)
    # Log the user in ...
    statsd.set('users.uniques', user_id)
end
EOF
%>
  </div>
</div> -->

<h3 id="sets">セット (Sets)</h3>

セットは、グループ内のユニークな要素をカウントするために使用します。

Webサイトなどの個別訪問者数を追跡する場合は、セットが最適です。

<%= code_tabs("sets", tab_languages) %>

<div class="tab-content">
  <div class="tab-pane active fade in" id="sets-python">
<%= python <<EOF
def login(self, user_id):
    # Log the user in ...
    statsd.set('users.uniques', user_id)
EOF
%>
  </div>
  <div class="tab-pane fade in" id="sets-ruby">
<%= ruby <<EOF
def login(self, user_id)
    # Log the user in ...
    statsd.set('users.uniques', user_id)
end
EOF
%>
  </div>
</div>


<!--
======================================================
TAGS
======================================================
-->


<!-- <h3 id="tags">Tags</h3>

Tags are a way of adding dimensions to metrics, so they can be sliced, diced,
aggregated and compared on the front end. Suppose we wanted to measure the
performance of two algorithms in the real world. We could sample one metric
`algorithm.run_time` and specify each version with a tag:

<%= code_tabs("tags", tab_languages) %>

<div class="tab-content">
  <div class="tab-pane active fade in" id="tags-python">
<%= python <<EOF
@statsd.timed('algorithm.run_time', tags=['algorithm:one'])
def algorithm_one():
    # Do fancy things here ...

@statsd.timed('algorithm.run_time', tags=['algorithm:two'])
def algorithm_two():
    # Do fancy things here ...
EOF
%>
  </div>
  <div class="tab-pane fade in" id="tags-ruby">
<%= ruby <<EOF
def algorithm_one()
  statsd.timed('algorithm.run_time', :tags => ['algorithm:one']) do
    # Do fancy things here ...
  end
end

def algorithm_two()
  statsd.timed('algorithm.run_time', :tags => ['algorithm:two']) do
    # Do different fancy things here ...
  end
end
EOF
%>
  </div>
</div>

On the front end, the metric instances can be aggregated as sums or averages,
or the minimum/maximum can be reported. The metrics can also be broken down by
each tag 'key' (in the key:value syntax). For instance, we could run a
query like this:

`avg:algorithm.run_time{*} by {algorithm}`

In this query, all instances of this metric (e.g. across all hosts, indicated by `*`) are averaged
(`avg`) and broken down by the tag key `algorithm`.


<p class="alert alert-warning">
We store one time series per host + metric + tag combination on our backend,
thus we cannot support infinitely bounded tags. Please don't include endlessly
growing tags in your metrics, like timestamps or user ids. Please limit each
metric to 1000 tags.
</p>


Tags must start with a letter, and after that may contain alphanumerics,
underscores, minuses, colons, periods and slashes. Other characters will get
converted to underscores. Tags can be up to 200 characters long and support
unicode. Tags will be converted to lowercase as well.

For optimal functionality, we recommend constructing tags that use the key:value
syntax. Examples of commonly used metric tag keys are `env`, `instance`, `name`, and `role`.
Note that `device`, `host`, and `source` are treated specially and cannot be specified
in the standard way. Check out some of our other docs for how to use these:

- <a href="http://docs.datadoghq.com/api/#metrics">metrics in the API</a>
- <a href="http://docs.datadoghq.com/api/#tags">tags in the API</a>
- <a href="http://docs.datadoghq.com/guides/agent_checks/">Agent Checks</a>
- <a href="http://docs.datadoghq.com/guides/logs/">log parsing</a> -->

<h3 id="tags">タグ (Tags)</h3>

タグは、メトリクスの分類に広がりを持たせるための方法です。ダッシュボード上のグラフ表示では、これらのタグの擬似階層構造を使い、メトリクスを抽出、分類、集約、比較し、システムの状況を把握しやすい表示を作っていきます。

例えば、2種類のアルゴリズムの性能を測定したい場合、
メトリクス`algorithm.run_time`にタグとして`tags=['key:value syntax']`をオプション指定し、計測結果を送信します:

<%= code_tabs("tags", tab_languages) %>

<div class="tab-content">
  <div class="tab-pane active fade in" id="tags-python">
<%= python <<EOF
@statsd.timed('algorithm.run_time', tags=['algorithm:one'])
def algorithm_one():
    # Do fancy things here ...

@statsd.timed('algorithm.run_time', tags=['algorithm:two'])
def algorithm_two():
    # Do fancy things here ...
EOF
%>
  </div>
  <div class="tab-pane fade in" id="tags-ruby">
<%= ruby <<EOF
def algorithm_one()
  statsd.timed('algorithm.run_time', :tags => ['algorithm:one']) do
    # Do fancy things here ...
  end
end

def algorithm_two()
  statsd.timed('algorithm.run_time', :tags => ['algorithm:two']) do
    # Do different fancy things here ...
  end
end
EOF
%>
  </div>
</div>


ダッシュボード上にグラフ表示する際、メトリクス名だけでもメトリクス合計や平均を計算したり、最小値/最大値を表示したりすることができます。タグを使うつと更に高度な集計ができるようになります。同じ名前のメトリクスでも、タグで設定した'key'文字列を基に、'value syntax'にセットされた値毎に分類することができます。

例えば、次のようなクエリを実行することができます:

`avg:algorithm.run_time{*} by {algorithm}`

このクエリでは、`algorithm.run_time`メトリクスを全てのデータから検索し、タグ'key'文字列の`algorithm`の'value syntax'文字列ごとに分類集計し、平均を算出します。

<p class="alert alert-warning">
Datadogのバックエンドでは、ホスト、メトリクス, タグの組み合わせごとにシリーズ(時系列データ)を保存しています。
従って、無限にタグづけされたメトリクスをサポートすることができません。
ユーザIDやタイムスタンプなど、無限に増殖する['key':'value syntax']の付与は止めてください。
<br /><br />
<b>それぞれのメトリクスにタグを付与する際には、1000種類を超えないように注意してください。</b>
</p>

タグを付与するさに注意事項は:

- タグは、文字で開始する必要があります。
- 2文字目からは、英数字、アンダースコア、マイナス、コロン、ピリオドやスラッシュが使用できます。
- 使用が許可されていない文字は全てアンダースコアに変換されます。
- タグには、最大200文字で、Unicodeをサポートすることができます。
- タグに使用した文字は、全て小文字に変換されます。

タグに備わっているオプションの機能を利用するためには、['key':'vale syntax']構文を利用してください。メトリクスで一般的に使用されるタグの'key'文字列としては、`env`, `instance`, `name`, `role`が考えられます。

注: `device`, `host`, `source`の'key'文字列は、特別な文字列として取り扱われるために、標準的な方法では設定できないようになっていますので注意してください。

特殊文字を含むタグの設定方法に関しては、次のドキュメントを参照してください:


- <a href="/ja/api/#metrics">API レファレンスのmetrics</a>
- <a href="/ja/api/#tags">API レファレンスのtag</a>
- <a href="/ja/guides/agent_checks/">Datadog Agent チェックの書き方</a>
- <a href="/ja/guides/logs/">Datadog Agent を使ったログのパース方法</a>

<!--
- <a href="http://docs.datadoghq.com/api/#metrics">API レファレンスのmetrics</a>
- <a href="http://docs.datadoghq.com/api/#tags">API レファレンスのtag</a>
- <a href="http://docs.datadoghq.com/guides/agent_checks/">Datadog Agent チェックの書き方</a>
- <a href="http://docs.datadoghq.com/guides/logs/">Datadog Agent を使ったログのパース方法</a>
-->

<!--  <h3 id="sample-rates">Sample Rates</h3>

Each metric point is sent over UDP to the StatsD server. This can incur a lot
of overhead for performance intensive code paths. To work around this, StatsD
supports sample rates, which allows sending a metric a fraction of the time
and scaling up correctly on the server.

<%= code_tabs("sample-rates") %>

The following code will only send points half of the time:

<div class="tab-content">
  <div class="tab-pane active fade in" id="sample-rates-python">
<%= python <<EOF
while True:
  do_something_intense()
  statsd.increment('loop.count', sample_rate=0.5)
EOF
%>
  </div>
  <div class="tab-pane fade in" id="sample-rates-ruby">
<%= ruby <<EOF
while true do
  do_something_intense()
  statsd.increment('loop.count', :sample_rate => 0.5)
end
EOF
%>
  </div>
</div>

<hr> -->

<h3 id="sample-rates">サンプルレート (Sample Rates)</h3>

DogStatsDがメトリクスデータを生成するための基データ(サンプルポイント)は、UDPを介しDogStatsDサーバに送信されます。
この基データの送信する処理は、パフォーマンスを重視している環境において、不要なオーバヘッド負荷になる可能性があります。
この問題を回避するためにDogStatsDでは、サンプルレートを調整できるようになっています。
`sample_rate=`をオプションに追記することにより基データを制限することができ、制限し送信しなかった基データは、自動的に補われるよなっています。

<%= code_tabs("sample-rates") %>

次のコードは、基データ発生の1/2の機会に、データポイントを送信します:

<div class="tab-content">
  <div class="tab-pane active fade in" id="sample-rates-python">
<%= python <<EOF
while True:
  do_something_intense()
  statsd.increment('loop.count', sample_rate=0.5)
EOF
%>
  </div>
  <div class="tab-pane fade in" id="sample-rates-ruby">
<%= ruby <<EOF
while true do
  do_something_intense()
  statsd.increment('loop.count', :sample_rate => 0.5)
end
EOF
%>
  </div>
</div>

<hr>


<!-- <h3 id="methods">Other Submission Methods</h3>

Using the StatsD server bundled with the Datadog Agent is the simplest
way of submtting metrics to Datadog, but it's not
the only one. Here are some other ways of getting your metrics data into
Datadog:

<ul>
  <li>
    Submit metrics directly to Datadog's <a href="/api/">HTTP API</a>
  </li>
  <li>
    Use codahale's Java <a
    href="https://github.com/codahale/metrics">metrics</a> library, with the
<a href="https://github.com/vistarmedia/metrics-datadog">metrics-datadog</a>
    backend (thanks to the good folks at
    <a href="https://github.com/vistarmedia">Vistar Media</a> for the great
    contribution).
  </li>
</ul> -->

<h3 id="methods">他の送信方法</h3>

Datagogにメトリクスを送信するには、Datadog Agent にバンドルされているDogStatsD サーバを使用する方法が最も賢明で簡単な方法です。
しかし、それが唯一の方法ではありません。次の方法を使ってもDatadogにメトリクスを送信することができます。

<ul>
  <li>
    Datadogの<a href="/ja/api/">HTTP API</a>を使って直接送信する方法
  </li>
  <li>
    codahaleのJava用 metrics ライブラリーと（<a href="https://github.com/vistarmedia">Vistar Media</a>が寄贈してくれた)<a href="https://github.com/vistarmedia/metrics-datadog">metrics-datadog</a>を使って送信する方法
  </li>
</ul>


<!-- <h3 id="custom">Seeing Your Custom Metrics</h3>

The quickest way to see your custom metric is to use the metrics explorer. You
can navigate to it by clicking the "Metrics" link in the top navigation bar.

Once you're at the metrics explorer you can type in the custom metric you set
in the "Graph:" field and it should autocomplete. If it doesn't autocomplete,
then it might mean that we haven't received data for that metric in the last
few hours.

You can also filter the metric by tag using the "Over:" field, or graph the
metric by tag group using the "One graph per:" field.

Note that the metrics explorer doesn't save any of these graphs. If you've
created some graphs that you'd like to save, you need to click one of the
save buttons at the bottom left, either saving to a new dashboard or to
an existing one. -->

<h3 id="custom">カスタムメトリクスの確認方法</h3>

カスタムメトリクスを検索する最も簡単な方法は、メトリクスエクスプローラを使用することです。
Datadogにloginした後、上部のナビゲーションバーにある``Metrics``より``Explor``を選択します。

メトリクスエクスプローラのページが表示されたら、"Graph:"の欄にカスタムメトリクス名を入力します。
入力時には、自動補完が行われます。
自動補完がされない場合は、Datadogがそのメトリクスを数時間に渡って受信できていない可能性があります。

"Over:"欄を使うとメトリクスをフィルタリングすることもできます。
更に"One graph per:"では、メトリクスをタグクループごとにグラフ化することもできます。

メトリクスエクスプローラの項目に入力し表示されたグラフは、自動的に保存されません。
メトリクスエクスプローラの操作によって表示されたグラフを保存する必要がある場合は、メニュー左下の"A new dashboard"か"An existing dashboard"をクリックし手動で保存してください。


<% content_for :javascript do %>
  <script type="text/javascript">
    $(DD_docs.metricsGuidePage);
  </script>
<% end %>
