{{ define "main" }}
    {{ $terms_pages := sort .Pages }}

    <h1>{{ .Title }}</h1>

    {{ range .Pages.ByTitle }}
        {{ $first_char := substr .Title 0 1 | upper }}
        {{ $curr_letter := $.Scratch.Get "curr_letter" }}

        {{ if ne $first_char $curr_letter }}
            {{ $.Scratch.Set "curr_letter" $first_char }}
            <h2>{{ $first_char }}</h2>
        {{ end }}

        {{ $all_related_terms := union .Params.synonyms .Params.related_terms }}

        <h4 class="font-24-28">
            {{ if .Params.linked }}
                <a href="/glossary/{{ .Params.Title | urlize }}">{{ .Params.Title }}</a>
            {{ else }}
                {{ .Params.Title }}
            {{ end }}
        </h4>
        <p class="font-italic">
            {{ delimit $all_related_terms ", " }}
        </p>
        <p>{{ .Params.definition }}</p>
    {{ end }}
{{ end }}