<!-- SIGNUP MODAL-->
<div id="signupModal" class="modal" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ i18n "get_started_datadog" }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
            </div>
            <div class="modal-body">
                <iframe id="signUpIframe" name="signUpIframe" src="" width="540px" height="730" frameborder="0" scrolling="no" title="Sign Up for Datadog"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- POPUP IMAGE MODAL -->
<div id="popupImageModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body mx-auto">

            </div>
        </div>
    </div>
</div>
