  <table>
    <thead>
      <tr>
        <th>OS</th>
        <th>CPU</th>
        <th>Runtime</th>
        <th>Runtime version</th>
        <th>Supported ddtrace versions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Linux</td>
        <td>x86-64, AArch64</td>
        <td>CPython</td>
        <td>3.9+</td>
        <td>
          <code>>=4, <5</code>
        </td>
      </tr>
      <tr>
        <td>MacOS</td>
        <td>Intel, Apple Silicon</td>
        <td>CPython</td>
        <td>3.9+</td>
        <td>
          <code>>=4, <5</code>
        </td>
      </tr>
      <tr>
        <td>Windows</td>
        <td>64bit, 32bit</td>
        <td>CPython</td>
        <td>3.9+</td>
        <td>
          <code>>=4, <5</code>
        </td>
      </tr>
      <tr>
        <td>Linux</td>
        <td>x86-64, i686, AArch64</td>
        <td>CPython</td>
        <td>3.8+</td>
        <td>
          <code>>=3, <4</code>
        </td>
      </tr>
      <tr>
        <td>MacOS</td>
        <td>Intel, Apple Silicon</td>
        <td>CPython</td>
        <td>3.8+</td>
        <td>
          <code>>=3, <4</code>
        </td>
      </tr>
      <tr>
        <td>Windows</td>
        <td>64bit, 32bit</td>
        <td>CPython</td>
        <td>3.8+</td>
        <td>
          <code>>=3, <4</code>
        </td>
      </tr>
      <tr>
        <td>Linux</td>
        <td>x86-64, i686, AArch64</td>
        <td>CPython</td>
        <td>3.7-3.13</td>
        <td>
          <code>>=2,<3</code>
        </td>
      </tr>
      <tr>
        <td>MacOS</td>
        <td>Intel, Apple Silicon</td>
        <td>CPython</td>
        <td>3.7-3.13</td>
        <td>
          <code>>=2,<3</code>
        </td>
      </tr>
      <tr>
        <td>Windows</td>
        <td>64bit, 32bit</td>
        <td>CPython</td>
        <td>3.7-3.13</td>
        <td>
          <code>>=2,<3</code>
        </td>
      </tr>
      <tr>
        <td>Linux</td>
        <td>x86-64, i686, AArch64</td>
        <td>CPython</td>
        <td>2.7, 3.5-3.11</td>
        <td>
          <code><2</code>
        </td>
      </tr>
      <tr>
        <td>MacOS</td>
        <td>Intel, Apple Silicon</td>
        <td>CPython</td>
        <td>2.7, 3.5-3.11</td>
        <td>
          <code><2</code>
        </td>
      </tr>
      <tr>
        <td>Windows</td>
        <td>64bit, 32bit</td>
        <td>CPython</td>
        <td>2.7, 3.5-3.11</td>
        <td>
          <code><2</code>
        </td>
      </tr>
    </tbody>
  </table>
