#mobile-nav .algolia-autocomplete .ds-dropdown-menu {
    transform: none;
    max-width: 95%;
    min-width: 95%;
}

.body-noscroll {
    overflow: hidden;
}

.mobile-menu-open {
    right: 0 !important;
}
