$ddpurple:    #632CA6;

.integrations {
  input[data-ref="search"] {
    padding: 1rem 0.75rem;
    font-size: 18px;
    line-height: 27px;
    border-radius: 2px;

    &::placeholder {
      color: #888888;
    }
  }

  .input-group-text {
    display: block;
    background: #c4c4c4;
    border-radius: 2px 0px 0px 2px;
    padding: 0.375rem 1rem;
  }
}

.integrations-single {
  h1#pagetitle {
    margin-top:50px;
  }
  img {
    max-width: 100%;
    height: auto;
  }

  table.table-metrics {
    tr {
      td {
        word-break: break-word;
      }
    }
  }
}

.filters {
  margin-top:40px;
  a {
    text-decoration: none;
  }
}

.integration-tiles {
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  .grayscale {
    opacity: 0.3;

    a.card-img {
        display:none;
    }
    a.card-img-gray {
        display:flex;
    }
  }

  .card {
    width: auto;
    height: 240px;
    justify-content: center;
    margin: 0 19px 19px 0;
    overflow: hidden;
    border: 1px solid $ddgray;
    border-radius: 2px;

    @include media-breakpoint-up(sm) {
      width: 146px;
      height: 142px;
    }

    .card-body {
      padding: 0;
      display: none;
      height: 100%;
    }

    .card-title {
      margin: 14px 0 0 0;
      padding: 0.25rem 1.25rem 0;
    }

    .card-title,
    .card-text {
      color:#000;
      font-size:12px;
      line-height:16px;

      &:lang(ja) {
          font-size: 11px !important;
          line-height: 14px !important;
      }
    }

    .card-banner {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 18px;
      border-bottom: 1px solid $ddgray;

      p {
        font-size: 12px;
        line-height: 16px;
        margin-top: 0.5px;
        &:lang(ja) {
          font-size: 11px !important;
          line-height: 18px !important;
        }
      }
    }

    .card-img {
      display:flex;
      align-items:center;
    }

    .card-img-gray {
      display:none;
      align-items:center;
    }

    .card-text {
      padding:0 4px;
    }

    .card-button {
      position:relative;
      display:block;
      height:100%;
      width:100%;
      text-decoration: none;

      .btn-container {
        padding:0 1.25rem;
        position:absolute;
        bottom:26px;
        height:26px;
        width:100%;
      }

      .btn {
        font-size:12px;
        height:26px;
        cursor: pointer;
        padding: 0rem 0.5rem;
      }
    }
  }

  /* lower go button on marketplace */
  .cat-marketplace .card .card-button .btn-container {
    bottom: 23px !important;
  }

  div:nth-child(odd) .card {
    margin-right:9px;
    margin-left:0;

    @include media-breakpoint-up(sm) {
      margin-right: 19px;
    }
  }

  div:nth-child(even) .card {
    margin-right:0;
    margin-left:9px;

    @include media-breakpoint-up(sm) {
      margin-left: 0;
    }
  }
}

.integration-search {
  width: 100%;
  margin-right: 19px;
  border: 1px solid $ddgray;
}

.integration-search:focus {
  border-color: $ddpurple;
}

.dropdown-menu {
  border:1px solid $ddpurple;
  color:$ddpurple;

  .dropdown-item {
    padding-left:30px;
    font-size:18px;
    line-height:22px;
    padding-bottom:10px;
  }
}

// do card hovers at desktop only
@media (min-width: 576px) {
  .integration-tiles {
    &.find {
      .card .title {
        display:block;
      }
    }
    .card {
      .title {
        display:none;
      }
      &:hover {
        border-color: $ddpurple;
        & > .card-img,
        & > .card-img-gray {
          display: none;
        }
        & > .card-body {
          display: block;
        }
        .title {
          display:none;
        }
        .card-banner {
          border-bottom: 1px solid $brand-primary;
        }
      }
    }

    .cat-marketplace {
      &:hover {
        .card-title {
          padding:0.75rem 0 0 0 !important;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .integration-tiles {
    .card {
      margin:0 0 28px 0;
    }
  }
}
