.product-availability {
    strong, p {
        font-size: 18px;
    }
    strong {
        white-space: nowrap;
    }
    p {
        margin-left: 4px;
        .product {
            white-space: nowrap;
            &:hover {
                color: $ddpurple;
            }
            i {
                position: relative;
                top: 1.5px;
            }
        }
    }
}