.schema-table {
    margin: 0 0 30px 0;
    background-color: #fdfcff;
    position: relative;
    border-left: 0.5px solid #ebebeb;
    overflow-x: scroll;

    .table-header {
        background-color: #f3edff;
        text-transform: uppercase;
        width: 706px;

        @media (min-width: 768px) {
            width: auto;
        }

        @media (min-width: 992px) {
            width: 706px;
        }

        @media (min-width: 1200px) {
            width: auto;
        }

        .column {
            border: none;
        }
    }

    .table-header + div {
        width: 676px;

        @media (min-width: 768px) {
            width: auto;
        }

        @media (min-width: 992px) {
            width: 676px;
        }

        @media (min-width: 1200px) {
            width: auto;
        }
    }

    .expand-all {
        position: absolute;
        cursor: pointer;
        top: -30px;
        right: 0;
    }

    &.has-no-expands .expand-all {
      display:none;
    }

    .column {
        border-right: 0.5px solid #ebebeb;
        padding: 0 15px 0 15px;
        @media (min-width: 992px) {
            padding: 0 10px;
        }
    }

    .column:last-of-type p {
        overflow-wrap: break-word;
    }

    .key {
        position: relative;
        word-break: break-all;
        .toggle-arrow {
            font-size: 18px;
            position: absolute;
            left: -11px;
            &.expanded {
                transform: rotate(90deg);
                left: -8px;
                top: 2px;
                @media (min-width: 992px) {
                    left: -18px;
                }
            }

            @media (min-width: 992px) {
                left: -20px;
            }
        }

        @media (min-width: 768px) {
            word-break: normal;
        }
    }

    p {
        margin: 4px 0;
        font-size: 16px;
        line-height: 22px;
        overflow-wrap: normal;
    }

    code {
        font-size: 14px;
    }

    .first-row {
        border-bottom: 0.5px solid #ebebeb;
        &.collapse-trigger {
            cursor: pointer;
        }
    }

    .isNested {
        .first-column {
            border-bottom: none;
        }
    }

    .hasChildData {
        .isNested {
            .key {
                margin-left: 20px;
            }

            &.hasChildData {
                .isNested {
                    .key {
                        margin-left: 40px;
                    }
                    &.hasChildData {
                        .isNested {
                            .key {
                                margin-left: 60px;
                            }
                            &.hasChildData {
                                .isNested {
                                    .key {
                                        margin-left: 80px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
