.sidenav .searchbox-container {
    filter: none;

    #searchbox {
        z-index: 2;
        max-width: 280px;
    }

    .ais-SearchBox {
        &::after {
            right: 10px;
        }
    }

    .hits-container {
        z-index: 1;
        width: 50vw;
        margin-top: 6px;
    }

    .ais-SearchBox-submit {
        order: -1;
        background-color: #ffffff;
        color: #d6d6d6;
        min-width: unset;
        max-width: unset;
        padding-right: 0;

        & #submit-icon {
            display: inline-flex;
            height: 100%;
            align-items: center;
            margin-top: 0;
        }

        & #submit-text {
            display: none;
        }
    }
}

body.partners {
    .sidenav .searchbox-container {
        .hits-container {
            display: flex;
            flex-direction: column;

            #hits {
                order: 2;
            }

            #hits-partners {
                order: 1;
            }
        }
    }
}
