.searchbox-container {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 3px;
    width: 100%;
    height: 38px;
    font-size: 1rem;
    line-height: 1.5;
    color: #3b393d;
    margin-bottom: 13px;
    filter: drop-shadow(0px 1px 1px rgba(30, 5, 36, 0.16)) drop-shadow(0px 1px 4px rgba(30, 5, 36, 0.24));

    input[type='search']::-webkit-search-decoration,
    input[type='search']::-webkit-search-cancel-button,
    input[type='search']::-webkit-search-results-button,
    input[type='search']::-webkit-search-results-decoration {
        display: none;
    }

    &.active-search {
        button.ais-SearchBox-submit {
            border-radius: 0 3px 0 0;
        }
    }

    #searchbox,
    .ais-SearchBox,
    .ais-SearchBox-form,
    .ais-SearchBox-input {
        border-color: transparent;
        width: 100%;
        height: 100%;
        border-radius: 3px;
    }

    .ais-SearchBox-form {
        display: flex;
        background: #ffffff;
        border-radius: 4px;
    }

    .ais-SearchBox-input {
        font-feature-settings: "lnum" 1;
        padding-left: 9px;
        margin-right: 8px;

        &:focus-visible {
            outline: #ffffff;
        }

        &::placeholder {
            font-size: inherit;
            line-height: inherit;
            color: #495057;
        }
    }

    button.ais-SearchBox-submit {
        min-width: 100px;
        max-width: 100px;
        border: none;
        border-radius: 0 3px 3px 0;
        padding: 0 16px;
        height: 100%;
        background-color: #b325b5;
        color: #ffffff;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        font-weight: 600;

        & #submit-icon {
            display: none;
        }
    }

    .hits-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: -1;
        border-radius: 3px 3px 0 0;
    }

    #hits {
        width: 100%;
        position: absolute;
        left: 0;
        top: 38px;
        background-color: #ffffff;
        border-top: 1px solid #e6e6e6;
        border-radius: 0 0 3px 3px;
        filter: drop-shadow(0px 1px 1px rgba(30, 5, 36, 0.16)) drop-shadow(0px 1px 4px rgba(30, 5, 36, 0.24));
        font-size: 14px;
        line-height: 22px;

        &.no-hits {
            display: none;
        }
    }

    .ais-Hits-list {
        padding-top: 6px;
        list-style: none;
        padding-inline-start: 0;
        margin-bottom: 0;

        &.no-hits {
            display: none;
        }
    }

    .ais-Hits-item {
        & a {
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            padding: 3px 12px 4px 12px;
            gap: 0.375rem;

            &:hover {
                background-color: rgba(69, 142, 225, 0.05);
            }
        }

        & .ais-Hits-subcategory {
            grid-column: span 1 / span 1;
            border-right: 1px solid #e6e6e6;
        }

        & div {
            grid-column: span 3 / span 3;
        }

        & p {
            margin-bottom: 0;
            font-size: inherit;
            line-height: inherit;
        }

        & mark {
            padding: 0;
            color: #8821a2;
            background-color: #f9f0fb;
        }

        & strong {
            color: #02060c;
            font-weight: 700;
        }
    }

    .ais-Hits-item.ais-Hits-category {
        margin: 3px 12px 4px 12px;
        border-bottom: 1px solid #e6e6e6;

        & p {
            width: 100%;
            font-size: 16px;
            line-height: 22px;
            color: #33363d;
        }
    }
}
