{{ $dot := . }}
<div class="guides">
  <div class="container cards-dd">
    <div class="row row-cols-2 row-cols-sm-5 g-2 g-xl-3 justify-content-sm-center">
      <div class="col">
        <a class="card h-100" href="/account_management/guide/">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-cog-2" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>Account Management</strong>
          </div>
        </a>
      </div>  
      <div class="col">
        <a class="card h-100" href="/agent/guide">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-agent-fill" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>Agent</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/monitors/guide">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-monitor" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>Alerting</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/security/application_security/guide/">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-app-sec" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>Application Security Management</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/tracing/guide/">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-apm" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>APM</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/continuous_integration/guides/">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-ci" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>CI Visibility</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/security/cloud_security_management/guide/">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-cloud-security-management" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>Cloud Security Management</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/security/cloud_siem/guide/">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-siem" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>Cloud SIEM</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/containers/guide">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-container" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>Containers</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/dashboards/guide">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-dashboard" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>Dashboards</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/database_monitoring/guide/">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-database-2" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>Database Monitoring</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/developers/guide">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-dev-code" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>Developers</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/service_management/events/guides">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-events" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>Events</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/integrations/guide">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-integrations" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>Integrations</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/logs/guide/">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-log" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>Log Management</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/metrics/guide">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-metric" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>Metrics</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/network_monitoring/devices/guide/">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-ndm" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>Network Device Monitoring</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/network_monitoring/performance/guide/">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-network" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>Network Performance Monitoring</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/notebooks/guide">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-notebook" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>Notebooks</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/observability_pipelines/guide/">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-pipelines" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>Observability Pipelines</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/opentelemetry/guide">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-open-telemetry" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>OpenTelemetry</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/real_user_monitoring/guide/">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-rum" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>Real User Monitoring</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/serverless/guide">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-serverless" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>Serverless</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/service_management/service_level_objectives/guide">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-slos" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>SLOs</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/synthetics/guide/">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-synthetics" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>Synthetic Monitoring</strong>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/universal_service_monitoring/guide/">
          <div class="card-body text-center py-2 px-1">
                <i class="icon-usm" style="font-size:70px;color:#7c3eb9"></i>
          </br><strong>Universal Service Monitoring</strong>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
