{{ $dot := . }}
<div class="appsec-languages">
  <div class="container cards-dd">
    <div class="row row-cols-2 row-cols-sm-3 g-2 g-xl-3 justify-content-sm-center">
      <div class="col">
        <a class="card h-100" href="java">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/java.png" "class" "img-fluid" "alt" "Java" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="dotnet">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/dotnet_text.png" "class" "img-fluid" "alt" ".Net" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="go">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/go-metro.png" "class" "img-fluid" "alt" "go" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="ruby">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/ruby.png" "class" "img-fluid" "alt" "Ruby" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="php">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/php.png" "class" "img-fluid" "alt" "PHP" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="nodejs">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/nodejs.png" "class" "img-fluid" "alt" "Node.js" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="python">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/python.png" "class" "img-fluid" "alt" "Python" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="nginx">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/nginx.png" "class" "img-fluid" "alt" "nginx" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="envoy">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/envoy.png" "class" "img-fluid" "alt" "envoy" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="istio">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/istio.png" "class" "img-fluid" "alt" "istio" "width" "400") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="gcp-service-extensions">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/google_cloud_platform.png" "class" "img-fluid" "alt" "GCP Service Extensions" "width" "400") }}
          </div>
        </a>
      </div>
      </div>
    </div>
  </div>
</div>
