
{{ $dot := . }}

<!-- get lang specific data file -->
{{ $.Scratch.Set "data" "" }}
{{ if ne $dot.Page.Lang "en"}}
    {{ if (fileExists (print "data/partials/footer." $dot.Page.Lang ".yaml")) }}
      {{ $.Scratch.Set "data" (index site.Data.partials (print "footer." $dot.Page.Lang)) }}
    {{ else }}
      {{ $.Scratch.Set "data" site.Data.partials.footer }}
    {{ end }}
{{ else }}
    {{ $.Scratch.Set "data" site.Data.partials.footer }}
{{ end }}
{{ $datafile := ($.Scratch.Get "data") }}

<footer class="pt-3 position-relative">
    <div class="container">
        <div class="row pt-3 pb-0 pb-lg-6">
            <div class="col-12 col-lg-9">
                <h2 class="text-white text-center text-md-left font-semibold">{{ i18n "footer_blurb_heading" }}</h2>
                <p class="text-white text-center text-md-left font-regular border-0 font-22 my-0 py-0">{{ i18n "footer_blurb_desc"  }}</p>
            </div>
            <div class="col-12 col-lg-3 text-left text-lg-right contact-btn-container">
                <a href="{{ "help/" | absLangURL }}" class="btn btn-primary btn-inline-block mt-3 mb-4 my-lg-0  text-white text-uppercase">{{ i18n "contact_us" }}</a>
            </div>
        </div>
        <div class="row mb-0 mb-lg-5">
            <div class="col-12 col-lg-3 footer-side">
                <a href="#" class="mb-2 mb-lg-4 js-cta-footer {{ if .Params.bottom_footer_trigger }} {{ .Params.bottom_footer_trigger }} {{ else }} sign-up-trigger {{ end }} btn btn-white btn-outline btn-block" data-event-category="Signup" data-event-action="Step 1 Footer Initiated" data-event-label="{{ "{{url path}}" }}">
                    {{ if .Params.custom_footer_cta }}
                        {{ .Params.custom_footer_cta }}
                    {{ else }}
                        {{ i18n "free_trial" $ }}
                    {{ end}}
                </a>
                <p class="font-weight-semibold text-center text-lg-left mb-0">Download mobile app</p>

                <div class="d-flex d-lg-none justify-content-center ">
                    <a href="https://apps.apple.com/app/datadog/id1391380318" class="mr-1" aria-label="Apple Store Link">
                        {{ partial "svg" (dict "context" $dot "src" "app-store-badge.svg" )}}
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.datadog.app" aria-label="Google Play Store Link">
                        {{ partial "svg" (dict "context" $dot "src" "google-play-badge.svg" )}}
                    </a>
                </div>

                <div class="d-none d-lg-flex justify-content-lg-start">
                    <a href="https://apps.apple.com/app/datadog/id1391380318" class="mr-2" aria-label="Apple Store Link">
                        {{ partial "svg" (dict "context" $dot "src" "apple.svg" )}}
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.datadog.app" aria-label="Google Play Store Link">
                        {{ partial "svg" (dict "context" $dot "src" "google-play.svg" )}}
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-6  mt-3 mt-lg-0">
                <p class="border-bottom border-gray mb-0">{{ i18n "product" }}</p>

                {{ $lenFooterProduct := len site.Menus.footer_product }}
                {{ $secondHalfFooterProduct := div $lenFooterProduct 2 }}
                {{ $firstHalfFooterProduct := sub $lenFooterProduct  $secondHalfFooterProduct }}

                <div class="row">
                    <div class="col-6 col-lg-4">
                        <ul class="footer-menu mt-1">
                            {{ range first $firstHalfFooterProduct site.Menus.footer_product }}
                                <li>
                                    {{ if eq site.Params.full_translation true }}
                                        {{ partial "footer_link" (dict "footer_link" . "base_url" ( .URL | absLangURL) ) }}
                                    {{ else }}
                                        {{ partial "footer_link" (dict "footer_link" . "base_url" ( .URL | absURL) ) }}
                                    {{ end }}
                                </li>
                            {{end}}
                        </ul>
                    </div>
                    <div class="col-6 col-lg-4">
                        <ul class="footer-menu mt-1">
                            {{ range last $secondHalfFooterProduct site.Menus.footer_product }}
                                <li>
                                    {{ if eq site.Params.full_translation true }}
                                        {{ partial "footer_link" (dict "footer_link" . "base_url" ( .URL | absLangURL) ) }}
                                    {{ else }}
                                        {{ partial "footer_link" (dict "footer_link" . "base_url" ( .URL | absURL) ) }}
                                    {{ end }}
                                </li>
                            {{end}}
                        </ul>
                    </div>
                    <div class="col-12 d-block d-lg-none">
                        <hr class="mb-0  border-top border-gray">
                    </div>

                    <div class="d-none d-lg-block col-lg-4 ">
                        <ul class="footer-menu mt-1">
                            {{ range site.Menus.footer_product_three }}
                            <li>
                                {{ if eq site.Params.full_translation true }}
                                    {{ partial "footer_link" (dict "footer_link" . "base_url" ( .URL | absLangURL) ) }}
                                {{ else }}
                                    {{ partial "footer_link" (dict "footer_link" . "base_url" ( .URL | absURL) ) }}
                                {{ end }}
                            </li>
                            {{end}}
                        </ul>
                    </div>

                    <div class="col-6 d-lg-none">
                        <ul class="footer-menu mt-1">
                            {{ range first 3 site.Menus.footer_product_three }}
                            <li>
                                {{ if eq site.Params.full_translation true }}
                                    {{ partial "footer_link" (dict "footer_link" . "base_url" ( .URL | absLangURL) ) }}
                                {{ else }}
                                    {{ partial "footer_link" (dict "footer_link" . "base_url" ( .URL | absURL) ) }}
                                {{ end }}
                            </li>
                            {{end}}
                        </ul>
                    </div>
                    <div class="col-6 d-lg-none">
                        <ul class="footer-menu mt-1">
                            {{ range last 2 site.Menus.footer_product_three }}
                            <li>
                                {{ if eq site.Params.full_translation true }}
                                    {{ partial "footer_link" (dict "footer_link" . "base_url" ( .URL | absLangURL) ) }}
                                {{ else }}
                                    {{ partial "footer_link" (dict "footer_link" . "base_url" ( .URL | absURL) ) }}
                                {{ end }}
                            </li>
                            {{end}}
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-12 col-lg-3 mt-3 mt-lg-0">
                <div class="row">
                    <div class="col-6 col-lg-8">
                        <p class="border-bottom border-gray">{{ i18n "about" }}</p>
                        <ul class="footer-menu mt-1">
                            {{ range site.Menus.footer_about }}
                            <li>
                                {{ if eq site.Params.full_translation true }}
                                    {{ partial "footer_link" (dict "footer_link" . "base_url" ( .URL | absLangURL) ) }}
                                {{ else }}
                                    {{ partial "footer_link" (dict "footer_link" . "base_url" ( .URL | absURL) ) }}
                                {{ end }}
                            </li>
                            {{end}}
                        </ul>
                    </div>
                    <div class="col-6 col-lg-4">
                        <p class="border-bottom border-gray">{{ i18n "blog" }}</p>
                        <ul class="footer-menu mt-1">
                            {{ range site.Menus.footer_blog }}
                            <li>
                                {{ if eq (substr .URL 0 1) "/" }}
                                    <!-- to specifig lang page e.g /es/blog -->
                                    {{ if site.Params.branch }}
                                        {{ $.Scratch.Set "flink" ( (print "/" site.Params.branch .URL) | absURL) }}
                                    {{ else }}
                                        {{ $.Scratch.Set "flink" ( .URL | absURL) }}
                                    {{ end }}
                                    {{ partial "footer_link" (dict "footer_link" . "base_url" ($.Scratch.Get "flink") ) }}
                                {{ else }}
                                    {{ if eq site.Params.full_translation true }}
                                        {{ partial "footer_link" (dict "footer_link" . "base_url" ( .URL | absLangURL) ) }}
                                    {{ else }}
                                        {{ partial "footer_link" (dict "footer_link" . "base_url" ( .URL | absURL) ) }}
                                    {{ end }}
                                {{ end }}
                            </li>
                            {{end}}
                        </ul>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="mt-3 mt-lg-0">
        <div>
            <div class="my-1 border-top border-gray-darker"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row mb-1 align-items-center">
                        <div class="col-6 col-lg-1 offset-lg-3 mb-1 mb-lg-0">
                            <div class="d-flex d-lg-none mobile-lang-select-container">
                                <span class="d-flex align-items-center">{{ partial "svg" (dict "context" $dot "src" "world.svg" "size" "15px" "color" "#ffffff"  )}}&nbsp;</span>
                                <label class="sr-only" for="mobile-lang-select">Language Selection</label>
                                <select class="mobile-lang-select" id="mobile-lang-select" id="" onchange="javascript:location.href = this.value;">
                                    <option value="{{ .Permalink }}?lang_pref={{ .Language.Lang }}">{{ .Language.LanguageName }}</a>
                                    {{ if ne .Sites.First .Site }}
                                        <!-- if non eng site manually add english entry -->
                                        <option value="{{ replace .Permalink (printf "/%s/" $dot.Language.Lang) "/" }}?lang_pref=en">English</a>
                                    {{ end }}
                                    {{ range where .Translations "Language.Lang" "!=" "en" }}
                                        <option value="{{ .Permalink }}?lang_pref={{ .Language.Lang }}">{{ .Language.LanguageName }}</a>
                                    {{ end }}
                                </select>
                                {{ partial "svg" (dict "context" $dot "src" "arrow.svg" "size" "15px" "color" "#ffffff"  )}}
                            </div>
                            <div class="footer-menu d-none d-lg-flex align-items-center js-footer-lang-toggle footer-lang-toggle">
                                <div class="d-flex align-items-center text-white cursor-pointer selected-lang">
                                    <span class="d-flex align-items-center">{{ partial "svg" (dict "context" $dot "src" "world.svg" "size" "15px" "color" "#ffffff"  )}}&nbsp;</span>
                                    <span class="d-flex align-items-center" style="transform: translateY(-1px);">{{ .Language.LanguageName }}</span>
                                    <span class="d-flex align-items-center lang-toggle-arrow">{{ partial "svg" (dict "context" $dot "src" "arrow.svg" "size" "15px" "color" "#ffffff"  )}}</span>
                                </div>
                                <div class="js-lang-popup lang-popup">
                                    <a class="active" href="{{ .Permalink }}?lang_pref={{ .Language.Lang }}">{{ .Language.LanguageName }}</span></a>
                                    {{ if ne .Sites.First .Site }}
                                        <!-- if non eng site manually add english entry -->
                                        <a href="{{ replace .Permalink (printf "/%s/" $dot.Language.Lang) "/" }}?lang_pref=en">English</a>
                                    {{ end }}
                                    {{ range where .Translations "Language.Lang" "!=" "en" }}
                                        <a href="{{ .Permalink }}?lang_pref={{ .Language.Lang }}">{{ .Language.LanguageName }}</a>
                                    {{ end }}
                               </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2 mb-1 mb-lg-0 d-flex justify-content-lg-end">
                            <ul class="footer-menu d-flex  align-items-center">
                                {{ range $index, $value := site.Menus.footer_social }}
                                <li class="d-flex align-items-center {{ if ne $index ( sub (len site.Menus.footer_social) 1 ) }} mr-2 mr-lg-1 mr-xl-2 {{end}}">
                                    <a class="d-flex align-items-center" href="{{ .URL }}" aria-label="{{ .Name }} link">{{ partial "svg" (dict "context" $dot "src" .Pre  )}}  </a>
                                </li>
                                {{end}}
                            </ul>
                        </div>
                        <div class="col-12 col-lg-6 order-lg-first d-flex align-items-center" style="transform: translateY(-2px);">
                            <span class="copyright">&copy; Datadog {{ $date := now }} {{ $date.Format "2006"}} &nbsp;</span>
                            <ul class="footer-menu d-flex align-items-center">
                                {{ range $index, $v := site.Menus.footer_sub }}
                                    <li class="d-flex align-items-center">
                                        {{ if eq site.Params.full_translation true }}
                                            <a href="{{ "" | absLangURL }}{{.URL}}">{{$v.Name}}</a>{{ if ne $index ( sub (len site.Menus.footer_sub) 1 ) }}<span style="font-size: 16px; transform: translateY(-1px);">&nbsp;|&nbsp;</span>{{end}}
                                        {{ else }}
                                            <a href="{{ "" | absURL }}{{.URL}}">{{$v.Name}}</a>{{ if ne $index ( sub (len site.Menus.footer_sub) 1 ) }}<span style="font-size: 16px; transform: translateY(-1px);">&nbsp;|&nbsp;</span>{{end}}
                                        {{ end }}
                                    </li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</footer>



<!--- global modals --->
{{ partial "global-modals/global-modals.html" . }}
