{{ $dot := . }}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-4 footer-side">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <a type="button" class="btn btn-block btn-outline-semi-trans" href="https://app.datadoghq.com/signup">Free Trial</a>
                    </div>
                </div>
                <span class="copyright d-none d-md-block">&copy; Datadog {{ $date := now }} {{ $date.Format "2006"}}</span>
            </div>
            <div class="col-12 col-md-5 col-lg-4 mt-4 mt-md-0">
                <p>Product</p>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            {{ range $dot.Page.Site.Data.partials.footer.col1 }}
                                <li><a href="{{ if in .link "http"}}{{ .link }}{{ else }}{{.Site.BaseURL}}/{{ .link }}{{ end }}">{{ .title }}</a></li>
                            {{ end }}
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            {{ range $dot.Page.Site.Data.partials.footer.col2 }}
                                <li><a href="{{ if in .link "http"}}{{ .link }}{{ else }}{{.Site.BaseURL}}/{{ .link }}{{ end }}">{{ .title }}</a></li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 mt-4 mt-md-0">
                <div class="row">
                    <div class="col-6">
                        <p>About</p>
                        <ul class="list-unstyled">
                            {{ range $dot.Page.Site.Data.partials.footer.col3 }}
                                <li><a href="{{ if in .link "http"}}{{ .link }}{{ else }}{{.Site.BaseURL}}/{{ .link }}{{ end }}">{{ .title }}</a></li>
                            {{ end }}
                        </ul>
                    </div>
                    <div class="col-6">
                        <p>Social</p>
                        <ul class="list-unstyled">
                            {{ range $dot.Page.Site.Data.partials.footer.col4 }}
                                <li><a href="{{ if in .link "http"}}{{ .link }}{{ else }}{{.Site.BaseURL}}/{{ .link }}{{ end }}">{{ .title }}</a></li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
                <div class="row d-inline-block d-md-none mt-4 mt-md-0">
                    <div class="col-12"><span class="copyright">&copy; Datadog {{ $date := now }} {{ $date.Format "2006"}}</span></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 footer-legal">
                <a href="https://www.datadoghq.com/legal/terms/">Terms</a> |
                <a href="https://www.datadoghq.com/legal/privacy/">Privacy</a> |
                <a href="https://www.datadoghq.com/legal/cookies/">Cookies</a>
            </div>
        </div>
    </div>
</footer>

<!--- global modals --->
{{ partial "global-modals/global-modals.html" . }}
