
{{ $dot := . }}

<!-- get lang specific data file -->
{{ $.Scratch.Set "data" "" }}
{{ if ne $dot.Page.Lang "en"}}
    {{ if (fileExists (print "data/partials/footer." $dot.Page.Lang ".yaml")) }}
      {{ $.Scratch.Set "data" (index $dot.Page.Site.Data.partials (print "footer." $dot.Page.Lang)) }}
    {{ else }}
      {{ $.Scratch.Set "data" $dot.Page.Site.Data.partials.footer }}
    {{ end }}
{{ else }}
    {{ $.Scratch.Set "data" $dot.Page.Site.Data.partials.footer }}
{{ end }}
{{ $datafile := ($.Scratch.Get "data") }}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-4 footer-side">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <button type="button" class="btn btn-block btn-outline-semi-trans" data-toggle="modal" data-target="#signupModal">{{ i18n "free_trial" }}</button>
                    </div>
                </div>
                <span class="copyright d-none d-md-block">&copy; Datadog {{ $date := now }} {{ $date.Format "2006"}}</span>
            </div>
            <div class="col-12 col-md-5 col-lg-4 mt-4 mt-md-0">
                <p>Product</p>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            {{ range $datafile.col1 }}
                                {{ if .link }}<li><a href="{{ if in .link "http"}}{{ .link }}{{ else }}{{ .link | absLangURL }}{{ end }}">{{ .title }}</a></li>{{ end }}
                            {{ end }}
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            {{ range $datafile.col2 }}
                                {{ if .link }}<li><a href="{{ if in .link "http"}}{{ .link }}{{ else }}{{ .link | absLangURL }}{{ end }}">{{ .title }}</a></li>{{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 mt-4 mt-md-0">
                <div class="row">
                    <div class="col-4">
                        <p>About</p>
                        <ul class="list-unstyled">
                            {{ range $datafile.col3 }}
                                {{ if .link }}<li><a href="{{ if in .link "http"}}{{ .link }}{{ else }}{{ .link | absLangURL }}{{ end }}">{{ .title }}</a></li>{{ end }}
                            {{ end }}
                        </ul>
                    </div>
                    <div class="col-4">
                        <p>Social</p>
                        <ul class="list-unstyled">
                            {{ range $datafile.col4 }}
                                {{ if .link }}<li><a href="{{ if in .link "http"}}{{ .link }}{{ else }}{{ .link | absLangURL }}{{ end }}">{{ .title }}</a></li>{{ end }}
                            {{ end }}
                        </ul>
                    </div>
                    <div class="col-4">
                        <p>Language</p>
                        <ul class="list-unstyled">
                            {{ range .Translations }}
                                <li><a class="button is-small is-danger is-rounded" href="{{ .Permalink }}?lang_pref={{ .Site.Language.Lang }}">{{ .Site.Language.LanguageName }}</a></li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
                <div class="row d-inline-block d-md-none mt-4 mt-md-0">
                    <div class="col-12"><span class="copyright">&copy; Datadog {{ $date := now }} {{ $date.Format "2006"}}</span></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 footer-legal">
                <a href="https://www.datadoghq.com/legal/terms/">{{ i18n "terms" }}</a> |
                <a href="https://www.datadoghq.com/legal/privacy/">{{ i18n "privacy" }}</a> |
                <a href="https://www.datadoghq.com/legal/cookies/">{{ i18n "cookies" }}</a>
            </div>
        </div>
    </div>
</footer>

<!--- global modals --->
{{ partial "global-modals/global-modals.html" . }}