$footer_height: 333px;
$footer_height_sm: 650px;
$ddpurple:    #774DA2;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer_height;
}

$footer-font-color: rgba(255,255,255,.5);
$footer-font-color-hover: rgba(255,255,255,1);

body > footer {
  z-index:3;
  position: absolute;
  bottom: 0;
  line-height:0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height:$footer_height;
  background: linear-gradient(180deg,#443e48 0,#110617);
  color:$footer-font-color;
  .container {
    margin-top:50px;
    &> .row {
      margin-bottom:50px;
    }
  }
  p {
    border-bottom:1px solid $footer-font-color;
    margin-bottom:10px;
    font-weight:600;
    color:$footer-font-color;
    font-size:16px;
    padding-bottom:6px;
  }
  a {
    font-size:16px;
    color:$footer-font-color;
    &:hover {
      color: $footer-font-color-hover;
    }
  }
  ul {
    margin:0;
    li {
      padding:0;
      margin:0;
      line-height: 20px;
      font-size: 16px;
    }
  }
  .footer-legal {
    font-weight:600;
    text-align:center;
    font-size: 16px;
    a {
      color:#fff;
      padding:0 5px;
    }
  }
  .footer-side {
    .btn {
      padding:11px 20px 12px;
      text-transform: uppercase;
      width:163px;
      cursor:pointer;
      font-size:18px;
      color:#fff;
      &:hover {
        color:$ddpurple;
      }
    }
    .copyright {
      position:absolute;
      bottom:0;
      display:block;
      font-size:16px;
    }
  }
}


@media (max-width: 767px) {
  body {
    /* Margin bottom by footer height */
    margin-bottom: $footer_height_sm;
  }
  body > footer {
    height:$footer_height_sm;
    .footer-side {
      .btn {
        width:100%;
      }
    }
  }
}

