<div class="logs-containers">
  <div class="container cards-dd col-num-2">
    <div class="row g-2 g-xl-3 justify-content-center">
      <div class="col">
        <a class="card h-100" href="/serverless/azure_container_apps/in_container">
          <div class="card-body text-center d-flex align-items-center justify-content-center p-0"
            style="min-height: 120px;">
            <h5 class="m-0">In-Container</h5>
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/serverless/azure_container_apps/sidecar">
          <div class="card-body text-center d-flex align-items-center justify-content-center p-0"
            style="min-height: 120px;">
            <h5 class="m-0">Sidecar</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<br>
