{{ $integration := ((.Get "integration") | default .Page.Params.integration_title) }}
{{ $conf := (.Get "conf" | default (replace (lower $integration ) " " "_")) }}
{{ $check := (.Get "check" | default (replace (lower $integration ) " " "_")) }}
{{ $yaml_extension := "example" }}
{{ $include_intro := .Get "include_intro" | default true }}

{{ if $conf }}

  {{ $.Scratch.Set "conf" $conf }}

{{ else }}

  {{ $.Scratch.Set "conf" $integration }}

{{ end }}

{{ if $check }}

  {{ $.Scratch.Set "check" $check }}

{{ else }}

  {{ $.Scratch.Set "check" $integration }}

{{ end }}

{{ if eq $include_intro "true" }}

  {{ $.Scratch.Set "intro" "For more details about configuring this integration refer to the following file(s) on GitHub:\n" }}

{{ else }}

  {{ $.Scratch.Set "intro" "" }}

{{ end }}

{{ $example_links := ($.Scratch.Get "intro") }}

{{ $integrationwebroot := "https://github.com/Datadog/integrations-core/blob/master/" }}

{{ $link_text := or (.Get "link_text") $integration }}
{{ if ne ($.Scratch.Get "conf") "none" }}
  {{ $url := (printf "%s%s/conf.yaml.example" $integrationwebroot ($.Scratch.Get "conf") ) }}
  {{ $yaml_example := (printf "<li><a href='%s'>%s YAML example</a></li>" $url $link_text ) }}
  {{ $.Scratch.Set "yaml_example" $yaml_example }}
{{ end }}

{{ if ne ($.Scratch.Get "check") "none" }}
  {{ $url := (printf "%s%s/check.py" $integrationwebroot $check) }}
  {{ $checks_file := (printf "<li><a href=%s>%s checks.d</a></li>" $url $link_text) }}
  {{ $.Scratch.Set "checks_file" $checks_file }}
{{ end }}

{{ $example_links := (printf "<p>%s</p><ul>%s%s</ul>" ($.Scratch.Get "intro") ($.Scratch.Get "yaml_example" | default "") ($.Scratch.Get "checks_file" | default "") ) }}

{{ $example_links | safeHTML }}