### Environment variables

| Variable                 | Description | Container |
| ------------------------ | ----------- | --------- |
| `DD_API_KEY`             | [Datadog API key][1001] - **Required**| Sidecar container |
| `DD_SITE`                | [Datadog site][1002] - **Required** | Sidecar container |
| `DD_SERVICE`             | Datadog Service name. **Required** | Both containers |
| `DD_SERVERLESS_LOG_PATH` | The path where the sidecar should tail logs from. Recommended to set to `/shared-volume/logs/app.log`. | Sidecar container |
| `DD_LOGS_INJECTION`      | When true, enrich all logs with trace data for supported loggers. See [Correlate Logs and Traces][1003] for more information. | Application container |
| `DD_VERSION`             | See [Unified Service Tagging][1004]. | Both containers |
| `DD_ENV`                 | See [Unified Service Tagging][1004]. | Both containers |
| `DD_SOURCE`              | Set the log source to enable a [Log Pipeline][1005] for advanced parsing. To automatically apply language-specific parsing rules, set to `{{ .Get "language" }}`, or use your custom pipeline. Defaults to `{{ .Get "defaultSource" }}`. | Sidecar container |
| `DD_TAGS`                | Add custom tags to your logs, metrics, and traces. Tags should be comma separated in key/value format (for example: `key1:value1,key2:value2`). | Sidecar container |{{ if eq (.Get "function") "true" }}
| `FUNCTION_TARGET`        | Required for correct tagging. The entry point of your function. For example, `Main`. You can also find `FUNCTION_TARGET` on the source tab inside Google console: `Function entry point`. | Sidecar container |{{ end }}{{ if eq (.Get "language") "java" }}
| `JAVA_TOOL_OPTIONS`      | Required for tracing. The path to the Datadog Java agent. For example, `-javaagent:/path/to/dd-java-agent.jar`. | Application container |{{ end }}

[1001]: https://app.datadoghq.com/organization-settings/api-keys
[1002]: /getting_started/site/
[1003]: /tracing/other_telemetry/connect_logs_and_traces/
[1004]: /getting_started/tagging/unified_service_tagging/
[1005]: /logs/log_configuration/pipelines
