<div class="wistia wistia-{{ index .Params 0 }}">
  <script data-wistia-id="{{ index .Params 0 }}" src="https://fast.wistia.com/embed/medias/{{ index .Params 0 }}.jsonp"></script>
  <script src="https://fast.wistia.com/assets/external/E-v1.js"></script>
  <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
    <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
      <span class="wistia_embed wistia_async_{{ index .Params 0 }} popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%"></span>
    </div>
  </div>
</div>