{{ $dot := . }}

{{ $apiMenu := "api" }}

<!-- if no api menu in other languages fallback to english -->
{{ with index .Site.Menus $apiMenu }}
  {{ $dot.Scratch.Set "menu" . }}
{{ else }}
  {{ $dot.Scratch.Set "menu" (index .Sites.First.Menus $apiMenu) }}
{{ end }}
{{ $menu := .Scratch.Get "menu" }}

{{ $currentPage := . }}

<!-- set current english url. If url in menu doesn't start with /lang/ this lets us compare still  -->
{{ $currentEnURL := $currentPage.RelPermalink }}
{{ if ne $currentPage.Lang "en" }}
    {{ $currentEnURL = (print "/" (strings.TrimLeft (print "/" .Lang "/") $currentPage.RelPermalink)) }}
{{ end }}

<ul class="list-unstyled">
{{ range $menu }}
    <!-- check if on /api/ top level section page, don't generate sub anchors if true -->
    {{ if and (.HasChildren) (ne $currentPage.CurrentSection.RelPermalink "/api/" ) }}
        <li class="{{ if or ($currentPage.IsMenuCurrent $apiMenu .) ($currentPage.HasMenuCurrent $apiMenu .) (eq $currentEnURL .URL) }}active{{ end }}">
            <a href="{{ (strings.TrimLeft "/" .URL) | absLangURL }}">
                <span>{{ .Name }}</span>
            </a>
            <ul class="nav">
                {{ range sort .Children ".Params.order" "asc"  }}
                    {{ $menuChild := . }}
                    <li class="row nav-item {{ if $currentPage.IsMenuCurrent $apiMenu . }}active{{ end }}">
                        <a class="col nav-link d-inline-block" href="{{ if hasPrefix .URL "#" }}#{{ .Name | anchorize }}{{ else }}{{ (strings.TrimLeft "/" .URL) | absLangURL }}{{ end }}" data-target="#{{.Identifier}}">
                          <span class="d-inline-block">{{ .Name }}</span>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </li>
    {{ else }}
        <li class="{{ if or ($currentPage.IsMenuCurrent $apiMenu .) ($currentPage.HasMenuCurrent $apiMenu .) (eq $currentEnURL .URL) }}active{{ end }}">
            <a href="{{ (strings.TrimLeft "/" .URL) | absLangURL }}">
                <span>{{ .Name }}</span>
            </a>
        </li>
    {{ end }}
{{ end }}
</ul>

