{{/*
  This navigation is used on the left of the site, and is the main API documentation nav.
  Looking for the header nav? see website-modules
*/}}

{{ $dot := . }}

{{ $apiMenu := "api" }}

<!-- if no api menu in other languages fallback to english -->
{{ with index .Site.Menus $apiMenu }}
  {{ $dot.Scratch.Set "menu" . }}
{{ else }}
  {{ $dot.Scratch.Set "menu" (index .Sites.First.Menus $apiMenu) }}
{{ end }}
{{ $menu := .Scratch.Get "menu" }}

{{ $currentPage := . }}

<!-- set current english url. If url in menu doesn't start with /lang/ this lets us compare still  -->
{{ $currentEnURL := $currentPage.RelPermalink }}
{{ if ne $currentPage.Lang "en" }}
    {{ $currentEnURL = (print "/" (strings.TrimLeft (print "/" .Lang "/") $currentPage.RelPermalink)) }}
{{ end }}


{{/*
    build array ($engMenuChildren) of english menu items with parents from "api.en.yaml".
    for use in providing english names for anchoring the nav-links (.nav-link)
*/}}
{{ if ne $currentPage.Lang "en" }}
{{$engMenu := (index .Sites.First.Menus $apiMenu) }}
{{ range $engMenu }}
    {{ if and (.HasChildren) (ne $currentPage.CurrentSection.RelPermalink "/api/") }}
    {{ range .Children }}
        {{ $dot.Scratch.SetInMap "engMenuChildren" .Identifier .Name }}
    {{ end }}
    {{ end }}
{{ end }}
{{ end }}

{{$engMenuChildren := $dot.Scratch.Get "engMenuChildren" | default dict}}

<ul class="list-unstyled">
{{ range $menu }}
    <!-- check if on /api/ top level section page, don't generate sub anchors if true -->
    {{ if and (.HasChildren) (ne $currentPage.CurrentSection.RelPermalink "/api/" ) }}
        <li class="{{ if or ($currentPage.IsMenuCurrent $apiMenu .) ($currentPage.HasMenuCurrent $apiMenu .) (eq $currentEnURL .URL) }}active{{ end }}">
            <a href="{{ (strings.TrimLeft "/" .URL) | absLangURL }}">
                <span>{{ .Name }}</span>
            </a>
            <ul class="nav">
                {{ range sort .Children ".Params.order" "asc"  }}
                    <li class="row nav-item {{ if $currentPage.IsMenuCurrent $apiMenu . }}active{{ end }}">
                        {{$identifier := .Identifier}}
                        {{/*
                            lookup english equivalent of non-english menu item identifier attr.
                            pull the name attr and plug into anchor href.
                        */}}
                        {{ if ne $currentPage.Lang "en" }}
                        {{ $dot.Scratch.Set "name" (index $engMenuChildren $identifier) }}
                        {{ end }}

                        {{$engName := $dot.Scratch.Get "name"}}
                        <a class="col nav-link d-inline-block" href='{{ if hasPrefix .URL "#" }}#{{ default (.Name | anchorize) ($engName | anchorize) }}{{ else }}{{ (strings.TrimLeft "/" .URL) | absLangURL }}{{ end }}' data-bs-target="#{{.Identifier}}">
                          <span class="d-inline-block">{{ .Name }}</span>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </li>
    {{ else }}
        <li class="{{ if or ($currentPage.IsMenuCurrent $apiMenu .) ($currentPage.HasMenuCurrent $apiMenu .) (eq $currentEnURL .URL) }}active{{ end }}">
            <a href="{{ (strings.TrimLeft "/" .URL) | absLangURL }}">
                <span>{{ .Name }}</span>
            </a>
        </li>
    {{ end }}
{{ end }}
</ul>

