{{/*
  This navigation is used on the left of the site, and is the main documentation nav.
  Looking for the header nav? see website-modules
*/}}

{{ $dot := . }}
{{ $ctx := . }}
{{ $menu := .Site.Menus.main }}
{{/* Menu identifiers to apply class to */}}
{{ $excludeAsync := (slice "api" "partners" "dev_tools_metrics_api" "dev_tools_events_api" "integrations_top_level" "tracing api" "watchdog_top_level" "glossary_top_level" "video_top_level" "help_top_level" "other_integrations" "observability_pipelines_reference" "observability_pipelines_reference_sources" "observability_pipelines_reference_transforms" "observability_pipelines_reference_sinks" "cloud_cost_container_cost_allocation_aws" "cloud_cost_container_cost_allocation_azure" "cloud_cost_container_cost_allocation_google") }}

{{ $path := (printf "%s/" $.Site.Params.branch) }}

{{/* account for branch name in preview site for data-path */}}
{{ if eq $.Site.Params.environment "preview"}}
    {{ $.Scratch.Set "branch_path" $path }}
{{ else }}
    {{ $.Scratch.Set "branch_path" "" }}
{{ end }}

{{ $branchPath := trim ($.Scratch.Get "branch_path") "/" }}
{{ $url_without_anchor := "" }}

{{ $currentPage := . }}
{{ range $menu }}
    {{ if .HasChildren }}
        {{/*  HEADER  */}}
        <p class="h5 text-uppercase fw-bold">{{.Name}}</p>
        <ul class="list-unstyled">
            {{ range .Children }}
                {{/*  LEVEL 1  */}}
                <li class="nav-top-level {{ if (not (or (in $excludeAsync .Identifier) (and (in .URL "api/") (not (in .URL "_api/")) (not (in .URL "-api/"))))) }} js-load {{ end }}
                {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                    {{ $url_without_anchor = (index (split .URL "#") 0) }}
                    <a href="{{ .URL | relLangURL }}" class="d-flex align-items-center" data-path="{{ trim (print $branchPath ((print $url_without_anchor) | relLangURL)) "/" }}" data-skip="{{ .Params.skip | not | not }}">
                        {{ if .Pre }}
                        {{ partial "icon" (dict "name" .Pre "size" "18px" )}}
                        {{ end }}
                        <div>
                        <span>{{ .Name }}</span>
                        </div>
                    </a>
                    <ul class="list-unstyled sub-menu {{ if (or (eq .Name "Guides") (eq .Name "Widget Types") (eq .Name "Monitor Types")) }} d-none {{ end }}">
                        {{/*  LEVEL 2  */}}
                        {{ range .Children }}
                            <li class="{{ if (not (or (in $excludeAsync .Identifier) (and (in .URL "api/") (not (in .URL "_api/")) (not (in .URL "-api/"))))) }} js-load {{ end }} {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                                {{ $url_without_anchor = (index (split .URL "#") 0) }}
                                <a href="{{ .URL | relLangURL }}" data-path="{{ trim (print $branchPath ((print $url_without_anchor) | relLangURL)) "/" }}" data-skip="{{ .Params.skip | not | not }}">
                                    {{ if .Pre }}
                                    {{- partial "img.html" (dict "root" $ctx "src" (print "icons/" (.Pre) ".png") "class" "static" "alt" "icon" "width" "21" "img_param" "?ch=Width,DPR&fit=max&auto=format&w=21") -}}
                                    {{- partial "img.html" (dict "root" $ctx "src" (print "icons/" (.Pre) "_p.png") "class" "hover" "alt" "icon" "width" "21" "img_param" "?ch=Width,DPR&fit=max&auto=format&w=21" "disable_lazy" "true") -}}
                                    {{ end }}
                                    <span>{{ .Name }}</span>
                                </a>
                            {{ if .HasChildren }}
                                <ul class="list-unstyled sub-menu {{ if (or (eq .Name "Guides") (eq .Name "Widget Types") (eq .Name "Monitor Types")) }} d-none {{ end }}">
                                {{/*  LEVEL 3  */}}
                                {{ range .Children }}
                                    <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }} {{ if (not (or (in $excludeAsync .Identifier) (and (in .URL "api/") (not (in .URL "_api/")) (not (in .URL "-api/"))))) }} js-load {{ end }}" >
                                        {{ $url_without_anchor = (index (split .URL "#") 0) }}
                                        <a href="{{ .URL | relLangURL }}" data-type="{{- with site.GetPage .URL -}}{{- .Type -}}{{- end -}}" data-path="{{ trim (print $branchPath ((print $url_without_anchor) | relLangURL)) "/" }}" data-skip="{{ .Params.skip | not | not }}">
                                            {{ if .Pre }}
                                            {{- partial "img.html" (dict "root" $ctx "src" (print "icons/" (.Pre) ".png") "class" "static" "alt" "icon" "width" "21" "img_param" "?ch=Width,DPR&fit=max&auto=format&w=21") -}}
                                            {{- partial "img.html" (dict "root" $ctx "src" (print "icons/" (.Pre) "_p.png") "class" "hover" "alt" "icon" "width" "21" "img_param" "?ch=Width,DPR&fit=max&auto=format&w=21" "disable_lazy" "true") -}}
                                            {{ end }}
                                            <span>{{ .Name }}</span>
                                        </a>
                                        {{ if .HasChildren }}
                                            <ul class="list-unstyled sub-menu {{ if not (in (slice "automatic_instrumentation" "custom_instrumentation" "dyninst" "single_step_apm" "auto_dd_libraries" "observability_pipelines_reference_processing_language" "observability_pipelines_vector_configuration" "cloud_cost_container_cost_allocation" "cloud_cost_saas_cost_integrations" "csm_setup_enterprise" "csm_setup_pro" "csm_setup_cloud_workload_security" "cspm_frameworks_benchmarks" "cspm_findings_explorer" "cws_workload_security_rules" "otel_integrations" "otel_collector_configuration" "rum_dashboards"
                                            "rum_browser_setup" "rum_browser" "rum_session_replay_browser" "rum_session_replay_mobile" "rum_mobile_android" "rum_mobile_ios" "rum_mobile_flutter" "rum_mobile_kotlin" "rum_mobile_react_native" "rum_mobile_roku" "rum_mobile_unity" "rum_correlate_with_other_telemetry_profiling" "pa_session_replay_mobile" "pa_session_replay_browser" "cloudcraft_api_aws_accounts" "cloudcraft_api_azure_accounts" "cloudcraft_api_blueprints" "cloudcraft_api_budgets" "cloudcraft_api_users" "appsec_enabling_single_step" "appsec_enabling_tracing_libraries" "synthetics_platform_dashboards" "synthetics_private_location" "synthetics_results_explorer" "ndm_netflow" "dashboards_ddsql_editor_reference" "application_security_software_composition_analysis_setup"
                                            "application_security_code_security_setup" "tracing_proxies" "appsec_threats_management_setup" "observability_pipelines_log_volume_control" "observability_pipelines_dual_ship_logs" "observability_pipelines_archive_logs" "observability_pipelines_split_logs" "observability_pipelines_sensitive_data_redaction" "observability_pipelines_log_enrichment" "observability_pipelines_install_the_worker" "csm_setup_agentless_scanning" "observability_pipelines_generate_metrics" "log_explorer_calculated_fields" "test_impact_analysis_setup" "dbm_setup_postgres_rds" "sca_setup_runtime" "ndm_setup" "otel-setup-collector-exporter" "otel-setup-intake-endpoint" "otel_guides_migration" "otel-api-dd-sdk" "otel-setup-agent" "ide_plugins_idea" "agent_configuration_proxy"
                                            "software_catalog_set_up" "software_catalog_entity_model" "asm_serverless" "otel-setup-ddot" "otel-setup-other" "cloud_siem_custom_detection_rules" "llm_obs_managed_evaluations" "llm_obs_external_evaluations" "cnm_analytics" "cloud_siem_open_cybersecurity_schema_framework" "infrastructure_livecontainers_explorer" "otel-dd-sdk-parent" "llm_obs_custom_llm_as_a_judge_evaluations" "ndm_profiles" "workload_protection_detect_and_monitor_agent_rules") .Identifier) }}d-none{{ end }}">

                                            {{/*  LEVEL 4 */}}
                                            {{ range .Children }}
                                                <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }} {{ if (not (or (in $excludeAsync .Identifier) (and (in .URL "api/") (not (in .URL "_api/")) (not (in .URL "-api/"))))) }} js-load {{ end }}" >
                                                    {{ $url_without_anchor = (index (split .URL "#") 0) }}
                                                    <a data-name="{{- delimit (last 1 (split (strings.TrimSuffix "/" .URL) "/")) "" -}}" href="{{ .URL | relLangURL }}" data-path="{{ trim (print $branchPath ((print $url_without_anchor) | relLangURL)) "/" }}" data-skip="{{ .Params.skip | not | not }}">
                                                        {{ if .Pre }}
                                                        {{- partial "img.html" (dict "root" $ctx "src" (print "icons/" (.Pre) ".png") "class" "static" "alt" "icon" "width" "21" "img_param" "?ch=Width,DPR&fit=max&auto=format&w=21") -}}
                                                        {{- partial "img.html" (dict "root" $ctx "src" (print "icons/" (.Pre) "_p.png") "class" "hover" "alt" "icon" "width" "21" "img_param" "?ch=Width,DPR&fit=max&auto=format&w=21" "disable_lazy" "true") -}}
                                                        {{ end }}
                                                        <span>{{ .Name }}</span>
                                                    </a>
                                                </li>
                                            {{ end }}
                                            </ul>
                                        {{ end }}
                                    </li>
                                {{ end }}
                                </ul>
                            {{ end }}
                            </li>
                        {{ end }}
                    </ul>
                </li>
            {{ else }}
                <li class="nav-top-level {{ if (not (or (in $excludeAsync .Identifier) (and (in .URL "api/") (not (in .URL "_api/")) (not (in .URL "-api/"))))) }} js-load {{ end }}">
                    <a href="{{ .URL | absLangURL }}" class="d-flex align-items-center" data-path="{{ trim (print $branchPath ((print .URL) | relLangURL)) "/" }}">
                        {{ if .Pre }}
                        {{ partial "icon" (dict "name" .Pre "size" "18px" )}}
                        {{ end }}
                        <div>
                        <span>{{ .Name }}</span>
                        </div>
                    </a>
                </li>
            {{ end }}
        </ul>
    {{ end }}
{{ end }}
