{{ $dot := . }}
{{ $ctx := . }}
{{ $menu := .Site.Menus.main }}
{{/* Menu identifiers to apply class to */}}
{{ $excludeAsyc := (slice "api" "dev_tools_metrics_api" "dev_tools_events_api" "integrations_top_level" "tracing api" "watchdog_top_level" "glossary_top_level" "video_top_level" "help_top_level" "other_integrations") }}

{{ $path := (printf "%s/" $.Site.Params.branch) }}

{{/* account for branch name in preview site for data-path */}}
{{ if eq $.Site.Params.environment "preview"}}
    {{ $.Scratch.Set "branch_path" $path }}
{{ else }}
    {{ $.Scratch.Set "branch_path" "" }}
{{ end }}

{{ $branchPath := trim ($.Scratch.Get "branch_path") "/" }}

<ul class="list-unstyled">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
            <li class="nav-top-level {{ if (not (in $excludeAsyc .Identifier)) }} js-load {{ end }}
            {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                <a href="{{ .URL | relLangURL }}" data-path="{{ trim (print $branchPath ((print .URL) | relLangURL)) "/" }}">
                    {{ if .Pre }}{{- partial "img.html" (dict "root" $ctx "src" (print "icons/" (.Pre) ".png") "class" "static" "alt" "icon" "width" "21" "img_param" "?ch=Width,DPR&fit=max&auto=format&w=21") -}}{{- partial "img.html" (dict "root" $ctx "src" (print "icons/" (.Pre) "_p.png") "class" "hover" "alt" "icon" "width" "21" "img_param" "?ch=Width,DPR&fit=max&auto=format&w=21" "disable_lazy" "true") -}}{{ end }} <span>{{ .Name }}</span>
                </a>
                <ul class="list-unstyled sub-menu">
                    {{ range .Children }}
                        <li class="{{ if (not (in $excludeAsyc .Identifier )) }} js-load {{- end -}} {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                            <a href="{{ .URL | relLangURL }}" data-path="{{ trim (print $branchPath ((print .URL) | relLangURL)) "/" }}">
                                {{ if .Pre }}{{- partial "img.html" (dict "root" $ctx "src" (print "icons/" (.Pre) ".png") "class" "static" "alt" "icon" "width" "21" "img_param" "?ch=Width,DPR&fit=max&auto=format&w=21") -}}{{- partial "img.html" (dict "root" $ctx "src" (print "icons/" (.Pre) "_p.png") "class" "hover" "alt" "icon" "width" "21" "img_param" "?ch=Width,DPR&fit=max&auto=format&w=21" "disable_lazy" "true") -}}{{ end }} <span>{{ .Name }}</span>
                            </a>
                        {{ if .HasChildren }}
                            <ul class="list-unstyled sub-menu">
                            {{ range .Children }}
                                {{ $type := "" }}
                                {{ with site.GetPage .URL }}{{ $type = .Type }}{{ end }}
                                <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }} {{ if (not (in $excludeAsyc .Identifier)) }} js-load {{- end -}}" >
                                    <a href="{{ .URL | relLangURL }}" data-type="{{- $type -}}" data-path="{{ trim (print $branchPath ((print .URL) | relLangURL)) "/" }}">
                                        {{ if .Pre }}{{- partial "img.html" (dict "root" $ctx "src" (print "icons/" (.Pre) ".png") "class" "static" "alt" "icon" "width" "21" "img_param" "?ch=Width,DPR&fit=max&auto=format&w=21") -}}{{- partial "img.html" (dict "root" $ctx "src" (print "icons/" (.Pre) "_p.png") "class" "hover" "alt" "icon" "width" "21" "img_param" "?ch=Width,DPR&fit=max&auto=format&w=21" "disable_lazy" "true") -}}{{ end }} <span>{{ .Name }}</span>
                                    </a>
                                    {{/*  4th level, hide  */}}
                                    {{ if .HasChildren }}
                                        <ul class="list-unstyled sub-menu d-none">
                                        {{ range .Children }}
                                            <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }} {{ if (not (in $excludeAsyc .Identifier)) }} js-load {{- end -}}" >
                                                <a data-name="{{- delimit (last 1 (split (strings.TrimSuffix "/" .URL) "/")) "" -}}" href="{{ .URL | relLangURL }}" data-path="{{ trim (print $branchPath ((print .URL) | relLangURL)) "/" }}">
                                                    {{ if .Pre }}{{- partial "img.html" (dict "root" $ctx "src" (print "icons/" (.Pre) ".png") "class" "static" "alt" "icon" "width" "21" "img_param" "?ch=Width,DPR&fit=max&auto=format&w=21") -}}{{- partial "img.html" (dict "root" $ctx "src" (print "icons/" (.Pre) "_p.png") "class" "hover" "alt" "icon" "width" "21" "img_param" "?ch=Width,DPR&fit=max&auto=format&w=21" "disable_lazy" "true") -}}{{ end }} <span>{{ .Name }}</span>
                                                </a>
                                            </li>
                                        {{ end }}
                                        </ul>
                                    {{ end }}
                                </li>
                            {{ end }}
                            </ul>
                        {{ end }}
                        </li>
                    {{ end }}
                </ul>
            </li>
        {{ else }}
            <li class="nav-top-level {{ if (not (in $excludeAsyc .Identifier)) }} js-load {{ end }}">
                <a href="{{ .URL | absLangURL }}" data-path="{{ trim (print $branchPath ((print .URL) | relLangURL)) "/" }}">
                    {{ if .Pre }}{{- partial "img.html" (dict "root" $ctx "src" (print "icons/" (.Pre) ".png") "class" "static" "alt" "icon" "width" "21" "img_param" "?ch=Width,DPR&fit=max&auto=format&w=21") -}}{{- partial "img.html" (dict "root" $ctx "src" (print "icons/" (.Pre) "_p.png") "class" "hover" "alt" "icon" "width" "21" "img_param" "?ch=Width,DPR&fit=max&auto=format&w=21" "disable_lazy" "true") -}}{{ end }} <span>{{ .Name }}</span>
                </a>
            </li>
        {{ end }}
    {{ end }}
</ul>
