#signupModal {
    #signUpIframe {
        width: 100%;
    }
    .modal-content {
        width: 542px;
    }
    .modal-header {
        border: none;
    }
    .modal-body {
        padding: 0;
        height: 526px;
    }
    .modal-title {
        font-weight: 200;
        text-align: center;
        color: #7749a3;
        font-size: 30px;
        width: 100%;
    }
    .btn-close {
        font-size: 10px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
    }
}

#popupImageModal {
    .modal-header {
        border: none;
    }
    .modal-body {
        padding: 0;
    }
    .btn-close {
        display: none;
    }
}

@media (max-width: 575px) {
    #signupModal {
        .modal-content {
            width: auto;
        }
    }
}