{{ $dot := . }}
<div class="profiling-languages">
  <div class="container cards-dd">
    <div class="card-deck">
      <a class="card" href="/tracing/profiler/getting_started/?code-lang=java">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/java.png" "class" "img-fluid" "alt" "Java" "width" "400") }}
        </div>
      </a>
      <a class="card" href="/tracing/profiler/getting_started/?code-lang=python">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/python.png" "class" "img-fluid" "alt" "Python" "width" "400") }}
        </div>
      </a>
      <a class="card" href="/tracing/profiler/getting_started/?code-lang=go">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/golang.png" "class" "img-fluid" "alt" "Go" "width" "400") }}
        </div>
      </a>
      </div>
    </br>
    </div>
</div>
