.searchbox-container {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 3px;
    width: 100%;
    height: 38px;
    font-size: 1rem;
    line-height: 1.5;
    color: #3b393d;
    margin-bottom: 13px;
    filter: drop-shadow(0px 1px 1px rgba(30, 5, 36, 0.16)) drop-shadow(0px 1px 4px rgba(30, 5, 36, 0.24));

    input[type='search']::-webkit-search-decoration,
    input[type='search']::-webkit-search-cancel-button,
    input[type='search']::-webkit-search-results-button,
    input[type='search']::-webkit-search-results-decoration {
        display: none;
    }

    #searchbox,
    .ais-SearchBox,
    .ais-SearchBox-form,
    .ais-SearchBox-input {
        border-color: transparent;
        width: 100%;
        height: 100%;
        border-radius: 3px;
    }

    .ais-SearchBox-form {
        display: flex;
        background: #ffffff;
        border-radius: 4px;
    }

    .ais-SearchBox-input {
        padding-left: 9px;
        margin-right: 8px;

        &:focus-visible {
            outline: #ffffff;
        }

        &::placeholder {
            font-size: inherit;
            line-height: inherit;
            color: #495057;
        }
    }

    button.ais-SearchBox-submit {
        min-width: 100px;
        max-width: 100px;
        border: none;
        border-radius: 0 3px 3px 0;
        padding: 0 16px;
        height: 100%;
        background-color: #b325b5;
        color: #ffffff;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        font-weight: 600;

        & #submit-icon {
            display: none;
        }
    }

    .hits-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: -1;
        border-radius: 3px 3px 0 0;
    }

    #hits {
        width: 100%;
        position: absolute;
        left: 0;
        top: 38px;
        background-color: #ffffff;
        border-top: 1px solid #e6e6e6;
        border-radius: 0 0 3px 3px;
        filter: drop-shadow(0px 1px 1px rgba(30, 5, 36, 0.16)) drop-shadow(0px 1px 4px rgba(30, 5, 36, 0.24));
        font-size: 14px;
        line-height: 22px;
    }

    .ais-Hits-list {
        padding-top: 6px;
        list-style: none;
        padding-inline-start: 0;
        margin-bottom: 0;

        &.no-hits {
            display: none;
        }
    }

    .ais-Hits-item {
        & a {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            padding: 3px 12px 4px 12px;

            &:hover {
                background-color: rgba(69, 142, 225, 0.05);
            }
        }

        & .ais-Hits-subcategory {
            width: 25%;
        }

        & .ais-Hits-title {
            width: 75%;
        }

        & .ais-Hits-content {
            width: 75%;
        }

        & p {
            margin-bottom: 0;
            font-size: inherit;
            line-height: inherit;
        }

        & mark {
            padding: 0;
            color: #8821a2;
            background-color: #f9f0fb;
        }

        & strong {
            color: #02060c;
            font-weight: 700;
        }
    }

    .ais-Hits-item.ais-Hits-category {
        margin: 3px 12px 4px 12px;
        border-bottom: 1px solid #e6e6e6;

        & p {
            width: 100%;
            font-size: 16px;
            line-height: 22px;
            color: #33363d;
        }
    }
}

.searchbox-container.active-search {
    button.ais-SearchBox-submit {
        border-radius: 0 3px 0 0;
    }
}

.searchbox-container.search_results_page {
    flex-direction: column;
    height: unset;
    filter: none;

    #searchbox {
        height: 38px;
    }

    .ais-SearchBox {
        width: 100%;

        @media screen and (min-width: 992px) {
            width: 50%;
        }
    }

    .ais-SearchBox-form {
        background-color: #e6e6e6;
    }

    .ais-SearchBox-input {
        background-color: #e6e6e6;
    }

    #count {
        padding: 20px 12px 0 12px;
        align-self: flex-start;
    }

    .hits-container,
    #hits {
        position: relative;
        z-index: unset;
    }

    .hits-container {
        padding-top: 20px;
    }

    #hits {
        top: 0;
        filter: none;
        border-top: none;
    }

    .ais-Hits-item {
        margin-bottom: 30px;
    }

    .ais-Hits-item a {
        border: none;
    }

    .ais-Hits-row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        & .ais-Hits-category,
        & .ais-Hits-subcategory {
            width: max-content;
            min-width: max-content;
        }
    }

    .ais-Hits-category-spacer {
        font-size: 12px;
        display: inline-flex;
        align-items: center;
        padding: 0 12px;
    }

    #pagination {
        align-self: flex-start;
    }

    .ais-Pagination-list {
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        font-weight: 600;
        row-gap: 12px;
    }

    .ais-Pagination-item a,
    .ais-Pagination-item p {
        padding: 4px 8px;
        border: 1px solid #d6d6d6;
        border-radius: 3px;
        display: block;
    }

    .ais-Pagination-list li:not(:last-child) {
        margin-right: 12px;
    }

    .ais-Pagination-list li:before {
        content: none;
    }

    .ais-Pagination-item--disabled p {
        color: #e6e6e6;
        cursor: default;
    }

    .ais-Pagination-item.active p {
        color: #ffffff;
        background-color: #632ca6;
        border-color: #632ca6;
        cursor: default;
    }

    .ais-Pagination-item:not(.active, .ais-Pagination-item--disabled):hover a {
        color: #ffffff;
        background-color: #632ca6;
        border-color: #632ca6;
    }
}

.sidenav .searchbox-container {
    filter: none;

    #searchbox {
        z-index: 2;
        max-width: 250px;
    }

    .hits-container {
        z-index: 1;
        max-width: 250px;
    }

    #hits {
        width: 50vw;
        margin-top: 6px;
    }

    .ais-SearchBox-submit {
        order: -1;
        background-color: #ffffff;
        color: #d6d6d6;
        min-width: unset;
        max-width: unset;
        padding-right: 0;

        & #submit-icon {
            display: inline-flex;
            height: 100%;
            align-items: center;
            margin-top: 0;
        }

        & #submit-text {
            display: none;
        }
    }
}
