// bootstrap customization & font setup
@import 'bootstrap-custom';
@import 'webfonts';

// jqmath
@import 'jqmath-vanilla/jqmath-0.4.3';
@import 'jqmath-vanilla/jqmath-vanilla-overrides';

// base
@import 'base/variables';
@import 'base/modules_variables'; // imported from websites-modules
@import 'base/mixins';
@import 'base/colors';
@import 'base/typography';
@import 'base/spacing';
@import 'base/helpers';

// vendor
@import 'vendor/chroma-styles';

// docsearch
@import 'main_docsearch';

// global to all pages
@import 'pages/global';
// language specific
@import 'pages/ja';
@import 'pages/fr';

// page specific styles that aren't partials go here
// partial css lives with partial

@import "pages/api";
@import "pages/search";
@import "pages/404";
@import "pages/home";
@import "pages/security_monitoring";
@import "pages/glossary";

// Components
@import 'base/iconfont'; // imported from websites-modules
@import 'components/announcement-banner'; // imported from websites-modules
@import 'components/badge';
@import 'components/cards';
@import 'components/footer';
@import 'components/global-modals';
@import 'components/header';
@import 'components/integration-labels';
@import 'components/integration-breadcrumbs';
@import 'components/integrations';
@import 'components/platforms';
@import 'components/preview_banner';
@import 'components/questions';
@import 'components/language-region-select';
@import 'components/sidenav';
@import 'components/support';
@import 'components/table-of-contents';
@import 'components/tile-nav';
@import 'components/whats-next';
@import 'components/schema-table';
@import 'components/tab-toggle';

@import 'components/main-nav'; // imported from websites-modules
@import 'components/mobile-nav'; // imported from websites-modules
@import 'components/dd-navbar'; // for body-noscroll

// for now just include ie fixes
@import 'ie';
