// bootstrap customization & font setup
@import 'bootstrap-custom';
@import 'webfonts';
@import 'dropdown';

// jqmath
@import 'jqmath-vanilla/jqmath-0.4.3';
@import 'jqmath-vanilla/jqmath-vanilla-overrides';

// base
@import 'base/variables';
@import 'base/modules_variables'; // imported from websites-modules
@import 'base/mixins';
@import 'base/colors';
@import 'base/typography';
@import 'base/spacing';
@import 'base/helpers';
$baseImgURL: '{{.Site.Params.img_url}}';

// vendor
@import 'vendor/chroma-styles';

// instantsearch
@import 'algolia_instantsearch';

// global to all pages
@import 'pages/global';
// language specific
@import 'pages/ja';
@import 'pages/fr';

// page specific styles that aren't partials go here
// partial css lives with partial

@import "pages/api";
@import "pages/404";
@import "pages/home";
@import "pages/glossary";
@import "pages/standard-attributes";
@import "pages/static-analysis";
@import "pages/reference";

// Components
@import 'base/iconfont'; // imported from websites-modules
@import 'components/announcement-banner'; // imported from websites-modules
@import 'components/badge';
@import 'components/cards';
@import 'components/footer'; // imported from websites-modules
@import 'components/global-modals';
@import 'components/header';
@import 'components/integration-labels';
@import 'components/product-availability-labels';
@import 'components/breadcrumbs';
@import 'components/integrations';
@import 'components/platforms';
@import 'components/preview_banner';
@import 'components/questions';
@import 'components/language-region-select';
@import 'components/sidenav';
@import 'components/support';
@import 'components/table-of-contents';
@import 'components/tile-nav';
@import 'components/whats-next';
@import 'components/schema-table';
@import 'components/tab-toggle';
@import 'components/grouped-item-listings';
@import 'components/try-rule-cta-and-banner';
@import 'components/try-rule-modal';
@import 'components/learning-center-callout';

@import 'components/main-nav'; // imported from websites-modules
@import 'components/mobile-nav'; // imported from websites-modules
@import 'components/dd-navbar'; // for body-noscroll
@import 'components/demo-request-modal'; // imported from websites-modules

@import 'components/collapsible-section'; // Collapsible section styles


// for now just include ie fixes
@import 'ie';
