{{ $root := . }}
{{ $wireless_integrations := slice
  (dict "name" "meraki" "href" "/integrations/meraki/" "src" "integrations_logos/meraki.png")
}}
<div class="wireless-integrations">
  <div class="container cards-dd">
    <div class="row row-cols-4 g-2 g-xl-3">
      {{ range first 4 $wireless_integrations }}
      <div class="col">
        <a class="card h-100" href="{{ .href }}">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" $root "src" .src "class" "img-fluid" "alt" .name "width" "150") }}
          </div>
        </a>
      </div>
      {{ end }}
    </div>
    <br>
    <div class="row row-cols-4 g-2 g-xl-3">
      {{ range first 4 (after 4 $wireless_integrations) }}
      <div class="col">
        <a class="card h-100" href="{{ .href }}">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" $root "src" .src "class" "img-fluid" "alt" .name "width" "150") }}
          </div>
        </a>
      </div>
      {{ end }}
    </div>
    <br>
    <div class="row row-cols-4 g-2 g-xl-3">
      {{ range after 8 $wireless_integrations }}
      <div class="col">
        <a class="card h-100" href="{{ .href }}">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" $root "src" .src "class" "img-fluid" "alt" .name "width" "150") }}
          </div>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</div>
