.kind-home {
    .home-hero {
        background: linear-gradient(127.95deg, #b025b5 0%, #3923ae 100%);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 300px;
        h1 {
            font-size: 32px;
            @media (min-width: 768px) {
                font-size: 36px;
            }
        }
        @media (min-width: 768px) {
            height: 346px;
            background-image: url('/images/home-hero.png');
        }
        .docssearch {
            transform: none;
            #docssearchWrapper {
                box-shadow: 0px 1px 4px rgba(30, 5, 36, 0.24),
                    0px 1px 1px rgba(30, 5, 36, 0.16);
                position: relative;
            }

            .algolia-autocomplete {
                background-color: white;
                position: static !important;
                display: flex;
                flex-wrap: wrap;
                align-items: stretch;
                width: 100%;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                position: relative;
                -webkit-box-flex: 1;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                width: 1%;
                margin-bottom: 0;

                .docssearch-input,
                .docssearch-input-m {
                    width: 100%;
                    height: 38px;
                    border-radius: 0;
                    padding: 10px;
                    border: none;

                    &:focus {
                        border: none;
                        outline: none;
                        box-shadow: none;
                    }
                }

                .ds-dropdown-menu {
                    margin-top: 0;
                    transform: none;
                    width: 100%;
                    min-width: auto;

                    & [class^='ds-dataset-'] {
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    }
                }
            }
            .input-group-append {
                .btn {
                    height: 38px;
                    background-color: #b325b5;
                    border-color: #b325b5;
                    border-radius: 3px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    @media (min-width: 768px) {
                        width: 100px;
                    }
                    span {
                        line-height: 36px;
                        position: absolute;
                        display: inline-flex;
                        height: 38px;
                        align-items: center;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 16px;
                        svg {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }

    .guides {
        margin: -60px auto 30px auto;
        background-color: white;
        border-radius: 3px;
        box-shadow: 0px 1px 1px rgba(30, 5, 36, 0.16),
            0px 1px 4px rgba(30, 5, 36, 0.24);
        position: relative;
        @media (min-width: 768px) {
            margin: -60px auto 50px auto;
        }
        @media (min-width: 1200px) {
            max-width: 1000px;
        }

        .guide-col {
            padding: 16px 41px;
            flex: 1 1 auto;
            width: 25%;

            .inner-content {
                position: relative;
                .guide-no {
                    line-height: 1.2;
                    font-weight: 600;
                    top: 0;
                    position: absolute;
                    left: -16px;

                    &:lang(ja) {
                        font-size: 14px;
                    }
                }
            }

            @media (min-width: 768px) {
                border-bottom: none !important;
            }
        }

        .right-arrow-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            .right-arrow {
                width: 100%;
                height: 100%;
                path {
                    fill: none;
                    stroke: $gray-lighter;
                    stroke-width: 2;
                    stroke-linejoin: round;
                }
            }
        }

        .down-arrow {
            width: 100%;
            height: 40px;
            path {
                fill: none;
                stroke: $gray-lighter;
                stroke-width: 2;
                stroke-linejoin: round;
            }
        }
    }

    .nav-tiles {
        h3 {
            font-size: 32px;
            line-height: 36px;
            font-weight: 200;

            &:lang(ja) {
                font-size: 28px;
            }
        }
        .nav-tile {
            a {
                padding: 10px 27px;
                box-shadow: 0px 1px 1px rgba(30, 5, 36, 0.16),
                    0px 1px 4px rgba(30, 5, 36, 0.24);
                transition: box-shadow ease-in-out 0.16s;
                &:hover {
                    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16),
                        0px 4px 12px rgba(0, 0, 0, 0.24);
                }
            }
            svg {
                width: 15px;
                height: 18px;
            }
            span {
                padding-top: 5px;
            }
        }
    }

    .search-container {
        display: none;
    }

    header {
        .docssearch {
            position: relative;
            z-index: 3;
            transform: translateX(11px);
            margin-top: 15px;
            margin-bottom: 7px;

            .algolia-autocomplete {
                width: 100%;

                .docssearch-input,
                .docssearch-input-m {
                    border-radius: 0;
                    transition-duration: 0.125s;
                    width: 90%;
                    background-color: transparent;
                    border: 0px;
                    border-bottom: 1px solid #ced4da;

                    &:focus {
                        border: 0px;
                        border-bottom: 1px solid #632ca6;
                        outline: none;
                    }
                }
            }
        }
    }

    .popular-search {
        a {
            color: white;
            text-decoration: underline;
        }
    }
}
