<table>
  <thead>
  <tr>
    <th>App and API Protection capability</th>
    <th>Minimum Python tracer version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Threat Detection</td>
    <td><code>1.9.0</code></td>
  </tr>
  <tr>
    <td>Threat Protection</td>
    <td><code>1.10.0</code></td>
  </tr>
  <tr>
    <td>Customize response to blocked requests</td>
    <td><code>1.19.0</code></td>
  </tr>
  <tr>
    <td><a href="/security/application_security/how-it-works/add-user-info/?tab=python#automatic-user-activity-event-tracking-modes" > Automatic user activity event tracking</a></td>
    <td><code>1.17.0</code></td>
  </tr>
  <tr>
    <td><a href="/security/application_security/api-inventory/" >API Security Inventory</a></td>
    <td><code>2.6.0</code></td>
  </tr>
  </tbody>
</table>
