{{/*  Partners Banner  */}}
<div class="d-flex flex-wrap justify-content-between align-items-center mt-3 py-1 px-3 position-relative partners-banner">
    <div class="p-0 col-12 col-md-8">
      <p class="text-white">{{ i18n "datadog_partner_network" }}</p>
    </div>
    <div class="external-link col-12 col-md-4 p-0 d-flex align-items-center justify-content-md-end">
        <span class="text-white text-uppercase fw-semibold">{{ i18n "join_now" }}</span>
        {{ partial "icon" (dict "name" "right-arrow-slim" "color" "white") }}
        <a class="stretched-link" href="https://partners.datadoghq.com"></a>
    </div>
</div>