<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript">

var algoliaTimer;

var search_desktop = docsearch({
     appId: '{{ $.Site.Params.algolia.appId }}',
     apiKey: '{{ $.Site.Params.algolia.apiKey }}',
     indexName: '{{ $.Site.Params.algolia.indexName }}',
     inputSelector: '.docssearch-input',
     algoliaOptions: {
        'facetFilters': ['language:{{ .Site.Language.Lang }}']
     },
     autocompleteOptions: {
        autoselect: false
     },
      queryHook: function(query){
        if(window._DATADOG_SYNTHETICS_BROWSER === undefined) {
          clearTimeout(algoliaTimer);
          algoliaTimer = setTimeout(
            function(){
              if (query.length > 0) {
                window.datadog_logger.log('Algolia Search', {
                  "browser": {
                    "algolia": {
                      "search": query.toLowerCase()
                    }
                  }
                }, 'info')
              }
            },1000
          )
        }
    },
     debug: false // Set debug to true if you want to inspect the dropdown
});
var desktop_enable_enter = true;
var searchBtn = document.querySelector('.js-search-btn');
var searchContainer = document.querySelector('.search-container');

search_desktop.autocomplete.on('keyup', function(e) {
   if ($('.algolia-docsearch-suggestion').length > 0 ) {

      if ($('.algolia-autocomplete')) {
         $('.algolia-autocomplete').css('borderBottomLeftRadius', '0px');
         $('.algolia-autocomplete').css('borderBottomRightRadius', '0px');
      }

   } else {
      $('.algolia-autocomplete').css('borderTopLeftRadius', '3px');
      $('.algolia-autocomplete').css('borderBottomLeftRadius', '3px');
   }
   if(e.keyCode === 13 && desktop_enable_enter) {
       window.location = '{{ absLangURL "search/" }}?s='+this.value;
   }
});

// if user clicks search button
if (searchBtn) {
   searchBtn.addEventListener('click', function (e){
      var docsearchInput = document.querySelector('.docssearch-input.ds-input');
      if (docsearchInput.value !== '') {
         window.location = '{{ absLangURL "search/" }}?s='+docsearchInput.value;
      }

   })
}

search_desktop.autocomplete.on('autocomplete:closed', function(e) {
   if ($('.algolia-docsearch-suggestion').length > 0 ) {

      if ($('.algolia-autocomplete')) {
         $('.algolia-autocomplete').css('borderBottomLeftRadius', '0px');
         $('.algolia-autocomplete').css('borderBottomRightRadius', '0px');
      }

   } else {
      $('.algolia-autocomplete').css('borderTopLeftRadius', '3px');
      $('.algolia-autocomplete').css('borderBottomLeftRadius', '3px');
   }
   if(e.keyCode === 13 && desktop_enable_enter) {
       window.location = '{{ absLangURL "search/" }}?s='+this.value;
   }
});
search_desktop.autocomplete.on('autocomplete:cursorchanged', function(e) {
   desktop_enable_enter = false;
});
search_desktop.autocomplete.on('autocomplete:cursorremoved', function(e) {
   desktop_enable_enter = true;
});

if (searchContainer) {
   document.querySelector('.search-container').style.display = 'block';
}

</script>
<script type="text/javascript">
var search_mobile = docsearch({
     appId: '{{ $.Site.Params.algolia.appId }}',
     apiKey: '{{ $.Site.Params.algolia.apiKey }}',
     indexName: '{{ $.Site.Params.algolia.indexName }}',
     inputSelector: '.docssearch-input-m',
     algoliaOptions: {
        'facetFilters': ['language:{{ .Site.Language.Lang }}']
     },
     autocompleteOptions: {
        autoselect: false
     },
     debug: false // Set debug to true if you want to inspect the dropdown
});
var mobile_enable_enter = true;
search_mobile.autocomplete.on('keyup', function(e) {
   if(e.keyCode === 13 && mobile_enable_enter) {
       window.location = '{{ absLangURL "search/" }}?s='+this.value;
   }
});
search_mobile.autocomplete.on('autocomplete:cursorchanged', function(e) {
   mobile_enable_enter = false;
});
search_mobile.autocomplete.on('autocomplete:cursorremoved', function(e) {
   mobile_enable_enter = true;
});
</script>
