{{ $name := $.name }}
{{ $description := $.description }}
{{ $options := $.options }}

{{ $.context.Scratch.Add "lang" "" }}

{{ $is_required := $options.default | default "required" }}

{{ $.context.Scratch.Add "ro" ""}}

{{ if eq $is_required "required" }}

  {{ $.context.Scratch.Set "ro" "required" }}

{{ else if $options.default }}

  {{ $.context.Scratch.Set "ro" (printf "optional, default=%s" $options.default ) }}

{{ else }}

  {{ $.context.Scratch.Set "ro" "optional" }}

{{ end }}

{{ if and $options.lang (ne $options.nag "python" ) }}

  {{ $.context.Scratch.Add "style_hide" "style=\"display:none;\" "}}

{{ end }}

{{ $hide := $.context.Scratch.Get "style_hide" }}

{{ $lang := (printf "class=\"lang-specific lang-specific-%s\" %s" $options.lang $hide) }}

<li {{ $lang | safeHTMLAttr -}}><strong>{{- $name }} [{{ $.context.Scratch.Get "ro" }}]</strong><div>{{- $description -}}</div></li>



