{{ $name := $.name }}
{{ $description := $.description }}
{{ $default := $.default }}
{{ $lang := $.lang }}

{{ $.context.Scratch.Add "lang" "" }}

{{ $is_required := $.default | default "required" }}

{{ $.context.Scratch.Add "ro" ""}}

{{ if eq $is_required "required" }}

  {{ $.context.Scratch.Set "ro" "required" }}

{{ else if $default }}

  {{ $.context.Scratch.Set "ro" (printf "optional, default=%s" $default ) }}

{{ else }}

  {{ $.context.Scratch.Set "ro" "optional" }}

{{ end }}

{{ if and $lang (ne $lang "python" ) }}

  {{ $.context.Scratch.Add "style_hide" "style=\"display:none;\" "}}

{{ end }}

{{ $hide := $.context.Scratch.Get "style_hide" }}

{{ if $lang }}

  {{ $lang := (printf "class=\"lang-specific lang-specific-%s\" %s" $lang $hide) }}

  {{ $.context.Scratch.Set "lang" $lang }}

{{ else }}

  {{ $lang := "Nothing" }}

  {{ $.context.Scratch.Set "lang" $lang }}

{{ end }}

<li {{ if  $.context.Scratch.Get "lang"  }} {{ $.context.Scratch.Get "lang" | safeHTMLAttr -}} {{ end }}><strong>{{- $name }} [{{ $.context.Scratch.Get "ro" }}]</strong><div>{{- $description | safeHTML -}}</div></li>



