<!--
======================================================
Starting and Stopping the Agent
======================================================
-->

{{ if eq .Page.Params.os "osx" }}

    {{ $.Scratch.Set "sudo" "" }}

{{ else }}

    {{ $.Scratch.Set "sudo" "sudo " }}

{{ end }}

{{ $sudo := $.Scratch.Get "sudo" }}

<!-- ### Starting and Stopping the Agent -->

### Datadog Agent の起動と停止

{{ if eq .Page.Params.os "smartos" }}
<!-- To manually start the Agent: -->
手動で Datadog Agent を起動する:

    svcadm enable datadog

<!-- To stop the Agent: -->
Datadog Agentを停止する:
    svcadm disable datadog

<!-- To restart the Agent and to reload the configuration files: -->
Datadog Agentを再起動して、設定ファイルを再度読み込ませる:

    svcadm restart datadog

{{ else }}
<!-- To manually start the Agent: -->
手動で Datadog Agent を起動する:

    {{ $sudo }}{{.Page.Params.servicename }} start

<!-- To stop the Agent: -->
Datadog Agentを停止する:

    {{ $sudo }}{{.Page.Params.servicename }} stop

<!-- To restart the Agent and to reload the configuration files: -->
Datadog Agentを再起動して、設定ファイルを再度読み込ませる:

    {{ $sudo }}{{.Page.Params.servicename }} restart
{{ end }}

<!--
======================================================
Status and Information
======================================================
-->

<!-- ### Status and Information -->

### 動作ステータスの確認

{{ if eq .Page.Params.os "smartos" }}
<!-- To check if the Agent is running: -->
Datadog Agent が起動しているかを確認する:

    svcs datadog

<!-- To receive more information about the Agent’s state: -->
Datadog Agent のステータスに関する情報を収集する:

    /opt/local/datadog/bin/info

<!-- Tracebacks for errors can be retrieved by setting the **-v** flag: *(since 3.8.0)* -->
エラーをトレースするために`-v`フラグをinfoコマンドに追記し実行する: *(ver. 3.8.0 ~)*

    /opt/local/datadog/bin/info -v

{{ else }}
<!-- To check if the Agent is running: *(since 3.8.0)* -->
Datadog Agent が起動しているかを確認する: *(since 3.8.0)*

    {{ $sudo }}{{.Page.Params.servicename }} status

<!-- To receive information about the Agent's state: -->
Datadog Agent のステータスに関する情報を収集する:

    {{ $sudo }}{{.Page.Params.serviceinfoname }}

<!-- Tracebacks for errors can be retrieved by setting the **-v** flag: *(since 3.8.0)* -->
エラーをトレースするために`-v`フラグをinfoコマンドに追記し実行する: *(ver. 3.8.0 ~)*

    {{ $sudo }}{{.Page.Params.serviceinfoname }} -v

{{ end }}
<!--
======================================================
Configuration
======================================================
-->

<!-- ### Configuration -->

### 設定ファイルの保存されているディレクトリ

<!-- The configuration file for the Agent is located at ````<%= @item[:configdirectory] %>datadog.conf````

Configuration files for integrations are located in ````<%= @item[:configdirectory] %>conf.d/```` -->

Datadog Agent の設定ファイルの保存先 ````{{.Page.Params.configdirectory}}datadog.conf````

インストールしたIntegrations の設定ファイルの保存先 ````{{.Page.Params.configdirectory}}conf.d/````

<!--
======================================================
Troubleshooting
======================================================
-->

<!-- ### Troubleshooting -->

### トラブルシューティング

{{ if eq .Page.Params.os "smartos" }}

<!-- Try running the info command to see the state of the Agent. -->
<a href='#status_and_information'>info</a>コマンドを実行することによって、Datadog Agentのステータス情報を表示することができます。

<!-- Logs for the subsystems are in the following files: -->
Datadog Agentに内包されている機能の個別ログは、以下のファイルに記録されています:

* ````/opt/local/datadog/logs/supervisord/collector.log````
* ````/opt/local/datadog/logs/supervisord/dogstatsd.log````
* ````/opt/local/datadog/logs/supervisord/forwarder.log````

{{ else }}
<!-- Try running the <a href='#status_and_information'>info</a> command to see the state of the Agent. -->
<a href='#status_and_information'>info</a>コマンドを実行することによって、Datadog Agentのステータス情報を表示することができます。

<!-- Logs for the subsystems are in the following files: -->
Datadog Agentに内包されている機能の個別ログは、以下のファイルに記録されています:

* ````{{.Page.Params.supervisorlog}}```` *(since 3.8.0)*
* ````{{.Page.Params.logdirectory}}collector.log````
* ````{{.Page.Params.logdirectory}}dogstatsd.log````
* ````{{.Page.Params.logdirectory}}forwarder.log````

{{ end }}
<br/>
