<!--
======================================================
Starting and Stopping the Agent
======================================================
-->
{{ if eq .Page.Params.os "osx" }}

    {{ $.Scratch.Set "sudo" "" }}

{{ else }}

    {{ $.Scratch.Set "sudo" "sudo " }}

{{ end }}

{{ $sudo := $.Scratch.Get "sudo" }}

### Starting and Stopping the Agent

{{ if eq .Page.Params.os "smartos" }}
To manually start the Agent:

    svcadm enable datadog

To stop the Agent:

    svcadm disable datadog

To restart the Agent and to reload the configuration files:

    svcadm restart datadog

{{ else }}
To manually start the Agent:

    {{ $sudo }}{{.Page.Params.servicename }} start

To stop the Agent:

    {{ $sudo }}{{.Page.Params.servicename }} stop

To restart the Agent and to reload the configuration files:

    {{ $sudo }}{{.Page.Params.servicename }} restart

{{ end }}
<!--
======================================================
Status and Information
======================================================
-->

### Status and Information

{{ if eq .Page.Params.os "smartos" }}
To check if the Agent is running:

    svcs datadog

To receive more information about the Agent’s state:

    /opt/local/datadog/bin/info

Tracebacks for errors can be retrieved by setting the **-v** flag: *(since 3.8.0)*

    /opt/local/datadog/bin/info -v

{{ else }}
To check if the Agent is running: *(since 3.8.0)*

    {{ $sudo }}{{.Page.Params.servicename }} status

To receive information about the Agent's state:

    {{ $sudo }}{{.Page.Params.serviceinfoname}}

Tracebacks for errors can be retrieved by setting the **-v** flag: *(since 3.8.0)*

    {{ $sudo }}{{.Page.Params.serviceinfoname}} -v

More information about the metrics, events and service checks for an integration can be retrieved with the check command:

    {{ $sudo }}{{.Page.Params.servicename }} check [integration]

Add the check_rate argument to get the most recent values for rates:

    {{ $sudo }}{{.Page.Params.servicename }} check [integration] check_rate

{{ end }}
<!--
======================================================
Configuration
======================================================
-->

### Configuration

The configuration file for the Agent is located at ````{{.Page.Params.configdirectory}}datadog.conf````

Configuration files for integrations are located in ````{{.Page.Params.configdirectory}}conf.d/````

<!--
======================================================
Troubleshooting
======================================================
-->

### Troubleshooting

{{ if eq .Page.Params.os "smartos" }}

Try running the info command to see the state of the Agent.

Logs for the subsystems are in the following files:

* ````/opt/local/datadog/logs/supervisord/collector.log````
* ````/opt/local/datadog/logs/supervisord/dogstatsd.log````
* ````/opt/local/datadog/logs/supervisord/forwarder.log````

{{ else }}
Try running the <a href='#status_and_information'>info</a> command to see the state of the Agent.

Logs for the subsystems are in the following files:

* ````{{.Page.Params.supervisorlog}}```` *(since 3.8.0)*
* ````{{.Page.Params.logdirectory}}collector.log````
* ````{{.Page.Params.logdirectory}}dogstatsd.log````
* ````{{.Page.Params.logdirectory}}forwarder.log````

{{ end }}

<br/>
