          <li class="nav-header"><%= @item["customnav_tracingnav_tracing"] %></li>
          <li><a href='<%= @item["langpath"] %>/tracing/'><%= @item["customnav_tracingnav_install"] %></a></li>
          <li><a href='<%= @item["langpath"] %>/tracing/terminology'><%= @item["customnav_tracingnav_terminology"] %></a></li>
          <li><a href='<%= @item["langpath"] %>/tracing/faq'><%= @item["customnav_tracingnav_faq"] %></a></li>
          <li class="nav-header"><%= @item["customnav_tracingnav_langs"] %></li>
          <li><a href='<%= @item["langpath"] %>/tracing/go'><%= @item["customnav_tracingnav_go"] %></a></li>
          <li><a href='<%= @item["langpath"] %>/tracing/python'><%= @item["customnav_tracingnav_py"] %></a></li>
          <li><a href='<%= @item["langpath"] %>/tracing/ruby'><%= @item["customnav_tracingnav_rb"] %></a></li>
          <li><a href='<%= @item["langpath"] %>/tracing/api'><%= @item["customnav_tracingnav_api"] %></a></li>
