<script type="text/javascript" src="https://www.datadoghq-browser-agent.com/datadog-rum-us.js"></script>
    <script type="text/javascript" src="https://www.datadoghq-browser-agent.com/datadog-logs-us.js"></script>
    {{ if eq .Site.Params.environment "preview" }}
    <script>
        window.DD_RUM.init({
          clientToken: 'pub36877d3864fab670b5ae7e1d5d26cb08',
          applicationId: 'c4e83ad8-4eda-4d2e-aae1-d943abce0463',
        });
    </script>
    <script>
            DD_LOGS.init({
                clientToken: 'pub36877d3864fab670b5ae7e1d5d26cb08',
                forwardErrorsToLogs: true,
            });
            DD_LOGS.addLoggerGlobalContext('env', '{{ $.Site.Params.environment }}');
            DD_LOGS.addLoggerGlobalContext('service', 'docs');
            DD_LOGS.addLoggerGlobalContext('host', window.location.host);
    </script>
    {{ end }}
    {{ if eq .Site.Params.environment "live" }}
    <script>
        window.DD_RUM.init({
          clientToken: 'pub16bb5ef3e9bf55f156338987e27246c7',
          applicationId: '3493b4e7-ab12-4852-8836-ba96af7bc745',
        });
    </script>
    <script>
            DD_LOGS.init({
                clientToken: 'pub16bb5ef3e9bf55f156338987e27246c7',
                forwardErrorsToLogs: true,
            });
            DD_LOGS.addLoggerGlobalContext('env', '{{ $.Site.Params.environment }}');
            DD_LOGS.addLoggerGlobalContext('service', 'docs');
            DD_LOGS.addLoggerGlobalContext('host', window.location.host);
        </script>
    {{ end }}
