<script type="text/javascript" src="https://www.datadoghq-browser-agent.com/datadog-rum-us.js"></script>
<script type="text/javascript" src="https://www.datadoghq-browser-agent.com/datadog-logs-us.js"></script>
<script>

{{ if (or (eq $.Site.Params.environment "live") (eq $.Site.Params.environment "preview")) }}
    window.DD_RUM.init({
      clientToken: '{{ $.Site.Params.datadog.clientToken }}',
      applicationId: '{{ $.Site.Params.datadog.applicationId }}',
    });
{{ end }}

  // LOGS init
  DD_LOGS.init({
      clientToken: '{{ $.Site.Params.datadog.clientToken }}',
      forwardErrorsToLogs: {{ $.Site.Params.datadog.forwardErrorsToLogs }},
  });

  DD_LOGS.addLoggerGlobalContext('env', '{{ $.Site.Params.environment }}');
  DD_LOGS.addLoggerGlobalContext('service', 'docs');
  DD_LOGS.addLoggerGlobalContext('host', window.location.host);

  // Locally log to console
  {{ if (or (eq $.Site.Params.environment "default") (eq $.Site.Params.environment "development")) }}
      DD_LOGS.logger.setHandler('console');
  {{ end }}

</script>
