{{ if eq .BaseFileName "search" }}
    <script src="{{ (index $.Site.Data.manifest "search.js") | relURL}}"></script>
{{ end }}

{{ if .Params.footer_scripts }}
    {{ range $k, $v := .Params.footer_scripts }}

        {{ range $i, $tag := $v }}

            {{ if eq $tag true }}

                {{ $script_tag := $i | printf "footer_scripts/%s"  }}

                {{ partial $script_tag . }}

            {{ end }}

        {{ end }}

    {{ end }}
{{ end }}

{{ $dot := . }}

{{ range $k, $v := .Site.Params.footer_scripts }}

    {{ range $i, $tag := $v }}

        {{ if eq $tag true }}

            {{ $script_tag := $i | printf "footer_scripts/%s"  }}

            {{ partial $script_tag $dot }}

        {{ end }}

    {{ end }}

{{ end }}
