        {{ if $.Params.sidebar.nav }}
          <script type="text/javascript">
            window.Datadog = window.Datadog || {};
            window.Datadog.toc = false;
          </script>

        {{ else }}

          <script type="text/javascript">
            window.Datadog = window.Datadog || {};
            window.Datadog.toc = true;
          </script>

        {{ end }}

        {{ if $.Params.autotocdepth }}
          <script type="text/javascript">
            window.Datadog = window.Datadog || {};
            window.Datadog.tocdepth = true;
          </script>
        {{ end }}


        {{ if in .File.Path "basic_agent_usage" }}
          <script type="text/javascript">
            window.Datadog = window.Datadog || {};
            window.Datadog.toc = false;
          </script>
        {{ end }}

        <script src="{{ .Site.BaseURL }}js/{{ (index .Site.Data.manifests.js "main-dd.js") }}"></script>

        {{ if eq .RelPermalink "/api/" }}
          <script type="text/javascript">
            window.Datadog = window.Datadog || {};
            window.Datadog.toc = false;

            jQuery(document).ready(function($){
              $(DD_docs.apiPage);
            });

          </script>
        {{ end }}

        {{ partial "footer-scripts.html" . }}
        {{ partial "footer-js-dd-docs-methods" . }}
        {{ if eq .Site.Params.environment "preview" }}
          <div class="preview-banner" style="position: fixed;
            bottom: 0;
            background-color: rgba(255, 207, 0, .85);
            z-index: 999;
            line-height: inherit;
            color: #333;
            margin: 0;
            font-size: 16px;
            padding: 3px;
            font-family: monospace;
            width: 100%;
            text-align: center;">
            PREVIEWING: <a class="no-check" href="https://github.com/DataDog/documentation/tree/{{ .Site.Params.branch }}"> {{ .Site.Params.branch }} </a>
          </div>
        {{ end }}
    </body>
</html>