
{{ range $k, $v := .Page.Fragments.HeadingsMap }}
  <p>Title:{{ $v.Title }}</p>
  {{ range $childk, $childv := $v.Headings }}
    <p>- {{ $childv.Title }}</p>
  {{ end }}
{{ end }}


{{ range .Page.Fragments.HeadingsMap }}
  {{ if eq .Title "Setup"  }}
    <p>Title2:{{ .Title }}</p>
    {{ range $childk, $childv := .Headings }}
    <p>-2 {{ $childv.Title }}</p>
    {{ end }}
  {{ end }}
{{ end }}


{{/*  {{ range .Fragments.Identifiers }}
    <p>ID:: {{.}}</p>
{{ end }}  */}}


{{/*  {{ range (findRE `^#{2}\s[\w\s]+[\n]` .Page.RawContent) }}
  <p>{{ (replace . "##" "") | anchorize }}</p>
{{ end }}  */}}


{{/*  {{ range .Page.Content }}
  {{ . }}
{{ end }}  */}}