<head>
  {{- partial "header-scripts.html" . -}}

  <meta charset="utf-8">
  {{- partial "prefetch.html" . -}}
  {{- partial "preload.html" . -}}

  <title>
    {{/* if isset .Params "integration_title" }}
      {{ .Params.integration_title }}
    {{ else }}
      {{ .Title }}
    {{ end */}}

    {{- cond (isset .Params "integration_title") .Params.integration_title .Title -}}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{- if .Params.external_redirect -}} 
    {{- partial "meta-http-equiv.html" . -}} 
  {{- end -}}

  {{- partial "canonical.html" . -}}
  {{- partial "noindex.html" . -}}
  {{- partial "hreflang.html" . -}}

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="icon" type="image/png" href="https://docs.datadoghq.com/favicon.ico">

  {{- partial "javascript.html" (dict "is_head" true) -}}
  {{- partialCached "css.html" . -}}

  {{- if ne $.Params.disable_opengraph_meta_tags true -}}
    {{- partial "meta.html" . -}}
  {{- end -}}
</head>
