{{ $size := "inherit" }}
{{ $color := "" }}
{{ $title := "" }}
{{ $style := "" }}

{{ if .size }}
{{ $size = printf "font-size:%s" .size }}
{{ end }}

{{ if .color }}
{{ $color = printf "color:%s" .color }}
{{ end }}

{{ if .title }}
{{/*  enable bootstrap tooltip if title attribute needed  */}}
{{ $title = (printf "title=%q data-bs-toggle='tooltip' data-bs-placement='top'" .title) }}
{{ end }}

{{/* Combine contextual params into inline style */}}
{{ if or .size .color }}
{{ $style = (printf "style='%s; %s'" $size $color) }}
{{ end }}

<i class="icon-{{ .name }}" {{ $style | safeHTMLAttr }} {{ $title | safeHTMLAttr }}></i>
