{{ $media := .Params.tile.media}}
{{ $asset_len := ($media | default slice) | len  }}
<div 
class="integrations-carousel container border border-primary container p-0"
x-data="{
    activeSlide: 0,
    distanceConstant: 0,
    verticalCarouselEl: {},
    navigateCarousel (direction) {
        const max = {{ $asset_len }} - 1
        if(direction === 'next'){
            if(this.activeSlide === max){
                this.activeSlide = 0
            }else{
                this.activeSlide += 1
            }
        }else{
            if(!this.activeSlide){
                this.activeSlide = max
            }else{
                this.activeSlide -= 1
            }
        }
        // navigate vertical carousel
        this.verticalCarouselEl.scrollTop = this.activeSlide * this.distanceConstant
    },
    infiniteCarousel () {
        console.log('---')
    },
    getTransformY (idx) {
        return idx < ({{ $asset_len }} - 1) ? this.distanceConstant : -(idx * this.distanceConstant)
    },
    isHidden (idx) {
        return idx !== this.activeSlide && 'd-none'
    },
    setDistanceConstant (carouselVertEl) {
        // sets the distance from middle btn to top of vertical carousel as a constant
        this.distanceConstant = carouselVertEl.children[1].offsetTop
    },
    setVerticalCarouselEl (carouselVertEl) {
        this.verticalCarouselEl = carouselVertEl
    }
}">
    <div class="carousel-top-row row g-0">
        {{/*  Carousel (horizontal)  */}}
        <div class="carousel-asset-horizontal col-12 h-100 pr-1 position-relative col-md-9 bg-light border border-warning">
            <div class="carousel-items h-100">
                {{ range $idx, $elm := $media }}
                <div class="carousel-item h-100" :class="isHidden({{ $idx }})">
                    {{ if eq $elm.media_type "image"}}
                    <img class="h-100 w-100" src="{{$elm.image_url}}" alt="{{ add $idx 1 }}" >
                    {{ else }}
                    <video class="h-100 w-100" poster="{{$elm.image_url}}" preload="none">
                        <source type="video/mp4">
                    </video>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            <button 
            class="carousel-control prev position-absolute top-50 translate-middle-y rounded-circle border border-0 bg-white" 
            @click="navigateCarousel('prev')">
                <span><</span>
                <div class="visually-hidden">Previous</div>
            </button>
            <button 
            class="carousel-control next position-absolute top-50 translate-middle-y rounded-circle border border-0 bg-white" 
            @click="navigateCarousel('next')">
                <span>></span>
                <div class="visually-hidden">Next</div>
            </button>
        </div>
        {{/*  Carousel (vertical)  */}}
        <div 
        class="carousel-items-vertical d-none overflow-hidden h-100 d-md-block col-md-3 border border-primary"
        x-init="setDistanceConstant($el); setVerticalCarouselEl($el)">
            {{ range $idx, $elm := $media }}
            <button 
            class="carousel-item-vert row g-0 p-0 w-100 mx-auto"
            @click="navigateCarousel($el.offsetTop > verticalCarouselEl.children[activeSlide]?.offsetTop ? 'next': 'prev')"
            :style="{transform: `translateY(${getTransformY({{ $idx }})}px)`, backgroundImage: 'url({{ $elm.image_url }})'}"
            :disabled="{{ $idx }} === activeSlide"
            x-text="$el.offsetTop + '-{{ add $idx 1}}'"
            >
                
            </button>
            {{ end }}
        </div>
    </div>
    {{/*  Carousel item description  */}}
    <div class="row g-0">
        <div class="col-12 p-0 carousel-item-descriptions border border-secondary">
            {{ range $idx, $el := $media }}
            <div class="row g-0 carousel-item-description" :class="isHidden({{ $idx }})">
                <div class="col-1">
                    <span class="fw-bold" x-text="(activeSlide + 1) + '/{{$asset_len}}'"></span>
                </div>
                <div class="col">
                    <p>{{$el.caption}}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>