{{ $media := .Params.tile.media | default slice}}
{{ $asset_len := ($media | default slice) | len  }}
{{ $isScrollableCarousel := (gt $asset_len 3)}}

<div 
class="integrations-carousel container border border-primary container p-0"
x-data="{
    activeSlide: 0,
    distanceConstant: 0,
    activeBtnOffsetTop: 0,
    isScrollable: {{$isScrollableCarousel}},
    verticalCarouselEl: {},
    navigateCarousel (direction) {
        const max = {{ $asset_len }} - 1
        let endReached = false
        if(direction === 'next'){
            if(this.activeSlide === max){
                this.activeSlide = 0
                this.activeBtnOffsetTop = this.distanceConstant * 3
                this.verticalCarouselEl.style.scrollBehavior = 'auto'
                endReached = true
            }else{
                this.activeSlide += 1
                this.activeBtnOffsetTop += this.distanceConstant
            }
        }else{
            if(!this.activeSlide){
                this.activeSlide = {{ $asset_len }} - 1
                this.activeBtnOffsetTop = this.verticalCarouselEl.scrollHeight - (this.distanceConstant*2)
                this.verticalCarouselEl.style.scrollBehavior = 'auto'
                endReached = true
            }else{
                this.activeSlide -= 1
                this.activeBtnOffsetTop -= this.distanceConstant
            }
        }

        // navigate vertical carousel. everything is offset by -206px. i need to navigate by 103px 
        this.verticalCarouselEl.scrollTop = this.activeSlide * this.distanceConstant
        if(endReached){
            this.verticalCarouselEl.style.scrollBehavior = 'smooth'
        }
    },
    isHidden (idx) {
        return idx !== this.activeSlide && 'd-none'
    },
    setDistanceConstant (carouselVertEl) {
        // sets the distance from middle btn to top of vertical carousel as a constant
        this.distanceConstant = this.isScrollable && carouselVertEl.children[1].offsetTop
    },
    setVerticalCarouselEl (carouselVertEl) {
        this.verticalCarouselEl = carouselVertEl
    }
}">
    <div class="carousel-top-row row g-0">
        {{/*  Carousel (horizontal)  */}}
        <div class="carousel-asset-horizontal col-12 h-100 pr-1 position-relative col-md-9 bg-light border border-warning">
            <div 
            class="carousel-items-horizontal h-100"
            >
                {{ range $idx, $elm := $media }}
                <div class="carousel-item h-100" :class="isHidden({{ $idx }})">
                    {{ if eq $elm.media_type "image"}}
                    <img class="h-100 w-100" src="{{$elm.image_url}}" alt="{{ $elm.image_url }}-{{add $idx 1}}" >
                    {{ else }}
                    <video class="h-100 w-100" poster="{{$elm.image_url}}" preload="none" alt="{{ $elm.image_url }}-{{add $idx 1}}">
                        <source type="video/mp4">
                    </video>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            {{ if gt $asset_len 1 }}
            <button 
            class="carousel-control prev position-absolute top-50 translate-middle-y rounded-circle border border-0 bg-white" 
            @click="navigateCarousel('prev')">
                <div class="control-arrow"></div>
                <div class="visually-hidden">Previous</div>
            </button>
            <button 
            class="carousel-control next position-absolute top-50 translate-middle-y rounded-circle border border-0 bg-white" 
            @click="navigateCarousel('next')">
                <div class="control-arrow"></div>
                <div class="visually-hidden">Next</div>
            </button>
            {{ end }}
        </div>
        {{/*  Carousel (vertical)  */}}
        <div 
        class="carousel-items-vertical d-none overflow-hidden h-100 d-md-block col-md-3 border border-primary"
        x-init="setDistanceConstant($el); setVerticalCarouselEl($el); activeBtnOffsetTop = distanceConstant ? distanceConstant*3: 103">
            {{ range $idx, $elm := $media }}
                {{ if and (gt $idx (sub $asset_len 4)) $isScrollableCarousel}}
                <button 
                class="carousel-item-vert row g-0 p-0 w-100 mx-auto"
                @click="navigateCarousel($el.offsetTop > activeBtnOffsetTop ? 'next': 'prev')"
                :style="{transform: `translateY(-${distanceConstant * 2}px)`, backgroundImage: 'url({{ $elm.image_url }})'}"
                x-text="'{{ $elm.image_url }} {{add $idx 1}}'"
                :disabled="isScrollable ? ($el.offsetTop === activeBtnOffsetTop): ({{ $idx }} === activeSlide)"
                >
                </button>
                {{ end }}
            {{ end }}
            {{ range $idx, $elm := $media }}
            <button
            class="carousel-item-vert row g-0 p-0 w-100 mx-auto"
            @click="navigateCarousel($el.offsetTop > activeBtnOffsetTop ? 'next': 'prev')"
            :style="{transform: `translateY(-${distanceConstant * 2}px)`, backgroundImage: 'url({{ $elm.image_url }})'}"
            x-text="'{{ $elm.image_url }} {{add $idx 1}}'"
            :disabled="isScrollable ? ($el.offsetTop === activeBtnOffsetTop): ({{ $idx }} === activeSlide)"
            >
            </button>
            {{ end }}
            {{ range $idx, $elm := first 1 $media }}
                {{ if $isScrollableCarousel}}
                <button 
                class="carousel-item-vert row g-0 p-0 w-100 mx-auto"
                @click="navigateCarousel($el.offsetTop > activeBtnOffsetTop ? 'next': 'prev')"
                :style="{transform: `translateY(-${distanceConstant * 2}px)`, backgroundImage: 'url({{ $elm.image_url }})'}"
                x-text="'{{ $elm.image_url }} {{add $idx 1}}'"
                :disabled="isScrollable ? ($el.offsetTop === activeBtnOffsetTop): ({{ $idx }} === activeSlide)"
                >
                </button>
                {{ end }}
            {{ end }}
        </div>
    </div>
    {{/*  Carousel item description  */}}
    <div class="row g-0">
        <div class="col-12 p-0 carousel-item-descriptions border border-secondary">
            {{ range $idx, $el := $media }}
            <div class="row g-0 carousel-item-description" :class="isHidden({{ $idx }})">
                <div class="col-1">
                    <span class="fw-bold" x-text="(activeSlide + 1) + '/{{$asset_len}}'"></span>
                </div>
                <div class="col">
                    <p>{{$el.caption}}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>