{{ $app_id := .Params.app_id | default "" }}
{{ $media := .Params.tile.media | default slice}}
{{ $asset_len := ($media | default slice) | len  }}
{{ $isScrollableCarousel := (gt $asset_len 3)}}

<div 
@keydown.window.left="navigateCarousel('prev')"
@keydown.window.right="navigateCarousel('next')"
class="integrations-carousel container container p-0"
x-data="{
    activeSlide: 0,
    distanceConstant: 0,
    activeBtnOffsetTop: 0,
    isScrollable: {{$isScrollableCarousel}},
    verticalCarouselEl: {},
    navigateCarousel (direction) {
        // pause any video in the carousel that could be playing
        this.pauseVideo()

        const max = {{ $asset_len }} - 1
        let endReached = false
        if(direction === 'next'){
            if(this.activeSlide === max){
                this.activeSlide = 0
                this.activeBtnOffsetTop = this.distanceConstant * 3
                this.verticalCarouselEl.style.scrollBehavior = 'auto'
                endReached = true
            }else{
                this.activeSlide += 1
                this.activeBtnOffsetTop += this.distanceConstant
            }
        }else if(direction === 'prev'){
            if(!this.activeSlide){
                this.activeSlide = {{ $asset_len }} - 1
                this.activeBtnOffsetTop = this.verticalCarouselEl.scrollHeight - (this.distanceConstant*2)
                this.verticalCarouselEl.style.scrollBehavior = 'auto'
                endReached = true
            }else{
                this.activeSlide -= 1
                this.activeBtnOffsetTop -= this.distanceConstant
            }
        }else{
            // if vertical carousel is not scrollable, 'direction' is the index of the selected btn
            this.activeSlide = direction
        }

        // navigate vertical carousel. everything is offset by -206px. i need to navigate by 103px 
        this.verticalCarouselEl.scrollTop = this.activeSlide * this.distanceConstant

        if(endReached){
            this.verticalCarouselEl.style.scrollBehavior = 'smooth'
        }
    },
    chooseVerticalDirection (btn, btnIdx) {
        if(this.isScrollable){
            if (btn.offsetTop > this.activeBtnOffsetTop) {
                return 'next'
            }else if(btn.offsetTop < this.activeBtnOffsetTop) {
                return 'prev'
            }
        }
        return btnIdx
    },
    navigateVerticalNavOnResize (carouselVertEl) {
        // assign vertical carousel position on resize
        if(this.isScrollable){
            this.verticalCarouselEl.style.scrollBehavior = 'auto'
            this.verticalCarouselEl.scrollTop = this.activeSlide * this.distanceConstant
            this.distanceConstant = carouselVertEl.children[1].offsetTop
            this.verticalCarouselEl.style.scrollBehavior = 'smooth'
        }
    },
    shouldShowActiveHorizontalSlide (idx) {
        return idx === this.activeSlide
    },
    isActiveVertical (idx, btn) {
        if(this.isScrollable && (btn.offsetTop === this.activeBtnOffsetTop)){
            return 'active'
        }else if (!this.isScrollable && (idx === this.activeSlide)){
            return 'active'
        }
    },
    setDistanceConstant (carouselVertEl) {
        // sets the distance from middle btn to top of vertical carousel as a constant
        if(this.isScrollable){
            this.distanceConstant = carouselVertEl.children[1].offsetTop
            if(window.innerWidth < 768){
                // if in mobile view on page load
                this.distanceConstant = 103
            }
        }
    },
    setVerticalCarouselEl (carouselVertEl) {
        this.verticalCarouselEl = carouselVertEl
    },
    setActiveBtnOffsetTop () {
        // if the item is not scrollable or if in mobile
        this.activeBtnOffsetTop = this.distanceConstant ? this.distanceConstant*3: 103
    },
    playVideo () {
        const {iframe, playBtn, playOverlay} = $refs
        const player = new Vimeo.Player(iframe);

        playBtn.classList.add('d-none');
        playOverlay.classList.add('d-none');
        iframe.classList.remove('d-none');

        player.play()
    },
    pauseVideo () {
        const {iframe, playBtn, playOverlay} = $refs
        if(iframe?.parentElement.classList.contains('active')){
            const player = new Vimeo.Player(iframe);
            player.pause().then(() => {
                playBtn.classList.remove('d-none');
                playOverlay.classList.remove('d-none');
                iframe.classList.add('d-none');
            }).catch((err) => {
                console.log(err)
            })
        }
    }
}">
    <div class="carousel-top-row row g-0">
        {{/*  Carousel (horizontal)  */}}
        <div class="carousel-asset-horizontal col-12 h-100 pr-1 position-relative col-md-9">
            <div class="carousel-items-horizontal h-100 position-relative">
                {{ range $idx, $elm := $media }}
                <div 
                id="{{add $idx 1}}-horizontal" 
                class="carousel-item-horizontal h-100 rounded-1 {{if $elm.vimeo_id}}video-item{{end}}" 
                :class="shouldShowActiveHorizontalSlide({{ $idx }}) && 'active'"
                x-cloak x-show="shouldShowActiveHorizontalSlide({{ $idx }})">
                    {{ if eq $elm.media_type "image"}}
                    <img class="h-100 w-100 rounded-1" src="https://s3.amazonaws.com/dd-integrations/{{ $app_id }}/media_gallery/{{ replaceRE `(./)?images/` "" $elm.image_url }}" alt="{{ $elm.caption }}" >
                    {{ else }}
                    <iframe x-ref="iframe" class="d-none" src="https://player.vimeo.com/video/{{ $elm.vimeo_id }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                    <img 
                    @click="playVideo()"
                    x-ref="playOverlay"
                    class="play-overlay position-relative h-100 w-100 rounded-1" 
                    src="https://s3.amazonaws.com/dd-integrations/{{ $app_id }}/media_gallery/{{ replaceRE `(./)?images/` "" $elm.image_url }}" 
                    alt="{{ $elm.caption }}">
                    <button 
                    @click="playVideo()"
                    x-ref="playBtn" 
                    class="play-btn rounded-circle position-absolute top-50 start-50 translate-middle">
                        <div class="play-icon position-relative"></div>
                    </button>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            {{ if gt $asset_len 1 }}
            <button 
            class="carousel-control-horizontal prev position-absolute top-50 translate-middle-y rounded-circle bg-white border border-0" 
            @click="navigateCarousel('prev')">
                <div class="control-arrow"></div>
                <div class="visually-hidden">Previous</div>
            </button>
            <button 
            class="carousel-control-horizontal next position-absolute top-50 translate-middle-y rounded-circle bg-white border border-0" 
            @click="navigateCarousel('next')">
                <div class="control-arrow"></div>
                <div class="visually-hidden">Next</div>
            </button>
            {{ end }}
        </div>
        {{/*  Carousel (vertical)  */}}
        <div 
        class="carousel-items-vertical d-none overflow-hidden h-100 d-md-block col-md-3"
        x-init="setDistanceConstant($el); setVerticalCarouselEl($el); setActiveBtnOffsetTop()"
        @resize.window="navigateVerticalNavOnResize($el)">
            {{ range $idx, $elm := $media }}
                {{ if and (gt $idx (sub $asset_len 4)) $isScrollableCarousel}}
                <button 
                class="carousel-item-vertical row g-0 p-0 w-100 mx-auto rounded-1"
                :class="isActiveVertical({{$idx}}, $el)"
                @click="navigateCarousel(chooseVerticalDirection($el))"
                :style="{transform: `translateY(-${distanceConstant * 2}px)`, backgroundImage: 'url(https://s3.amazonaws.com/dd-integrations/{{ $app_id }}/media_gallery/{{ replaceRE `(./)?images/` "" $elm.image_url }})'}"
                >
                </button>
                {{ end }}
            {{ end }}
            {{ range $idx, $elm := $media }}
            <button
            class="carousel-item-vertical row g-0 p-0 w-100 mx-auto rounded-1"
            :class="isActiveVertical({{$idx}}, $el)"
            @click="navigateCarousel(chooseVerticalDirection($el, {{ $idx }}))"
            :style="{transform: `translateY(-${distanceConstant * 2}px)`, backgroundImage: 'url(https://s3.amazonaws.com/dd-integrations/{{ $app_id }}/media_gallery/{{ replaceRE `(./)?images/` "" $elm.image_url }})'}"
            >
            </button>
            {{ end }}
            {{ range $idx, $elm := first 1 $media }}
                {{ if $isScrollableCarousel}}
                <button 
                class="carousel-item-vertical row g-0 p-0 w-100 mx-auto rounded-1"
                :class="isActiveVertical({{$idx}}, $el)"
                @click="navigateCarousel(chooseVerticalDirection($el))"
                :style="{transform: `translateY(-${distanceConstant * 2}px)`, backgroundImage: 'url(https://s3.amazonaws.com/dd-integrations/{{ $app_id }}/media_gallery/{{ replaceRE `(./)?images/` "" $elm.image_url }})'}"
                >
                </button>
                {{ end }}
            {{ end }}
        </div>
    </div>
    {{/*  Carousel item description  */}}
    <div class="row g-0">
        <div class="col-12 p-0 carousel-item-descriptions">
            {{ range $idx, $el := $media }}
            <div 
            class="row g-0 carousel-item-description" 
            :class="shouldShowActiveHorizontalSlide({{ $idx }}) && 'active'"
            x-cloak x-show="shouldShowActiveHorizontalSlide({{ $idx }})">
                <div class="col-1">
                    <span class="fw-bold" x-text="(activeSlide + 1) + '/{{$asset_len}}'"></span>
                </div>
                <div class="col">
                    <p>{{$el.caption}}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>
