{{ $dot := . }}
{{ $.Scratch.Add "meta_image" "" }}
{{ $meta_image := $.Scratch.Get "meta_image" }}

{{ if $.Title }}
    {{ $.Scratch.Add "meta_title" $.Title }}
{{ else if $.Params.title }}
    {{ $.Scratch.Add "meta_title" $.Params.title }}
{{ else }}
    {{ $.Scratch.Add "meta_title" .Site.Params.meta_title }}
{{ end }}
{{ $meta_title := $.Scratch.Get "meta_title" }}

{{ if $.Description }}
    {{ $.Scratch.Add "meta_desc" $.Description }}
{{ else if $.Params.Description }}
    {{ $.Scratch.Add "meta_desc" $.Params.description }}
{{ else }}
    {{ $.Scratch.Add "meta_desc" .Site.Params.meta_description }}
{{ end }}
{{ $meta_desc := $.Scratch.Get "meta_desc" }}


<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{ $meta_title | safeHTML }}">
<meta itemprop="description" content="{{ $meta_desc | safeHTML }}">

<!-- Twitter Card data -->
{{ if $meta_image}}<meta name="twitter:card" content="{{.Site.Params.img_url}}images{{ $meta_image }}">{{ end }}
<meta name="twitter:site" content="@datadoghq">
<meta name="twitter:title" content="{{ $meta_title | safeHTML }}">
<meta name="twitter:description" content="{{ $meta_desc | safeHTML }}">
<meta name="twitter:creator" content="@datadoghq">
<!-- Twitter summary card with large image must be at least 280x150px -->
{{ if $meta_image}}<meta name="twitter:image:src" content="{{.Site.Params.img_url}}images{{ $meta_image }}">{{ end }}

<!-- Open Graph data -->
<meta property="og:title" content="{{ $meta_title }}"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="{{ $.Permalink }}"/>
{{ if $meta_image}}<meta property="og:image" content="{{.Site.Params.img_url}}images{{ $meta_image }}"/>{{ else }}<meta property="og:image" content="{{.Site.Params.img_url}}{{- partial "imgurl.html" (dict "root" $dot "src" "dd-docs-meta-image.png" ) -}}"/>{{ end }}
<meta property="og:description" content="{{ $meta_desc }}"/>
<meta property="og:site_name" content="{{ .Site.Params.site_name }}"/>
<meta property="article:author" content="Datadog"/>

<!-- Address Bar Matches Brand Colors -->
<meta name="theme-color" content="#774aa4"/>

<!-- Meta description -->
<meta name="description" content="{{ $meta_desc }}"/>
