    {{ $guides := (where (where (where .Site.Pages "Params.kind" "==" "guide") "Params.beta" "!=" "true" ) "Params.listorder" "!=" nil ) and (.Site.Language.Lang "==" "en" ) }}

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{{ absLangURL "" }}" class="navbar-brand">
            <img width="275" src="{{ partial "img.html" (dict "root" . "src" "dd_docs_logo.png") }}">
          </a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#topmenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="topmenu">
          <ul class="nav navbar-nav navbar-right">
           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ i18n "menu_guides" }} <span class="caret"></span></a>

              <ul class="dropdown-menu" aria-labelledby="download">
              {{ range sort $guides "Params.listorder" "asc" }}
                <li><a href="{{ .Permalink | absLangURL }}">{{ .Title }}</a></li>
              {{ end }}
              </ul>
            </li>
            <li class="dropdown">
              <a id="nav-reference-dropdown" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{{ i18n "menu_references" }} <b class="caret"></b></a>
              <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="nav-guide-dropdown">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main_references }}
                    {{ if .HasChildren }}

                  <li class="sub-menu{{if $currentPage.HasMenuCurrent "main" . }} active{{end}}">
                  <a href="javascript:;" class="">
                      <span>{{ i18n .Identifier  }}</span>
                      <span class="menu-arrow arrow_carrot-right"></span>
                  </a>
                  <ul class="sub">
                      {{ range .Children }}
                      <li{{if $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}><a href="{{ .URL | absLangURL }}"> {{ i18n .Identifier }} </a> </li>
                      {{ end }}
                  </ul>
                {{else}}
                  <li>
                  <a href="{{.URL | absLangURL }}">
                      <span>{{ ( i18n .Identifier ) }}</span>
                  </a>
                {{end}}
                </li>

                {{end}}

              </ul>

            </li>
            <li><a href="{{ "help/" | relLangURL }}">{{ i18n "menu_help" }}</a></li>

            <li id="signin">
              <a class="btn navbar-btn flexbutton blueflex" href="https://app.datadoghq.com/signup">{{ i18n "btn_free_trial" }}</a>
            </li>
            <li id="signup">
              <a class="btn navbar-btn flexbutton" href="https://help.datadoghq.com/hc/en-us/signin?return_to=https%3A%2F%2Fhelp.datadoghq.com%2Fhc%2Fen-us&locale=1">{{ i18n "btn_support_login" }}</a>
            </li>

          </ul>


        </div>
      </div>
    </div>
