{{ $dot := . }}
{{ $data := $dot.ctx.Site.Data.security_monitoring.data }}
{{ $img_map := $data.image_map }}
{{ $img_path := "images/integrations_logos/" }}
{{ $img_url := printf "%s%s" $dot.ctx.Site.Params.img_url $img_path }}
{{ $source := .source }}
{{ $scope := .scope }}

{{ $src_img := printf "%s" $source }}
{{ $src_link := printf "integrations/%s" $src_img }}

{{ range $key, $value := $img_map }}
    {{ if intersect $value.source (slice $source $scope) }}
        {{ if in .source $scope }}
            {{ $source = $scope }}
        {{ end }}
        {{ with index $img_map $key }}
            {{ if eq .append true }}
                {{ $src_img = printf "%s%s" .image $source }}
            {{ else }}
                {{ $src_img = printf "%s" .image }}
            {{ end }}
            
            {{ if .link }}
                {{ $src_link = printf "integrations/%s" .link }}
            {{ else }}
                {{ $src_link = printf "integrations/%s" $src_img }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ $local_img := printf "/static/%s%s%s" $img_path $src_img ".png" }}

{{ if eq (fileExists $local_img) true }}
    {{ $src_img = printf "%s%s%s" $img_url $src_img ".png" }}
{{ else }}
    {{ $src_img = "" }}
{{ end }}

{{- return (dict "image" $src_img "link" ($src_link | absLangURL) "path" $local_img "rellink" $src_link ) -}}