{{ $sidebar := .Params.sidebar }}
{{ $custom_sidebar := .Params.customnav }}
{{ $guides := ( where .Site.Pages "Params.kind" "==" "guide" ) }}
{{ $integrations := ( where .Site.Pages "Params.kind" "integration" ) }}
{{ $currentURL := .URL }}
{{ $lastUrlElement := index (last 1 (split (delimit (split .URL "/") "," "") ",")) 0 }}
{{ $dot := . }}

<ul class="nav nav-tabs nav-stacked sidebar">

  <!-- search -->
  {{ if ne .Site.Language.Lang "ja"}}
    <li class="nav-header">Documentation Search</li>
    <li>
      <form action="{{ $.Site.BaseURL }}search/">
      <input type="text" name="s" id="tipue_search_input" autocomplete="off"
             style="background-image: url({{ partial "img.html" (dict "root" . "src" "search.png") }});"
             required>
      </form>
    </li>
  {{ end }}

{{ if $custom_sidebar }}
  {{ if eq $custom_sidebar "tracingnav" }}
    {{ $nav_headers := (slice "customnav_tracingnav_tracing" "customnav_tracingnav_langs")}}
      <li id="toc-box"></li>
      {{ range .Site.Menus.tracingnav -}}

        {{ if in $nav_headers .Identifier }}
        <li class="nav-header">{{ i18n .Identifier }}</li>
        {{ else }}

        <li class="">
          <a href="{{ .URL | absLangURL }}">{{ i18n .Identifier }}</a>
        </li>
        {{ end }}

      {{ end }}

  {{ else if eq $custom_sidebar "lognav"}}
    {{ $nav_headers := (slice "customnav_lognav")}}
      <li id="toc-box"></li>
      {{ range .Site.Menus.lognav -}}

        {{ if in $nav_headers .Identifier }}
        <li class="nav-header">{{ i18n .Identifier }}</li>
        {{ else }}

        <li class="">
          <a href="{{ .URL | absLangURL }}">{{ i18n .Identifier }}</a>
        </li>
        {{ end }}
    {{ end }}

  {{ else if eq $custom_sidebar "infrastructurenav"}}
    {{ $nav_headers := (slice "customnav_infrastructurenav")}}
      <li id="toc-box"></li>
      {{ range .Site.Menus.infrastructurenav -}}

        {{ if in $nav_headers .Identifier }}
        <li class="nav-header">{{ i18n .Identifier }}</li>
        {{ else }}

        <li class="">
          <a href="{{ .URL | absLangURL }}">{{ i18n .Identifier }}</a>
        </li>
        {{ end }}

      {{ end }}
  {{ end }}

{{ else }}

  <!-- table of contents -->
  {{ if $.Params.sidebar.nav }}
    <li class='nav-header'>Table of Contents</li>
    {{ range $k, $v := $.Params.sidebar.nav }}

      {{ if not $v.header }}
        {{ if eq (slicestr $v.href 0 1) "#" }}
          <!-- this is an anchor link, absLangURL wipes it out so build manually -->
          <li><a href="{{ $dot.RelPermalink | absLangURL }}{{ $v.href }}">{{ $v.text }}</a></li>
        {{ else }}
          <!-- this is not an anchor link -->
          <li><a href="{{ $v.href | absLangURL }}">{{ $v.text }}</a></li>
        {{ end }}

      {{ end }}

    {{ end }}
  {{ else if len .Data.Pages }}
    {{ if in .Kind "taxonomy" }}
    {{ else }}
    <li class='nav-header'>Table of Contents</li>
    <li class='nav-header'>{{ i18n "table_of_contents" }}</li>
      {{ range (sort .Data.Pages "BaseFileName") }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    {{ end }}
  {{ end }}

  {{ if in .File.Path "basic_agent_usage" }}

    <li class="nav-header">Agent Guides by Platform</li>

    {{ range .Site.Menus.basic_agent.ByWeight }}

      <li><a href="{{ .URL | absLangURL }}">{{ i18n .Identifier }}</a>

    {{ end }}

  {{ else }}
    <li id="toc-box"></li>
    {{ if eq .Params.Kind "integration" }}
      <li class="nav-header">{{ i18n "integrations_other_integrations" }}</li>

      <li class="integration"><a href="/integrations/">{{ i18n "integrations_back_to_overview" }}</a></li>
      {{ range sort $integrations "File.TranslationBaseName" }}
          <li class="integration"><a href="{{.Permalink}}">
            {{ if eq $lastUrlElement .File.TranslationBaseName }}&gt;{{ end }}
            {{ .Params.integration_title }}
          </a></li>
      {{ end }}

    {{ else }}
      {{ if $guides }}
        <li class="nav-header">{{ i18n "menu_guides" }}</li>
      {{ else }}
        <li class='nav-header'>Table of Contents</li>
      {{ end }}

      {{ range sort $guides "Params.listorder" "asc" }}

        {{ if (and ( isset .Params "listorder" ) ( ne .Params.beta true )) }}
            <li><a href="{{.Permalink}}">{{ .Title }}</a></li>
        {{ end }}

      {{ end }}
    {{ end }}

  {{ end }}

{{ end }}
</ul>
