{{ $dot := $.context }}

{{ $file := $.file }}

{{ $file_ext := (index (split $file ".") 1) }}

{{ $highlight := $.highlight }}
{{ $static := $.static }}

{{ $ext_to_lang := (dict "php" "php" "py" "python" "rb" "ruby" "sh" "console" "js" "javascript" "json" "json" "go" "golang")}}

{{ $nocomments := $.nocomments }}

  {{- range $k, $v := $ext_to_lang -}}

    {{- $binsh := "#!/bin/sh\n" -}}

    {{- $apicomment := "# Make sure you replace the API and/or APP key below\n# with the ones for your account\n\n" -}}

    {{- $file_content := readFile (printf "code_snippets/%s" $file) -}}

    {{- if eq $k $file_ext -}}

      {{- if and (eq $k "sh") (ne $nocomments true) -}}

        {{ $.context.Scratch.Set "file" (printf "%s%s%s" $binsh $apicomment $file_content ) }}

      {{- else -}}

        {{ $.context.Scratch.Set "file" (printf "%s%s" $apicomment $file_content ) }}

      {{- end -}}

      {{ if or ($static) (eq $nocomments "true") }}

        {{ $.context.Scratch.Set "file" (printf "%s" $file_content ) }}

      {{ end }}

      {{ if eq $static true }}
<pre lang="{{$v}}">
<code>
{{- $.context.Scratch.Get "file" -}}
</code>
</pre>
      {{ else if and $highlight (not (eq $v "console"))}}
        <div class="code-block code-block-{{$v}}">
        {{- highlight ($.context.Scratch.Get "file") $v "" -}}
        </div>
      {{ else }}
        <div class="code-block code-block-{{$v}}"><pre><code>{{- $.context.Scratch.Get "file" -}}</code></pre></div>
      {{ end }}

    {{- end -}}

  {{- end -}}
