{{ $dot := . }}

<!-- get lang specific data file -->
{{ $.Scratch.Set "data" "" }}
{{ if ne $dot.Page.Lang "en" }}
    {{ if (fileExists (print "data/partials/studio_home." $dot.Page.Lang ".yaml")) }}
        {{ $.Scratch.Set "data" (index $dot.Page.Site.Data.partials (print "studio_home." $dot.Page.Lang)) }}
    {{ else }}
        {{ $.Scratch.Set "data" $dot.Page.Site.Data.partials.studio_home }}
    {{ end }}
{{ else }}
    {{ $.Scratch.Set "data" $dot.Page.Site.Data.partials.studio_home }}
{{ end }}
{{ $datafile := ($.Scratch.Get "data") }}

<section class="home-hero">
    <div class="container position-relative">
        <div class="row">
            <div class="col-12 offset-0 col-md-8 offset-md-2">
                <h1 class="mt-3 mt-md-8 mb-0 mb-md-1 text-white font-regular text-center">{{ $datafile.heading }}</h1>

                {{ partial "search.html" . }}

                <p class="smaller text-white text-center font-semibold popular-search">
                    Popular searches include
                    {{ $lenList := (len $datafile.popular_searches) }}
                    {{ range $index, $popular_search := (sort $datafile.popular_searches "weight" "asc") }}
                        <a href="{{ $popular_search.link | absLangURL }}">{{ $popular_search.title }}</a>{{ if eq (sub $lenList 2) $index }}, and {{ else if eq (sub $lenList 1) $index }}{{ else }},{{ end }}
                    {{ end }}
                </p>
            </div>
        </div>
    </div>
</section>
