{{ $dot := . }}
<div class="ci-cd-providers">
  <div class="container cards-dd">
    <div class="row justify-content-center"> <!-- Updated classes for row -->
      <div class="col">
        <a class="card h-100" href="/code_analysis/static_analysis/setup?tab=githubactions">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/github_avatar.svg" "class" "img-fluid" "alt" "github actions" "width" "80") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/code_analysis/static_analysis/setup?tab=circleciorbs">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/circleci_avatar.svg" "class" "img-fluid" "alt" "circleci orb" "width" "80") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/code_analysis/static_analysis/setup?tab=other">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/datadog_avatar.svg" "class" "img-fluid" "alt" "other" "width" "90") }}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>