{{ $dot := . }}
<div class="code-analysis-supported-languages">
  <div class="container cards-dd">
    <div class="row justify-content-center"> <!-- Updated classes for row -->
      <div class="col">
        <a class="card h-100" href="/code_analysis/static_analysis_rules?languages=Python">
          <div class="card-body text-center py-2 px-1 d-flex justify-content-center align-items-center">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/python_avatar.svg" "class" "img-fluid" "alt" "python" "width" "200") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/code_analysis/static_analysis_rules?languages=JavaScript">
          <div class="card-body text-center py-2 px-1 d-flex justify-content-center align-items-center">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/javascript_large.png" "class" "img-fluid" "alt" "javascript" "width" "600") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/code_analysis/static_analysis_rules?languages=TypeScript">
          <div class="card-body text-center py-2 px-1 d-flex justify-content-center align-items-center">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/typescript_large.svg" "class" "img-fluid" "alt" "typescript" "width" "1000") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/code_analysis/static_analysis_rules?languages=Java">
          <div class="card-body text-center py-2 px-1 d-flex justify-content-center align-items-center">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/java_avatar.svg" "class" "img-fluid" "alt" "java" "width" "200") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/code_analysis/static_analysis_rules?languages=CSharp">
          <div class="card-body text-center py-2 px-1 d-flex justify-content-center align-items-center">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/dotnet_avatar.svg" "class" "img-fluid" "alt" "c sharp" "width" "200") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/code_analysis/static_analysis_rules?languages=Go">
          <div class="card-body text-center py-2 px-1 d-flex justify-content-center align-items-center">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/golang-avatar.png" "class" "img-fluid" "alt" "go" "width" "200") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/code_analysis/static_analysis_rules?languages=Ruby">
          <div class="card-body text-center py-2 px-1 d-flex justify-content-center align-items-center">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/ruby_avatar.svg" "class" "img-fluid" "alt" "ruby" "width" "200") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/code_analysis/static_analysis_rules?languages=Docker">
          <div class="card-body text-center py-2 px-1 d-flex justify-content-center align-items-center">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/docker_avatar.svg" "class" "img-fluid" "alt" "docker" "width" "200") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="/code_analysis/static_analysis/setup?tab=circleciorbs#upload-third-party-static-analysis-results-to-datadog">
          <div class="card-body text-center py-2 px-1 d-flex justify-content-center align-items-center">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/datadog_avatar.svg" "class" "img-fluid" "alt" "other" "width" "180") }}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>