{{ $dot := . }}
<div class="code-analysis-supported-languages">
  <div class="container cards-dd">
    <div class="row justify-content-center"> 
      <div class="col">
        <a class="card h-100" href="#set-up-sca">
          <div class="card-body text-center py-2 px-1 d-flex justify-content-center align-items-center">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/python_avatar.svg" "class" "img-fluid" "alt" "python" "width" "50") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="#set-up-sca">
          <div class="card-body text-center py-2 px-1 d-flex justify-content-center align-items-center">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/javascript_large.png" "class" "img-fluid" "alt" "javascript" "width" "50") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="#set-up-sca">
          <div class="card-body text-center py-2 px-1 d-flex justify-content-center align-items-center">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/java_avatar.svg" "class" "img-fluid" "alt" "java" "width" "50") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="#set-up-sca">
          <div class="card-body text-center py-2 px-1 d-flex justify-content-center align-items-center">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/dotnet_avatar.svg" "class" "img-fluid" "alt" "c sharp" "width" "50") }}
          </div>
        </a>
      </div>
    </div>
  </br>
    <div class="row justify-content-center"> 
      <div class="col">
        <a class="card h-100" href="#set-up-sca">
          <div class="card-body text-center py-2 px-1 d-flex justify-content-center align-items-center">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/golang-avatar.png" "class" "img-fluid" "alt" "go" "width" "60") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="#set-up-sca">
          <div class="card-body text-center py-2 px-1 d-flex justify-content-center align-items-center">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/ruby_avatar.svg" "class" "img-fluid" "alt" "ruby" "width" "50") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="#set-up-sca">
          <div class="card-body text-center py-2 px-1 d-flex justify-content-center align-items-center">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/php_opcache.png" "class" "img-fluid" "alt" "php" "width" "80") }}
          </div>
        </a>
      </div>
      <div class="col">
        <a class="card h-100" href="#set-up-sca">
          <div class="card-body text-center py-2 px-1 d-flex justify-content-center align-items-center">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/rust.png" "class" "img-fluid" "alt" "php" "width" "80") }}
          </div>
        </a>
      </div>
    </div>    
  </br>
    <div class="row justify-content-center"> 
      <div class="col">
        <a class="card h-100" href="#set-up-sca">
          <div class="card-body text-center py-2 px-1 d-flex justify-content-center align-items-center">
            {{ partial "img.html" (dict "root" . "src" "integrations_logos/c_sharp.png" "class" "img-fluid" "alt" "go" "width" "60") }}
          </div>
        </a>
      </div>
      <div class="col">
        &nbsp;
      </div>
      <div class="col">
        &nbsp;
      </div>
      <div class="col">
        &nbsp;
      </div>
    </div> 
  </div>
</div>
&nbsp;
