---
title: Basic Agent Usage for Red Hat
---

<!--
======================================================
OVERVIEW
======================================================
-->

<h3 id="overview">Overview</h3>

This guide will outline the basic functionality of the Datadog Agent.
If you haven't installed the Agent yet, instructions can be found 
<a href='https://app.datadoghq.com/account/settings#agent'>here</a>.


<!--
======================================================
Starting and Stopping the Agent
======================================================
-->

<h3 id="starting_and_stopping_the_agent">Starting and Stopping the Agent</h3>

To manually start the Agent: <br/>

<%= console 'sudo /etc/init.d/datadog-agent start' %>

To stop the Agent: <br/>

<%= console 'sudo /etc/init.d/datadog-agent stop' %>

To restart the Agent: <br/>

<%= console 'sudo /etc/init.d/datadog-agent restart' %>

<!--
======================================================
Status and Information
======================================================
-->

<h3 id="status_and_information">Status and Information</h3>

To check if the Agent is running:

<%= console 'sudo /etc/init.d/datadog-agent status' %>

To receive more information about the Agent's state:

<%= console 'sudo /etc/init.d/datadog-agent info' %>

Tracebacks for errors can be retrieved by setting the <code>-v</code> flag:

<%= console 'sudo /etc/init.d/datadog-agent info -v' %>

<!--
======================================================
Configuration
======================================================
-->

<h3 id="configuration">Configuration</h3>

The configuration file for the Agent is located at <code>/etc/dd-agent/datadog.conf</code>

Configuration files for integrations are located in <code>/etc/dd-agent/conf.d/</code>

<!--
======================================================
Troubleshooting
======================================================
-->

<h3 id="troubleshooting">Troubleshooting</h3>

First, make sure you are using the correct version of Python. The Agent requires version 2.4 or greater. You can check your version by executing:

<%= console "cd /usr/share/datadog/agent && python -c 'import config; print config.get_version()'" %>

Next, try running the <a href='#status_and_information'>info</a> command to see the state of the Agent.

Logs for the subsystems are in the following files:

<ul>
  <li><code>/var/log/datadog/collector.log</code></li>
  <li><code>/var/log/datadog/dogstatsd.log</code></li>
  <li><code>/var/log/datadog/forwarder.log</code></li>
</ul>

<br/>

If you're still having trouble, our support team will be glad to provide further assistance.
You can contact them in one of the following ways:

<%= render 'contact_info', :heading_size => 5, :hide_datadog => true %>

