.glossary {
    .btn {
        padding: 0 5px;

        &.active {
            background: $brand-primary;
            color: white;
        }

        &:hover:not(.active) {
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
            color: $brand-primary;
        }

        @include media-breakpoint-up(md) {
            @include font-size-line-height(18px, 24px);
            padding: 0px 8px 2px 8px;
        }
    }

    .glossary-nav {
        margin-top: -55px;

        @include media-breakpoint-up(md) {
            margin-top: 3px;
        }
    }
}