.glossary-main {
    h2:before {
        margin-top: -140px !important;
        height: 140px !important;
    }
    h4 {
        text-transform: none;
    }

    .core-product-label {
        @include font-size-line-height(18px, 24px);
        padding: 0px 8px 2px 8px;
    }

    #glossary-nav {
        position: sticky;
        top: 128px;
        align-self: flex-start;
        margin-top: -55px;
        z-index: 1;

        @include media-breakpoint-up(md) {
            margin-top: 3px;
            padding-top: 11px;
            padding-bottom: 6px;
            background: white;
            width: 100%;
            top: 89px;
        }

        @include media-breakpoint-up(lg) {
            top: 95px;
        }

        button.filter-btn{
            &:hover {
                color: white !important;
            }
        }
        button.filter-btn.active{
            background: $brand-primary;
            color: white;
        }
        .btn {
            padding: 0 5px;

            &.active {
                background: $brand-primary;
                color: white;
            }

            &:hover:not(.active) {
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                color: $brand-primary;
            }

            @include media-breakpoint-up(md) {
                @include font-size-line-height(18px, 24px);
                padding: 0px 8px 2px 8px;
            }
        }

        ul {
            flex-direction: column;

            @include media-breakpoint-up(md) {
                padding-left: 0px;
                flex-direction: row;
            }

            li {
                a {
                    border-bottom: none;
                }

                &:before {
                    content: ''
                }
            }
        }
    }
    .filters-glossary{
        padding-left: 15px;
        margin-top: 16px;
        font-size: 16px;
    }
}
