.static-analysis-main {

    #static-analysis-nav {
        // position: sticky;
        // top: 95px;
        align-self: flex-start;
        z-index: 2;
        background-color: white;
        padding-top: 12px;
        padding-bottom: 12px;

        .filters-static-analysis {
            margin-bottom: 12px;
            .filter-type {
                margin-bottom: 24px;
                .filter-type-name {
                    margin-bottom: 8px;
                }
                button.toggler {
                    height: 40px;
                    padding: 0 50px 0 8px;
                    border: 1px solid #C7C7C7;
                    background: $gray-lightest;
                    .selections {
                        column-gap: 4px;
                        overflow-x: scroll;
                        .selection-container {
                            column-gap: 7px;
                            background-color: #E6D6F9;
                            padding: 0 4px;
                            .selection-name {
                                position: relative;
                                top: -1px
                            }
                            i.icon-close-light_x {
                                display: inherit;
                                color: $brand-primary
                            }
                        }
                    }

                    /* Hide scrollbar for Chrome, Safari and Opera */
                    .selections::-webkit-scrollbar {
                        display: none;
                    }
                    
                    /* Hide scrollbar for IE, Edge and Firefox */
                    .selections {
                        -ms-overflow-style: none;  /* IE and Edge */
                        scrollbar-width: none;  /* Firefox */
                    }

                    .overflow-gradient {
                        width: 70px;
                        background: linear-gradient(90deg, rgba(246, 246, 246, 0.00) 6.25%, #F6F6F6 31.25%);
                        padding-left: 8px;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        align-items: center;

                        i.icon-cancel-circle {
                            display: inherit;
                            position: relative;
                            top: 1px;
                            color: $brand-primary;
                            grid-column: 2/span 1;
                        }
                        span {
                            top: -1px;
                            grid-column: 3/span 1;
                            padding: 0 8px 
                        }
                    }
                }
                form {
                    row-gap: 12px;
                    padding: 8px;
                    margin-top: 8px;
                    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.10), 0px 4px 16px 0px rgba(0, 0, 0, 0.32);
                    z-index: 1;

                    .filter-category-container {
                        display: flex;
                        align-items: center;
                        column-gap: 8px;
                        input {
                            width: 16px;
                            height: 16px;
                        }
                        label {
                            position: relative;
                            top: -1px
                        }
                    }
                }
            }
            .filter-type:last-of-type {
                margin-bottom: 0;
            }
        }
        .search-static-analysis input {
            padding: 9px 8px;
            border-radius: 4px;
            border: $gray-light 1px solid; 
            &:focus {
                outline: transparent;
                box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
                border: 1px solid transparent;
            }
        }
    }
    .ruleset {
        .group-header {
            transition: box-shadow 0.125s;
            box-shadow: 0 1px 3px rgba(0,0,0,0.25);
            border-radius: 4px;
            overflow: hidden;
            height: 34px;
            padding: 0 10px;
            cursor: pointer;
            i {
                cursor: copy;
                position: relative;
                top: 4px;
                margin-left: 4px;
            }
            .group-header__plus {
                margin-left: 4px;
                color: $gray-900;
            }
            .group-header__text {
                margin: 0 8px
            }
            .group-header__arrow {
                font-size: 18px;
                transform: rotate(-90deg) !important;
            }
            &:hover {
            box-shadow: 0 2px 3px rgba(0,0,0,0.3);
            }
            &.active {
            .group-header__arrow {
                position: relative;
                top: 2px;
                transform: rotate(-180deg) !important;
            }
            }
            @media (max-width: 768px) {
                height: auto;
                min-height: 38px;
                padding: 5px 10px
            }
        }
        .rule {
            .rule-name-container {
                a {
                    margin-left: 8px ;
                }
            }
        }
        .rule:hover {
            color: $brand-primary;
            a {
                color: $brand-primary;
            }
        }
    }
}