.static-analysis-main {

    #static-analysis-nav {
        // position: sticky;
        // top: 95px;
        align-self: flex-start;
        z-index: 2;
        background-color: white;
        padding-top: 12px;
        padding-bottom: 12px;

        .filters-static-analysis {
            margin-bottom: 12px;
            .filter-type {
                margin-bottom: 24px;
                .filter-type-name {
                    margin-bottom: 8px;
                }
                button.toggler {
                    height: 40px;
                    padding: 0 8px;
                    border: 1px solid #C7C7C7;
                    .selections {
                        column-gap: 4px;
                        .selection-container {
                            column-gap: 7px;
                            background-color: #E6D6F9;
                            padding: 0 4px;
                            i {
                                display: flex;
                            }
                        }
                    }
                }
                form {
                    row-gap: 12px;
                    padding: 8px;
                    margin-top: 8px;
                    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.10), 0px 4px 16px 0px rgba(0, 0, 0, 0.32);
                    z-index: 1;

                    .filter-category-container {
                        display: flex;
                        align-items: center;
                        column-gap: 4px;
                    }
                }
            }
            .filter-type:last-of-type {
                margin-bottom: 0;
            }
        }
        .search-static-analysis input {
            padding: 9px 8px;
            border-radius: 4px;
            border: $gray-light 1px solid; 
            &:focus {
                outline: transparent;
                box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
                border: 1px solid transparent;
            }
        }
    }
    .ruleset {
        .group-header {
            transition: box-shadow 0.125s;
            box-shadow: 0 1px 3px rgba(0,0,0,0.25);
            border-radius: 4px;
            overflow: hidden;
            height: 34px;
            padding: 0 10px;
            cursor: pointer;
            i {
                cursor: copy;
                position: relative;
                top: 4px;
                margin-left: 4px;
            }
            .group-header__plus {
                margin-left: 4px;
                color: $gray-900;
            }
            .group-header__text {
                margin: 0 8px
            }
            .group-header__arrow {
                font-size: 18px;
                transform: rotate(-90deg) !important;
            }
            &:hover {
            box-shadow: 0 2px 3px rgba(0,0,0,0.3);
            }
            &.active {
            .group-header__arrow {
                position: relative;
                top: 2px;
                transform: rotate(-180deg) !important;
            }
            }
            @media (max-width: 768px) {
                height: auto;
                min-height: 38px;
                padding: 5px 10px
            }
        }
        .rule {
            .rule-name-container {
                a {
                    margin-left: 8px ;
                }
            }
        }
        .rule:hover {
            color: $brand-primary;
            a {
                color: $brand-primary;
            }
        }
    }
}