.static-analysis-main {

    #static-analysis-nav {
        position: sticky;
        top: 95px;
        align-self: flex-start;
        z-index: 2;
        background-color: white;
        padding-top: 12px;
        padding-bottom: 12px;

        .filters-static-analysis button {
            height: 40px;
        }
        .search-static-analysis input {
            padding: 9px 8px;
            border-radius: 4px;
            border: $gray-light 1px solid; 
            &:focus {
                outline: transparent;
                box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
                border: 1px solid transparent;
            }
        }
    }

    .group-header {
        transition: box-shadow 0.125s;
        box-shadow: 0 1px 3px rgba(0,0,0,0.25);
        border-radius: 4px;
        overflow: hidden;
        height: 34px;
        padding: 0 10px;
        cursor: pointer;
        i {
            cursor: copy;
            position: relative;
            top: 2px;
            margin-left: 4px;
        }
        .group-header__text {
            position: relative;
            top: -1px;
        }
        .group-header__arrow {
            font-size: 18px;
            transform: rotate(-90deg) !important;
        }
        &:hover {
          box-shadow: 0 2px 3px rgba(0,0,0,0.3);
        }
        &.active {
          .group-header__arrow {
            position: relative;
            top: 2px;
            transform: rotate(-180deg) !important;
          }
        }
        @media (max-width: 768px) {
            height: auto;
            min-height: 38px;
            padding: 5px 10px
        }
    }
    .rule:hover {
        color: $brand-primary;
        a {
            color: $brand-primary;
        }
    }
}