.standard-attributes-main{
    #standard-attributes-nav {
        position: sticky;
        top: 95px;
        align-self: flex-start;
        z-index: 1;
        background-color: white;
        padding-top: 12px;
    }
//     // .standard-attributes-grid {
//     //     .grid-header, .grid-row{
//     //         display: grid;
//     //         grid-template-columns: repeat(3, 1fr);
//     //     }
//     //     .grid-header span, .grid-row span {
//     //         min-height: 40px;
//     //         border: #D6D6D6 solid 1px;
//     //         display: flex;
//     //         padding: 6px 12px;
//     //     }
//     //     .grid-header {
//     //         background-color: #E8E8E8;
//     //         text-transform: uppercase;
//     //         font-weight: 700;
//     //         font-size: 18px;
//     //     }
//     //     .grid-header span {
//     //         align-items: center;
//     //     }

//     //     .grid-row:not(.even) {
//     //         background-color: #f7f7f7;
//     //     }
//     // }
}