{{ $dot := . }}
<div class="logs-containers">
    <div class="container cards-dd col-num-3">
        <div class="row row-cols-2 row-cols-sm-4 g-2 g-xl-3 justify-content-sm-center">
            <div class="col">
                <a class="card h-100" href="/feature_flags/setup/android/">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/android_large.svg" "class" "img-fluid" "alt" "Android" "width" "400") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/feature_flags/setup/android/">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/android_tv_large.svg" "class" "img-fluid" "alt" "Android TV" "width" "400") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/feature_flags/setup/ios/">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/ios_large.svg" "class" "img-fluid" "alt" "iOS" "width" "400") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/feature_flags/setup/ios/">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/tv_os_large.svg" "class" "img-fluid" "alt" "tvOS" "width" "400") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/feature_flags/setup/java/">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/java_large.svg" "class" "img-fluid" "alt" "Java" "width" "400") }}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<br>
