<% @heading_size ||= 3 %>
<% @heading = "h#{ @heading_size }" %>

<% unless @hide_datadog %>
  <<%= @heading %> id="support">Web Support</<%= @heading %>>
  You can get in touch with our Support Team by mentioning
  <a href="http://help.datadoghq.com/customer/portal/questions/913177--notification-in-datadog">@support</a>
  in an event stream post. In addition, we have a livechat service available during the day (EST) from any page within the app.

<<%= @heading %> id="email">By Email</<%= @heading %>>
Reach our support team via email at <a href="mailto:support@datadoghq.com">support@datadoghq.com.

<<%= @heading %> id="irc">Over IRC</<%= @heading %>>
You can visit us and other Datadog users in our IRC channel, <a href="irc://irc.freenode.net/datadog">#datadog on freenode</a>,
(There's a <a href="http://webchat.freenode.net/?randomnick=1&channels=datadog&prompt=1"> web chat client, too</a>.)

<<%= @heading %> id="docs">Datadog Docs</<%= @heading %>>
Check out our <a href="http://docs.datadoghq.com/">docs</a>, where you'll find references and guides for using Datadog.

<<%= @heading %> id="status">Status Page</<%= @heading %>>
Our <a href="http://status.datadoghq.com/">Status Page</a> has the latest on any performance issues that we are experiencing.
