<% @heading_size ||= 3 %>
<% @heading = "h#{ @heading_size }" %>

<% unless @hide_datadog %>

<<%= @heading %> id="support">Web Support</<%= @heading %>>
Messages in the <a href="http://app.datadoghq.com/event/stream">event stream</a> containing
<strong>@support</strong> will reach our Support Team. This is a convenient channel for referencing graph snapshots or a particular event. In addition, we have a livechat service available during the day (EST) from any page within the app.

<<%= @heading %> id="email">By Email</<%= @heading %>>
You can also contact our Support Team via email at <a href="mailto:support@datadoghq.com">support@datadoghq.com</a>.

<<%= @heading %> id="irc">Over IRC</<%= @heading %>>
Reach out to our team and other Datadog users in our IRC channel, <a href="irc://irc.freenode.net/datadog">#datadog on freenode</a>.
(There's a <a href="http://webchat.freenode.net/?randomnick=1&channels=datadog&prompt=1"> web chat client, too</a>.)


<<%= @heading %> id="status">Status Page</<%= @heading %>>
Our <a href="http://status.datadoghq.com/">Status Page</a> and <a href="http://www.twitter.com/datadogops">Ops twitter account</a> have the latest on any performance issues that we are experiencing.
<% end %>
