<% @heading_size ||= 3 %>
<% @heading = "h#{ @heading_size }" %>

<% unless @hide_datadog %>
  <<%= @heading %> id="datadog">Using Datadog</<%= @heading %>>

  You can get in touch with our support team by mentioning 
  <a href="http://help.datadoghq.com/customer/portal/questions/913177--notification-in-datadog">@support</a>
  in a comment on Datadog.
<% end %>

<<%= @heading %> id="email">By Email</<%= @heading %>>

Reach out at <a href="mailto:support@datadoghq.com">support@datadoghq.com.

<<%= @heading %> id="irc">Over IRC</<%= @heading %>>

If you want to chat in real-time, pop by <a href="irc://irc.freenode.net/datadog">#datadog on freenode</a>,
where we'll be happy to answer any questions you might have. (There's a 
<a href="http://webchat.freenode.net/?randomnick=1&channels=datadog&prompt=1">
web chat client, too</a>.)

<<%= @heading %> id="desk">Post a Question</<%= @heading %>>
<a href="https://datadog.desk.com/customer/portal/questions/new">Post a public question</a> on our support website!

