<!-- HEADER -->
<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="<% unless @fluid %>container<% else %>container-fluid<% end %>">
      <div class="<% unless @fluid %>row<% else %>row-fluid<% end %>">
        <div class="span4">
          <a class="brand" href="/ja/"><img src="/static/logo.png" alt="Datadog Docs"></a>
        </div>
        <div class="span8" id="topmenu">
          <ul class="nav">
            <li class="dropdown">
              <a id="nav-guide-dropdown" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">ガイド <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="nav-guide-dropdown">
                <li><a href="/ja/guides/basic_agent_usage/">Datadog Agent 入門</a></li>
                <li><a href="/ja/overview/">Datadog が提供するサービスの概要</a></li>
                <li><a href="/ja/guides/metrics/">Datadog へのメトリックスの送信</a></li>
                <li><a href="/ja/guides/logs/">Datadog Agent によるログの解析方法</a></li>
                <li><a href="/ja/guides/agent_checks/">Agent Checkの書き方</a></li>
                <li><a href="/ja/guides/services_checks/">サービスチェックの設定方法</a></li>
                <li><a href="/ja/guides/chef/">Chef を使ったDatadog Agent のインストール</a></li>
                <li><a href="/ja/guides/azure/">Azure Windows インスタンスへのDatadog Agentのインストール</a></li>
                <li><a href="/ja/guides/alerting/">アラートの設定方法</a></li>
                <li><a href="/ja/guides/templating/">ダッシュボード・テンプレートの作成</a></li>
                <li><a href="/ja/guides/saml/">SAML によるシングルサインオン</a></li>
                <li><a href="/ja/guides/eventsemail">メールによるイベント情報の送信</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a id="nav-reference-dropdown" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">リファレンス <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="nav-guide-dropdown">
                <li><a href="/ja/api/">APIリファレンス</a></li>
                <li><a href="/ja/libraries/">APIライブラリー</a></li>
                <li><a href="/ja/graphing/">グラフ入門</a></li>
                <li><a href="/ja/hostnames/">Host Names</a></li>
                <li><a href="/ja/integrations/">インテグレーションの紹介</a></li>
                <li><a href="/ja/guides/dogstatsd/">DogStatsD</a></li>
                <li><a href="/ja/guides/billing/">課金に関するFAQ</a></li>
                <li><a href="/ja/faq/">FAQ</a></li>
              </ul>
            </li>
            <li><a href="/ja/help/">お問い合わせ</a></li>
            <li id="signin"><a class="flexbutton" href="https://app.datadoghq.com">ログイン</a></li>
            <li id="signup"><a class="flexbutton blueflex" href="https://app.datadoghq.com/signup">新規登録</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
