<!-- HEADER -->
<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topmenu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand " href="<%= @item["langpath"] %>/">
        <img src="/static/logo.png">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="topmenu">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= @item["menu_guides"] %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <% this_guide_items = @item["language"] == "en" ? $guide_items : $ja_guide_items %>
            <% this_guide_items.each do |i| %>
              <li>
                <%= link_to i[:title], i.path %>
              </li>
              <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a id="nav-reference-dropdown" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><%= @item["menu_references"] %> <b class="caret"></b></a>
          <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="nav-guide-dropdown">
            <li><a href="<%= @item["langpath"] %>/api/"><%= @item["menu_references_api"] %></a></li>
            <li><a href="<%= @item["langpath"] %>/libraries/"><%= @item["menu_references_libraries"] %></a></li>
            <li><a href="<%= @item["langpath"] %>/monitoring/"><%= @item["menu_references_monitoring"] %></a></li>
            <li><a href="<%= @item["langpath"] %>/graphing/"><%= @item["menu_references_graphing"] %></a></li>
            <li><a href="<%= @item["langpath"] %>/hostnames/"><%= @item["menu_references_host_names"] %></a></li>
            <li><a href="<%= @item["langpath"] %>/integrations/"><%= @item["menu_references_integrations"] %></a></li>
            <li><a href="<%= @item["langpath"] %>/guides/dogstatsd/"><%= @item["menu_references_dogstatsd"] %></a></li>
            <li><a href="<%= @item["langpath"] %>/examples/"><%= @item["menu_references_examples"] %></a></li>
            <li><a href="<%= @item["langpath"] %>/videos/"><%= @item["menu_references_videos"] %></a></li>
            <li><a href="<%= @item["langpath"] %>/guides/billing/"><%= @item["menu_references_billing"] %></a></li>
            <li><a href="<%= @item["langpath"] %>/faq/"><%= @item["menu_references_faq"] %></a></li>
          </ul>
        </li>
        <% if @item["language"] == "en" %>
        <li class="hidden-sm hidden-md hidden-lg">
          <form class="navbar-form navbar-left" role="search" action="/search/">
            <div class="form-group">
              <input type="text" name="q" id="tipue_search_input" required class="form-control" placeholder="Search">
            </div>
          </form>
        </li>
        <% end %>
        <li><a href="<%= @item["langpath"] %>/help/"><%= @item["menu_help"] %></a></li>
        <li id="signin">
          <a class="btn navbar-btn flexbutton" href="https://app.datadoghq.com"><%= @item["btn_signin"] %></a>
        </li>
        <li id="signup">
          <a class="btn navbar-btn flexbutton blueflex" href="https://app.datadoghq.com/signup"><%= @item["btn_signup"] %></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- END HEADER -->
