  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% title = @item[:title] || '' %>
    <title><%= title.empty? ? '' : "#{title}" %></title>

    <meta itemprop="description" name="description" property="og:description" content="<%= @item[:description] %>" />

    <link href="//fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap3<%= $cbfingerprints["bootstrap3"] %>.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/tipuesearch.css">
    <link href="/static/css/style<%= $cbfingerprints["style"] %>.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/pygments.css" media="screen">


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21102638-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <script src="https://use.fontawesome.com/700fac0342.js"></script>
    <% if @item.identifier.match("/videos/") && @item[:kind]== 'video' %>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
        <meta name="twitter:card" content="player" />
        <meta name="twitter:site" content="@datadoghq" />
        <meta name="twitter:title" content="@item[:title]" />
        <meta name="twitter:description" content="<%= @item[:summary] %>" />
        <meta name="twitter:player" content="<%= @item.identifier + 'twcard'%>" />
        <meta name="twitter:player:width" content="480" />
        <meta name="twitter:player:height" content="480" />
        <meta name="twitter:player:stream" content="https://fast.wistia.net/embed/iframe/<%= @item[:wistiaid] %>" />
        <meta name="twitter:player:stream:content_type" content="video/mp4" />
    <% end %>
  </head>
