<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <% title = @item[:title] || '' %>
    <title>Datadog Docs <%= title.empty? ? '' : " - #{title}" %></title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/pygments.css" media="screen">
    <style type="text/css">
      /* FIXME */

      .sidebar {
        min-width: 200px;
      }

      .container {
        float:left;
      }

    </style>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21102638-4']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body data-spy="scroll" data-target=".sidebar">

    <!-- HEADER -->
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <div class="row">
            <div class="span8 offset1">
              <a class="brand" href="/">Datadog Docs</a>
              <ul class="nav">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PAGE TITLE -->
    <div class="container">
      <div class="row">
        <div class="span8 offset4">
          <h1><%= @item[:title] %> </h1>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="row">

        <!-- SIDEBAR -->
        <div class="span3 offset1">
        <% if @item[:sidebar] && @item[:sidebar][:nav] %>
          <ul class="nav nav-tabs nav-stacked affix sidebar">
          <% @item[:sidebar][:nav].each do |i| %>
            <% if i[:header] %>
              <li class="nav-header"><%= i[:header] %></li>
            <% else %>
              <li><a href="<%= i[:href]%>"><%= i[:text] %></a></li>
            <% end %>
          <% end %>
          </ul>
        <% end %>
        &nbsp;
        </div>

        <!-- MAIN -->
        <div class="span8 main">
            <%= yield %>
        </div>
      </div>
    </div>

    <script src="/static/jquery-1.7.2.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      //FIXME - move to it's own file.
      $('.lang-tab').click(function (e) {
        var el = $(this);
        var lang = el.attr('lang');
        $('.' + lang + '-lang-tab').tab('show');
      });
    </script>
  </body>
</html>
