<div class="container">

  <% items_with_tag(tag, $ja_example_items).each do |example| %>
    <% if example[:language] == "ja" %>
      <h2><%= link_to example[:title], example %></h2>
      <p><%= example[:ja_summary] %></p>

      <!-- This example can be found in these groups:<br> -->
      このサンプルコードは次のグループにも属します:<br>
     <%= tag_links_for(example, [], {:url_format=>"/ja/examples/%%tag%%/"}).join(' | ') %>
    <% end %>
  <% end %>
  <p><br>
  <a href="/ja/examples/">サンプルコードのグループ一覧に戻る</a>
  </p>
</div>
