<%#
this layout provides a sidebar and main column.
%>

<!DOCTYPE html>
<html lang="en">
  <%= render "_head" %>
  <body>
    <%= render "_header" %>
    <div class="container">
      <div class="row">
        <!-- SIDEBAR -->
        <div class="span3" id="sidebarcolumn">
          <ul class="nav nav-tabs nav-stacked sidebar">
            <li class="nav-header">Documentation Search</li>
            <li>
              <form action="/search/">
                <input type="text" name="q" id="tipue_search_input" autocomplete="off" required>
              </form>
            </li>
            <% if @item[:sidebar] && @item[:sidebar][:nav] %>
              <% @item[:sidebar][:nav].each do |i| %>
                <% if i[:header] %>
                  <li class="nav-header"><%= i[:header] %></li>
                <% else %>
                  <li><a href="<%= i[:href]%>"><%= i[:text] %></a></li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        &nbsp;
        </div>

        <!-- MAIN -->
        <div class="span9 main">
          <!-- PAGE TITLE -->
          <h1 id="pagetitle"><%= @item[:title] %> </h1>
            <small>tags:<%= tag_links_for(@item, [], {:url_format=>"/examples/%%tag%%/"}).join(' | ') %></small>
            <br><br>
            <%= yield %>

              <a href="/examples/">Return to All Example Groups.</a>
        </div>

      </div>
    </div>
    <%= render "_footer" %>
    <%= render "_javascript" %>

    <%= content_for(@item, :javascript) || '<!-- No page Javascript -->' %>

  </body>
</html>
