<%#
this layout provides a sidebar and main column.
%>

<!DOCTYPE html>
<html lang="en">
  <%= render "_head" %>
  <body>
    <%= render "_header-ja" %>
    <div class="container">
      <div class="row">
        <!-- SIDEBAR -->
        <div class="span3" id="sidebarcolumn">
          <ul class="nav nav-tabs nav-stacked sidebar">

            <!-- <li class="nav-header">Documentation Search</li>
            <li>
              <form action="/search/">
                <input type="text" name="q" id="tipue_search_input" autocomplete="off" required>
              </form>
            </li> -->

            <% if @item[:sidebar] && @item[:sidebar][:nav] %>
              <% @item[:sidebar][:nav].each do |i| %>
                <% if i[:header] %>
                  <li class="nav-header"><%= i[:header] %></li>
                <% else %>
                  <li><a href="<%= i[:href]%>"><%= i[:text] %></a></li>
                <% end %>
              <% end %>
            <% end %>

            <li class="nav-header auto">インテグレーション</li>
              <li><a href="/ja/integrations/">インテックスへ戻る</a></li>
              <% ja_integration_items.each do |i| %>
              <% basic="" %>
              <% if i[:doclevel] && i[:doclevel] == 'basic' %>
                <% basic = " *" %>
              <% end %>
              <% if i[:title] == @item[:title] %>
                <li>
                  <%= link_to '> ' + i[:integration_title], '#' %>
                </li>
              <% else %>
                <li><%= link_to i[:integration_title] + basic,i.path %></li>
              <% end %>
                <% end %>
                <li><i>* basic level documentation</i></li>
          </ul>
        &nbsp;
        </div>

        <!-- MAIN -->
        <div class="span9 main">
          <!-- PAGE TITLE -->
          <h1 id="pagetitle"><%= @item[:title] %> </h1>
            <%= yield %>
        </div>
      </div>
    </div>
    <%= render "_footer-ja" %>
    <%= render "_javascript" %>

    <%= content_for(@item, :javascript) || '<!-- No page Javascript -->' %>

  </body>
</html>
