<!DOCTYPE html>
<html lang="en">
<%= render "_head" %>

  <body>
    <%= render "_rheader" %>
      <div class="container main" >
        test123 asht asht asht ass asht asht ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br> ast
        <br>
      </div>
  </body>
<%= render "_javascript" %>
</html>
