<%#
this layout provides twitter card for video
%>

<!DOCTYPE html>
<html>

<body>

<script src="https://fast.wistia.com/embed/medias/<%= @item[:wistiaid] %>.jsonp" async></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
<div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
  <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
    <div class="wistia_embed wistia_async_<%= @item[:wistiaid] %> seo=false videoFoam=true" style="height:100%;width:100%">&nbsp;</div>
  </div>
</div>
</body>
