<%#
this layout provides a sidebar and main column.
%>

<!DOCTYPE html>
<html lang="en">
  <%= render "_head" %>
  <body>
    <%= render "_header" %>
    <div class="container">
      <div class="row">
        <!-- SIDEBAR -->
        <div class=".col-md-3" id="sidebarcolumn">
          <ul class="nav nav-tabs nav-stacked sidebar">
            <li class="nav-header">Documentation Search</li>
            <li>
              <form action="/search/">
                <input type="text" name="q" id="tipue_search_input" autocomplete="off" required>
              </form>
            </li>
            <% if @item[:sidebar] && @item[:sidebar][:nav] %>
              <% @item[:sidebar][:nav].each do |i| %>
                <% if i[:header] %>
                  <li class="nav-header"><%= i[:header] %></li>
                <% else %>
                  <li><a href="<%= i[:href]%>"><%= i[:text] %></a></li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        &nbsp;
        </div>

        <!-- MAIN -->
        <div class=".col-md-9 main">
          <!-- PAGE TITLE -->
          <h1 id="pagetitle"><%= @item[:title] %> </h1>
            <small>tags: <%= tag_links_for(@item, [], {:url_format=>"/videos/%%tag%%/"}).sort().join(' | ') %></small>
            <br><br>
            <% wistiavideo = VideoInfo.new("//fast.wistia.net/embed/medias/" + @item[:wistiaid]) %>
            <a href="//fast.wistia.net/embed/iframe/<%= @item[:wistiaid] %>?popover=true" class="wistia-popover[height=720,playerColor=7b796a,width=1280]"><img src="<%= wistiavideo.thumbnail_medium %>?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=552x311" alt="" /></a>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
            <%= yield %>

              <a href="/videos/">Return to All Video Groups.</a>
        </div>

      </div>
    </div>
    <%= render "_footer" %>
    <%= render "_javascript" %>

    <%= content_for(@item, :javascript) || '<!-- No page Javascript -->' %>

  </body>
</html>
