{{ $dot := . }}
<hr class="mt-40"/>
<h2>Questions?</h2>
<div class="row questions">
    {{ range $dot.Page.Site.Data.partials.questions.questions }}
    <div class="col-6 col-md-4 mb-4">
        <a class="card" href="{{ .link }}">
            <div class="card-body text-center">
                <img class="static" width="70" height="70" src="{{ partial "img.html" (dict "root" $dot "src" (print "icons/" .image) ) }}" />
                <img class="hover" width="70" height="70" src="{{ partial "img.html" (dict "root" $dot "src" (print "icons/" .image_hover) ) }}" />
                <h4 class="card-title">{{ .title }}</h4>
                <p class="d-none d-sm-block card-text">{{ .text }}</p>
            </div>
        </a>
    </div>
    {{ end }}
</div>