<hr/>
<h2>Questions?</h2>
<div class="row questions">
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <img width="80" height="80" class="rounded-circle" src="{{ partial "img.html" (dict "root" . "src" "graph.png") }}" />
                <h4 class="card-title">Support</h4>
                <p class="card-text">Install it, Configure it,<br/>Learn how it works</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <img width="80" height="80" class="rounded-circle" src="{{ partial "img.html" (dict "root" . "src" "graph.png") }}" />
                <h4 class="card-title">Sales</h4>
                <p class="card-text">Install it, Configure it,<br/>Learn how it works</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <img width="80" height="80" class="rounded-circle" src="{{ partial "img.html" (dict "root" . "src" "graph.png") }}" />
                <h4 class="card-title">FAQ</h4>
                <p class="card-text">Install it, Configure it,<br/>Learn how it works</p>
            </div>
        </div>
    </div>
</div>