* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: Georgia, Palatino, Times, 'Times New Roman', sans-serif;
  letter-spacing:0.7px;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #39c;
}

a:hover {
  color: #246b8f;
  color: #1966aa;
}

/* layout */

#main {
    width: 650px;
    position: absolute;
    top: 60px;
    left: 230px;
    padding: 5px 5px 5px 20px;
}

#sidebar {
    width: 190px;
    position: absolute;
    top: 60px;
    left: 20px;
    padding: 25px 20px 20px 0;
    text-align: right;
    border-right: 1px solid #ddd;
}

/* typesetting */

#main h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: -1px;
}

#main h2 {
  font-size: 25px;
  font-weight: normal;
  border-bottom:1px solid #ddd;
}

#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {
    margin-top:10px;
    margin-bottom: 20px;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: inherit;
}

#main p {
  margin: 20px 0;
  font-size: 15px;
  line-height: 20px;
  margin-bottom:20px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;
  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

#sidebar h2 {
  text-transform: uppercase;
  font-size: 13px;
  color: #333;
  letter-spacing: 1px;
  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;
  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;
  line-height: 20px;
}

.aside {
  background-color:#FFF7BB;
  padding:10px;
  border:1px solid #E7D82d;
  margin-bottom:10px;
}

.strong {
  font-weight:bold;
}
