
{{ define "main" }}
{{ $dot := . }}
{{ $scratch := .Scratch }}

<!-- From data file -->
{{ $list := sort .Pages }}

<!-- build filters -->
{{ $.Scratch.Set "filters" (slice)}}
{{ range $index, $element := $list }}
    {{ range $e := $element.Params.rule_category }}
        {{ if not (in ($.Scratch.Get "filters") ($e | lower)) }}
            {{ $.Scratch.Add "filters" ($e | lower) }}
        {{ end }}
    {{ end }}
{{ end }}

<h1 id="pagetitle">{{ .Title }}</h1>

{{ .Content }}
<form id="rules">
    <div class="controls" data-ref="controls">
        <a data-ref="filter" data-filter="all" href="#all" class="mb-1 mr-1 btn btn-sm-tag btn-outline-secondary sort-reset">{{ i18n "all" }}</a>
        {{ range $i, $e := (sort ($.Scratch.Get "filters")) }}<a data-ref="filter" data-filter="cat-{{ replace $e "/" "" | urlize }}" href="#cat-{{ replace $e "/" "" | urlize }}" class="mb-1 mr-1 btn btn-sm-tag btn-outline-secondary sort-time sort-{{ replace $e "/" "" | urlize }}">{{ $e | upper }}</a>{{ end }}
    </div>
    <div class="form-group clearfix">
        <input type="input" data-ref="search" class="form-control rule-search mb-3" id="keywords" placeholder="Search here" aria-label="keywords" />
    </div>
    <div class="list-group">
        <div class="js-empty-results d-none font-semibold"></div>
        {{ range $i, $v := .Pages.GroupByParam "source" }}
            <div class="js-group js-group-{{ $i }}">
                <div class="js-group-header mb-1 active">
                    <div class="js-group-header__icon d-inline font-semibold h-100 text-uppercase px-2 py-1">
                        {{ range first 1 $v.Pages }}
                            {{ $int_logo := partial "integrations-logo.html" (dict "context" $dot "basename" (.Params.source | default .Params.scope) "variant" "avatar") }}
                            {{ if $int_logo }}
                                <img src="{{ $int_logo }}" height="17" alt="{{ htmlEscape .Params.Source }}" />
                            {{ else }}
                                <img height="17" src="{{ partial "img-resource.html" (dict "context" $dot "src" (print "images/svg-icons/agent.svg")) }}?w=80&auto-enhance 2x" />
                            {{ end }}
                        {{ end }}
                    </div>
                    <div class="d-inline font-semibold ml-1">
                        {{ if eq (len $v.Key) 3 }}
                            {{ title $v.Key | humanize | title | upper }}
                        {{ else }}
                            {{ title $v.Key | humanize | title }}
                        {{ end }}
                    </div>
                    <div class="js-group-header__arrow">></div>
                </div>
                <div class="group-{{ .Key }} mb-2 ml-4 d-none">
                    {{ range $v.Pages }}
                        <a class="mb-1 font-semibold mix js-single-rule {{ range $i, $e := .Params.rule_category }} cat-{{ replace $e "/" "" | urlize }} {{ end }}" href="{{.Permalink}}" data-name="{{ lower .Title }} {{ .File.TranslationBaseName }}">
                            {{ $int_logo := partial "integrations-logo.html" (dict "context" $dot "basename" (.Params.source | default .Params.scope) "variant" "avatar") }}
                            {{ if $int_logo }}
                                <img src="{{ $int_logo }}" height="17" alt="{{ htmlEscape .Params.Source }}" />
                            {{ else }}
                                <img height="17" src="{{ partial "img-resource.html" (dict "context" $dot "src" (print "images/svg-icons/agent.svg")) }}" alt="{{ $v.Key }}" />
                            {{ end }}
                            <span class="pl-1">{{ .Title }}</span><br />
                        </a>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </div>
</form>
{{ end }}
