{{ $dot := . }}

<!-- From data file -->
{{ $integration_list := where (where (where .Site.Pages "Params.kind" "=" "integration") ".Params.beta" "!=" "true") ".Params.is_public" "=" true }}

<!-- build filters -->
{{ $.Scratch.Set "filters" (slice)}}
{{ range $index, $element := $integration_list }}
    {{ range $e := $element.Params.categories }}
        {{ if not (in ($.Scratch.Get "filters") ($e | lower)) }}
            {{ $.Scratch.Add "filters" ($e | lower) }}
        {{ end }}
    {{ end }}
{{ end }}

<!-- build tiles -->
{{ $.Scratch.Add "row-count" 0 }}
{{ $.Scratch.Set "ints" (slice)}}
{{ range $k, $v := $integration_list }}
    {{ $.Scratch.Set "curr_categories" (slice)}}
    {{ range $i, $e := $v.Params.categories }}
        {{ $.Scratch.Add "curr_categories" (print "cat-" (replace $e "/" "" | urlize)) }}
    {{ end }}
    {{ $.Scratch.Add "ints" (dict "id" $k "name" $v.Params.name "tags" ($.Scratch.Get "curr_categories") "item_class" "" "redirect" $v.Params.doc_link "blurb" $v.Params.short_description "public_title" $v.Params.public_title) }}
{{ end }}

{{ $json := $.Scratch.Get "ints" | jsonify }}
{{ $test := printf "%s" $json }}

<script type="text/javascript">
    var data_resources = [];
    var integrations = {{ $test }};
    window.integrations = JSON.parse(integrations);
</script>

<div class="d-block d-sm-none mt-40 mb-40">
    <div class="dropdown show">
        <a class="btn btn-lg btn-block btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ALL</a>
        <div class="dropdown-menu" data-ref="mobilecontrols" aria-labelledby="dropdownMenuLink">
            <a data-ref="filter" data-filter="all" href="#all" class="dropdown-item sort-time">ALL</a>
            {{ range $i, $e := (sort ($.Scratch.Get "filters") "value" "asc") }}
                <a data-ref="filter" data-filter=".cat-{{ replace $e "/" "" | urlize }}" href="#cat-{{ replace $e "/" "" | urlize }}" class="dropdown-item sort-time sort-{{ replace $e "/" "" | urlize }}">{{ $e | upper }}</a>
            {{ end }}
        </div>
    </div>
</div>

<div class="filters controls d-none d-sm-block" data-ref="controls">
    <a data-ref="filter" data-filter="all" href="#all" class="mb-1 mr-1 btn btn-sm-tag btn-outline-secondary sort-reset">ALL</a>
    {{ range $i, $e := (sort ($.Scratch.Get "filters")) }}<a data-ref="filter" data-filter=".cat-{{ replace $e "/" "" | urlize }}" href="#cat-{{ replace $e "/" "" | urlize }}" class="mb-1 mr-1 btn btn-sm-tag btn-outline-secondary sort-time sort-{{ replace $e "/" "" | urlize }}">{{ $e | upper }}</a>{{ end }}
</div>

<!-- using 5 col -->
<div class="row no-gutters integration-tiles mt-4" data-ref="container">
    {{ range $i, $v := $integration_list }}

        {{ $.Scratch.Set "formatname" ""}}
        {{ if $v.Params.integration_title }}
            {{ $.Scratch.Set "formatname" $v.Params.integration_title }}
        {{ else if $v.Params.name }}
            {{ $.Scratch.Set "formatSlice" (slice)}}
            {{ range $i, $word := (split $v.Params.name "_") }}
                {{ $.Scratch.Add "formatSlice" (print (substr $word 0 1 | upper) (substr $word 1 (len $word))) }}
            {{ end }}
            {{ $.Scratch.Set "formatname" delimit ($.Scratch.Get "formatSlice") " " }}
        {{ end }}
        {{ $formatname := $.Scratch.Get "formatname" }}

        {{ $urlname := $v.File.TranslationBaseName }}

        {{ if $formatname }}
        <div id="mixid_{{$i}}" class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2-4 mix text-center {{ range $i, $e := $v.Params.categories }} cat-{{ replace $e "/" "" | urlize }} {{ end }}" data-id="{{ $i }}" data-ref="item">
            <div class="card">
                <a class="card-img" href="{{ $dot.Site.BaseURL }}integrations/{{$urlname | lower}}/"><img alt="integration" class="card-img" src="{{ partial "img.html" (dict "root" $dot "src" (print "integrations_logos/" ($urlname | lower) ".png")) }}"></a>
                <a class="card-img-gray" href="{{ $dot.Site.BaseURL }}integrations/{{$urlname | lower}}/"><img alt="integration" class="card-img" src="{{ partial "img.html" (dict "root" $dot "src" (print "integrations_logos/" ($urlname | lower) ".png")) }}?sat=-100"></a>
                <div class="text-center title" style="display: none;">{{ $formatname }}</div>
                <div class="card-body">
                    <a class="card-button" href="{{ $dot.Site.BaseURL }}integrations/{{$urlname | lower}}/">
                        <h4 class="card-title">{{ $formatname }}</h4>
                        <p class="card-text">{{ $v.Params.short_description }}</p>
                        <div class="btn-container"><button type="button" class="btn btn-sm btn-outline-primary btn-block">GO</button></div>
                    </a>
                </div>
            </div>
        </div>
        {{ end }}
    {{ end }}
</div>