$ddpurple:    #774DA2;

.filters {
  margin-top:40px;
  a {
    text-decoration: none;
  }
}
.integration-tiles {
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  .grayscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.3;
  }

    .card {
      justify-content: center;
      width:146px;
      height:142px;
      //float:left;
      margin:0 19px 19px 0;
      overflow:hidden;
      &.grayscale {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        opacity: 0.3;
      }
      &:hover {
        border-color: $ddpurple;
        & > .card-img {
          display:none;
        }
        & > .card-body {
          display:block;
        }
      }
      .card-body {
        padding:0;
        display:none;
        height:100%;
      }
      .card-title {
        margin:14px 0 0 0;
        padding:0 1.25rem;
      }
      .card-title,
      .card-text {
        color:#000;
        font-size:12px;
        line-height:16px;
      }
      .card-text {
        padding:0 4px;
      }
      .card-button {
        position:relative;
        display:block;
        height:100%;
        width:100%;
        text-decoration: none;
        .btn-container {
          padding:0 1.25rem;
          position:absolute;
          bottom:26px;
          height:26px;
          width:100%;
        }
        .btn {
          font-size:12px;
          height:26px;
          cursor: pointer;
        }
      }
    }
}


.dropdown-menu {
  border:1px solid $ddpurple;
  color:$ddpurple;
  right:0;
  .dropdown-item {
    padding-left:30px;
    font-size:18px;
    line-height:22px;
    padding-bottom:10px;
  }
}

//@include media-breakpoint-down(xs) { ... }
@media (max-width: 575px) {
  .integration-tiles {
    .card {
      /*width:auto;
      height:auto;
      &:hover {
        & > .card-img {
          display:block;
        }
      }
      .card-body {
        position: absolute;
        background: #fff;
      }*/
      width:auto;
      height:auto;
      &:hover {
        border-color:rgba(0,0,0,.125);
        & > .card-img {
          display: block;
        }
        & > .card-body {
          display: none;
        }
      }
    }
  }
}

//@include media-breakpoint-only(lg) { ... }
@media (min-width: 992px) and (max-width: 1199px) {
  .integration-tiles {
    .card {
      margin:0 0 40px 0;
    }
  }
}
