body {
    padding: 10px 30px;
    font-family: 'Noto Sans', sans-serif;
    max-width: 960px;
}

pre,
code {
    color: #ff0099;
    font-size: 1em;
    font-family: 'Roboto Mono';
}

a {
    color: #0953bf;
}
