{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-3 hidden-xs hidden-print" id="sidebarcolumn">
      {{ partial "sidebar.html" . }}
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 main">
      <h1 id="pagetitle">{{ .Title | humanize }}</h1>
      <section id="main">
        <div>
          <small>tags: {{ partial "related-groups" (dict "taxonomy" .Section "terms" (sort .Params.videos)) }}</small>
          <br><br>
          {{ partial "video" .Params.wistiaid }}

            <p>&nbsp;</p>
        </div>
        <p>{{ .Content }}</p>
        {{ $link := .Permalink }}
        <p><a href="{{ "videos/" | absLangURL }}">Return to All Video Groups.</a></p>
      </section>

    </div>
  </div>
</div>

{{ partial "container-footer.html" . }}
{{ partial "footer.html" . }}