<table class="table">
  <thead>
    <tr>
      <th>Language</th>
      <th>Library</th>
      <th>Official</th>
      <th>API</th>
      <th>DogStatsD</th>
      <th>Notes</th>
    </tr>
  </thead>
  {{ range $e := $.Site.Data.libraries.Classic }}
  <tbody>
    {{ range $libName, $info := . }}
        {{ range $i, $el := $info }}
          <tr>
            <td>{{ if eq $i 0}}<strong>{{ $libName }}</strong>{{ end }}</td>
            <td><a href="{{ $el.link }}">{{ $el.name }}</a></td>
            <td>{{ if $el.official}}<i class="glyphicon glyphicon-ok" aria-hidden="true"></i>{{ end }}</td>
            <td>{{ if $el.api}}<i class="glyphicon glyphicon-ok" aria-hidden="true"></i>{{ end }}</td>
            <td>{{ if $el.dogstatsd }}<i class="glyphicon glyphicon-ok" aria-hidden="true"></i>{{ end }}</td>
            <td>{{if $el.authors }}Written by {{ $el.authors }}{{ end }}{{ if $el.notes }}{{ $el.notes }}.{{ end }}</td>
          </tr>
        {{ end }}
    {{ end }}
  </tbody>
  {{ end }}
</table>
