{{ $dot := .context }}
{{ $language := .language }}
{{ $page := .context.Page }}

### Requirements

1. If you haven't already, set up the [Microsoft Azure integration]({{ "/integrations/azure/" | absLangURL }}) first.

2. The extension supports the following resource types:

* Azure App Service Web Apps on Basic, Standard, and Premium plans.
* Flex or Consumption plans are not supported currently. 


<div class="alert alert-warning">

#### Interested in support for other App Service resource types or runtimes?

<a href="https://forms.gle/n4nQcxEyLqDBMCDA7">Sign up</a> to be notified when a Preview becomes available.
</div>

3. Supported Runtimes:

{{ if eq $language ".NET" }}

The Datadog .NET APM extension supports the following .NET and ASP runtimes in Windows Code Webapps:

- dotnet:9
- dotnet:8
- ASPNET:V4.8
- ASPNET:V3.5

{{ else if eq $language "Java" }}

The Datadog Java APM extension supports the following Java runtimes in Windows Code Webapps:

- "JAVA:21",
- "JAVA:17",
- "JAVA:11",
- "JAVA:8",
- "TOMCAT:11.0-java21",
- "TOMCAT:11.0-java17",
- "TOMCAT:11.0-java11",
- "TOMCAT:11.0-java8",
- "TOMCAT:10.1-java21",
- "TOMCAT:10.1-java17",
- "TOMCAT:10.1-java11",
- "TOMCAT:10.1-java8",
- "TOMCAT:9.0-java21",
- "TOMCAT:9.0-java17",
- "TOMCAT:9.0-java11",
- "TOMCAT:9.0-java8"

{{ else if eq $language "Node.js" }}

The Datadog Java APM extension supports the following Nodejs runtimes in Windows Code Webapps:

- NODE:22LTS
- NODE:20LTS

{{ end }}

{{ if eq $language "Java" }}
<div class="alert alert-warning">

#### Support for Java Web Apps is in Preview for extension v2.4+. 

There are no billing implications for tracing Java Web Apps during this period.

</div>
{{ end }}

4. Datadog recommends doing regular updates to the latest version of the extension to ensure optimal performance, stability, and availability of features. Note that both the initial install and subsequent updates require your web app to be fully stopped in order to install/update successfully.

{{ if eq $language ".NET" }}

**Note**: Datadog's automatic instrumentation relies on the .NET CLR Profiling API. This API allows only one subscriber (for example, Datadog's .NET Tracer with Profiler enabled). To ensure maximum visibility, run only one APM solution within your application environment.

{{ end }}

### Installation

{{ if eq $language ".NET" }}
**Note**: Customers using the Azure Native integration can use the Datadog resource in Azure to add the extension to their .NET apps. For instructions, see the **App Service extension section** of Datadog's [Azure Portal guide]({{ "/integrations/guide/azure-portal/" | absLangURL }}#app-service-extension).
{{ end }}

1. Verify your Azure Integration it is configured correctly by ensuring that you see the corresponding `azure.app_services.count` or `azure.functions.count` metric in Datadog. 

<div class="alert alert-info">
    This step is critical for metric/trace correlation, functional trace panel views, and improves the overall experience of using Datadog with Azure App Services.
</div>

2. Open the [Azure Portal](https://portal.azure.com/) and navigate to the dashboard for the Azure app you wish to instrument with Datadog.

3. Configure these required Application Settings:

**Required Environment Variables**

`DD_API_KEY`
: **Value**: Your Datadog API key.<br>
See [Organization Settings > API Keys]({{ "/account_management/api-app-keys/" | absLangURL }}) in Datadog.<br>

`DD_SITE`
: **Value**: Your Datadog site<br>
Your [Datadog site]({{ "/getting_started/site/" | absLangURL }}). Defaults to `datadoghq.com`.<br>

**Unified Service Tagging**

Datadog recommends tagging your application with the `env`, `service`, and `version` tags for [unified service tagging]({{ "/getting_started/tagging/unified_service_tagging" | absLangURL }}).

`DD_SERVICE`
: **Value**: Your application's service name.<br>

`DD_ENV`
: **Value**: Your application's environment name.<br>
There is no default value for this field.<br>

`DD_VERSION`
: **Value**: Your application's version.<br>
There is no default value for this field.<br>

**Additional Environment Variables**

`DD_LOGS_INJECTION`
: **Value**: `true` (recommended)<br>
Enables trace-log correlation by injecting trace IDs into your application logs.<br>
This allows you to correlate logs with traces in the Datadog UI.<br>

6. Click **Save** (this restarts your application).

7. <div class="alert alert-warning">[REQUIRED] Stop your application by clicking <u>Stop</u>.</div>

8. Go to the Azure extensions page and select the Datadog APM extension.
    
{{ partial "img.html" (dict "root" $page "src" "infrastructure/serverless/azure_app_services/choose_extension.png" "alt" "Datadog extension" "width" "600" "class" "img-fluid") }}

9. Accept the legal terms, click **OK**, and wait for the installation to complete. 
**Note**: the app must be in a stopped state for this step to complete successfully.

10. Start the main application, click **Start**:

{{ partial "img.html" (dict "root" $page "src" "infrastructure/serverless/azure_app_services/start.png" "alt" "Start" "width" "600" "class" "img-fluid") }}

<br>
<br>
<br>

11. Verify that the extension is installed and running by checking the **Extensions** page.

<div class="alert alert-info">To avoid downtime, use <a href="https://learn.microsoft.com/en-us/azure/app-service/deploy-best-practices#use-deployment-slots">deployment slots</a>. You can create a workflow that uses the <a href="https://github.com/marketplace/actions/azure-cli-action">GitHub Action for Azure CLI</a>. See the sample <a href="{{ "/resources/yaml/serverless/aas-workflow-windows.yaml" | absLangURL }}">GitHub workflow</a>.</div>