{{ $dot := . }}
<div class="logs-containers">
    <div class="container cards-dd col-num-3">
        <div class="row row-cols-2 row-cols-sm-3 g-2 g-xl-3 justify-content-sm-center">
            <div class="col">
                <a class="card h-100" href="/serverless/installation/python/">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/python.png" "class" "img-fluid" "alt" "Python" "width" "400") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/serverless/installation/nodejs/">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/nodejs.png" "class" "img-fluid" "alt" "Node.js" "width" "400") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/serverless/installation/ruby/">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/ruby.png" "class" "img-fluid" "alt" "Ruby" "width" "400") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/serverless/installation/java/">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/java.png" "class" "img-fluid" "alt" "Java" "width" "400") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/serverless/installation/go/">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/go-metro.png" "class" "img-fluid" "alt" "go" "width" "400") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/serverless/installation/dotnet/">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/dotnet_text.png" "class" "img-fluid" "alt" ".NET" "width" "400") }}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<br>
