{{ $dot := . }}
<div class="logs-containers">
    <div class="container cards-dd col-num-3">
        <div class="row g-2 g-xl-3 justify-content-center">
            <div class="col">
                <a class="card h-100" href="/serverless/google_cloud_run/containers">
                    <div class="card-body text-center d-flex align-items-center justify-content-center p-0" style="min-height: 120px;">
                        <h5 class="m-0">Containers</h5>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/serverless/google_cloud_run/functions">
                    <div class="card-body text-center d-flex align-items-center justify-content-center p-0" style="min-height: 120px;">
                        <h5 class="m-0">Functions</h5>
                    </div>
                </a>
            </div>
            <!-- TODO(@nhulston) replace with Cloud Run jobs when available; gen 2 functions will link to gen 1 docs. -->
            <div class="col">
                <a class="card h-100" href="/serverless/google_cloud_run/functions_1st_gen">
                    <div class="card-body text-center d-flex align-items-center justify-content-center p-0" style="min-height: 120px;">
                        <h5 class="m-0">Functions<br/><small>(1st generation)</small></h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<br>
