{{ $dot := . }}
<div class="logs-containers">
    <div class="container cards-dd col-num-3">
        <div class="row row-cols-1 row-cols-sm-3 g-2 g-xl-3">
            <div class="col">
                <a class="card h-100" href="/integrations/amazon_lambda/#setup">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/amazon_lambda.png" "class" "img-fluid" "alt" "Docker" "width" "400") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/integrations/amazon_lambda/#setup">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/amazon_step_functions.png" "class" "img-fluid" "alt" "Docker" "width" "400") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/integrations/amazon_lambda/#setup">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/aws_fargate.png" "class" "img-fluid" "alt" "Docker" "width" "400") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/integrations/azure_functions/#setup">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/azure_app_services-1.png" "class" "img-fluid" "alt" "Red Hat OpenShift" "width" "400") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/integrations/azure_functions/#setup">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/azure_container_apps.png" "class" "img-fluid" "alt" "Red Hat OpenShift" "width" "400") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/integrations/azure_functions/#setup">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/azure_functions-1.png" "class" "img-fluid" "alt" "Red Hat OpenShift" "width" "400") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/integrations/google_cloud_functions/#setup">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/google_cloud_run.png" "class" "img-fluid" "alt" "Kubernetes" "width" "400") }}
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card h-100" href="/integrations/azure_functions/#setup">
                    <div class="card-body text-center py-2 px-1">
                        {{ partial "img.html" (dict "root" . "src" "integrations_logos/google_cloud_functions-1.png" "class" "img-fluid" "alt" "Red Hat OpenShift" "width" "400") }}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<br>
