{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-3 hidden-xs hidden-print" id="sidebarcolumn">
      {{ partial "sidebar.html" . }}
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 main">
      <h1 id="pagetitle">{{ .Title }}</h1>
      {{ .Content }}
      <section>
        <ul>
          {{ $data := .Data }}
          {{ range $key, $value := .Data.Terms }}
            {{ $link := absLangURL (print $data.Plural "/" ($key | urlize) "/") }}
            <li><a href="{{ $link }}">{{ $key }}</a> - ({{ len $value }})</li>
          {{ end }}
        </ul>
      </section>

    </div>
  </div>
</div>

{{ partial "container-footer.html" . }}
{{ partial "footer.html" . }}