{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-3 hidden-xs hidden-print" id="sidebarcolumn">
      {{ partial "sidebar.html" . }}
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 main">
      <h1 id="pagetitle">{{ .Title | humanize }}</h1>

      <section id="main">
        <div>
          {{ range (sort .Data.Pages "BaseFileName") }}
              <h1>{{ .Title }}</h1>
              <p>{{ .Params.summary }}</p>
              {{ partial "video" .Params.wistiaid }}
              <br>
              This video can be found in these groups:<br>
              {{ $videos := .Params.videos }}
              {{ range $i, $el := $videos }}
                <a href="/videos/{{ $el | urlize }}/">{{ $el | lower }}</a>{{ if lt (add $i 1) ($videos | len)}} | {{ end }}
              {{ end }}
              <p>&nbsp;</p>
          {{ end }}
        </div>
      </section>

    </div>
  </div>
</div>

{{ partial "container-footer.html" . }}
{{ partial "footer.html" . }}
