{{ define "main" }}

{{ $relp := .RelPermalink }}
{{ $relarr := split $relp "/" }}
{{ $term := (index $relarr 2) }}


<h1 id="pagetitle">{{ humanize (replace $term "-" " ") }}</h1>
<section id="main">
<div>
  {{ $data := .Data}}
  {{ range (sort .Data.Pages ".File.BaseFileName") }}
      <h2 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <p>{{ .Params.summary }}</p>
      {{ if isset .Params "wistiaid"}}{{ partial "video" .Params.wistiaid }}{{ end }}
      <br>
      {{ partial "related-groups" (dict "taxonomy" $data.Plural "terms" (index .Params "video-categories")) }}
      <br><br>
  {{ end }}
</div>
<p>{{ partial "return-to-group-link" (dict "lang" site.Language.Lang "taxonomy" .Data) }}</p>
</section>


{{ end }}
