{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{ $relp := .RelPermalink }}
{{ $relarr := split $relp "/" }}
{{ $term := (index $relarr 2) }}

<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-3 hidden-xs hidden-print" id="sidebarcolumn">
      {{ partial "sidebar.html" . }}
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 main">
      <h1 id="pagetitle">{{ humanize (replace $term "-" " ") }}</h1>
      <section id="main">
        <div>
          {{ $data := .Data}}
          {{ range (sort .Data.Pages "BaseFileName") }}
              <h2><a href="{{ .URL }}">{{ .Title }}</a></h2>
              <p>{{ .Params.summary }}</p>
              {{ partial "video" .Params.wistiaid }}
              <br>
              {{ partial "related-groups" (dict "taxonomy" $data.Plural "terms" .Params.videos) }}
              <br><br>
          {{ end }}
        </div>
        <p>{{ partial "return-to-group-link" (dict "lang" .Site.Language.Lang "taxonomy" .Data) }}</p>
      </section>

    </div>
  </div>
</div>

{{ partial "container-footer.html" . }}
{{ partial "footer.html" . }}
