{{ define "main" }}
    {{ $dot := . }}

    <div class="row">
        <div class="col-12 order-1">
            <h1 id="pagetitle">{{ .Title }}</h1>
        </div>
        <div class="col-12">
            {{ partial "breadcrumbs.html" . }}
        </div>
    </div>
    {{ partial "translate_status_banner/translate_status_banner.html" . }}
    {{ partial "site_support_banner/site_support_banner.html" . }}

    {{ $list := sort .Pages }}


    <!-- For each section, loop over and display the links that include the key. ex: AWS, GCP...   -->
    <div class="whatsnext list-group">
    {{ range $list }}
        <p>{{ .File.Filename }}</p>
        {{/*  <a 
        href='/ddsql_reference/dataset_directory/{{ .Name }}/' 
        class="list-group-item list-group-item-action list-group-item-white d-flex justify-content-between align-items-center">
            <span class="w-100 d-flex justify-content-between">
                <span class="text">
                    <code>{{ .Name }}</code>
                </span>
            </span>
            {{- partial "img.html" (dict "root" $dot "src" "icons/list-group-whats-next-arrow-1.png" "class" "img-fluid static" "alt" "more") -}}
            {{- partial "img.html" (dict "root" $dot "src" "icons/list-group-whats-next-arrow-2.png" "class" "img-fluid hover" "alt" "more" "disable_lazy" "true") -}}

        </a>  */}}
    {{ end }}
    </div>

{{ end }}