# .ebextensions/99datadog-java-apm.config
# Installs the Datadog Java APM agent on Tomcat-based Elastic Beanstalk environments.
# For other application servers (Spring Boot, Jetty, JBoss, and so on), see:
# https://docs.datadoghq.com/tracing/trace_collection/dd_libraries/java/

option_settings:
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: DD_SERVICE
      value: "my-service" # Replace with your service name
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: DD_ENV
      value: "production" # Replace with your environment name
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: DD_VERSION
      value: "1.0" # Replace with your service version
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: DD_LOGS_INJECTION
      value: "true"
    - namespace: aws:elasticbeanstalk:container:tomcat:jvmoptions
      option_name: JvmOptions
      value: "-javaagent:/opt/dd-java-agent.jar"

files:
  "/opt/dd-java-agent.jar":
    mode: "000644"
    owner: root
    group: root
    source: https://dtdg.co/latest-java-tracer
