# .ebextensions/99datadog-windows.config
packages:
  msi:
    DotnetAPM: https://github.com/DataDog/dd-trace-dotnet/releases/download/v2.8.0/datadog-dotnet-apm-2.8.0-x64.msi
files:
  "c:\\Datadog\\datadog-agent-7-latest.amd64.msi":
    source: https://s3.amazonaws.com/ddagent-windows-stable/datadog-agent-7-latest.amd64.msi

commands:
  00_setup-env1: # Eg: Sets .NET APM's tracing library configuration to env:dev
    command: setx -m DD_ENV dev

  01_setup-datadog-agent:
    command: start /wait msiexec /qn /i datadog-agent-7-latest.amd64.msi APIKEY="YOUR API KEY" SITE="datadoghq.com"
    cwd: c:/Datadog

  02_setup-APM1:
    command: net stop /y was

  03_setup-APM2:
    command: net start w3svc