# .ebextensions/99datadog-amazon-linux-2.config
option_settings:
    - namespace:  aws:elasticbeanstalk:application:environment
      option_name:  DD_API_KEY
      value:  "<YOUR_DD_API_KEY>"
    - namespace:  aws:elasticbeanstalk:application:environment
      option_name:  DD_AGENT_VERSION
      value:  "" # For example, "7.21.1". Leave empty to install the latest version. Only Agent 7 is supported.
files:
    "/configure_datadog_yaml.sh":
        mode: "000700"
        owner: root
        group: root
        content: |
            #!/bin/bash
            sed 's/api_key:.*/api_key: '$DD_API_KEY'/' /etc/datadog-agent/datadog.yaml.example > /etc/datadog-agent/datadog.yaml
            # Use the following command if you're in the EU. Replace datadoghq.eu with another region if in a different region.
            # sed -i 's/datadoghq.com/datadoghq.eu/' /etc/datadog-agent/datadog.yaml

    "/datadog/datadog.repo":
        mode: "000644"
        owner: root
        group: root
        content: |
            [datadog]
            name = Datadog, Inc.
            baseurl = https://yum.datadoghq.com/stable/7/x86_64/
            enabled=1
            gpgcheck=1
            gpgkey=https://keys.datadoghq.com/DATADOG_RPM_KEY_CURRENT.public
                   https://keys.datadoghq.com/DATADOG_RPM_KEY_FD4BF915.public
                   https://keys.datadoghq.com/DATADOG_RPM_KEY_E09422B3.public

    "/start_datadog.sh":
        mode: "000700"
        owner: root
        group: root
        content: |
            #!/bin/bash
            STATUS=$(sudo systemctl status datadog-agent)
            if [[ "$STATUS" == *"active (running)"* ]]
              then
                echo "Agent already running"
              else
                echo "Agent starting..."
                sudo systemctl start datadog-agent
            fi

    "/stop_datadog.sh":
        mode: "000700"
        owner: root
        group: root
        content: |
            #!/bin/bash
            STATUS=$(sudo systemctl status datadog-agent)
            if [[ "$STATUS" == *"active (running)"* ]]
              then
                echo "Agent stopping..."
                sudo systemctl stop datadog-agent
              else
                echo "Agent already stopped"
            fi


container_commands:
    02stop_datadog:
        command: "/stop_datadog.sh"
    04install_datadog:
        test: '[ -f /datadog/datadog.repo ]'
        command: 'cp /datadog/datadog.repo /etc/yum.repos.d/datadog.repo; yum -y makecache; yum -y install datadog-agent${DD_AGENT_VERSION:+-$DD_AGENT_VERSION-1}'
    05setup_datadog:
        test: '[ -x /configure_datadog_yaml.sh ]'
        command: "/configure_datadog_yaml.sh"
    06start_datadog:
        command: "/start_datadog.sh"
