setuptools==60.10.0
PyGithub==1.59.1
markdown
beautifulsoup4==4.12.3
cffi==1.15.1
cssutils>=1.0.2
htmlmin>=0.1.12
pycparser==2.23
requests==2.32.5
PyYAML==6.0.3
tqdm==4.67.3
Pygments==2.19.2
datadog==0.35.0
markdown2==2.5.4
Jinja2==3.0.3
GitPython
feedparser>=6.0.12
ruamel.yaml>=0.17.40

