setuptools==60.10.0
PyGithub==1.47
markdown
algoliasearch>=2.2.0
beautifulsoup4==4.5.1
cffi==1.15.0
cssutils>=1.0.0
htmlmin>=0.1.10
pycparser==2.14
requests==2.23.0
PyYAML==5.4
tqdm==4.43.0
Pygments==2.7.4
datadog==0.35.0
markdown2==2.3.8
Jinja2==3.0.1
