{{ $root := . }}
{{ $providers := slice
    (dict "href" "/continuous_delivery/deployments/argocd/" "src" "integrations_logos/argocd_small.svg" "alt" "argo cd")
    (dict "href" "/continuous_delivery/deployments/ciproviders/" "src" "integrations_logos/azure-pipelines_small.svg" "alt" "azure devops extension")
    (dict "href" "/continuous_delivery/deployments/ciproviders/" "src" "integrations_logos/buildkite_small.svg" "alt" "buildkite")
    (dict "href" "/continuous_delivery/deployments/ciproviders/" "src" "integrations_logos/circleci.png" "alt" "circleci orb")
    (dict "href" "/continuous_delivery/deployments/ciproviders/" "src" "integrations_logos/github_small.svg" "alt" "github actions")
    (dict "href" "/continuous_delivery/deployments/ciproviders/" "src" "integrations_logos/gitlab-logo-100.svg" "alt" "gitlab")
    (dict "href" "/continuous_delivery/deployments/ciproviders/" "src" "integrations_logos/jenkins.png" "alt" "jenkins")
}}

<div class="cd-and-ci-visibility-providers">
  <div class="container cards-dd">
    <!-- First row with 3 tiles -->
    <div class="row g-2 g-xl-3 justify-content-center">
      {{ range $index, $provider := $providers }}
        {{ if lt $index 3 }}
          <div class="col-md-4">
            <a class="card h-100" href="{{ $provider.href }}">
              <div class="card-body text-center py-2 px-1 d-flex align-items-center justify-content-center">
                {{ partial "img.html" (dict "root" $root "src" $provider.src "class" "img-fluid" "alt" $provider.alt "width" "150") }}
              </div>
            </a>
          </div>
        {{ end }}
      {{ end }}
    </div>
    <br>
    <div class="row g-2 g-xl-3 justify-content-center">
      {{ range $index, $provider := $providers }}
        {{ if and (ge $index 3) (lt $index 6) }}
          <div class="col-md-4">
            <a class="card h-100" href="{{ $provider.href }}">
              <div class="card-body text-center py-2 px-1 d-flex align-items-center justify-content-center">
                {{ partial "img.html" (dict "root" $root "src" $provider.src "class" "img-fluid" "alt" $provider.alt "width" "150") }}
              </div>
            </a>
          </div>
        {{ end }}
      {{ end }}
    </div>
    <br>
    <div class="row g-2 g-xl-3 justify-content-center">
      {{ range $index, $provider := $providers }}
        {{ if eq $index 6 }}
          <div class="col-md-4">
            <a class="card h-100" href="{{ $provider.href }}">
              <div class="card-body text-center py-2 px-1 d-flex align-items-center justify-content-center">
                {{ partial "img.html" (dict "root" $root "src" $provider.src "class" "img-fluid" "alt" $provider.alt "width" "150") }}
              </div>
            </a>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
