{{ $dot := . }}
<header>
    <div class="container">
        <div class="mainnav d-none d-lg-flex row align-items-center no-gutters">
            <div class="col">
                <ul class="nav navbar-left">
                    {{ range $dot.Page.Site.Data.partials.header.left }}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ if in .link "http"}}{{ .link }}{{ else }}{{.Site.BaseURL}}/{{ .link }}{{ end }}">{{ .title }}</a>
                        </li>
                    {{ end }}
                </ul>
            </div>
            <div class="col-1 text-center">
                <a href="/" id="logo">
                    <img class="logo-img" height="85" src="{{ partial "img.html" (dict "root" . "src" "dd_logo_70x75.png") }}">
                    <img class="logo-text" src="{{ partial "img.html" (dict "root" . "src" "dd-logo-200.png") }}">
                </a>
            </div>
            <div class="col">
                <ul class="nav navbar-right float-right">
                    {{ range $dot.Page.Site.Data.partials.header.right }}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ if in .link "http"}}{{ .link }}{{ else }}{{.Site.BaseURL}}/{{ .link }}{{ end }}">{{ .title }}</a>
                        </li>
                    {{ end }}
                    <li class="nav-item nav-button">
                        <a class="btn btn-outline-primary sign-up-trigger" href="#" data-toggle="modal" data-target="#signupModal">GET STARTED FREE</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <nav class="navbar d-lg-none navbar-expand-lg navbar-light bg-white rounded">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="{{ partial "img.html" (dict "root" . "src" "dd_docs_logo.png") }}" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-sidenav" aria-controls="navbar-sidenav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-sidenav">
            <div class="container">
                {{ partial "sidenav/sidenav.html" . }}
            </div>
        </div>
    </nav>
</header>