{{ $dot := . }}
{{ $announce := .Site.Params.announcement_banner }}
{{ if $announce }}
    {{ partial "announcement_banner/announcement_banner.html" . }}
{{ end }}

<!-- get lang specific data file -->
{{ $.Scratch.Set "data" "" }}
{{ if ne $dot.Page.Lang "en"}}
    {{ if (fileExists (print "data/partials/header." $dot.Page.Lang ".yaml")) }}
      {{ $.Scratch.Set "data" (index $dot.Page.Site.Data.partials (print "header." $dot.Page.Lang)) }}
    {{ else }}
      {{ $.Scratch.Set "data" $dot.Page.Site.Data.partials.header }}
    {{ end }}
{{ else }}
    {{ $.Scratch.Set "data" $dot.Page.Site.Data.partials.header }}
{{ end }}
{{ $datafile := ($.Scratch.Get "data") }}

<header>
    <div class="container">
        <div class="mainnav d-none d-lg-flex row align-items-center no-gutters">
            <div class="col">
                <ul class="nav navbar-left">
                    {{ range $datafile.left }}
                        <li class="nav-item {{ if .children }}dropdown{{ end }}">
                            <a class="nav-link {{ if .children }}dropdown-toggle{{ end }}" href="{{ if in .link "http"}}{{ .link }}{{ else }}{{ .link | absLangURL }}{{ end }}">{{ .title }}</a>
                            {{ if .children }}
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  {{ range .children }}
                                    {{ if eq .link "https://www.datadoghq.com/solutions/cloud-migration/" }}
                                      <hr class="my-1 mx-1 border-gray-light" />
                                    {{ end }}
                                    <a class="dropdown-item" href="{{ if in .link "http"}}{{ .link }}{{ else }}{{ .link | absLangURL }}{{ end }}">{{ .title }}</a>
                                  {{ end }}
                                </div>
                            {{ end }}
                        </li>
                    {{ end }}
                </ul>
            </div>
            <div class="col-1 text-center">
                <a href="https://www.datadoghq.com/" id="logo">
                    {{ partial "img.html" (dict "root" . "src" "dd_logo_n_70x75.png" "class" "logo-img" "alt" "DataDog" "height" "75" "img_param" "?ch=Width,DPR&fit=max&auto=format&w=70&h=75" "disable_lazy" "true") }}
                    {{ partial "img.html" (dict "root" . "src" "dd-logo-n-200.png" "class" "logo-text" "alt" "DataDog" "height" "14" "img_param" "?ch=Width,DPR&fit=max&auto=format&h=14" "disable_lazy" "true") }}
                </a>
            </div>
            <div class="col">
                <ul class="nav navbar-right float-right">
                    {{ range $datafile.right }}
                        <li class="nav-item {{ if .children }}dropdown{{ end }}">
                            <a class="nav-link {{ if .children }}dropdown-toggle{{ end }}" href="{{ if in .link "http"}}{{ .link }}{{ else }}{{ .link | absLangURL }}{{ end }}">{{ .title }}</a>
                            {{ if .children }}
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              {{ range .children }}
                                <a class="dropdown-item" href="{{ if in .link "http"}}{{ .link }}{{ else }}{{ .link | absLangURL }}{{ end }}">{{ .title }}</a>
                              {{ end }}
                            </div>
                            {{ end }}
                        </li>
                    {{ end }}
                    <li class="nav-item nav-button">
                        <a class="btn btn-outline-primary sign-up-trigger d-none d-xl-block" href="#" data-toggle="modal" data-target="#signupModal" style="min-width:120px;">{{ i18n "get_started_free_short" }}</a>
                        <a class="btn btn-outline-primary sign-up-trigger d-sm-block d-xl-none" href="#" data-toggle="modal" data-target="#signupModal" style="min-width:120px;text-transform: uppercase;">{{ i18n "free_trial" }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <nav class="navbar d-lg-none navbar-expand-lg navbar-light bg-white rounded">
        <div class="container">
            <a class="navbar-brand" href="{{ "" | absLangURL }}" title="DataDog">{{ partial "img.html" (dict "root" . "src" "dd_docs_logo.png" "alt" "DataDog" "disable_lazy" "true") }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-sidenav" aria-controls="navbar-sidenav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-sidenav">
            <div class="container">
                {{ partial "sidenav/sidenav-m.html" . }}
            </div>
        </div>
    </nav>
</header>
