$ddpurple:    #774DA2;

body > header {
  box-shadow: 0 8px 10px 0 rgba(0,0,0,.07);
  background: #fff;
  z-index:99;
  position:fixed;
  width:100%;
  top:0;

  &.scrolled {
    .mainnav {
      .logo-img {
        margin-top:0px;
      }
      .logo-text {
        display:none;
      }
    }
  }

  .mainnav {
    height:129px;
    .logo-img {
      margin:0 auto;
      margin-top:-10px;
    }
    .logo-text {
      height: 14px;
      border:1px solid transparent;
      display:inline-block;
      position:absolute;
      left: 7px;
      bottom: -14px;
    }
    .navbar-left li:first-child a.nav-link {
      padding-left:0;
    }
    .navbar-right li:last-child a.nav-link {
      padding-right:0;
    }
    .nav-item {
      a.nav-link {
        color: #777;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: .4px;
        border-radius: 5px;
        border:1px solid transparent;
        padding-left:10px;
        padding-right:10px;
        &:hover,
        &.active {
          transition: all .2s;
          color: $ddpurple;
          background-color: #fff;
          //border-color: #c8c8c8;
        }
      }
    }
    .nav-button {
      margin-top:-3px;
      a.nav-link {
        padding:0;
        margin:0;
      }
      a.btn {
        padding:13px 20px;
        font-size:18px;
        letter-spacing:1px;
      }
    }
  }

  // mobile
  .navbar {
    padding-left:0;
    padding-right:0;
    padding-bottom:0;
    .container {
      padding-left:15px;
      padding-right:15px;
      padding-bottom:7px;
    }
    .navbar-brand {
      img {
        height:39px;
      }
    }
  }

  #navbar-sidenav {
    background:#F8F8F8;
    position:relative;
    &:before {
      content:"";
      top:0px;
      left:0px;
      right:0px;
      height:50px;
      position:absolute;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efefef+0,ffffff+100 */
      background: #efefef; /* Old browsers */
      background: -moz-linear-gradient(top, #efefef 0%, #F8F8F8 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #efefef 0%,#F8F8F8 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #efefef 0%,#F8F8F8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#F8F8F8',GradientType=0 ); /* IE6-9 */
    }
    .container {
      padding:0;
    }
  }
  aside.sidenav {
    padding-left:15px;
    padding-right:15px;
    background:transparent;
    &:before,
    &:after {
      background:transparent;
    }
    &:after {
      background:transparent;
    }
    &> .row {
      &:before,
      &:after {
        background:transparent;
      }
      &:after {
        background:transparent;
      }
    }
    h4 {
      display:none;
    }
    .sidenav-search {
      margin-right:0;
    }
  }

  .mobilequicknav {
    display:flex;
    border-bottom:1px solid #D6D6D6;
    &> .col {
      &:first-child {
        border-left:1px solid #D6D6D6;
      }
      border-right:1px solid #D6D6D6;
      padding:20px;
    }
    a {
      color:#969696;
    }
  }
}



//@include media-breakpoint-down(lg)
@media (max-width: 1199px) {
  body > header {
    .mainnav {
      .logo-text {
        left: 0px;
      }
    }
  }
}