.cdoc__hidden {
    display: none;
}

/* Document sections and headings */

#cdoc-selector,
#cdoc-content.customizable {
    visibility: hidden;
}

#cdoc-content.customizable h1,
#cdoc-content.customizable h2,
#cdoc-content.customizable h3,
#cdoc-content.customizable h4,
#cdoc-content.customizable h5,
#cdoc-content.customizable h6 {
    scroll-margin-top: 95px; /* Keep headers clear of the sticky customization menu */
}

/* Customization menu pills */

.cdoc-pill {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 6px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
}

.cdoc-pill.selected {
    color: white;
    background-color: #632ca6;
    border-color: #632ca6;
}

.cdoc-pill .cdoc-filter__label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}

.cdoc-filter__container {
    display: inline-block;
    margin-right: 25px;
}

/* Customization menu dropdowns */

.cdoc-dropdown-container {
    margin-bottom: 1em;
    display: inline-block;
    margin-right: 1em;
    min-width: 100px;
}

.cdoc-dropdown-container p.cdoc-filter-label {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
}

.cdoc-dropdown-options-list {
    min-width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 20px 0px;
    border-radius: 6px;
    z-index: 2000;
}

.cdoc-dropdown-option:hover {
    background-color: rgb(246, 246, 246);
    color: rgb(99, 44, 166);
}

.cdoc-dropdown-option {
    display: block;
    width: 100%;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 16px;
    padding-top: 4px;
    font-weight: 400;
    color: black;
    background-color: transparent;
    text-align: inherit;
    white-space: nowrap;
    border: 0;
    line-height: 20px;
}

button.cdoc-dropdown-btn {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.6em;
    height: 31px;
    color: rgb(99, 44, 166);
    border: 1px solid rgb(199, 199, 199);
    border-radius: 4px;
    padding: 0rem 0.6rem 0.1rem;
    background-color: rgb(246, 246, 246);
    font-weight: 600;
    line-height: 20px;
    box-sizing: border-box;
    margin-right: 1em;
}

.cdoc-dropdown {
    width: 100%;
    display: block;
    position: relative;
    margin-right: 1em;
}

.cdoc-dropdown .cdoc-chevron {
    display: inline-block;
    transform: rotate(45deg); /* pointed down */
    width: 8px;
    height: 8px;
    display: inline-block;
    border: 2px solid rgb(99, 44, 166);
    border-top: none;
    border-left: none;
}

.cdoc-dropdown.cdoc-dropdown__expanded .cdoc-chevron {
    transform: rotate(-135deg); /* pointed up */
    margin-top: 5px;
}

.cdoc-dropdown-options-list {
    display: none;
}

.cdoc-dropdown.cdoc-dropdown__expanded .cdoc-dropdown-options-list {
    display: block;
    position: absolute;
    top: 39px;
}

/* COMPONENT-SPECIFIC STYLES ===================================== */

/* Tables */

#cdoc-content table ul,
#cdoc-content table p {
    font-size: 16px;
    font-family: nationalweb, Helvetica, Arial, sans-serif;
}

/* Alerts */

#cdoc-content .alert p {
    font-size: 16px;
    font-family: nationalweb, Helvetica, Arial, sans-serif;
    margin-bottom: 0;
}

#cdoc-content .alert p + p {
    margin-top: 16px;
}

.alert.alert-info p {
    color: rgb(31, 92, 122);
}

.alert.alert-warning p {
    color: #60451f;
}

.alert.alert-danger p {
    color: #82322f;
}

/* Code snippets */

div.cdoc-code-snippet.cdoc-language-shell span.line:before {
    content: '$ ';
    display: inline;
}

div.cdoc-code-snippet.cdoc-language-bash span.line:before {
    content: '$ ';
    display: inline;
}

span.s1 code.cdoc,
span.s2 code.cdoc {
    color: #c41a16;
}
