{{ $dot := . }}
<div class="dbm-databases">
  <div class="container cards-dd">
    <div class="card-deck">
      <a class="card" href="/database_monitoring/setup_postgres/rds">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/postgres.png" "class" "img-fluid" "alt" "Postgres" "width" "125") }}
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/amazon_rds.png" "class" "img-fluid" "alt" "RDS" "width" "125") }}
        </div>
      </a>
      <a class="card" href="/database_monitoring/setup_mysql/rds">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/mysql.png" "class" "img-fluid" "alt" "MySql" "width" "125") }}
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/amazon_rds.png" "class" "img-fluid" "alt" "RDS" "width" "125") }}
        </div>
      </a>
    </div>
    </br>
    <div class="card-deck">
      <a class="card" href="/database_monitoring/setup_postgres/aurora">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/postgres.png" "class" "img-fluid" "alt" "Postgres" "width" "125") }}
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/aurora.png" "class" "img-fluid" "alt" "Aurora" "width" "125") }}
        </div>
      </a>
      <a class="card" href="/database_monitoring/setup_mysql/aurora">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/mysql.png" "class" "img-fluid" "alt" "MySql" "width" "125") }}
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/aurora.png" "class" "img-fluid" "alt" "Aurora" "width" "125") }}
        </div>
      </a>
    </div>
    </br>
    <div class="card-deck">
      <a class="card" href="/database_monitoring/setup_postgres/gcsql">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/postgres.png" "class" "img-fluid" "alt" "Postgres" "width" "125") }}
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/google_cloudsql.png" "class" "img-fluid" "alt" "Google Cloud SQL" "width" "125") }}
        </div>
      </a>
      <a class="card" href="/database_monitoring/setup_mysql/gcsql">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/mysql.png" "class" "img-fluid" "alt" "MySql" "width" "125") }}
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/google_cloudsql.png" "class" "img-fluid" "alt" "Google Cloud SQL" "width" "125") }}
        </div>
      </a>
    </div>

  </div>
</div>
