{{ $dot := . }}
<div class="dbm-databases">
  <div class="container cards-dd">
    <h4>Amazon RDS</h4>
    <div class="card-deck">
      <a class="card" href="/database_monitoring/setup/postgres/rds">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/postgres.png" "class" "img-fluid" "alt" "Postgres" "width" "200") }}
        </div>
      </a>
      <a class="card" href="/database_monitoring/setup/mysql/rds">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/mysql.png" "class" "img-fluid" "alt" "MySql" "width" "200") }}
        </div>
      </a>
    </div>
    <h4>Amazon Aurora</h4>
    <div class="card-deck">
      <a class="card" href="/database_monitoring/setup/postgres/aurora">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/postgres.png" "class" "img-fluid" "alt" "Postgres" "width" "200") }}
        </div>
      </a>
      <a class="card" href="/database_monitoring/setup/mysql/aurora">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/mysql.png" "class" "img-fluid" "alt" "MySql" "width" "200") }}
        </div>
      </a>
    </div>
    <h4>Google Cloud SQL</h4>
    <div class="card-deck">
      <a class="card" href="/database_monitoring/setup/postgres/gcsql">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/postgres.png" "class" "img-fluid" "alt" "Postgres" "width" "200") }}
        </div>
      </a>
      <a class="card" href="/database_monitoring/setup/mysql/gcsql">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/mysql.png" "class" "img-fluid" "alt" "MySql" "width" "200") }}
        </div>
      </a>
    </div>

  </div>
</div>
