{{ $dot := . }}
<div class="dbm-databases">
  <div class="container cards-dd">
    <div class="card-deck">
      <a class="card" href="/database_monitoring/setup_postgres/selfhosted">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/postgres.png" "class" "img-fluid" "alt" "Postgres" "width" "200") }}
        </div>
      </a>
      <a class="card" href="/database_monitoring/setup_mysql/selfhosted">
        <div class="card-body text-center py-2 px-1">
          {{ partial "img.html" (dict "root" . "src" "integrations_logos/mysql.png" "class" "img-fluid" "alt" "MySql" "width" "200") }}
        </div>
      </a>
    </div>
  </div>
</div>
