setuptools
PyGithub==1.29
markdown
algoliasearch>=1.11.0
beautifulsoup4==4.5.1
cffi==1.5.2
cssutils>=1.0.0
htmlmin>=0.1.10
pycparser==2.14
awscli==1.11.36
requests[security]==2.12.3
datadog==0.16.0
gspread==0.6.2
oauth2client==4.1.0
PyYAML==3.12
Pygments==2.2.0
