@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ndf0dc');
  src:  url('../fonts/icomoon.eot?ndf0dc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ndf0dc') format('truetype'),
    url('../fonts/icomoon.woff?ndf0dc') format('woff'),
    url('../fonts/icomoon.svg?ndf0dc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-circle-solid:before {
  content: "\e907";
}
.icon-angle-down-circle-solid:before {
  content: "\e906";
}
.icon-x-circle-solid:before {
  content: "\e908";
}
.icon-angle-down-circle:before {
  content: "\e903";
}
.icon-checkmark:before {
  content: "\e904";
}
.icon-x-circle:before {
  content: "\e905";
}
.icon-cog:before {
  content: "\e901";
}
.icon-configure:before {
  content: "\e902";
}
.icon-dd-logo-long-white-bg:before {
  content: "\44";
}
.icon-dd-logo-long-dark-bg:before {
  content: "\46";
}
.icon-dd-logo-dark-bg:before {
  content: "\43";
}
.icon-small-arrow-bottom:before {
  content: "\6f";
}
.icon-small-arrow-top:before {
  content: "\6b";
}
.icon-small-arrow-left:before {
  content: "\75";
}
.icon-small-arrow-right:before {
  content: "\6a";
}
.icon-thin-x:before {
  content: "\79";
}
.icon-thin-mag:before {
  content: "\68";
}
.icon-small-x:before {
  content: "\71";
}
.icon-small-mag:before {
  content: "\64";
}
.icon-small-mail:before {
  content: "\65";
}
.icon-small-bookmark:before {
  content: "\62";
}
.icon-reddit:before {
  content: "\72";
}
.icon-linkedin:before {
  content: "\6e";
}
.icon-close_x:before {
  content: "\78";
}
.icon-dropdown_arrow:before {
  content: "\76";
}
.icon-facebook:before {
  content: "\66";
}
.icon-g:before {
  content: "\67";
}
.icon-github:before {
  content: "\69";
}
.icon-left_arrow:before {
  content: "\3e";
}
.icon-logo_full:before {
  content: "\6c";
}
.icon-logo_icon:before {
  content: "\63";
}
.icon-mail:before {
  content: "\6d";
}
.icon-phone:before {
  content: "\70";
}
.icon-right_arrow:before {
  content: "\3c";
}
.icon-search:before {
  content: "\73";
}
.icon-team:before {
  content: "\74";
}
.icon-twitter:before {
  content: "\77";
}
.icon-pencil:before {
  content: "\e900";
}
.icon-dd-logo-h:before {
  content: "\7a";
}