@import "bootstrap/scss/_custom.scss";
@import "bootstrap/scss/_bootstrap.scss";
.container.main {
  // padding-top: 60px;
}
$flush: #fff;
$btngrey: #fff;
$btngrey2: darken($btngrey, 8%);
$btngrey3: darken($btngrey2, 8%);

$gray: #555;

$purple: #774aa4;
$lightpurple: lighten($purple, 12%); //#e5d2f8;
$lighterpurple: lighten($purple, 40%);
$darkpurple: darken($purple, 10%); //#9565c6;
$blue: #4A90E2;
$lightblue: lighten($blue, 10%);
body {
  padding-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5

h1#pagetitle {
  color: $purple;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}

ol.outline {
  list-style-type: upper-alpha ol {
    list-style-type: decimal
  }
}

@media (max-width: $screen-xs-max) {
  .navbar-inverse .navbar-nav {
    &>li>a,
    .open .dropdown-menu >li>a {
      color: $gray;
      text-align: left;
    }
  }
}
.navbar-form {
  border: 0;
  box-shadow: none;
  padding: 0;
}

.navbar {
  &,
  .nav > li.dropdown.open>.dropdown-toggle,
  .navbar-inverse .nav li.dropdown.active>.dropdown-toggle,
  .nav > li.dropdown.open.active>.dropdown-toggle,
  .nav > li > a,
  .nav > li > a:hover,
  .nav > li > a:focus {
    background-image: none;
    background-color: $flush;
    color: $gray;
    text-shadow:none;
  }
  padding-top: 10px;
  min-height: 35px;
  padding-bottom: 10px;
  border-bottom: none;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.07);
  .nav li {
    > a, button {
      &.flexbutton {
        display: inline-block;
        // margin: 10px 6px;
        margin: 0 5px;
        padding: 8px 15px 5px;
        // height: 24px;
        // line-height: 24px;
        font-size: 16px;
        font-weight: bold;
        color: $gray;
        text-decoration: none;
        background: $flush;
        border: 2px solid $gray;
        // box-shadow: inset 0 1px 0 lighten($lightpurple, 8%), 0 1px 2px #333, 0 0 0 6px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
      }
      &.blueflex {
        background: $flush;
        border-color: $blue;
        color: $blue;
      }
      &.flexbutton:hover {
        padding-bottom: 6px;
      }
      &.blueflex:hover {
      }
    }
  }
}

.navbar {
  .nav >li >a,
  .nav > li > a:hover,
  .nav>li>a:focus {
    box-shadow: none;
    padding-bottom: 0;
  }
  .navbar-brand {
    padding: 0 0 0 20px;
    padding-right: 5px;
    width: 300px;
    height: auto;
    padding-top: 0;
  }
}

#topmenu {
  text-align: right;
  .nav {
    float: none;
    display: inline;
    & > li {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      & > ul {
        text-align: left;
        text-transform: none;
        text-shadow: none;
      }
    }
  }
}
#tipue_search_input {
  border: 0;
  width: 165px;
  @media (min-width: $screen-md-min) {
    width: 215px;
  }
}
.navbar-toggle {
  margin-top: 8px;
  margin-bottom:0;
  border-color: $gray;
  .icon-bar {
    background-color: $gray;
  }
}
.nav {
  .search {
    margin-top: 60px;
    .nav-header {
      margin-top: 0;
      border: 0;
      background-color: $purple;
      color: #fff;
      text-shadow: none;
      &:first-child {
        border-radius: 4px 4px 0 0;
      }
    }
  }
  &.sidebar {
    margin-top: 20px;
    width: 170px;
    @media (min-width: $screen-md-min) {
      width: 220px;
      margin-top: 90px;
    }
    @media (max-width: $screen-xs-max) {
      width: auto;
    }
    li.integration {
      padding:5px 10px;
      margin:0;
      a {
        padding:0;
        color: #337ab7;
        text-decoration: none;
        background:none;
        border:none;
        &:hover {
          color: #23527c;
          text-decoration: underline;
        }
      }
      @media(max-width: $screen-xs-max) {
        padding: 0;
      }
    }
    #toggleIntegrations {
      padding:0;
      margin:0;

      li {
        padding: 5px 10px;
        @media(max-width: $screen-xs-max) {
          padding: 0;
        }
      }
    }
    .nav-header {
      margin-top: 0;
      background-color: #9d6ebf;
      color: #fff;
      text-shadow: none;
      padding-left: 5px;
      &:after {
        content: "";
      }
      &:first-child {
        border: 0;
        border-radius: 4px 4px 0 0;
      }
      .toggle {
        font-size: $font-size-small;
      }
      @media (max-width: $screen-xs-max) {
        // display: block;
        width: 100%;
        background-color: white;
        color: black;
        padding-left: 0;
        font-size: $font-size-h2;
        line-height: 20px;
        &:first-child {
          border-radius: 0;
        }
      }
    }
    .tocible_header {
      margin-top: 0;
      background-color: #9d6ebf;
      color: #fff;
      text-shadow: none;
      padding-left: 5px;
    }

    li {
      margin: 0;

      border-right: 1px solid $lightpurple;
      border-left: 1px solid $lightpurple;
      // border-bottom: 1px solid $lightpurple;
      border-bottom: 1px solid $lighterpurple;
      @media (max-width: $screen-xs-max) {
        float: left;
        width: auto;
        border: none;

        &:after {
          content: " | ";
          padding-right: 5px;
        }
        &:last-child:after {
          content: "";
        }
        &>a {
          padding:0;
          display: inline;
        }
        &.selected_integration>a {
          text-decoration: underline;
          color: black;
        }
      }
    }
  }
}
.div-collapse {
  border-top: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.div-collapse {
  overflow-x: visible;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}

.main {
  h2{
      color: $purple;
      font-size: 28px;
      font-weight: 300;
      text-transform: none;
      margin: 30px 0 10px;
      padding-left: 0;
      margin-bottom: 21px;
      border-bottom: 1px solid #EEEEEE;
      padding-bottom: 5px;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
    }
    h3{
      font-style: normal;
      color: #332046;
      font-size: 22px;
      text-transform: none;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      }

    h4{
      color: #404040;
      font-style: normal;
      font-family: 'Open Sans', sans-serif;
      font-size: 17px;
      text-transform: none;
      margin-bottom: 10px;
    }

    h5{
      color: #666666;
      margin-bottom: 10px;
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      text-transform: none;
    }
  ol > li,
  ul > li {
    margin-bottom: 6px;
  }
  ul.intlist {
    margin: 0 auto;
    li {
      border: 0;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 0;
      padding-bottom: 5px;
      padding-top: 5px;
      height: 50px;
    }
  }
  .nav-tabs > li {
    margin-bottom: -1px;
  }
  img {
    width: 100%;
    border: 1px solid #777777;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #pagecontent {
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 18px;
    }
    h3 {
      font-size: 16px;
    }
  }
}

#footer {
  text-align: center;
  margin-top: 24px;
  color: #909090;
}

#signin,
#signup {
  padding-left: 5px;
}


/* Docs Home */

.big_number a {
  color: inherit;
  text-decoration: underline;
}


/* API PAGE STYLING */

.floating-header {
  background-color: rgba(255, 255, 255, .85);
  //width: 100%;
  z-index: 1000;
  &.affix {
    top: 0;
    + .scrollable-api-docs {
      margin-top: 14 0px;
    }
  }
}

.api-page {
  .btn.gradient {
    background: linear-gradient(to bottom,  $btngrey,$btngrey2);
    &:hover, &:focus, &:active {
      background: linear-gradient(to bottom, $btngrey3, $btngrey2);
    }
  }
  .floating-header .btn-toolbar {
    margin-bottom: 0;
  }
  .btn-group {
    margin: 0;
  }
  .api-section-links {
    margin: 0 20px 10px 0;
  }
  .language-links {
    margin-right: 10px;
  }
  h3 {
    text-transform: uppercase;
    margin-top: 25px;
    padding-top: 5px;
  }
  h4 {
    text-transform: uppercase;
    padding-top: 10px;
    border-top: 1px solid #efefef;
    margin-top: 20px;
  }
  h5 {
    text-transform: uppercase;
    color: #666;
  }
  .code-block {
    display: none;
  }
  .code-block.code-block-python {
    visibility: visible;
    display: block;
  }
  /* Offset internal anchors to accommodate for floating nav. */
  .int-anchor {
    display: block;
    visibility: hidden;
    padding-top: 150px; /* fixed header height*/
    margin-top: -150px; /* negative fixed header height */
  }
}

.api-left {
  height: 100%;
}

.api-right {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: rgba(32, 59, 117, 0.07);
  border: 1px solid rgba(32, 59, 117, 0.29);
  border-radius: 3px;
}

.arguments {
  // margin-left: 40px;
  strong {
    /* FIXME - extend bootstrap code element */
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    padding: 2px 4px;
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    font-weight: normal;
    font-size: 85%;
  }
  code {
    color: #333;
  }
  ul {
    list-style-type: disc;
  }
  li {
    // padding: 5px;
  }
}

span.question {
  font-weight: bold
}


/* use width instead of max-width in logo because
 * FF and opera ignore max-width in inlined images
 */
.navbar-brand img {
  width: 300px;
  margin-top: 0;
  @media (min-width: 400px) {
    width: 300px;
  }
  @media (min-width: 320px) {
    width: 100%;
  }
}


/* Integration specific */

.snmp .hint-icon {
  position: absolute;
  width: 15px;
}

.snmp pre {
  position: relative;
  left: 20px;
  width: 60%;
}

.snmp dd {
  margin-left: 10%;
}

.snmp dt {
  margin-top: 20px;
}

dd {
  margin-left: 15px;
}

dt {
  margin-top: 20px;
  margin-bottom: 10px;
}
@media (min-width:$screen-md){
  .navbar-right{
    padding-top: 6px;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
  }
  .navbar{
    .container{
      padding: 0 20px;
    }
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .div-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
  }
}
@media (max-width:$screen-xs){
  .navbar-brand{
    width: 80%!important;
    max-width: 300px;
  }
}

/*
 * This code is courtesy Ben Balter, modified by Parker Moore for jekyllrb.com
 * http://ben.balter.com/2014/03/13/pages-anchor-links/
 */
.header-link {
  position: relative;
  left: -0.5em;
  opacity: 0;
  font-size: 0.8em;

  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}
h1.linked-header { margin-left: -30px;}
h2.linked-header { margin-left: -23px;}
h3.linked-header { margin-left: -20px;}
h4.linked-header { margin-left: -14px;}
h5.linked-header { margin-left: -10px;}
h6.linked-header{
  margin-left: -8px;
}
#pagecontent {
  h1.linked-header { margin-left: -20px;}
  h2.linked-header { margin-left: -14px;}
  h3.linked-header { margin-left: -10px;}
  h4.linked-header { margin-left: -14px;}
  h5.linked-header { margin-left: -10px;}
  h6.linked-header { margin-left: -8px;}
}
h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

/*
 * Tracing API Page
 */
h4.tracing-api {
  margin-top: 20px;
}
/* Hide all code blocks */
.tracing-api .code-block {
  display: none;
}
/* Set the default language code block */
.tracing-api .code-block-console {
  display: block;
}

#TableOfContents {
  ul {
    padding: 0;
    list-style: none;
  }

  > ul > li {
    margin: 0;
    border-right: 1px solid #966ebd;
    border-left: 1px solid #966ebd;
    border-bottom: 1px solid #ddd0ea;
  }

  > ul ul li {
    border: none;
  }
}

// tocible styles to match sidebar
#toc-box {
  border: none;
}
.nav-tabs {
  .tocible {
    ul {
      padding: 0;
      list-style: none;
    }
    li a {
      margin-right: 2px;
      line-height: 1.42857;
      border: 1px solid transparent;
      border-radius: 4px 4px 0 0;
      position: relative;
      display: block;
      padding: 10px 15px;
      &:hover {
        border-color: #eee #eee #ddd;
        text-decoration: none;
        background-color: #eee;
      }
    }
    .tocible_subheading a {
      padding: 5px 25px;
    }
    .tocible_subsubheading a {
      padding: 3px 35px;
    }
  }
}

.main {
  img {
    border: 1px solid #777;
  }
}