// bootstrap customization & font setup
@import "custom";
@import "webfonts";
@import "icons";

// docsearch
@import "main_docsearch";

// global to all pages
@import "pages/global";

// page specific styles that aren't partials go here
// partial css lives with partial
@import "pages/api";
@import "pages/search";
@import "pages/404";
@import "pages/home";

// for now just include ie fixes
@import "ie";