{{ $root := . }}
{{ $saas_cost_integrations := slice
    (dict "name" "databricks" "href" "/cloud_cost_management/saas_costs/?tab=databricks#setup" "src" "integrations_logos/databricks_small.svg")
    (dict "name" "confluent cloud" "href" "/cloud_cost_management/saas_costs/?tab=confluentcloud#setup" "src" "integrations_logos/confluent-cloud_small.svg")
    (dict "name" "mongodb" "href" "/cloud_cost_management/saas_costs/?tab=mongodb#setup" "src" "integrations_logos/mongodb_small.svg")
    (dict "name" "snowflake" "href" "/cloud_cost_management/saas_costs/?tab=snowflake#setup" "src" "integrations_logos/snowflake_small.svg")
    (dict "name" "elastic cloud" "href" "/cloud_cost_management/saas_costs/?tab=elasticcloud#setup" "src" "integrations_logos/elastic-cloud_small.svg")
    (dict "name" "openai" "href" "/cloud_cost_management/saas_costs/?tab=openai#setup" "src" "integrations_logos/openai_small.svg")
    (dict "name" "fastly" "href" "/cloud_cost_management/saas_costs/?tab=fastly#setup" "src" "integrations_logos/fastly_small.svg")
    (dict "name" "twilio" "href" "/cloud_cost_management/saas_costs/?tab=twilio#setup" "src" "integrations_logos/twilio_small.svg")
}}

<div class="saas-cost-integrations">
  <div class="container cards-dd">
    <div class="row row-cols-7 g-2 g-xl-3 justify-content-center">
      {{ range $saas_cost_integrations }}
      <div class="col">
        <a class="card h-100" href="{{ .href }}">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" $root "src" .src "class" "img-fluid" "alt" .name "width" "200") }}
          </div>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</div>