{{ $agent_config_data := $.Site.Data.agent_config }}
{{ $group := (.Get ("group")) }}

{{/* <div class="code-snippet-wrapper">
{{ if $filename }}
<div class="code-filename-wrapper">
<p class="code-filename my-0">{{ $filename }}</p>
</div>
{{ end }}
<div class="code-snippet {{if eq $wrap "true"}}wrap{{end}}">
{{ if ne $disable_copy "true" }}
<div class="code-button-wrapper position-absolute">
<button class="btn text-primary js-copy-button">Copy</button>
</div>
{{ end }}
{{ highlight $code $lang "" }}
</div>
</div>*/}}
