{{ $dot := . }}

{{ $s := newScratch }}

{{ range $versionIndex, $versionNum := (slice "v1" "v2") }}
  {{ with (index $dot.Site.Data.api $versionNum).full_spec_deref }}
    {{ $spec := . }}
    {{ range $path_key, $path_object := $spec.paths }}
      {{ if not (hasPrefix $path_key "x-") }}
        {{ range $action_type, $action := $path_object }}
            {{ $tag := index $action.tags 0 }}
              {{ range $sec := ($action.security | default slice) }}
                  {{ range $k, $v := $sec }}
                      {{ if eq $k "AuthZ" }}
                        {{ range $scope := $v }}
                          {{ $scopeMap := index ($s.Get "scopes" | default dict) $scope | default dict }}
                          {{ $tags := ($scopeMap.tags | default slice) }}
                          {{ if not (in $tags $tag) }}
                              {{ $tags = $tags | append $tag }}
                          {{ end }}
                          {{ $endpoints := ($scopeMap.endpoints | default slice) }}
                          {{ $slug := $action.summary | urlize }}
                          {{ $url := (printf "api/latest/%s/" $tag | urlize) | absLangURL }}
                          {{ $endpoints = $endpoints | append (dict "url" (printf "%s#%s" $url $slug) "summary" $action.summary) }}
                          {{ $updateMap := (dict "endpoints" $endpoints "tags" $tags "desc" (index $spec.components.securitySchemes.AuthZ.flows.authorizationCode.scopes $scope)) }}
                          {{ $scopeMap = merge $scopeMap $updateMap }}
                          {{ $s.SetInMap "scopes" $scope $scopeMap }}
                        {{ end }}
                      {{ end }}
                  {{ end }}
              {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

<!--
For each scope find the common tags and group them together
-->
{{ $tagGroups := slice }}
{{ $scopeGroups := slice }}
{{ $counter := 0 }}
{{ $total := len ($s.Get "scopes") }}
{{ range $scope, $scope_obj := ($s.Get "scopes") }}
  {{ range $t := $scope_obj.tags }}
    {{ $x := (index ($s.Get "tags2Scopes") $t) | default slice }}
    {{ $x = $x | append $scope }}
    {{ $s.SetInMap "tags2Scopes" $t $x }}
  {{ end }}
{{ end }}

{{ range $scope, $scope_obj := ($s.Get "scopes") }}

  {{ $tagGroups = slice }}
  {{ range $scope2, $scope_obj2 := ($s.Get "scopes") }}
    {{ $intersect := (intersect $scope_obj2.tags $scope_obj.tags) }}
    {{ if and ($intersect) (ne $scope_obj2.tags $scope_obj.tags) }}
        {{ $tagGroups = ($tagGroups | append $scope_obj.tags) | uniq }}
        {{ $tagGroups = ($tagGroups | append $scope_obj2.tags) | uniq }}
        {{ $tagGroups = sort $tagGroups }}
    {{ end }}
  {{ end }}

  {{/* if not intersects at all we want to add fresh.. */}}
  {{ if eq (len $tagGroups) 0 }}
    {{ $tagGroups = ($tagGroups | append $scope_obj.tags) | uniq }}
    {{ $tagGroups = sort $tagGroups }}
  {{ end }}

  {{/* key off tags2Scopes to get our scopes */}}
  {{ $scopeGroups = slice }}
  {{ range $tg := $tagGroups }}
    {{ $scopeGroups = ($scopeGroups | append (index ($s.Get "tags2Scopes") $tg)) | uniq }}
  {{ end }}

  {{ $s.SetInMap "tags" (print (delimit $tagGroups ", ")) $scopeGroups }}

{{ end }}


{{ range $tagString, $scopeSlice := ($s.Get "tags") }}
    <h4>{{ $tagString }}</h4>
    {{ range $tag := (split $tagString ", ") }}
      {{ $slug := (replaceRE " " "-" ($tag | humanize | lower)) }}
      <a id="{{ $slug }}"></a>
    {{ end }}
    <div class="table-request schema-table row has-no-expands">
        <div class="col-12">
            <!-- Header -->
            <div class="row table-header">
                <div class="col-4 ps-2 column">
                    <p class="font-semibold">Scope name</p>
                </div>
                <div class="col-3 ps-2 column">
                    <p class="font-semibold">Description</p>
                </div>
                <div class="col-5 ps-2 column">
                    <p class="font-semibold">Endpoints that require this scope</p>
                </div>
            </div>
            <!-- Detail -->
            {{ range $scope := $scopeSlice }}
            {{ $scope_obj := index ($s.Get "scopes") $scope }}
            <div class="row">
                <div class="col-12 first-column">
                    <div class="row first-row">
                        <div class="col-4 p-2 column">
                            <p>{{ $scope }}</p>
                        </div>
                        <div class="col-3 p-2 column">
                            <p>{{ $scope_obj.desc }}</p>
                        </div>
                        <div class="col-5 p-2 column">
                            {{ range $endpoint := $scope_obj.endpoints }}
                              <a href="{{ $endpoint.url }}">{{ $endpoint.summary }}</a><br/>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
{{ end }}
