{{ $dot := . }}

{{ $s := newScratch }}

{{ range $versionIndex, $versionNum := (slice "v1" "v2") }}
  {{ with (index $dot.Site.Data.api $versionNum).full_spec_deref }}
    {{ $spec := . }}
    {{ range $path_key, $path_object := $spec.paths }}
      {{ range $action_type, $action := $path_object }}
          {{ $tag := index $action.tags 0 }}
            {{ range $sec := ($action.security | default slice) }}
                {{ range $k, $v := $sec }}
                    {{ if eq $k "AuthZ" }}
                      {{ range $scope := $v }}
                        {{ $scopeMap := index ($s.Get "scopes" | default dict) $scope | default dict }}
                        {{ $tags := ($scopeMap.tags | default slice) }}
                        {{ if not (in $tags $tag) }}
                            {{ $tags = $tags | append $tag }}
                        {{ end }}
                        {{ $endpoints := ($scopeMap.endpoints | default slice) }}
                        {{ $slug := (replaceRE " " "-" ($action.summary | humanize | lower)) }}
                        {{ $url := (printf "api/latest/%s/" (replaceRE " " "-" ($tag | humanize | lower))) | absLangURL }}
                        {{ $endpoints = $endpoints | append (dict "url" (printf "%s#%s" $url $slug) "summary" $action.summary) }}
                        {{ $updateMap := (dict "endpoints" $endpoints "tags" $tags "desc" (index $spec.components.securitySchemes.AuthZ.flows.authorizationCode.scopes $scope)) }}
                        {{ $scopeMap = merge $scopeMap $updateMap }}
                        {{ $s.SetInMap "scopes" $scope $scopeMap }}
                      {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}


<h2>Available Scopes</h2>

<div class="table-request schema-table row has-no-expands">
  <div class="col-12">
    <div class="row table-header">
      <div class="col-3 column">
          <p class="font-semibold">Name</p>
      </div>
      <div class="col-3 column">
          <p class="font-semibold">Description</p>
      </div>
      <div class="col-6 column">
          <p class="font-semibold">Endpoints that require this scope</p>
      </div>
    </div>

    <div>

      {{ range $scope, $scope_obj := ($s.Get "scopes") }}
      <div class="row table-header">
        <div class="col-12 column">
            <p class="font-semibold">{{ delimit $scope_obj.tags " , " }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 first-column">
          <div class="row first-row">
            <div class="col-3 column">
              <p>{{ $scope }}</p>
            </div>
            <div class="col-3 column">
              <p>{{ $scope_obj.desc }}</p>
            </div>
            <div class="col-6 column">
                {{ range $endpoint := $scope_obj.endpoints }}
                  <a href="{{ $endpoint.url }}">{{ $endpoint.summary }}</a><br/>
                {{ end }}
            </div>
          </div>
        </div>
      </div>
      {{ end }}

    </div>

  </div>
</div>

