<style>
  .appsec-integrations .card img {
    width: 80px;
    height: 80px;
  }

  .appsec-integrations .card:hover {
    scale: 1.03;
    transition: scale 0.3s ease-in-out;
  }

  .appsec-integrations .card {
    scale: 1;
    transition: scale 0.3s ease-in-out;
  }

</style>

<div class="appsec-integrations container cards-dd mb-3">
  <div class="row row-cols-2 row-cols-sm-5 g-2">
    {{ .Inner }}

    <!-- <div class="col">
      <div class="card justify-content-center h-100">
        <a href="{{ .Get "integration-request-link" }}" aria-label="request a missing integration form link" target="_blank">
          <div class="card-body text-center py-1 px-1">
            <img class="img-fluid mx-auto my-auto" src="{{.Site.Params.img_url}}images/icon_question_mark.svg" alt="equest a missing integration" loading="lazy">
            <div class="title fw-bold">Missing Integration?</div>
            <div class="description lh-1">Request your missing integration</div>
          </div>
        </a>
      </div> -->
    </div>
  </div>
</div>
