
<div class="item" data-ref="item">
  <div class="integration">
    <div class="card-content">
      <a href="{{ .Get "link" }}" aria-label="{{ .Get "name" }} datadog integration docs link">
        <picture class="mx-auto my-auto">
          <img class="img-fluid mx-auto my-auto pt-2 pb-5 px-5" src="{{ .Get "logo" }}" alt="{{ .Get "name" }} logo" loading="lazy">
        </picture>
        <div class="text-center picture-title">{{ .Get "name" }}</div>
        <div class="text-center title">{{ .Get "name" }}</div>
        <div class="blurb text-center">{{ .Get "description" }}</div>
        <button type="button">Learn More</button>
      </a>
      <div class="dimmer-cloak"></div>
    </div>
  </div>
</div>