{{ $dot := . }}

<!-- Define supported languages and their setup paths -->
{{ $languages := slice 
  (dict "name" "Java" "logo" "integrations_logos/java.png" "path" "/security/application_security/setup/standalone/java")
  (dict "name" ".NET" "logo" "integrations_logos/dotnet_text.png" "path" "/security/application_security/setup/standalone/dotnet")
  (dict "name" "Go" "logo" "integrations_logos/go-metro.png" "path" "/security/application_security/setup/standalone/go")
  (dict "name" "Ruby" "logo" "integrations_logos/ruby.png" "path" "/security/application_security/setup/standalone/ruby")
  (dict "name" "PHP" "logo" "integrations_logos/php.png" "path" "/security/application_security/setup/standalone/php")
  (dict "name" "Node.js" "logo" "integrations_logos/nodejs.png" "path" "/security/application_security/setup/standalone/nodejs")
  (dict "name" "Python" "logo" "integrations_logos/python.png" "path" "/security/application_security/setup/standalone/python")
}}

<div class="appsec-languages">
  <div class="container cards-dd">
    <div class="row row-cols-2 row-cols-sm-3 g-2 g-xl-3 justify-content-sm-center">
      {{ range $languages }}
      <div class="col">
        <a class="card h-100" href="{{ .path }}">
          <div class="card-body text-center py-2 px-1">
            {{ partial "img.html" (dict "root" $dot "src" .logo "class" "img-fluid" "alt" .name "width" "400") }}
            <div class="mt-2">{{ .name }}</div>
          </div>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</div> 