<div class="col">
  <div class="card h-100">
    <a href="{{ .Get "link" }}" aria-label="{{ .Get "name" }} datadog integration docs link">
      <div class="card-body text-center py-1 px-1">
        <img class="img-fluid mx-auto my-auto" src="{{ .Get "logo" }}" alt="{{ .Get "name" }} logo" loading="lazy">
        <div class="title fw-bold">{{ .Get "name" }}</div>
        <button type="button" class="btn btn-primary btn-sm mt-1 text-uppercase">Learn More</button>
      </div>
    </a>
  </div>
</div>