{{- $product_code := "csm" -}}
<table>
  <thead>
    <tr>
      <th>Resource Type</th>
      <th>Permissions</th>
    </tr>
  </thead>
  <tbody>
    {{ with .Site.Data.product_resource_types_permissions }}
      {{- range . -}}
        {{- if eq .ProductCode $product_code -}}
          {{- range .ResourceTypesPermissions }}
            <tr>
              <td>
                {{ .ResourceType }}
              </td>
              <td class="text-nowrap">
                {{ .Permissions }}
              </td>
            </tr>
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  </tbody>
</table>
