<div class="table-responsive-container">
  <div class="table-scroll">
    <table class="table table-responsive">
    <thead>
      <tr>
        <th>Language</th>
        <th>Library</th>
        <th>Official</th>
        <th>API</th>
        <th>DogStatsD</th>
        <th>Author</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {{ range $e := $.Site.Data.libraries.Classic }}
        {{ range $libName, $info := . }}
            {{ range $i, $el := $info }}
              <tr>
                <td>{{ if eq $i 0}}<strong>{{ $libName }}</strong>{{ end }}</td>
                <td><a href="{{ $el.link }}">{{ $el.name }}</a></td>
                <td>{{ if $el.official}}<i class="icon-tick"></i>{{ end }}</td>
                <td>{{ if $el.api}}<i class="icon-tick"></i>{{ end }}</td>
                <td>{{ if $el.dogstatsd }}<i class="icon-tick"></i>{{ end }}</td>
                <td>{{ if $el.authors }}{{ $el.authors }}{{ end }}</td>
                <td>{{ if $el.notes }}{{ $el.notes }}.{{ end }}</td>
              </tr>
            {{ end }}
        {{ end }}
      {{ end }}
    </tbody>
    </table>
  </div>
</div>