{{ $filename := (.Get ("filename") | default "Code Example") }}
{{ $lang := (.Get ("lang")) }}
{{ $code := trim .Inner "\n"}}
{{ $wrap := (.Get ("wrap"))}}
{{ $disable_copy := (.Get ("disable_copy"))}}

{{ if  not (.Get "lang") }}
    {{ errorf "Code Snippet error: Missing value for param 'lang': %s" .Position }}
{{ end }}

{{/*  This html should not be formatted differently as it will cause issues when used inside of another shortcode (like tabs)  */}}
<div class="code-snippet-wrapper">
<div class="code-filename-wrapper">
<p class="code-filename my-0">{{ $filename }}</p>
<div class="js-code-block-toggle">
<div class="chevron chevron-down"></div>
<div class="chevron chevron-up"></div>
</div>
</div>
<div class="code-snippet {{if eq $wrap "true"}}wrap{{end}}">
{{ if ne $disable_copy "true" }}
<div class="code-button-wrapper position-absolute">
<button class="btn text-primary js-copy-button">Copy</button>
</div>
{{ end }}
{{ highlight $code $lang "" }}
</div>
</div>