{{- $filename := (.Get ("filename")) -}}
{{- $lang := (.Get ("lang")) -}}
{{- $code := (replace (trim .Inner "\n") "\n" "XXXDDOG123") -}}
{{- $wrap := (.Get ("wrap")) -}}
{{- $disable_copy := (.Get ("disable_copy")) -}}
{{- if  not (.Get "lang") -}}
    {{- errorf "Code Snippet error: Missing value for param 'lang': %s" .Position -}}
{{- end -}}
<div class="code-snippet-wrapper">
{{ if $filename }}
<div class="code-filename-wrapper">
<p class="code-filename my-0">{{ $filename }}</p>
</div>
{{ end }}
<div class="code-snippet {{if eq $wrap "true"}}wrap{{end}}">
{{ if ne $disable_copy "true" }}
<div class="code-button-wrapper position-absolute">
<button class="btn text-primary js-copy-button">Copy</button>
</div>
{{ end }}
{{- (replace (highlight $code $lang "") "XXXDDOG123" "<br>") | safeHTML -}}
</div>
</div>
