<details class="collapsible-section">
  <summary class="collapsible-header" tabindex="0" role="button" aria-expanded="false" onkeydown="toggleCollapse(event)">
    {{- $headingLevel := default "h3" (.Get "level") -}}
    <div class="header-content">
      <div class="header-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-chevron-right">
          <path fill="currentColor" d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
        </svg>
      </div>
      <div class="header-text">
        {{ printf "<%s class='header-text-inner'>%s</%s>" $headingLevel (.Get "title") $headingLevel | safeHTML }}
      </div>
    </div>
  </summary>
  <div class="collapsible-content">
    {{.Inner}}
  </div>
</details>

<script>
  function toggleCollapse(event) {
    if (event.key === 'Enter' || event.key === ' ') {
      event.preventDefault();
      event.target.closest('.collapsible-section').toggleAttribute('open');
      event.target.setAttribute('aria-expanded', event.target.closest('.collapsible-section').hasAttribute('open'));
    }
  }
</script>

<style>
  .collapsible-section {
    border: 1px solid #D4BDFB;
    border-radius: 8px;
    margin-bottom: 16px;
    overflow: hidden;
  }

  .collapsible-header {
    display: flex;
    align-items: center;
    padding: 16px;
    cursor: pointer;
    outline: none;
    background-color: #eae2f8;
    transition: background-color 0.3s;
  }

  .collapsible-header:hover {
    background-color: #C7A7F8;
  }

  .collapsible-section[open] .collapsible-header {
    background-color: #632DA6;
    color: white;
  }

  .header-content {
    display: flex;
    align-items: center;
  }

  .header-icon {
    margin-right: 8px;
    display: flex;
    align-items: center;
  }

  .icon-chevron-right {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
    fill: currentColor;
  }

  .collapsible-section[open] .icon-chevron-right {
    transform: rotate(90deg);
  }

  .header-text {
    display: flex;
    align-items: center;
  }

  .header-text-inner {
    margin: 0;
    line-height: 1.5;
  }

  .collapsible-content {
    padding: 16px;
  }
</style>