{{- $headingLevel := default "h3" (.Get "level") -}}
{{- $title := .Get "title" -}}

{{ printf "<%s id=%q class='visually-hidden'>%s</%s>" $headingLevel ($title | urlize) $title $headingLevel | safeHTML }}
<div class="collapsible-section">
  <div class="collapsible-header" tabindex="0" role="button" aria-expanded="false" onclick="this.parentElement.classList.toggle('open')" onkeydown="if(event.key==='Enter'||event.key===' '){event.preventDefault();this.click();}">
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" class="icon-chevron-right">
      <path fill="currentColor" d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
    </svg>
    <span class="header-text">{{ $title }}</span>
  </div>
  <div class="collapsible-content">
    {{.Inner}}
  </div>
</div>
