<span class="copyable-inline-code">
    <code>{{ .Inner }}</code>
    <button class="js-copy-inline-button" aria-label="Copy code">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 192" width="14" height="14" class="copy-icon">
            <path d="M176,140H160V32H52V16H176ZM140,52H16V176H140ZM32,68h92v92H32Z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 192" width="14" height="14" class="check-icon" style="display:none">
            <path d="M65,165.313,5.343,105.657,16.657,94.343,65,142.687,175.343,32.343l11.314,11.314Z"/>
        </svg>
    </button>
</span>
