{{ $dot := . }}
<style>
  .list-group-item.disabled, .list-group-item:disabled {
    background:#efefef;
  }
</style>
<div class="whatsnext">
    <ul class="list-group">
        {{ range $dot.Site.Data.api.v1.full_spec_deref.components.schemas.WidgetDefinition.oneOf }}
          {{ $s := .properties.type.default }}
          {{ $pageExists := false }}
          {{ $filename := (lower (replace (humanize $s) " " "_" )) }}
          {{ if (fileExists (print "dashboards/widgets/" $filename ".md")) }}
            {{ $pageExists = true }}
          {{ end }}
          <a class="{{ if $pageExists }}{{ else }}disabled {{ end }}list-group-item list-group-item-white d-flex justify-content-between align-items-center" {{ if $pageExists }} href="/dashboards/widgets/{{ $filename }}/" {{ end }}>
            <span><span class="text">{{ humanize $s }}</span></span>
            {{ partial "img.html" (dict "root" $dot "src" "icons/list-group-arrow.png" "class" "img-fluid static" "alt" "more") }}
            {{ partial "img.html" (dict "root" $dot "src" "icons/list-group-arrow-r.png" "class" "img-fluid hover" "alt" "more" "disable_lazy" "true") }}
          </a>
        {{ end }}
    </ul>
</div>
<br>
