### Environment variables

{{ if eq (.Get "instrumentationMethod") "sidecar" }}
Unless specified otherwise, all environment variables below should be set in the **sidecar** container. Only environment variables used to configure the tracer should be set in your main application container.
{{ end }}

| Variable                 | Description |
| ------------------------ | ----------- |
| `DD_API_KEY`             | [Datadog API key][1001] - **Required**|
| `DD_SITE`                | [Datadog site][1002] - **Required** |{{ if eq (.Get "instrumentationMethod") "in-process" }}
| `DD_LOGS_ENABLED`        | When true, send logs (stdout and stderr) to Datadog. Defaults to false. |{{ end }}{{ if eq (.Get "instrumentationMethod") "sidecar" }}
| `DD_SERVERLESS_LOG_PATH` | The path where the sidecar should tail logs from. Defaults to `/shared-volume/logs/app.log`. |{{ end }}
| `DD_LOGS_INJECTION`      | When true, enrich all logs with trace data for supported loggers. See [Correlate Logs and Traces][1003] for more information. {{ if eq (.Get "instrumentationMethod") "sidecar" }}Set in your *main* application container, not the sidecar container.{{ end }}|
| `DD_SERVICE`            | See [Unified Service Tagging][1004]. Set in *all* containers. **Recommended** |
| `DD_VERSION`            | See [Unified Service Tagging][1004]. **Recommended** |
| `DD_ENV`                | See [Unified Service Tagging][1004]. **Recommended** |
| `DD_SOURCE`             | Set the log source to enable a [Log Pipeline][1005] for advanced parsing. To automatically apply language-specific parsing rules, set to `{{ .Get "language" }}`, or use your custom pipeline. Defaults to `cloudrun`. |
| `DD_TAGS`               | Add custom tags to your logs, metrics, and traces. Tags should be comma separated in key/value format (for example: `key1:value1,key2:value2`). |

[1001]: https://app.datadoghq.com/organization-settings/api-keys
[1002]: /getting_started/site/
[1003]: /tracing/other_telemetry/connect_logs_and_traces/
[1004]: /getting_started/tagging/unified_service_tagging/
[1005]: /logs/log_configuration/pipelines
[1006]: https://cloud.google.com/run/docs/configuring/services/labels
