<strong>Set up a retention filter for Cloud Run Jobs traces</strong>. Datadog relies on traces to display executions and
tasks in the UI. To ensure traces are retained, create a <a
  href="/tracing/trace_pipeline/trace_retention/#create-your-own-retention-filter">retention filter</a> with the query
<code>@origin:cloudrunjobs</code> and set the span retention rate to 100%.

   <img src="/images/serverless/google_cloud_run/cloud-run-jobs-retention-filter.png"
  alt="Screenshot showing retention filter configuration with @origin:cloudrunjobs query and 100% retention rate"
  style="width:80%;">
