{{- $int_name := (.Get 0 ) -}}
{{- $processing_key := printf "processing_%s" $int_name -}}
{{- if not ($.Scratch.Get $processing_key) -}}
  {{- $.Scratch.Set $processing_key true -}}
  {{- with .Site.GetPage (print "/integrations/" $int_name ".md") -}}
    {{- $pattern := `(?s)### Service Checks\n(.*?)(#{2,3}\s)` -}}
    {{- $matches := findRE $pattern .RawContent 1 -}}
    {{- range $matches -}}
        {{- $content := strings.TrimPrefix "### Service Checks\n" . | strings.TrimSuffix (index (findRE "(#{2,3}\\s)$" . 1) 0) -}}
        {{- $content := replaceRE `\{\{<[^>]+>\}\}` "" $content -}}
        {{- $content | markdownify -}}
    {{- end -}}
  {{- end -}}
  {{- $.Scratch.Delete $processing_key -}}
{{- end -}}