{{- $int_name := (.Get 0 ) -}}
{{- $metric_namespaces := (.Get 1 ) -}}
{{- if and $metric_namespaces (not (reflect.IsSlice $metric_namespaces)) -}}
  {{- $metric_namespaces = split $metric_namespaces " " -}}
{{- end -}}

{{- if $int_name -}}
  <!-- Some edge cases the metadata is from a non-integration source, we get the JSON from websites-sources -->
   <!-- The datafile in sources needs to follow the convention to match: appid_metadata.json -->
  {{- $exceptions := slice "synthetics" "cloud-foundry" -}}
  {{- if in $exceptions $int_name -}}
    {{- $data := index .Site.Data (print $int_name "_metadata") -}}
    {{- if $data -}}
      <table>
        {{- range $data -}}
          {{- $metric := . -}}
          {{- $shouldRender := false -}}
          {{- if not $metric_namespaces -}}
            {{- $shouldRender = true -}}
          {{- else -}}
            {{- range $metric_namespaces -}}
              {{- if hasPrefix $metric.metric_name . -}}
                {{- $shouldRender = true -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}

          {{- if $shouldRender -}}
            <tr>
              <td><strong>{{ .metric_name }}</strong> <br>({{ .metric_type }})</td>
              <td>{{ .description }} {{ with .unit_name }}<br><em>Shown as {{ . }}{{ end }}</em></td>
            </tr>
          {{- end -}}
        {{- end -}}
      </table>
    {{- else -}}
      {{ warnf "%s_metadata.json datafile not found for %s integration." $int_name $int_name }}
    {{- end -}}
  {{- else -}}

  <!-- For integrations we get the metrics from the integration page -->
  <!-- if the page is a draft we can skip -->
  {{- if not .Page.Draft -}}
    {{- partial "integration-content-extractor.html" (dict "context" . "int_name" $int_name "section" "Metrics") -}}
  {{- end -}}
  {{- end -}}
{{- end -}}
