{{ $params := .Params }}

{{ $integration_name := .Page.Params.git_integration_title }}

{{ if (.Get 0 ) }}

  {{ $.Scratch.Set "integration" (.Get 0) }}

{{ else }}

  {{ $.Scratch.Set "integration" $integration_name }}

{{ end }}

{{ $integration := $.Scratch.Get "integration" }}

{{ if or (not (eq $.Page.Site.Params.environment "development")) ($.Page.Site.Data.service_checks) }}

  <!-- get lang specific data file -->
  {{ $.Scratch.Set "data" "" }}
  {{ if ne $.Page.Lang "en"}}
      {{ if (fileExists (print "data/service_checks/" $integration "." $.Page.Lang ".json")) }}
        {{ $.Scratch.Set "data" (index $.Page.Site.Data.service_checks (print $integration "." $.Page.Lang)) }}
      {{ else }}
        {{ $.Scratch.Set "data" (index $.Page.Site.Data.service_checks $integration) }}
      {{ end }}
  {{ else }}
      {{ $.Scratch.Set "data" (index $.Page.Site.Data.service_checks $integration) }}
  {{ end }}
  {{ $data := ($.Scratch.Get "data") }}

  {{ range $data }}

    <p>
      <strong>{{ .check }}</strong><br>
      {{ .description | markdownify }}
    </p>

  {{ end }}


{{ end }}