{{ $integrations := where (where site.Pages "Params.kind" "=" "integration") ".Params.beta" "!=" "true" }}

{{ $lower := sort $integrations "Params.integration_title" }}

{{ $.Scratch.Set "lower_titles" (slice) }}

{{ range $lower }}

  {{ $.Scratch.Add "lower_titles" (lower .Params.integration_title) }}

{{ end }}

{{ range sort ($.Scratch.Get "lower_titles") }}

  {{ $lower_int := . }}

    {{ range $int := $integrations }}

      {{ if eq $lower_int (lower $int.Params.integration_title) }}
        <li class="list-group-item col-lg-2 col-md-3 col-sm-4 col-xs-6"><a href="{{.Permalink}}">{{ .Params.integration_title}}</a></li>
      {{ end }}

    {{ end }}

{{ end }}
