{{ $dot := . }}

<!-- From data file -->
{{ $kind := "integration" }}
{{ if eq site.Language.Lang "ja"}}
    {{ $kind = "インテグレーション"}}
{{ end }}
{{ $integration_list := (where site.Pages "Params.kind" "=" $kind) }}
{{ $integration_list := $integration_list | intersect (where $integration_list ".Params.beta" "!=" true) }}
{{ $integration_list := $integration_list | intersect (where $integration_list ".Params.is_public" "=" true) }}
{{ $integration_list := $integration_list | intersect (where $integration_list ".Params.integration_id" "!=" "datadog-agent") }}
{{ $integration_list := sort $integration_list ".File.BaseFileName" }}

<!-- build filters -->
{{ $.Scratch.Set "filters" (slice)}}
{{ range $index, $element := $integration_list }}
    {{ $urlname := $element.File.TranslationBaseName }}
    {{ $src := (print "images/integrations_logos/" ($urlname | lower) ".png")}}
    {{ $indx :=  $src }}
    {{ range $e := $element.Params.categories }}
        {{ if and $indx (fileExists (print "static/" $src)) }}
          {{ with $e }}
            {{ if not (in ($.Scratch.Get "filters") (. | lower)) }}
                {{ $.Scratch.Add "filters" (. | lower) }}
            {{ end }}
          {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

<!-- build tiles -->
{{- $s := newScratch -}}
{{- range $k, $v := $integration_list -}}
  {{- $path := (print $v.File.BaseFileName) -}}
  {{- $s.SetInMap $path "id" $k -}}
  {{- $s.SetInMap $path "name" ($v.Params.name | default ($v.File.TranslationBaseName | lower))  -}}
  {{- $s.SetInMap $path "item_class" "" -}}
  {{- $s.SetInMap $path "redirect" (print "integrations/" $v.Params.name "/") -}}
  {{- $s.SetInMap $path "blurb" $v.Params.short_description -}}
  {{- $s.SetInMap $path "public_title" $v.Params.public_title -}}
  {{- $s.SetInMap $path "integration_title" $v.Params.integration_title -}}
  {{- $curr_categories := slice -}}
  {{- range $i, $e := $v.Params.categories -}}
    {{- $curr_categories = $curr_categories | append (print "cat-" (replace $e "/" "" | urlize)) -}}
  {{- end -}}
  {{- $s.SetInMap $path "tags" ($curr_categories | default slice) -}}
  {{- $basename := $v.Params.integration_id | default ($v.Params.name | lower) | default ($v.File.TranslationBaseName | lower) }}
  <!-- we need to overwrite system or network tiles to be more specific -->
  {{- if in (slice "system" "network") $v.Params.integration_id  -}}
    {{- $basename = ($v.Params.name | lower) | default ($v.File.TranslationBaseName | lower) -}}
  {{- end -}}
  {{- $int_logo := partial "integrations-logo.html" (dict "context" $dot "basename" $basename "variant" "large") -}}
  {{- $s.SetInMap $path "int_logo" $int_logo -}}
  {{ if $int_logo }}
    {{- $s.SetInMap "hits" $path ($s.Get $path) -}}
  {{ end }}
{{- end -}}
{{- $integrationData := ($s.GetSortedMapValues "hits") -}}
{{- $json := $integrationData | jsonify -}}

<script type="text/javascript">
    var data_resources = [];
    var integrations = {{ $json }};
    window.integrations = JSON.parse(integrations);
</script>

<div class="d-block d-sm-none mt-40 mb-40 dropdown">
    <button id="dropdownMenuLink" class="integration-popper-button btn btn-lg btn-block btn-outline-primary" type="button">{{ i18n "all" }}</button>
    <div id="integration-popper" class="dropdown-menu" style="display:none;" data-ref="mobilecontrols">
        <a data-ref="filter" data-filter="all" href="#all" class="dropdown-item sort-time">{{ i18n "all" }}</a>
        {{ range $i, $e := (sort ($.Scratch.Get "filters") "value" "asc") }}
            <a data-ref="filter" data-filter=".cat-{{ replace $e "/" "" | urlize }}" href="#cat-{{ replace $e "/" "" | urlize }}" class="dropdown-item sort-time sort-{{ replace $e "/" "" | urlize }}">{{ $e | upper }}</a>
        {{ end }}
    </div>
</div>

<div class="filters controls d-none d-sm-block" data-ref="controls">
    <a data-ref="filter" data-filter="all" href="#all" class="mb-1 mr-1 btn btn-sm-tag btn-outline-secondary sort-reset">{{ i18n "all" }}</a>
    {{ range $i, $e := (sort ($.Scratch.Get "filters")) }}<a data-ref="filter" data-filter=".cat-{{ replace $e "/" "" | urlize }}" href="#cat-{{ replace $e "/" "" | urlize }}" class="mb-1 mr-1 btn btn-sm-tag btn-outline-secondary sort-time sort-{{ replace $e "/" "" | urlize }}">{{ $e | upper }}</a>{{ end }}
</div>

<div class="input-group mt-4">
    <span class="input-group-prepend">
        <span class="input-group-text">{{ partial "img.html" (dict "root" . "src" "icons/nav_search_2.svg" "alt" "search" "width" "20") }}</span>
    </span>
    <input class="form-control integration-search" data-ref="search" placeholder="Search for an integration..." />
</div>

<!-- using 5 col -->
<div class="row no-gutters integration-tiles mt-4" data-ref="container">
    {{ range $integration := $integrationData }}
        {{ if $integration.int_logo }}
            <div id="mixid_{{ $integration.id }}" class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2-4 mix text-center {{ range $cat := $integration.tags }} {{ $cat }} {{ end }}" data-id="{{ $integration.id }}" data-ref="item">
                <div id="{{ $integration.name }}" class="card">
                    {{ if in $integration.tags "cat-marketplace" }}
                        <div class="card-banner">
                            <p class="font-primary font-weight-bold text-uppercase">Marketplace</p>
                        </div>
                    {{ end }}
                    <a class="card-img" href="{{ $integration.redirect | absLangURL }}">
                        <picture class="mx-auto">
                            <img class="img-fluid mx-auto"
                                 src="{{ $integration.int_logo }}"
                                 alt="integration">
                        </picture>
                    </a>
                    <a class="card-img-gray" href="{{ $integration.redirect | absLangURL }}">
                        <picture class="mx-auto">
                            <img class="img-fluid mx-auto"
                                 src="{{ $integration.int_logo }}"
                                 alt="integration" style="filter: saturate(0%);">
                        </picture>
                    </a>
                    <div class="text-center title">{{ $integration.integration_title }}</div>
                    <div class="card-body">
                        <a class="card-button" href="{{ $integration.redirect | absLangURL }}">
                            <h4 class="card-title">{{ $integration.integration_title }}</h4>
                            <p class="card-text">{{ $integration.blurb }}</p>
                            <div class="btn-container"><button type="button" class="btn btn-sm btn-outline-primary btn-block">GO</button></div>
                        </a>
                    </div>
                </div>
            </div>
        {{ end }}
    {{ end }}
</div>
