{{ $href := .Get "href" }}
{{ $logo_id := .Get "logo_id" }}
{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default "" }}
{{ $title := .Get "title" }}
{{ $preview := .Get "preview" }}

{{ $int_logo := "" }}
{{ with $logo_id }}
  {{ $int_logo = partialCached "integrations-logo.html" (dict "context" $ "basename" . "variant" "avatar") . "avatar" }}
{{ end }}
{{ if not $int_logo }}
  {{ with $src }}
    {{ $int_logo = (print $.Site.Params.img_url "images/" .) | safeURL }}
  {{ end }}
{{ end }}

<div class="item">
  <div class="integration{{ if eq $preview "true" }} integration-marketplace{{ end }}">
    {{ if eq $preview "true" }}
      <div class="card-banner">
        <p class="font-primary fw-bold text-uppercase text-center">Preview</p>
      </div>
    {{ end }}
    <div class="card-content">
      <a href="{{ $href }}">
        {{ with $int_logo }}
          <picture class="mx-auto my-auto">
            <img class="img-fluid mx-auto my-auto pt-2 pb-5 px-5" src="{{ . }}" alt="{{ $alt }}" loading="lazy">
          </picture>
          <div class="text-center picture-title">{{ $title }}</div>
        {{ else }}
          <div class="text-center picture-title" style="position: static;">{{ $title }}</div>
        {{ end }}
      </a>
    </div>
  </div>
</div>
