<!--
    Output the latest version of a specific Lambda layer.
    These version numbers are updated by the Serverless team.
-->
{{- if  not (.Get "layer") -}}{{ errorf "latest-lambda-layer-version shortcode error: Missing value for param 'layer': %s" .Position }}{{- end -}}

<!-- Python Layer -->
{{- if eq (.Get "layer") "python" -}}
    54
{{- end -}}

<!-- Node Layer -->
{{- if eq (.Get "layer") "node" -}}
    74
{{- end -}}

<!-- Ruby Layer -->
{{- if eq (.Get "layer") "ruby" -}}
    13
{{- end -}}

<!-- Lambda Extension -->
{{- if eq (.Get "layer") "extension" -}}
    21
{{- end -}}

<!-- dd-trace-java Layer -->
{{- if eq (.Get "layer") "dd-trace-java" -}}
    4
{{- end -}}

<!-- dd-trace-dotnet Layer -->
{{- if eq (.Get "layer") "dd-trace-dotnet" -}}
    1
{{- end -}}
