{{ $dot := . }}
{{- $href := .Get "href" -}}
{{- $tag := .Get "tag" -}}
{{- $text := .Inner -}}

{{ if eq (substr $href 0 4) "http"}}
    {{ $.Scratch.Set "link" $href}}
{{ else }}
    {{ if eq (substr $href 0 1) "/"}}
        {{ $.Scratch.Set "link" ((substr $href 1) | absLangURL) }}
    {{ else }}
        {{ $.Scratch.Set "link" ($href | absLangURL) }}
    {{ end }}
{{ end }}

{{/*
  If the url ends with a anchor link e.g #graphing then make sure this doesn't get stripped during the abslang
*/}}
{{ $fragment := (urls.Parse $href).Fragment }}
{{ if $fragment }}
  {{ if not (strings.HasSuffix ($.Scratch.Get "link") (print "#" $fragment)) }}
    {{ $.Scratch.Set "link" (print ($.Scratch.Get "link") "#" $fragment) }}
  {{ end }}
{{ end }}

{{ $link := $.Scratch.Get "link" }}

{{- with .Parent -}}
    <a class="list-group-item list-group-item-white d-flex justify-content-between align-items-center" href="{{ $link }}">
        <span><span class="text">{{ $text }}</span>{{ if $tag }}<span class="badge badge-white">{{ $tag | upper }}</span>{{ end }}</span>
        {{ partial "img.html" (dict "root" $dot "src" "icons/list-group-arrow.png" "class" "img-fluid static" "alt" "more") }}
        {{ partial "img.html" (dict "root" $dot "src" "icons/list-group-arrow-r.png" "class" "img-fluid hover" "alt" "more" "disable_lazy" "true") }}
    </a>
{{- else -}}
    <a class="list-group-item list-group-item-white d-flex justify-content-between align-items-center" href="{{ $link }}">
        <span><span class="text">{{ $text }}</span>{{ if $tag }}<span class="badge badge-white">{{ $tag | upper }}</span>{{ end }}</span>
        {{ partial "img.html" (dict "root" $dot "src" "icons/list-group-arrow.png" "class" "img-fluid static" "alt" "more") }}
        {{ partial "img.html" (dict "root" $dot "src" "icons/list-group-arrow-r.png" "class" "img-fluid hover" "alt" "more" "disable_lazy" "true") }}
    </a>
{{- end }}
