Datadog publishes new releases of the `serverless-init` container image to Google's gcr.io, AWS's ECR, and on Docker Hub:

| hub.docker.com | gcr.io | public.ecr.aws |
| ---- | ---- | ---- |
| datadog/serverless-init | gcr.io/datadoghq/serverless-init | public.ecr.aws/datadog/serverless-init |

Images are tagged based on semantic versioning, with each new version receiving three relevant tags:

- `1`, `1-alpine`: use these to track the latest minor releases, without breaking changes
- `1.x.x`, `1.x.x-alpine`: use these to pin to a precise version of the library
- `latest`, `latest-alpine`: use these to follow the latest version release, which may include breaking changes

{{ if eq (.Get "mode") "in-container" }}Add the following instructions and arguments to your Dockerfile.

```dockerfile
COPY --from=datadog/serverless-init:<YOUR_TAG> /datadog-init /app/datadog-init
ENTRYPOINT ["/app/datadog-init"]
CMD [{{ .Get "cmd" | safeHTML }}]
```

<!-- We can't use the collapse-content.html shortcode inside of another shortcode. -->
<details class="collapsible-section">
  <summary class="collapsible-header" tabindex="0" aria-expanded="false">
    <div class="header-content">
      <div class="header-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-chevron-right">
          <path fill="currentColor" d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
      </div>
      <div class="header-text">
        <h4 class='header-text-inner'>Alternative configuration</h4>
      </div>
    </div>
  </summary>
  <div class="collapsible-content">

Datadog expects `serverless-init` to be the top-level application, with the rest of your app's command line passed in for `serverless-init` to execute.

If you already have an entrypoint defined inside your Dockerfile, you can instead modify the CMD argument.

```dockerfile
CMD ["/app/datadog-init", {{ .Get "cmd" | safeHTML }}]
```

If you require your entrypoint to be instrumented as well, you can instead swap your entrypoint and CMD arguments.

```dockerfile
ENTRYPOINT ["/app/datadog-init"]
CMD ["/your_entrypoint.sh", {{ .Get "cmd" | safeHTML }}]
```

As long as your command to run is passed as an argument to `datadog-init`, you will receive full instrumentation.

  </div>
</details>
<br/>
{{ end }}
