{{ $regions := slice "us" "us3" "us5" "eu" "gov" "ap1" -}}
{{- range $regions -}}
{{- $region := . -}}
{{- $content := "" -}}
{{- if eq $region "us" -}}
{{- $content = "datadoghq.com" -}}
{{- else if eq $region "ap1" -}}
{{- $content = "ap1.datadoghq.com" -}}
{{- else if eq $region "us3" -}}
{{- $content = "us3.datadoghq.com" -}}
{{- else if eq $region "us5" -}}
{{- $content = "us5.datadoghq.com" -}}
{{- else if eq $region "gov" -}}
{{- $content = "ddog-gov.com" -}}
{{- else if eq $region "eu" -}}
{{- $content = "datadoghq.eu" -}}
{{- end -}}
<span class="d-none site-region-container" data-region="{{ $region }}">{{ $content | markdownify }}</span>
{{- end -}}

