{{/*  
    keep all markup below left aligned   
*/}}
{{ if  not (.Get "region") }}
{{ errorf "Site region error: Missing region for param 'region': %s" .Position }}
{{ end }}

{{ $region := .Get "region" }}
{{ $listOfPages := slice "account_management" "agent" "getting_started"}}
{{ if in $listOfPages .Page.Type}}
<div class="d-none site-region-container" data-region="{{ $region }}">
{{.Inner}}
</div>
{{ else }}
<div class="d-none site-region-container" data-region="{{ $region }}"><p>{{- .Inner | .Page.RenderString -}}</p></div>
{{ end }}