{{- $dot := . -}}
{{- $file := .Get ("file") -}}
{{- $nocomments := .Get "nocomments" -}}
{{- $languages_str := .Get "languages" -}}
{{- $languages := (slice $languages_str ) -}}
{{- if $languages -}}
  {{- range $languages -}}
    {{- $file_ext := (printf "%s%s" $file .) -}}
    {{- partial "snippet-code-block.html" (dict "context" $dot "file" $file_ext "nocomments" $nocomments ) -}}
  {{- end -}}
{{- else -}}
  {{- partial "snippet-code-block.html" (dict "context" $dot "file" $file "nocomments" $nocomments ) -}}
{{- end -}}