{{- $dot := . -}}
{{- $file := .Get ("file") -}}

{{- if .Get ("highlight") -}}
  {{ $.Scratch.Add "highlight" (.Get ("highlight")) }}
{{- else -}}
  {{ $.Scratch.Add "highlight" false }}
{{- end -}}
{{ $highlight := $.Scratch.Get "highlight" }}

{{- if .Get ("nocomments") -}}
  {{ $.Scratch.Add "nocomments" (.Get ("nocomments")) }}
{{- else -}}
  {{ $.Scratch.Add "nocomments" false }}
{{- end -}}
{{ $nocomments := $.Scratch.Get "nocomments" }}

{{- if .Get ("static") -}}
  {{ $.Scratch.Add "static" (.Get ("static")) }}
{{- else -}}
  {{ $.Scratch.Add "static" false }}
{{- end -}}
{{ $static := $.Scratch.Get "static" }}

{{- $languages_str := .Get "languages" -}}
{{- $languages := (slice $languages_str ) -}}
{{- if $languages -}}
  {{- range $languages -}}
    {{- $file_ext := (printf "%s%s" $file .) -}}
    {{- partial "snippet-code-block.html" (dict "context" $dot "file" $file_ext "highlight" $highlight "nocomments" $nocomments "static" $static ) -}}
  {{- end -}}
{{- else -}}
  {{- partial "snippet-code-block.html" (dict "context" $dot "file" $file "highlight" $highlight "nocomments" $nocomments "static" $static ) -}}
{{- end -}}