<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Environment variable</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="/tracing/metrics/runtime_metrics/">Runtime Metrics</a></td>
      <td><code>DD_RUNTIME_METRICS_ENABLED</code></td>
    </tr>
    <tr>
      <td><a href="/tracing/other_telemetry/connect_logs_and_traces/">Log Injection</a></td>
      <td><code>DD_LOGS_INJECTION</code></td>
    </tr>
    <tr>
      <td><a href="/profiler/">Continuous Profiler</a></td>
      <td><code>DD_PROFILING_ENABLED</code></td>
    </tr>
    <tr>
      <td><a href="/data_streams/">Data Streams Monitoring</a></td>
      <td><code>DD_DATA_STREAMS_ENABLED</code></td>
    </tr>
    <tr>
      <td><a href="/security/application_security/">App and API Protection</a></td>
      <td><code>DD_APPSEC_ENABLED</code></td>
    </tr>
    <tr>
      <td><a href="/security/code_security/iast/">Runtime Code Analysis (IAST)</a></td>
      <td><code>DD_IAST_ENABLED</code></td>
    </tr>
    <tr>
      <td><a href="/tracing/trace_collection/dynamic_instrumentation/">Dynamic Instrumentation</a></td>
      <td><code>DD_DYNAMIC_INSTRUMENTATION_ENABLED</code></td>
    </tr>
    <tr>
      <td><a href="/data_jobs/">Data Jobs Monitoring</a></td>
      <td><code>DD_DATA_JOBS_ENABLED</code></td>
    </tr>
    <tr>
      <td><a href="/security/code_security/software_composition_analysis/">Software Composition Analysis</a></td>
      <td><code>DD_APPSEC_SCA_ENABLED</code></td>
    </tr>
  </tbody>
</table>
