<section id="menu">
    <ul>
        {{ range $key, $taxonomy := site.Taxonomies.examples }}

          {{ $examples := where ($taxonomy.Pages) "Section" "examples" }}

          {{ if gt (len $examples) 0 }}

            {{ range $examples }}

              {{ range .Params.examples }}

                {{ if eq (. | urlize)  $key }}

                  {{ $.Scratch.Set "example" . }}

                {{ end }}

              {{ end }}

            {{ end }}

            <li><a href="{{ (print "examples/" $key) | absLangURL }}">{{ $.Scratch.Get "example" }}</a> - ({{len $examples}})</li>

          {{ end }}

        {{ end }}
    </ul>
</section>
