<div class="container cards-dd tile-nav mb-10">
    <div class="card-deck">
        <a class="card agent" href="{{ "agent/" | absLangURL }}">
            <div class="card-body text-center">
                {{ $url := (print (site.Params.img_url) "images/icons/agent.png"  "?ch=Width,DPR&fit=max&auto=format") | safeURL }}
                <picture class="mx-auto">
                    <source srcset="{{ $url }}&w=80 1x, {{ $url }}&w=80&dpr=2 2x" media="(min-width: 576px)">
                    <source srcset="{{ $url }}&w=47 1x, {{ $url }}&w=47&dpr=2 2x" media="(min-width: 0px)">
                    <img class="img-fluid mx-auto" srcset="{{ $url }}&w=80" alt="agent">
                </picture>
                <p class="title">{{ i18n "agent" }}</p>
                <p class="desc d-none d-sm-inline-block">{{ i18n "install_agent_sentence" | safeHTML }}</p>
            </div>
        </a>
        <a class="card integrations" href="{{ "integrations/" | absLangURL }}">
            <div class="card-body text-center">
                {{ $url := (print (site.Params.img_url)  "images/icons/integrations.png"  "?ch=Width,DPR&fit=max&auto=format") | safeURL }}
                <picture class="mx-auto">
                    <source srcset="{{ $url }}&w=80 1x, {{ $url }}&w=80&dpr=2 2x" media="(min-width: 576px)">
                    <source srcset="{{ $url }}&w=47 1x, {{ $url }}&w=47&dpr=2 2x" media="(min-width: 0px)">
                    <img class="img-fluid mx-auto" srcset="{{ $url }}&w=80" alt="integrations">
                </picture>
                <p class="title">{{ i18n "integrations" }}</p>
                <p class="desc d-none d-sm-inline-block">{{ i18n "integrations_sentence" | safeHTML }}</p>
            </div>
        </a>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
        <a class="card graphing" href="{{ "graphing/" | absLangURL }}">
            <div class="card-body text-center">
                {{ $url := (print (site.Params.img_url) "images/icons/graphing.png"  "?ch=Width,DPR&fit=max&auto=format") | safeURL }}
                <picture class="mx-auto">
                    <source srcset="{{ $url }}&w=80 1x, {{ $url }}&w=80&dpr=2 2x" media="(min-width: 576px)">
                    <source srcset="{{ $url }}&w=47 1x, {{ $url }}&w=47&dpr=2 2x" media="(min-width: 0px)">
                    <img class="img-fluid mx-auto" srcset="{{ $url }}&w=80" alt="graphing">
                </picture>
                <p class="title">{{ i18n "graphing" }}</p>
                <p class="desc d-none d-sm-inline-block">{{ i18n "graphing_sentence" | safeHTML }}</p>
            </div>
        </a>
        <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
        <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 3 on lg--></div>
        <div class="w-100 d-none d-xl-block"><!-- wrap every 3 on xl--></div>
        <a class="card alerting" href="{{ "monitoring/" | absLangURL }}">
            <div class="card-body text-center">
                {{ $url := (print (site.Params.img_url) "images/icons/alerting.png"  "?ch=Width,DPR&fit=max&auto=format") | safeURL }}
                <picture class="mx-auto">
                    <source srcset="{{ $url }}&w=80 1x, {{ $url }}&w=80&dpr=2 2x" media="(min-width: 576px)">
                    <source srcset="{{ $url }}&w=47 1x, {{ $url }}&w=47&dpr=2 2x" media="(min-width: 0px)">
                    <img class="img-fluid mx-auto" srcset="{{ $url }}&w=80" alt="alerting">
                </picture>
                <p class="title">{{ i18n "alerting" }}</p>
                <p class="desc d-none d-sm-inline-block">{{ i18n "alerting_sentence" | safeHTML }}</p>
            </div>
        </a>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
        <a class="card tracing" href="{{ "tracing/" | absLangURL }}">
            <div class="card-body text-center">
                {{ $url := (print (site.Params.img_url) "images/icons/tracing_apm.png"  "?ch=Width,DPR&fit=max&auto=format") | safeURL }}
                <picture class="mx-auto">
                    <source srcset="{{ $url }}&w=80 1x, {{ $url }}&w=80&dpr=2 2x" media="(min-width: 576px)">
                    <source srcset="{{ $url }}&w=47 1x, {{ $url }}&w=47&dpr=2 2x" media="(min-width: 0px)">
                    <img class="img-fluid mx-auto" srcset="{{ $url }}&w=80" alt="tracing">
                </picture>
                <p class="title">{{ i18n "apm_tracing" }}</p>
                <p class="desc d-none d-sm-inline-block">{{ i18n "apm_sentence" | safeHTML }}</p>
            </div>
        </a>
        <a class="card developers" href="{{ "developers/" | absLangURL }}">
            <div class="card-body text-center">
                {{ $url := (print (site.Params.img_url) "images/icons/developers.png"  "?ch=Width,DPR&fit=max&auto=format") | safeURL }}
                <picture class="mx-auto">
                    <source srcset="{{ $url }}&w=80 1x, {{ $url }}&w=80&dpr=2 2x" media="(min-width: 576px)">
                    <source srcset="{{ $url }}&w=47 1x, {{ $url }}&w=47&dpr=2 2x" media="(min-width: 0px)">
                    <img class="img-fluid mx-auto" srcset="{{ $url }}&w=80" alt="developers">
                </picture>
                <p class="title">{{ i18n "developer_tools" }}</p>
                <p class="desc d-none d-sm-inline-block">{{ i18n "developer_tools_sentence" | safeHTML }}</p>
            </div>
        </a>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
        <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
        <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 3 on lg--></div>
        <div class="w-100 d-none d-xl-block"><!-- wrap every 3 on xl--></div>
    </div>
</div>

