{{ $text := .Get "text" }}
{{ $tooltip := .Get "tooltip" }}
<span
  x-data="{ open: false, timer: null }"
  @mouseenter="timer = setTimeout(() => open = true, 200)"
  @mouseleave="clearTimeout(timer); open = false"
  @focus="open = true"
  @blur="open = false"
  @keydown.escape="open = false"
  class="tooltip-container"
>
  <button
    @click="open = !open"
    :aria-expanded="open"
    :aria-describedby="$id('tooltip')"
    class="tooltip-trigger"
  >
    {{ $text }}
  </button>
  <span
    x-show="open"
    x-transition:enter="transition ease-out duration-200"
    x-transition:enter-start="opacity-0 transform scale-95"
    x-transition:enter-end="opacity-100 transform scale-100"
    x-transition:leave="transition ease-in duration-150"
    x-transition:leave-start="opacity-100 transform scale-100"
    x-transition:leave-end="opacity-0 transform scale-95"
    class="tooltip-content"
    role="tooltip"
    :id="$id('tooltip')"
  >
    {{ $tooltip }}
    <svg class="tooltip-arrow" width="14" height="7" viewBox="0 0 14 7">
      <path d="M7 7L0 0h14z" fill="currentColor"/>
    </svg>
  </span>
</span>