{{ $errors := $.Site.Data.reference.errors | default (dict) }}
{{ $regexToFixMdLinks := `\[([^\[]+)\](\(.*\))` }}
{{ range $code, $obj := $errors}}
  <div class="py-3" style="border-bottom:2px solid #DADADA">
    <h2>{{ $obj.code }} {{ $obj.title }}</h2>
    <p>{{ (replaceRE $regexToFixMdLinks "$1" $obj.description) | markdownify }}</p>
    {{ with $obj.rationale }}
      <strong>Rationale</strong>
      <p>{{ (replaceRE $regexToFixMdLinks "$1" .) | markdownify }}</p>
    {{ end }}
    {{ with $obj.resolution }}
      <strong>Resolution</strong>
      <p>{{ (replaceRE $regexToFixMdLinks "$1" .) | markdownify }}</p>
    {{ end }}
    {{ with $obj.examples }}
      <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{$obj.code}}" aria-expanded="false" aria-controls="collapse{{$obj.code}}">
          Examples
        </button>
      </p>
      <div class="collapse" id="collapse{{$obj.code}}">
        <div class="card card-body">
          {{ range $i, $ex := . }}
            <h4>Example {{ add $i 1 }}</h4>
            <p>{{ $ex.title | markdownify }}</p>
            <strong>VRL program</strong>
            {{ print "```bash\n" $ex.source "\n```" | markdownify }}
            <strong>How to fix it</strong>
            {{ highlight $ex.diff "diff" }}
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
