{{ define "main" }}
    {{ $dot := . }}
    {{ $contentList := sort (where .Site.Pages "Type" "=" "apicontent") "Params.order" }}
    {{ $contentListCount := (len $contentList)}}
    {{ $codeList := sort (where .Site.Pages "Type" "=" "apicode") "Params.order" }}
    {{ $codeListCount := (len $codeList)}}


    <div class="row sticky api-nav no-gutters" style="">
        <div class="col-12 col-lg-6">
            <div class="d-lg-none" style="background:#fff;padding:10px;">
                <label class="sr-only" for="api-select">API Select</label>
                <select id="api-select" class="api-select custom-select">
                    <option selected>API</option>
                    {{ range $index, $element := sort (where .Site.Pages "Type" "=" "apicontent") "Params.order" }}
                        {{ if (or (in (string $element.Params.order) ".") (eq $index 0)) }}

                        {{ else }}
                            <option value="#{{ lower (replace $element.Title " " "-") }}">{{ $element.Title }}</option>
                        {{ end }}
                    {{ end }}
                </select>
                <!--<div class="dropdown">
                    <button class="api-popper-button btn btn-lg btn-block btn-outline-primary" type="button">
                        API
                    </button>
                    <div id="api-popper" class="dropdown-menu" style="display:none;">
                        {{ range $index, $element := sort (where .Site.Pages "Type" "=" "apicontent") "Params.order" }}
                            {{ if (or (in (string $element.Params.order) ".") (eq $index 0)) }}

                            {{ else }}
                                <a href="#{{ lower (replace $element.Title " " "-") }}" class="dropdown-item">{{ $element.Title }}</a>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>-->
            </div>
        </div>
        <div class="col-12 col-lg-6">
            {{ partial "codenav/codenav.html" . }}
        </div>
    </div>

    {{ range $index, $element := $contentList }}
        {{ $myindex := (add $index 1) }}
        <div class="row api-row">
            <div class="col-12 col-lg-6 api-content">
                {{ $element.Content }}
            </div>
            {{ $item := (index $codeList $index) | default (dict "Content" "")}}
            {{ $content := $item.Content | default "" }}
            {{ $codelen := len $content | default 0 }}
            <div class="col-12 col-lg-6 api-code {{ if eq $codelen 0 }}empty{{ end }}">
                {{ if gt $codelen 0 }}
                    <div class="code-container">
                        {{ (index $codeList $index).Content }}
                    </div>
                {{ end }}
            </div>
        </div>
    {{ end }}

{{ end }}
