{{ define "main" }}
    {{ $dot := . }}
    {{ $contentList := sort (where .Site.Pages "Type" "=" "apicontent") "Params.order" }}
    {{ $contentListCount := (len $contentList)}}
    {{ $codeList := sort (where .Site.Pages "Type" "=" "apicode") "Params.order" }}
    {{ $codeListCount := (len $codeList)}}

    <div class="row sticky api-nav no-gutters" style="">
        <div class="d-none d-lg-flex col-lg-6"></div>
        <div class="col-12 col-lg-6">
            {{ partial "codenav/codenav.html" . }}
        </div>
    </div>

    {{ range $index, $element := $contentList }}
        {{ $myindex := (add $index 1) }}
        <div class="row">
            <div class="col-12 col-lg-6 api-content">
                {{ $element.Content }}
            </div>
            <div class="col-12 col-lg-6 api-code">
                <div>
                    {{ (index $codeList $index).Content }}
                </div>
            </div>
        </div>
    {{ end }}

{{ end }}