{{ define "main" }}

    {{ $sidebar := .Params.sidebar }}
    {{ $guides := ( where .Site.Pages "Params.kind" "==" "guide" ) and (.Site.Language.Lang "==" "en" ) }}

    <div class="container">

        <div class="row">
            <div class="col-sm-3 col-md-3 hidden-xs hidden-print" id="sidebarcolumn">
                <ul class="nav nav-tabs nav-stacked sidebar">
                    <li class="nav-header">{{ i18n "documentation_search" }}</li>
                    <li>
                        <form action="{{ absLangURL "search/" }}">
                            <input type="text" name="q" id="tipue_search_input" autocomplete="off"
                                   style="background-image: url({{ partial "img.html" (dict "root" . "src" "search.png") }});"
                            required>
                        </form>
                    </li>

                    {{ if $sidebar }} <li class='nav-header'>{{ i18n "toc" }}</li> {{ end }}
                    {{ range $k, $v := $sidebar.nav }}

                    {{ if ne $v.header nil }}

                    {{ else }}

                    <li><a href="#{{$v.href}}">{{$v.text}}</a></li>

                    {{ end }}

                    {{ end }}

                    {{ if $guides }} <li class="nav-header">{{ i18n "guides" }}</li> {{ end }}

                    {{ range sort $guides "Params.listorder" "asc" }}

                    {{ if and ( isset .Params "listorder" ) ( ne .Params.beta true ) }}

                    <li><a href="#">{{ .Title }}</a></li>

                    {{ end }}

                    {{ end }}

                </ul>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 main">
                <h1 id="pagetitle">{{ .Title }}</h1>
                <div id="tipue_search_content"></div>
            </div>
        </div>

    </div>
{{ end }}