{{ define "main" }}
    {{ $media := .Params.tile.media | default .Params.media | default "" }}

    <div class="row">
        <div class="col-12 order-1">
            <h1 id="pagetitle">{{ .Params.integration_title | default .Title }}</h1>
        </div>
        <div class="col-12">
            {{ partial "breadcrumbs.html" . }}
        </div>
    </div>

    {{ partial "integration-labels/integration-labels.html" . }}
    {{ partial "site_support_banner/site_support_banner.html" . }}
    {{ $dir := "" }}
    {{ with .File }}{{ $dir = .Dir }}{{ end }}
    {{ if and (eq $dir "integrations/") ($media | len) }}
        {{ partial "integrations-carousel/integrations-carousel.html" (dict "context" . "media" $media) }}
    {{ end }}

    {{ .Content }}
{{ end }}
