{{ define "main" }}
    {{ $media := .Params.tile.media | default .Params.media | default "" }}

    <div class="row">
        <div class="col-12 order-1">
            <h1 id="pagetitle">{{ .Params.integration_title | default .Title }}</h1>
        </div>
        <div class="col-12">
            {{ partial "breadcrumbs.html" . }}
        </div>
    </div>


    
    {{ $integrationTitle := .Params.integration_title | default .Title }}
    {{ with $media }}
      {{ if and (in .Params.custom_kind "integration") (gt (len $media) 0) }}
        {{ partial "integration-labels/integration-labels.html" . }}
      {{ else }}
        {{ warnf "%s is missing the $media value" $integrationTitle }}
      {{ end }}
    {{ else }}
      {{ warnf "%s is missing the $media value" $integrationTitle }}
    {{ end }}

    {{ .Content }}
{{ end }}
