name: Code-Freeze

# Stop the current running job if a new push is made to the PR
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - opened
      - reopened
      - synchronize
    branches:
      # only target `master` branch
      - master

permissions:
  contents: read

jobs:
  check-code-freeze-status:
    runs-on: ubuntu-latest
    env:
      FREEZE_ENABLED: ${{ env.FREEZE_ENABLED }}
    steps:
      - name: Check Status
        run: |
          if [ "$FREEZE_ENABLED" = "true" ]; then
            echo "Code Freeze is enabled"
            exit 1
          else
            exit 0
          fi