name: "No GIFs"

on: [pull_request]

jobs:
  file_existence:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Check file existence
        id: check_files
        uses: andstor/file-existence-action@v1
        with:
          files: "static/images/**/*.gif"

      - name: GIF file exists
        if: steps.check_files.outputs.files_exists == 'true'
        run: |
          echo "GIF file(s) found! Use MP4 format for videos."
          exit 1