name: "Check for GIF files"

on:
  pull_request:
    paths:
    - 'static/images/**/*'

jobs:
  look-for-gifs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
          fetch-depth: 0

    - name: Find changed files
      id: changed_files
      uses: tj-actions/changed-files@v42

    - name: Look for gifs
      env:
        branch: ${{ github.head_ref }}
        ALL_CHANGED_FILES: ${{ steps.changed_files.outputs.all_changed_files }}
      id: comment_body
      run: |
        for file in $ALL_CHANGED_FILES; do
          echo "Checking file ${file}..."
          if [[ "$file" =~ ^static/images/(.*).gif$ ]]; then
            echo "The file $file is a gif. Please replace with an mp4"
            exit 1
          fi
        done
