name: Linting
on: [pull_request]

jobs:
  prose:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v3
    - name: Vale
      uses: errata-ai/vale-action@reviewdog
      with:
        reporter: github-pr-check
        fail_on_error: true
        filter_mode: added
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
