name: Set staging url
on: [pull_request]

jobs:
  set-staging-url:
    permissions:
      pull-requests: write # to update pull request
      contents: read # to read the contents of the repository
      statuses: write # to set the status of the commit
    runs-on: ubuntu-latest
    steps:
    - uses: actions/github-script@d7906e4ad0b1822421a7e6a35d5ca353c962f410 # v6.4.1
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
            github.rest.repos.createCommitStatus({
                "owner": context.repo.owner,
                "repo": context.repo.repo,
                "sha": context.payload.pull_request.head.sha,
                "state": "success",
                "context": "preview",
                "description": `Check preview branch "${context.payload.pull_request.head.ref}"`,
                "target_url": `https://docs-staging.datadoghq.com/${context.payload.pull_request.head.ref}`
            })