name: Vale
on:
  pull_request:
    paths:
    - 'content/en/**/*'
    - 'layouts/shortcodes/**/*.md'

jobs:
  vale:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v4

    - name: Clone Datadog Vale
      uses: actions/checkout@v4
      with:
        repository: DataDog/datadog-vale
        path: datadog-vale
    
    - uses: actions/setup-python@v5.1.0
      with:
        python-version: '3.11'
    - run: pip install vale

    - name: Edit StylesPath in Vale config file
      run: sed -i 's/\.\.\/datadog-vale\/styles/datadog-vale\/styles/' .vale.ini
           
    - name: Find changed lines
      id: changed_lines
      uses: hestonhoffman/changed-lines@v1
      with:
        file_filter: '.md, .html'
      
    - name: Run vale on changed files
      env: 
        CHANGED_FILES: ${{ steps.changed_lines.outputs.changed_files }}
      run: |
        vale "${CHANGED_FILES}" \
          --output=local/bin/py/vale/vale_template.tmpl --no-exit > vale_output.log
    
    - name: Parse Vale output
      env:
        CHANGED_LINES: ${{ steps.changed_lines.outputs.changed_lines }}
      run: |
        python local/bin/py/vale/vale_annotations.py \
          --git_data="${CHANGED_LINES}"